Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

hover problem in integration
  src/components/Contact-Modal/index.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

feat: used a new custom className in to distinguish between device type
  src/sections/Company/About/about.style.js
  src/sections/Company/About/index.js
Labels: none

feat: fixes indentation
  src/sections/Company/About/about.style.js
Labels: none

feat:updated links and video
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

feat:updated links and video
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap-guide.svg
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap-guide.webp
Labels: area/blog

Revert "[chore] Update webhook URL for signup forms"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

changed projects route to products
  src/pages/products/image-hub.js
  src/pages/products/index.js
  src/pages/products/nighthawk.js
  src/pages/products/service-mesh-interface-conformance.js
  src/pages/products/service-mesh-performance.js
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Projects/Project-grid/index.js
Labels: none

fixed: typo experience
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
Labels: area/blog

fixed: typo subscription
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

fixed: typo meaningfully
  src/sections/Community/index.js
Labels: none

feat: fixes correct screen target for mobile view
  src/sections/Company/About/about.style.js
Labels: none

feat: Added Citibank svg in Homepage E&CW section
  src/assets/images/partners/citibank_black.svg
  src/sections/Home/Partners-home/partners-home-data.js
Labels: none

update date
  src/collections/blog/2023/2023-07-05-meshery-operators/index.mdx
Labels: area/blog

fix: add modified regex for the firstName and lastName Allows - Multi-word names - Names with spaces - Special language characters like ā
  src/components/CommonForm/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/armory-spinnaker-operator/icon/color/armory-spinnaker-operator-color.svg
  src/collections/integrations/armory-spinnaker-operator/icon/white/armory-spinnaker-operator-white.svg
  src/collections/integrations/armory-spinnaker-operator/index.mdx
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
  src/collections/integrations/aws-target-group-binding/icon/white/aws-target-group-binding-white.svg
  src/collections/integrations/aws-vpc-cni/icon/white/aws-vpc-cni-white.svg
  src/collections/integrations/aws-vpc-cni/index.mdx
  src/collections/integrations/awx-operator/icon/color/awx-operator-color.svg
  src/collections/integrations/awx-operator/icon/white/awx-operator-white.svg
  src/collections/integrations/awx-operator/index.mdx
  src/collections/integrations/grafana-agent/icon/color/grafana-agent-color.svg
  src/collections/integrations/grafana-agent/icon/white/grafana-agent-white.svg
  src/collections/integrations/grafana-agent/index.mdx
  src/collections/integrations/grpc/index.mdx
  src/collections/integrations/knative-serving/icon/color/knative-serving-color.svg
  src/collections/integrations/knative-serving/icon/white/knative-serving-white.svg
  src/collections/integrations/knative-serving/index.mdx
  src/collections/integrations/kong-mesh/icon/color/kong-mesh-color.svg
  src/collections/integrations/kong-mesh/icon/white/kong-mesh-white.svg
  src/collections/integrations/kong-mesh/index.mdx
  src/collections/integrations/kong/icon/color/kong-color.svg
  src/collections/integrations/kong/icon/white/kong-white.svg
  src/collections/integrations/kong/index.mdx
  src/collections/integrations/newrelic-operator/icon/color/newrelic-operator-color.svg
  src/collections/integrations/newrelic-operator/icon/white/newrelic-operator-white.svg
  src/collections/integrations/newrelic-operator/index.mdx
  src/collections/integrations/pg-operator/icon/color/pg-operator-color.svg
  src/collections/integrations/pg-operator/icon/white/pg-operator-white.svg
  src/collections/integrations/pg-operator/index.mdx
Labels: project/meshery

added cardfor adventures of five and friends in handbook section
  src/sections/Community/Handbook/index.js
Labels: area/handbook

feat: Each page now start from same top position
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

Fixed #4502, LFX terms formatted correctly.
  src/collections/programs/Programs.style.js
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Update ScrollToTopStyles.js
  src/components/Scrolltotop-button/ScrollToTopStyles.js
Labels: none

change poster
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/k8s-nodeports.webp
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/sudhanshu.png
Labels: area/blog

Revert "fix: changed route /projects to /products"
  src/pages/projects/image-hub.js
  src/pages/projects/index.js
  src/pages/projects/nighthawk.js
  src/pages/projects/service-mesh-interface-conformance.js
  src/pages/projects/service-mesh-performance.js
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Projects/Project-grid/index.js
Labels: area/projects

gitops
  src/sections/General/Footer/index.js
Labels: none

improved meshmap mobile swiper
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

Integration Count on meshmap design page updated.
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

Update index.mdx
  src/collections/members/nithish-karthik/index.mdx
Labels: area/community

feat:added responsiveness
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

Modified BG-color during modal pop-up
  src/sections/app.style.js
Labels: type/core-styls

points are aligned now
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

replaced Three with The
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Revert "feat: Added Meshery Operator Blog"
  src/collections/blog/2023/2023-07-05-meshery-operators/index.mdx
  src/collections/blog/2023/2023-07-05-meshery-operators/meshery-operator-dark.png
  src/collections/blog/2023/2023-07-05-meshery-operators/meshsync.png
  src/collections/blog/2023/2023-07-05-meshery-operators/operator-thumbnail.png
Labels: area/blog

'application' and 'gateways' aligning with other points & 'Be' also align with 'production'
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

padding of menu items
  src/sections/General/Navigation/navigation.style.js
Labels: none

corrected alignment in responsive view too
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Modifying integration container in row in mobile view
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

member status inactive
  src/collections/members/vaibhav-bisht/index.mdx
Labels: area/community

add-quote
  src/sections/Community/CommunityManagers/index.js
Labels: none

Update src/sections/Community/CommunityManagers/index.js
  src/sections/Community/CommunityManagers/index.js
Labels: none

fix:typo service
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Revert "Bump styled-components from 5.3.11 to 6.0.5"
  package-lock.json
  package.json
Labels: none

Edited buttons in the pricing page for 320px
  src/sections/Pricing/pricing.style.js
Labels: none
