Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Updated activity status for some folks on Community member profile
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

Revert "Updated activity status for some folks on Community member profile"
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

Updated activity status for folks on Community member profile
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

Activity status update
  src/collections/members/Mohammed-zaki/index.mdx
Labels: area/community

Added community calendar link
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

meshery badge added
  src/collections/members/parthib-datta/index.mdx
Labels: area/community

updated search focus and refresh redirection
  src/reusecore/Search/index.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
  src/sections/Company/News-grid/index.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Resources/Resources-grid/index.js
Labels: none

Fixed uneven size of cards on every size of screen
  src/reusecore/Layout/Container.js
  src/sections/Adventures-Callout/discuss.style.js
  src/sections/Discuss-Callout/discuss.style.js
Labels: none

Meta descriptions for 2020 News articles
  src/collections/news/2020/2020-03-12-meshery-service-mesh-management-plane/index.mdx
  src/collections/news/2020/2020-03-13-what-the-numbers-say-about-how-service-meshes-are-used-today/index.mdx
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/news/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform.md/index.mdx
  src/collections/news/2020/2020-12-02-kubecon+cloudnativecon-service-mesh-battle-stories-and-fixes/index.mdx
  src/collections/news/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking/index.mdx
Labels: area/news

Add meta description to 2019 articles
  src/collections/news/2019/2019-10-24-layer5-meshery-forrester/index.mdx
  src/collections/news/2019/2019-11-15-layer5-joins-the-cncf/index.mdx
  src/collections/news/2019/2019-11-23-cncf-sig-network-intro-and-deep-dive/index.mdx
  src/collections/news/2019/2019-11-23-cncf-sig-network-set-to-push-cloud-native-networking-forward/index.mdx
  src/collections/news/2019/2019-12-12-meshery-in-top3-service-mesh-developments-in-2020/index.mdx
  src/collections/news/2019/2019-12-27-vendors-make-a-splash-in-2019-service-mesh-implementation-rush/index.mdx
Labels: area/news

Update setup-pre-req.style.js
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

updated scroll transition time
  src/sections/Community/Handbook/community-roles.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

updated scroll transition time
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/community.js
Labels: area/handbook

feat: add design embeds
  src/assets/data/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy-copy.js
  src/pages/index.js
  src/sections/Home/Design-Embedds/designEmbedds.style.js
  src/sections/Home/Design-Embedds/index.js
Labels: none

fix: fix import error
  src/sections/Home/Design-Embedds/index.js
Labels: none

[Blog] Meshery Playground: Features you don't want to miss
  src/collections/blog/2023/11-15-Features-of-meshery/MesheryLogo.webp
  src/collections/blog/2023/11-15-Features-of-meshery/index.mdx
Labels: area/blog

changing activity status of mohith
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

support for teaser modal
  src/components/Contact-Modal/index.js
  src/components/TeaserModal/index.js
  src/components/TeaserModal/style.js
  src/pages/cloud-native-management/meshmap/index.js
  src/sections/Meshmap/index.js
  src/sections/app.style.js
Labels: type/core-styls, project/meshmap

fix
  src/pages/cloud-native-management/meshmap/index.js
  src/sections/Meshmap/index.js
Labels: project/meshmap

quickfix
  src/pages/cloud-native-management/meshmap/index.js
Labels: none

Update src/sections/Home/Design-Embedds/index.js
  src/sections/Home/Design-Embedds/index.js
Labels: none

fix broken references in hacktoberfest-2023-post.md
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
Labels: area/blog

Made finalized changes to the blog
  src/collections/blog/2023/11-15-Features-of-meshery/index.mdx
Labels: area/blog

Fixed uneven Size of cards in Community Page
  src/sections/Adventures-Callout/discuss.style.js
  src/sections/Discuss-Callout/discuss.style.js
  src/sections/Discuss-Callout/index.js
Labels: none

removed Github workflows section
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
Labels: none

Update src/sections/Home/Design-Embedds/index.js
  src/sections/Home/Design-Embedds/index.js
Labels: none

fix: move embed..js to static
  src/sections/Home/Design-Embedds/designEmbedds.style.js
  src/sections/Home/Design-Embedds/index.js
  static/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy-copy.js
Labels: none

Fixed inconsistencies
  src/collections/blog/2023/11-15-Features-of-meshery/index.mdx
Labels: area/blog

Fixed inconsistencies
  src/collections/blog/2023/11-15-Features-of-meshery/index.mdx
Labels: area/blog

style
  src/components/TeaserModal/style.js
  src/pages/cloud-native-management/meshmap/index.js
Labels: none

Done with inconsistent fixes for links and formatting
  src/collections/blog/2023/11-15-Features-of-meshery/index.mdx
Labels: area/blog

new space commit
  src/sections/Community/Handbook/community-roles.js
Labels: area/handbook

Fixed Uneven Size Of Cards in Community Page
  src/sections/Adventures-Callout/discuss.style.js
  src/sections/Discuss-Callout/discuss.style.js
  src/sections/Discuss-Callout/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-vpc-cni/icon/color/aws-vpc-cni-color.svg
  src/collections/integrations/awx-operator/icon/color/awx-operator-color.svg
  src/collections/integrations/kubernetes-secret-generator/icon/color/kubernetes-secret-generator-color.svg
  src/collections/integrations/kubernetes-secret-generator/icon/white/kubernetes-secret-generator-white.svg
  src/collections/integrations/kubernetes-secret-generator/index.mdx
Labels: project/meshery

made responsive for all screen sizes
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

removed intra navigation
  src/components/handbook-navigation/intra-page.js
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

Much spaces between contribution and General contribution flow
  src/sections/Community/Handbook/community-roles.js
Labels: area/handbook

Much spaces between contribution and General contribution flow
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/camel-k/index.mdx
  src/collections/integrations/cpx/index.mdx
  src/collections/integrations/docker/index.mdx
  src/collections/integrations/eks/index.mdx
  src/collections/integrations/elasticsearch-operator/index.mdx
  src/collections/integrations/emissary-ingress/index.mdx
  src/collections/integrations/envoy/index.mdx
  src/collections/integrations/etcd-cluster-operator/index.mdx
  src/collections/integrations/external-secrets-operator/index.mdx
  src/collections/integrations/fabedge/index.mdx
  src/collections/integrations/falco/index.mdx
  src/collections/integrations/flagger/index.mdx
  src/collections/integrations/fluent-operator/index.mdx
  src/collections/integrations/fluentbit-operator/index.mdx
  src/collections/integrations/fluentbit-skt/index.mdx
  src/collections/integrations/fluentd-operator/index.mdx
  src/collections/integrations/fluentd/index.mdx
  src/collections/integrations/flux/index.mdx
  src/collections/integrations/fonio/index.mdx
Labels: project/meshery

(min-width: 1025px) and (max-width: 1280px)
  src/assets/discuss/css/footer.css
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
