Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

five's first adventure
  src/sections/General/Navigation/index.js
Labels: none

Adventures of Five and Friends
  src/components/AdventuresVol/adventures-vol.style.js
  src/components/AdventuresVol/index.js
  src/pages/community/adventures-of-five-and-friends/index.js
  src/sections/Community/Adventures-of-Five/adventures.style.js
  src/sections/Community/Adventures-of-Five/faq.js
  src/sections/Community/Adventures-of-Five/index.js
  src/sections/Community/Adventures-of-Five/vol1/meet-five.png
Labels: area/community

rm link
  src/sections/Community/Adventures-of-Five/index.js
Labels: none

subscription
  src/sections/Community/Adventures-of-Five/index.js
  src/sections/subscribe/subscribe.js
Labels: none

feat added card for five-and-his-adventures
  src/sections/Community/Handbook/index.js
Labels: area/handbook

added a memeber-profile
  src/collections/members/vikramaditya-singh/index.mdx
  src/collections/members/vikramaditya-singh/vikramaditya-singh.webp
Labels: area/community

Updates for Figma Links
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/news.md
Labels: area/ci

Update .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area/ci

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci

Update .github/ISSUE_TEMPLATE/news.md
  .github/ISSUE_TEMPLATE/news.md
Labels: area/ci

Issue Template Updates for Figma link
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/news.md
Labels: area/ci

Reverting Changes to Commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/news.md
Labels: area/ci

#4615 Fix text color on hover of card
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

#4615 Fix text color on hover of card
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

#4615 Fix text color on hover of card
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

#4615 Fix text color on hover of card
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area/ci

fix: gatsby v5 migration graphql codemodded files
  src/pages/blog/index.js
  src/pages/company/news.js
  src/sections/Blog/Blog-sidebar/index.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Careers-Internship-grid/index.js
  src/sections/Careers/Careers-Programs-grid/index.js
  src/sections/Community/CommunityManagers/index.js
  src/sections/Community/Emeritus-grid/index.js
  src/sections/Community/Members-grid/DataWrapper.js
  src/sections/Community/Meshmates/index.js
  src/sections/Community/slider.js
  src/sections/Company/News-single/index.js
  src/sections/General/Navigation/index.js
  src/sections/Home/So-Special-Section/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn/Books-grid/index.js
  src/sections/Learn/LearnPage-Sections/books.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Resources/Resource-single/index.js
  src/sections/Resources/Resources-grid/DataWrapper.js
  src/sections/Resources/Resources-grid/filters.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
  src/templates/events.js
  src/templates/program-multiple.js
Labels: area/blog, area/events

fix: cleanupIds warn clearing
  gatsby-config.js
Labels: area/site-config

fix: react-tooltip upgrade migration change
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/index.js
  src/components/blog-view-tooltip.js
  src/sections/Landscape/categories.js
Labels: area/landscape

fix: prism-react-renderer upgrade changes
  src/components/CodeBlock/index.js
Labels: none

fix: react-tooltip migration changes
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/index.js
  src/components/blog-view-tooltip.js
  src/sections/Landscape/categories.js
  src/sections/Learn-Layer5/Chapters/index.js
Labels: area/landscape

fix: swiper migration changes
  src/components/UpcomingEventCard/index.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
Labels: project/meshmap

fix: gatsby v5 graphql migration change
  gatsby-node.js
Labels: area/site-config

chore: gatsby v5 plugin update except mdx-related
  package-lock.json
  package.json
Labels: none

feat:added inactive banner
  src/components/Profile-card/ProfileCard.style.js
Labels: none

Revert "feat added card for five-and-his-adventures"
  src/sections/Community/Handbook/index.js
Labels: area/handbook

#4615 Fix text color on hover of card
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

update-second-home-video-link
  src/sections/Home/CloudNativeManagement/index.js
Labels: none

update-onboarding-webhook
  src/sections/Community/Web-based-from/index.js
Labels: none

fixed:typo in community's handbook writing program
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

uplift-site-phase-two
  src/sections/Community/Handbook/recognition.js
  src/sections/General/Footer/index.js
  src/sections/Meshery/Features-Col/data/index.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/index.js
  src/sections/Pricing/data.js
  src/sections/Pricing/pricing.style.js
  src/sections/Projects/Project-grid/index.js
Labels: area/handbook

fixed:typo security-vulnerabilities
  src/components/handbook-navigation/content.js
Labels: none

Update ProfileCard.style.js
  src/components/Profile-card/ProfileCard.style.js
Labels: none

added download btn to case study
  src/assets/case-study/HPE's_adoption_of_Meshery_and_Meshmap.pdf
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

Added white needle at GitOps and Project page
  src/sections/Home/Projects-home/index.js
  src/sections/Projects/Project-grid/index.js
  src/sections/gitops/index.js
Labels: none

Removed SMI section
  README.md
Labels: none

update-lfx-term3-dates
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Set Opengraph image for Five's adventure
  src/pages/community/adventures-of-five-and-friends/index.js
  static/images/meet-five.svg
Labels: area/community

fix: npm install --legacy-peer-deps
  .github/workflows/build-and-deploy-site.yml
Labels: area/ci
