Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

updated link
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

Update index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

playground page changes
  src/sections/Playground/images/playground-feature-2.svg
  src/sections/Playground/index.js
  src/sections/Playground/playground-features.js
Labels: none

Fix Catalog link
  src/sections/Projects/Project-grid/index.js
Labels: none

Updated files according to PR feedback
  src/collections/service-mesh-books/Book.style.js
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

Updated a Form in index.mdx
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

Update index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

Update Book.style.js
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

#4423 changed the selection color
  src/sections/app.style.js
Labels: type/core-styls

reverted formatting
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

reverted formatting
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

add pages to desktop audit to match mobile audit
  .desktop-lighthouserc.js
Labels: none

updated all category minScore to .90
  .lighthouserc.js
Labels: none

update status
  src/collections/members/ayush-sharma/index.mdx
Labels: area/community

Update src/collections/members/randy-chilau/index.mdx
  src/collections/members/randy-chilau/index.mdx
Labels: area/community

added rotate on reload & dec shadow
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Handbook/BookComponent/BookComponent.style.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/ambassador/icon/color/ambassador-color.svg
  src/collections/integrations/ambassador/icon/white/ambassador-white.svg
  src/collections/integrations/ambassador/index.mdx
  src/collections/integrations/apisix-ingress-controller/icon/color/apisix-ingress-controller-color.svg
  src/collections/integrations/apisix-ingress-controller/icon/white/apisix-ingress-controller-white.svg
  src/collections/integrations/apisix-ingress-controller/index.mdx
  src/collections/integrations/istio-operator/index.mdx
  src/collections/integrations/jitsi/icon/color/jitsi-color.svg
  src/collections/integrations/jitsi/icon/white/jitsi-white.svg
  src/collections/integrations/jitsi/index.mdx
Labels: project/meshery

added tooltip on hover for badges
  src/components/Badge/Badge.styles.js
  src/sections/Community/Member-single/index.js
Labels: none

removed solo stick-figure images
  src/assets/images/stick-figures/PNG/direction-board-layer5.png
  src/assets/images/stick-figures/PNG/juggling-meshery-logo.png
  src/assets/images/stick-figures/PNG/skateboard-meshery-logo.png
Labels: none

fixed the smp logo
  src/sections/Community/Member-single/index.js
Labels: none

fixed the Smp logo
  src/sections/Community/Member-single/index.js
Labels: none

Added freedisch as new member
  src/collections/members/freedisch-batale/freedisch.webp
  src/collections/members/freedisch-batale/index.mdx
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Meshmates/index.js
Labels: area/community, area/handbook

Update src/sections/app.style.js
  src/sections/app.style.js
Labels: type/core-styls

add-member-profile-of-philip
  src/collections/members/philip-obiora/index.mdx
  src/collections/members/philip-obiora/philip-obiora.webp
Labels: area/community

Revert "Added freedisch as new member"
  src/collections/members/freedisch-batale/freedisch.webp
  src/collections/members/freedisch-batale/index.mdx
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Meshmates/index.js
Labels: area/community, area/handbook

simplify
  src/collections/service-mesh-books/Book.style.js
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Update src/sections/app.style.js
  src/sections/app.style.js
Labels: type/core-styls

change alt playground
  src/sections/Projects/Project-grid/index.js
Labels: none

eslint corrections to files from merge conflicts
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Meshmates/index.js
Labels: area/handbook, area/learn

added memory setting to CI build preview setting
  package.json
Labels: none

update mdx page to resolve error
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Update Book.style.js
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

simplified
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

resolve mdx file build issue with reverted version
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Added member profile for Vaibhav bisht
  src/collections/members/vaibhav-bisht/index.mdx
  src/collections/members/vaibhav-bisht/vaibhav-bisht.webp
Labels: area/community

update scenarios webhooks
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

revised the changes made in previous commit
  src/collections/members/freedisch-batale/freedisch.webp
  src/collections/members/freedisch-batale/index.mdx
Labels: area/community

fixed the twitter link
  src/collections/members/vaibhav-bisht/index.mdx
Labels: area/community

case study layout
  src/collections/resources/articles/intel-case-study/data.js
  src/collections/resources/articles/intel-case-study/index.mdx
  src/collections/resources/articles/intel-case-study/meshery-and-hpe.svg
  src/components/Case-Study-Layout/globe.svg
  src/components/Case-Study-Layout/index.js
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Meshmates/index.js
Labels: area/handbook, area/resources

feat: added freedisch's member profile
  src/collections/members/freedisch/freedisch.webp
  src/collections/members/freedisch/index.mdx
Labels: area/community

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
