Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

internship experience blog
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
Labels: area/blog

Add nasp to clients
  src/collections/landscape/clients.js
Labels: area/landscape

Apply suggestions from code review
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

remove platform engineering blog
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/index.mdx
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-cta.png
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-platform-engineering.png
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-platform-engineering.svg
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/power-of-meshery.png
Labels: area/blog

Update src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

respoitioned image
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

fix cytoscape component styles
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
Labels: project/meshmap

Add suggested fixes
  page-wrapper.js
  src/components/layout.js
Labels: none

Change position and tweak implementation
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
  src/sections/Learn/Books-grid/index.js
Labels: none

resolve merge conflict
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Community/Member-single/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Playground/playground-features.js
  src/sections/Playground/playground-hero.js
Labels: project/meshmap

[Home Page] Slider dots not visible in Brands carousel in dark mode #4336
  src/sections/Home/Partners-home/index.js
Labels: none

add quote
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

add graphic and style bullets
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/meshery-integrations.svg
Labels: area/resources

update styles
  src/pages/cloud-native-management/meshmap/collaborate.js
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
Labels: none

add button to playground
  src/sections/Home/Banner-4/index.js
Labels: none

add images in hpe blog
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/yogi.webp
Labels: area/resources

fix
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
Labels: area/blog

added kcd chennai talk to events page
  src/collections/events/kcd-chennai-2023/index.mdx
  src/collections/events/kcd-chennai-2023/kcd_chennai.webp
Labels: area/events

Added 3d book component
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Handbook/BookComponent/BookComponent.style.js
  src/sections/Community/Meshmates/index.js
  src/sections/Community/Meshmates/meshmates.style.js
Labels: area/handbook

fixed Slider Double Dot issue #4393
  src/components/Related-Posts/relatedPosts.style.js
Labels: none

fix: responsive bugs
  src/pages/cloud-native-management/meshery/index.js
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
Labels: none

initialized banner
  src/components/Case-study-banner/index.js
  src/pages/index.js
Labels: none

theme fixes and updated link
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
Labels: none

updated product: MeshMap along with Meshery
  src/collections/events/kcd-chennai-2023/index.mdx
Labels: area/events

removed line breaks
  src/collections/resources/articles/terraform-with-meshery/index.mdx
Labels: area/resources

Update src/collections/events/kcd-chennai-2023/index.mdx
  src/collections/events/kcd-chennai-2023/index.mdx
Labels: area/events

fixed the issue
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Handbook/images/handbook-dark.webp
Labels: area/handbook

lhci turn off CI value and adding desktop config
  .github/workflows/lighthouseci.yml
Labels: area/ci

lhci desktop config file
  .desktop-lighthouserc.js
Labels: none

update layer5labs gatsby-plugin-meta-redirect ver
  package-lock.json
Labels: none

update env CI variable equality value for lhci
  gatsby-node.js
Labels: area/site-config

change test urls to /[pagename]/index.html format
  .lighthouserc.js
Labels: none

making image responsive
  src/sections/Blog/Blog-list/blogList.style.js
Labels: none

update order of lhci actions to have autorun last
  .github/workflows/lighthouseci.yml
Labels: area/ci

design enhancements
  src/components/Case-study-banner/index.js
Labels: none

Added stick-figures section Signed-off-by: Mohith234 <mohithgadireddy@gmail.com>
  src/assets/images/stick-figures/PNG/direction-board-layer5.png
  src/assets/images/stick-figures/PNG/juggling-meshery-logo.png
  src/assets/images/stick-figures/PNG/skateboard-meshery-logo.png
  src/assets/images/stick-figures/SVG/stick-figures.svg
  src/sections/Company/Brand/Brand-components/stickfigures.js
  src/sections/Company/Brand/index.js
  static/brand/stick-figures.zip
Labels: none

added responsiveness
  src/components/Case-study-banner/index.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fixed border bugs
  src/components/Case-study-banner/index.js
Labels: none

[Home Page] Slider dots not visible in Brands carousel in dark mode #4336
  src/sections/Home/Partners-home/index.js
Labels: none

Enhancement Community Member Profile Social Links #4367
  src/sections/Community/Member-single/index.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
