Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

#4695 issue: update index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

[Docs] Generated documentation for Integration
  src/collections/integrations/apisix-ingress-controller/icon/white/apisix-ingress-controller-white.svg
Labels: project/meshery

Extra column space in mobile view #4630
  src/sections/General/Navigation/navigation.style.js
  src/sections/Landscape/LandscapeGrid.style.js
Labels: area/landscape

Extra column space in mobile view #4630
  src/sections/General/Navigation/navigation.style.js
Labels: none

Adding padding andReducing the size of integration container
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

Learning path link fixed
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Added recognition program
  src/assets/images/recognition-program/Recognition Program.svg
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

feat: removed unwanted sign in blog content
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

Renamed the svg file
  src/assets/images/recognition-program/recognition-program.svg
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Revert "feat: removed unwanted sign in blog content"
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

feat: removed unwanted sign in blog content
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

Added png for removing space
  src/assets/images/recognition-program/recognition-program.png
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Extra column space in mobile view
  src/sections/General/Navigation/navigation.style.js
Labels: none

removed unwanted sign from blog content
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

Extra column space in mobile view
  src/sections/General/Navigation/navigation.style.js
Labels: none

points are aligned now
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Delete recognition-program.svg
  src/assets/images/recognition-program/recognition-program.svg
Labels: none

Update src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

rename section to "Five"
  src/sections/Company/Brand/Brand-components/stickfigures.js
  src/sections/Company/Brand/index.js
Labels: none

Added the GitOps section
  src/sections/gitops/index.js
Labels: none

all the changes are made which were requested
  src/components/Card/Card.style.js
Labels: none

member status inactive
  src/collections/members/harkirat/index.mdx
Labels: area/community

added margin to the images
  src/components/Card/Card.style.js
Labels: none

Designed Kubernetes image dark mode compatible
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-partial-colorMode.svg
Labels: project/meshmap

feat: 4ddx/Fix-text-colod-handbook
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

fix: Alignment left list items
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

fix points alignment
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

Updated Changes
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-navbar-light.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-navbar.svg
Labels: project/meshmap

trying to resolve padding and multiple elements issue
  src/components/Card/Card.style.js
  src/sections/Company/News-grid/NewsGrid.style.js
Labels: none

l5
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/index.mdx
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/layer5-open-source.png
Labels: area/blog

style
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/index.mdx
Labels: area/blog

style
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/recognition-banner.png
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/index.mdx
Labels: area/blog

cleanupIds fix; new about us
  gatsby-config.js
  src/sections/Company/About/images/layer5-projects.png
  src/sections/Company/About/index.js
Labels: area/site-config

rm large svg
  src/sections/Company/About/images/layer5-projects.svg
Labels: none

CTA
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
  src/components/Call-To-Actions/CTA_Bottom/cta_bottom_categories.js
Labels: area/blog

14th
  src/collections/blog/2023/2023-08-14-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-14-layer5-badge-program/layer5-community-playfield.webp
  src/collections/blog/2023/2023-08-14-layer5-badge-program/recognition-banner.png
  src/collections/service-mesh-labs/meshery_performance_testing/index.mdx
Labels: area/blog

labs
  src/assets/discuss/html/footer.html
  src/collections/service-mesh-labs/meshery_performance_testing/index.mdx
  src/collections/service-mesh-labs/traffic_splitting_with_meshery/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_consul/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_istio/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_kuma/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_linkerd/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_nsm/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_open_service_mesh/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_traefik/index.mdx
  src/components/ScenarioCard/ScenarioCard.style.js
  src/components/ScenarioCard/index.js
  src/pages/learn/service-mesh-labs.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Learn/Lab-single/LabSinglePageWrapper.style.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Service-Mesh-Labs/index.js
  static/mail/books/the-enterprise-path-to-service-mesh-architectures.html
Labels: area/handbook

Profile of Hiren Timbadiya added
  src/collections/members/hiren-timbadiya/hiren-timbadiya.webp
  src/collections/members/hiren-timbadiya/index.mdx
Labels: area/community

Increasing screen width size
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

Profile Updated For Hiren
  src/collections/members/hiren-timbadiya/hiren-timbadiya1.webp
  src/collections/members/hiren-timbadiya/index.mdx
Labels: area/community
