Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Added handbook link to footer
  src/sections/General/Footer/index.js
Labels: none

removed unwanted spaces in all screen sizes
  src/components/handbook-navigation/intra-page.js
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/actions-runner-controller/index.mdx
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
  src/collections/integrations/consul/index.mdx
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Products/Projects title added to navigation bar"
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Docs link added to Header and footer
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Update index.js
  src/sections/General/Footer/index.js
Labels: none

overhaul
  src/assets/images/products/MesheryRange.svg
  src/assets/images/products/MesheryRangeDark.svg
  src/assets/images/products/Nightawk.svg
  src/assets/images/products/meshery-logo-light.svg
  src/assets/images/products/meshmap.svg
  src/assets/images/products/patterns.svg
  src/pages/products/icons/meshmap-icon.svg
  src/pages/products/icons/perf.svg
  src/pages/products/index.js
  src/sections/Products/collapsible-details.js
  src/sections/Products/icons/collaboration.svg
  src/sections/Products/icons/coming-soon.webp
  src/sections/Products/icons/configuration.svg
  src/sections/Products/icons/identity.svg
  src/sections/Products/icons/lifecycle.svg
  src/sections/Products/icons/notification.svg
  src/sections/Products/icons/support.svg
  src/sections/Products/images/Rectangle.svg
  src/sections/Products/images/circle_dark.svg
  src/sections/Products/images/circle_light.svg
  src/sections/Products/images/codicon_extensions.svg
  src/sections/Products/images/fluent_desktop-mac.svg
  src/sections/Products/images/layer5-products-overview-dark.svg
  src/sections/Products/images/layer5-products-overview.svg
  src/sections/Products/index.js
  src/sections/Products/products.style.js
Labels: none

demo
  src/sections/Products/index.js
Labels: none

Adding glow & hover effect to the clickable cards Signed-off-by: TrinayReddy Malireddy <Trinayreddy4@gmail.com #5044
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

Update setup-pre-req.style.js
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

correct Order of Section Titles on Recognition Page
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Duplicate Meta descriptions fix
  src/collections/events/IstioCon 2023/index.mdx
  src/collections/events/docker-community-meetup-2022-hacktoberfest/index.mdx
  src/collections/events/hacktoberfest-2022/index.mdx
  src/collections/events/kcd-chennai-2023/index.mdx
  src/collections/events/kubecon-EU-2023/index.mdx
  src/collections/events/kubecon-NA-2023/index.mdx
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/events/maitainers-circle-2023/index.mdx
  src/collections/programs/hacktoberfest-2022/index.mdx
  src/templates/event-single.js
Labels: area/careers, area/events

corrected carousel slider disable property
  src/sections/Home/So-Special-Section/so-special-style.js
Labels: none

description added to all remaining event pages
  src/collections/events/2023/hacktoberfest-2023/index.mdx
  src/collections/events/Z_event-template/index.mdx
  src/collections/events/addo/index.mdx
  src/collections/events/advanced-istio/index.mdx
  src/collections/events/ccoss-meshery-workshop/index.mdx
  src/collections/events/ccoss2020/index.mdx
  src/collections/events/cnfc-day/index.mdx
  src/collections/events/devconf-2022-measure-smp/index.mdx
  src/collections/events/devops-and-docker-live/index.mdx
  src/collections/events/docker-developer-community-meetup-2022/index.mdx
  src/collections/events/dockercon-2022/lighting-talk-in-a-dedicated-community-room.mdx
  src/collections/events/dockercon-2022/lightning-talk-on-the-main-stage.mdx
  src/collections/events/dockercon-live/index.mdx
  src/collections/events/establishing-an-open-source-program-office/index.mdx
  src/collections/events/hands-on-workshop-introduction-to-istio/index.mdx
  src/collections/events/innotech/index.mdx
  src/collections/events/introduction-to-istio/index.mdx
  src/collections/events/introduction-to-network-service-mesh/index.mdx
  src/collections/events/istiocon2020/index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
  src/collections/events/kubecon-NA-2020/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/events/kubecon-eu-2020/index.mdx
  src/collections/events/kubecon-eu-2021/index.mdx
  src/collections/events/kubecon-eu-2022/index.mdx
  src/collections/events/kubecon2021-na-meshery/index.mdx
  src/collections/events/kubecon2021-na-smp/index.mdx
  src/collections/events/meshery-the-multi-mesh/index.mdx
  src/collections/events/meshery-the-service-mesh-management-plane/index.mdx
  src/collections/events/oio/index.mdx
  src/collections/events/ois2020/index.mdx
  src/collections/events/oscon2020/index.mdx
  src/collections/events/ossna-2022/index.mdx
  src/collections/events/securing-the-mesh/index.mdx
  src/collections/events/service-meshes-but-at-what-cost/index.mdx
  src/collections/events/servicemeshcon-EU-2022/index.mdx
  src/collections/events/servicemeshcon-NA-2020/index.mdx
  src/collections/events/servicemeshcon-NA-2021/index.mdx
Labels: area/events

Update connect.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

Update connect.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

Link redirection corretion
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

margin correction
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

resolved merge conflicts
  src/collections/integrations/_images/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/meshmap-epam-designer-light.png
  src/collections/integrations/_images/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/meshmap-epam-visualizer-light.png
  src/collections/integrations/admin-console-operator/index.mdx
Labels: project/meshery

[Docs] Generated documentation for Integration
  src/collections/integrations/pg-operator/index.mdx
Labels: project/meshery

Broken link fixed
  gatsby-node.js
Labels: area/site-config

added smooth scrolling character
  src/sections/app.style.js
Labels: type/core-styls

added smooth transition
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/app.style.js
Labels: area/handbook, type/core-styls

added smooth transition
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

updated css
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

added maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

added maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

handbook spaces fixed
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/community-roles.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

updated maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

updated maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

updated maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

refresh redirection dissabled
  src/reusecore/Search/index.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

indent
  gatsby-node.js
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-light.png
  src/collections/integrations/_images/backstage/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage/backstage_desing.png
  src/collections/integrations/_images/backstage/backstage_visuvalize.png
  src/collections/integrations/_images/backstage/backstage_visuvalize_dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k.png
  src/collections/integrations/_images/consul/meshmap_dark_designer.png
  src/collections/integrations/_images/consul/meshmap_dark_visualizer.png
  src/collections/integrations/_images/consul/meshmap_light_designer.png
  src/collections/integrations/_images/consul/meshmap_light_visualizer.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer.png
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/templates/integrations.js
Labels: area/site-config, project/meshery

move-screenshots-to-corresponding-integration-directory-within-images-dir
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-light.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-light.png
Labels: project/meshery

fix: fix typo
  src/sections/Community/Adventures-of-Five/faq.js
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/argo-cd/index.mdx
  src/collections/integrations/argocd-operator/index.mdx
  src/collections/integrations/docker/index.mdx
  src/collections/integrations/kong-mesh/index.mdx
Labels: project/meshery

Apply suggestions from code review
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Applied changes from suggestion
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

error correction on focus
  src/reusecore/Search/index.js
Labels: none

removed repeated word
  src/sections/Community/Handbook/faq.js
Labels: area/handbook
