Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Update index.mdx
  src/collections/members/freedisch/index.mdx
Labels: area/community

Rename index.mdx to index.mdx
  src/collections/members/freedisch-thibaut-batale/index.mdx
Labels: area/community

update name
  src/collections/members/freedisch-thibaut-batale/freedisch.webp
Labels: area/community

tweak
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

Bind Kubernetes Service Account with ClusterRole blog
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.svg
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog

Bind Kubernetes Service Account with ClusterRole blog
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.svg
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog

Create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create introduction to layer5 learning paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

added mesherycloud in index.mdx
  src/collections/members/_member-profile-template/index.mdx
Labels: area/community

added mesherycloud in index.mdx
  src/collections/members/_member-profile-template/index.mdx
Labels: area/community

added mesherycloud_uuid in member-single.js
  src/templates/member-single.js
Labels: area/community

added mesherycloud_uuid in index.js
  src/sections/Community/Member-single/index.js
Labels: none

added mesherycloud_uuid data-type in GraphQL schema
  gatsby-node.js
Labels: area/site-config

add-meshery-badge-and-lowercase-suggested-words
  src/collections/members/philip-obiora/index.mdx
Labels: area/community

changed popup-image
  src/components/Corner-popup/index.js
  src/components/Corner-popup/popup.style.js
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Meshmates/index.js
Labels: area/handbook

update
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.svg
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog

update
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create create introduction to layer5 learning paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

popup edits
  src/components/Corner-popup/closeIcon.svg
  src/components/Corner-popup/index.js
  src/components/Corner-popup/popup.style.js
Labels: none

fixed popup-close
  src/components/Corner-popup/index.js
Labels: none

fix image format
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.png
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog

Resolved Responsive issue with the Subscribe section [Footer]
  src/sections/General/Footer/footer.style.js
Labels: none

Removed the semicolon
  src/sections/Meshery/meshery.style.js
Labels: none

change color code to receive from props.theme
  src/sections/Meshery/meshery.style.js
Labels: none

enhanceMent: Add Star the Repository button for Meshery
  src/sections/Meshery/index.js
  src/sections/Meshery/meshery.style.js
Labels: none

fixed button alignment
  src/sections/Home/Banner-4/banner4.style.js
Labels: none

added image of darren-dsouza
  src/collections/members/darren-dsouza/darren-dsouza.webp
Labels: area/community

created mdx file
  src/collections/members/darren-dsouza/index.mdx
Labels: area/community

profile added in community-page
  src/collections/members/aabid-sofi/aabid-sofi.webp
  src/collections/members/aabid-sofi/index.mdx
Labels: area/community

updated profile picture
  src/collections/members/darren-dsouza/darren-dsouza.webp
  src/collections/members/darren-dsouza/darren_dsouza.webp
  src/collections/members/darren-dsouza/index.mdx
Labels: area/community

added mesherycloud_uuid of Freedisch
  src/collections/members/freedisch-thibaut-batale/index.mdx
Labels: area/community

added pointer
  src/sections/Meshmap/Meshmap-design/cytoscape-demo.style.js
Labels: project/meshmap

added docker cta on docker resources
  src/collections/resources/tutorials/docker-swarm/index.mdx
Labels: area/resources

fix package.json & package-lock
  package-lock.json
  package.json
Labels: none
