Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

feat: WIP
  src/pages/cloud-native-management/gitops/snapshot.js
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/snapshot.style.js
Labels: none

fix: build issue
  src/sections/gitops/PerformanceManagementPage.js
Labels: none

fix: font weight
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/snapshot.style.js
Labels: none

feat: add more section and fix responsiveness
  src/assets/images/gitops/GithubActionComment.png
  src/assets/images/gitops/service-mesh-performance-profile.png
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/SquarePoint.js
  src/sections/gitops/index.js
  src/sections/gitops/snapshot.style.js
Labels: none

fix: button
  src/sections/gitops/snapshot.style.js
Labels: none

fix: gradient design
  src/sections/gitops/snapshot.style.js
Labels: none

feat: add performance management page
  src/assets/images/gitops/SMPTestConfig.png
  src/assets/images/gitops/SMPconfig.png
  src/pages/cloud-native-management/gitops/performance-management.js
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/PerformanceManagementPage.style.js
  src/sections/gitops/common.js
  src/sections/gitops/gitops.style.js
  src/sections/gitops/snapshot.style.js
Labels: none

fix: animation and responsiveness
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/snapshot.style.js
Labels: none

chore: remove icons
  src/sections/gitops/index.js
Labels: none

chore
  src/pages/cloud-native-management/gitops/performance-management.js
Labels: none

fixing hover effect on cards on News page
  src/components/Card/Card.style.js
Labels: none

Removing Horizontal Scrollbar in Mobile view
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

feat: removed unnecessary indentations and extra space
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
Labels: area/handbook

feat: margin fixed in each page of Handbook
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

init
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/k8s-nodeports.webp
Labels: area/blog

update
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/k8s-nodeports.webp
  src/collections/blog/2023/2023-08-07-layer5-badge-program/layer5-community-playfield.webp
Labels: area/blog

link
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

fix: remove padding
  src/sections/gitops/gitops.style.js
Labels: none

grid
  src/collections/blog/2023/2023-08-07-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

fix: style
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
  src/sections/gitops/snapshot.style.js
Labels: none

more
  src/collections/blog/2023/2023-08-07-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

Add files via upload
  src/assets/images/tutorials/badge.webp
  src/assets/images/tutorials/github.webp
  src/assets/images/tutorials/profile.webp
Labels: none

chore: add title
  src/pages/cloud-native-management/gitops/performance-management.js
  src/pages/cloud-native-management/gitops/snapshot.js
Labels: none

Update src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

add design-pioneer-badge
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

rec
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

add badges and styles
  src/collections/blog/2023/2023-08-07-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

Fixed the catalog logos download link.
  src/assets/brand/catalog-brand-kit.zip
  src/sections/Company/Brand/Brand-components/catalog.js
  static/brand/catalog-brand-kit.zip
Labels: none

Updated typo mistakes
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

feat: fixed positioning in mobile without any single space otherwhere
  src/sections/Company/About/about.style.js
  src/sections/Company/About/index.js
Labels: none

4ddx:Fix/Text-color-hover
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

4ddx/fix:Text-Color-Hover
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

Fix:4ddx/text-color-hover Signed-off-by: Ishan Kumar <ishanakshar@gmail.com>
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

4ddx:fix/text-color-hover
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

Added FAQ's
  src/collections/blog/2023/2023-08-07-layer5-badge-program/index.mdx
Labels: area/blog

FIX #4690 Change route path from /projects to /products
  gatsby-node.js
Labels: area/site-config

feat:added installation instructions
  src/sections/Meshery/Meshery-platforms/index.js
Labels: none

4ddx:Fix/text-color-hover-handbook
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook
