Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

updated color
  src/sections/Docker-Meshery/docker-extension-CTA.js
Labels: none

fixed inconsistency
  src/sections/Blog/Blog-grid/blogGrid.style.js
  src/sections/Blog/Blog-list/blogList.style.js
Labels: none

add: add image
  src/collections/members/avantika-jain/avantika-jain.png
Labels: area/community

add: add member details
  src/collections/members/avantika-jain/index.mdx
Labels: area/community

added mobile graphc
  src/components/Corner-popup/index.js
  src/components/Corner-popup/popup.style.js
  src/components/Corner-popup/power-of-meshery-small.svg
Labels: none

update status
  src/collections/members/ambareen-azam/index.mdx
Labels: area/community

Added a new member card
  .gitpod.yml
  src/collections/members/savio-dias/index.mdx
  src/collections/members/savio-dias/saviodias.jpg
Labels: area/community

Added a new member card
  .gitpod.yml
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

fix target
  src/sections/General/Footer/index.js
Labels: none

Fix 404 page
  src/pages/404.js
Labels: none

update webhook URL
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

delete files accidentally pushed
  src/pages/actions.js
  src/sections/Github-Actions/index.js
Labels: none

Fix Pathname for 404
  src/pages/404.js
Labels: none

Add footer to mesh-landscape-page
  src/pages/service-mesh-landscape.js
Labels: none

Fix service mesh books prop error
  src/pages/learn/service-mesh-books.js
Labels: none

fix: add word-wrap and padding on the sides
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

fix: correct margins at different breakpoints
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

replace "\n" with " " to clear text node warning
  src/components/Learn-Components/what-await-section/index.js
  src/sections/Meshery/Meshery-features/index.js
Labels: area/learn

revert to original code without conditional
  src/components/Terminal/index.js
Labels: none

fixing spacing issue from eslint in Terminal
  src/components/Terminal/index.js
Labels: none

"Fix #4324 [Handbook] Text changing to white on hover"
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

bio too long; bio is not an advertisement
  src/collections/members/azanul-haque/index.mdx
  src/components/Terminal/index.js
Labels: area/community

- Internship
  src/collections/blog/2021/2021-08-24-experience-gsoc-piyush-singariya/index.mdx
  src/collections/blog/2022/2022-01-14-open-source-journey-gaurav-chadha/index.mdx
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-07-06-aaditya-gsoc-blogpost/index.mdx
Labels: area/blog

review
  src/collections/blog/2023/2023-05-31-interview-experience/azan-blog.svg
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

Handle markdown special cases
  page-wrapper.js
  src/components/Terminal/index.js
  src/components/layout.js
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
  src/sections/Learn/Books-grid/index.js
Labels: none

review
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

build fail fix
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-visualizer.png
Labels: project/meshery

fixed images
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
Labels: none

added docker-extension image
  src/assets/images/docker-extension/docker-extension-meshery.png
Labels: none

fix: returning back to getting-started page
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/deploy-an-application.mdx
Labels: none

update status
  src/collections/members/azanul-haque/index.mdx
Labels: area/community

add script files
  .github/imgToWebp.js
  .github/updateImagePath.js
Labels: area/ci

add workflow
  .github/imgToWebp.js
  .github/updateImagePath.js
  .github/workflows/imgToWebp.yml
Labels: area/ci

Image horizontal layout fix
  src/collections/members/usman-siddique/Usman-Dev.webp
Labels: area/community

changed the layout of every images in mebers page to verticval format
  src/collections/members/nikhil-ladha/nikhil-ladha.webp
  src/collections/members/usman-siddique/Usman-Dev.webp
Labels: area/community

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
