Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

fix: improvements
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/terraform/icon/white/terraform-white.svg
  src/collections/integrations/terraform/index.mdx
Labels: project/meshery

changes according to doc
  src/components/Features-carousel/index.js
  src/sections/Docker-Meshery/docker-extension-CTA.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/sections/Playground/playground-features.js
  src/sections/Playground/playground-hero.js
Labels: project/meshmap

feat: mobile reponsiveness
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
Labels: none

HPE FAST FACTS
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/globe.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/layers.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/network.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/users.svg
Labels: area/resources

secondaryLightColorTwo
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/components/Features-carousel/index.js
Labels: area/resources

fixed blog search
  src/components/Features-carousel/index.js
  src/pages/blog/index.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog

Enhancement Community Member Profile Social Links #4367
  package-lock.json
  package.json
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/adithya-krishna/index.mdx
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Community/Member-single/index.js
  src/sections/Home/Partners-home/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
  static/images/meshery-logo-light.webp
Labels: area/community

Enhancement Community Member Profile Social Links #4367
  package-lock.json
  package.json
Labels: none

corrected theme issues
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

Updated Blog
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

[Home Page] Slider dots not visible in Brands carousel in dark mode #4336
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Member-single/index.js
  src/sections/Home/Partners-home/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: area/handbook

fix changes
  src/pages/blog/index.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog

chore: minor changes
  src/sections/Docker-Meshery/docker-extension-CTA.js
Labels: none

fix responsive of playground card
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

fix responsive playground card
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

Fix: text visibility of sub-title
  src/sections/Docker-Meshery/docker-extension-CTA.js
Labels: none

Update workshops.js
  src/sections/Learn/LearnPage-Sections/workshops.js
Labels: none

added new thumbnail
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/meshery-and-hpe.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/meshery-logo-light.svg
Labels: area/resources

Update MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
Labels: project/meshmap

CHORE: update browsers list package to fresh latest version 1.0.30001502
  package-lock.json
Labels: none

Update src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

sync private label with theme
  src/components/Features-carousel/index.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

bug fixes
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

Revert "bug fixes"
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

bug fixes
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

Update Programs.style.js
  src/collections/programs/Programs.style.js
Labels: area/careers

Update lfx-2023.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Update index.mdx
  src/collections/programs/sca-contributhon/index.mdx
Labels: area/careers

add color to themeStyles.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

added tooltip on hover effect
  src/components/Badge/Badge.styles.js
  src/components/Badge/index.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

add svg versions for theme transitioning
  src/assets/images/programs/hacktoberfest.svg
  src/collections/programs/communitybridge/communitybridge_logo.svg
Labels: area/careers

import theme changing svgs as components for use
  src/sections/Community/Handbook/programs-data.js
Labels: area/handbook

add transition colors for svgs
  src/theme/app/themeStyles.js
Labels: type/core-styls

update for svgs, style color changes, and timing
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

sync text and svg color changing timing
  src/sections/Careers/Careers-Programs-single/ProgramsSingle.style.js
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

clear warn Invalid prop `external` of type string
  src/collections/blog/2022/2022-10-19-kubeconna2022/index.mdx
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/programs/communitybridge/index.mdx
  src/collections/programs/gsoc-2019/index.mdx
  src/collections/programs/gsoc-2020/index.mdx
  src/collections/programs/gsoc-2021/index.mdx
  src/collections/programs/gsoc-2022/index.mdx
  src/collections/programs/gsoc-2023/index.mdx
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/sca-contributhon/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/blog, area/careers, area/events, area/learn

used props.theme.whiteToBlack
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook
