Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Update Contributor Journey page's title
  src/pages/community/handbook/contributor-journey.js
Labels: area/community

added 'at' instead of 'in' for 5th question
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Fixed logo for light and dark mode
  src/sections/gitops/index.js
Labels: none

feat added news
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
Labels: area/news

Added widget of adventure of five and friends
  .gitpod.yml
  src/assets/images/five-and-friends/journey.png
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

Updated Twitter Logo with X logo
  src/assets/images/socialIcons/x-light.svg
  src/components/SocialLinks-Color/index.js
  src/components/SocialLinks/index.js
Labels: none

member profile - Rex
  src/collections/members/ananya-gautam/ananya.png
  src/collections/members/rex-joshua/index.mdx
  src/collections/members/rex-joshua/rex.webp
Labels: area/community

Updated the Twiiter Logo to X Logo
  src/assets/images/socialIcons/x-light.svg
  src/components/SocialLinks-Color/index.js
  src/components/SocialLinks/index.js
Labels: none

Remove - form title
  src/pages/community/handbook/contributor-journey.js
Labels: area/community

fixed typo 'possible' in contributing file
  CONTRIBUTING.md
Labels: none

Update themeStyles.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

initial commit
  package-lock.json
  src/collections/events/IstioCon 2023/IstioCon2023.webp
  src/collections/events/IstioCon 2023/index.mdx
Labels: area/events

update-badges
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.png
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
Labels: area/blog

style: margin issue from projects page
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

style: margin issue from mentorship page
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

style: margin issue from mentorship page
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

Update index.mdx
  src/collections/members/gopi-vaibhav/index.mdx
Labels: area/community

Fixed Responsive ness issues at 320px
  src/sections/Pricing/pricing.style.js
Labels: none

Rename badges-modal.png to badges-modal.jpeg
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.jpeg
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.png
Labels: area/blog

Update src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
Labels: area/blog

Update mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

fixed broken links
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.jpeg
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.webp
  src/collections/blog/2023/2023-08-14-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-14-layer5-badge-program/recognition-banner.png
  src/collections/blog/2023/2023-08-14-layer5-badge-program/recognition-banner.webp
Labels: area/blog

faq's changed
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.png
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.webp
  src/collections/blog/2023/2023-08-14-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
Labels: area/blog

style: fixed some margin for some handbook pages
  src/sections/Community/Handbook/community-roles.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

style: fixed padding issue on certain handbook pages
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

feat: updated hover to theme.white
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

feat: update color on handbook and adventures-vol
  src/components/AdventuresVol/adventures-vol.style.js
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

Signed-off-by: Ishan Kumar <ishanakshar@gmail.com>
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

Added theme.white on adventures of five page.
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

Signed-off and changed text-color on hover.
  src/components/AdventuresVol/adventures-vol.style.js
Labels: none

feat: fixed text-color-hover and errors
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

added learning path image
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/index.mdx
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/path-dark.png
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/path-light.png
Labels: area/blog

Changed the method to fix the issue
  src/sections/Pricing/pricing.style.js
Labels: none

Fixed the issue with Other method
  src/sections/Pricing/pricing.style.js
Labels: none

Fixed responsiveness issues at 320 px
  src/sections/Pricing/pricing.style.js
Labels: none

importance-of-github-stars
  src/collections/blog/Github-stars/gsoc-wide.webp
  src/collections/blog/Github-stars/gsoc.webp
  src/collections/blog/Github-stars/index.mdx
  src/collections/blog/importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/importance-of-github-stars/gsoc.webp
  src/collections/blog/importance-of-github-stars/index.mdx
Labels: area/blog

importance-of-github-stars
  src/collections/blog/Github-stars/gsoc-wide.webp
  src/collections/blog/Github-stars/gsoc.webp
  src/collections/blog/Github-stars/index.mdx
Labels: area/blog

Add files via upload
  src/collections/blog/importance-of-github-stars/Main repository.PNG
  src/collections/blog/importance-of-github-stars/Starred repository.PNG
Labels: area/blog

2023-08-21-importance-of-github-stars
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
Labels: area/blog

update
  src/collections/blog/2023/2023-08-21-layer5-badge-program/badges-modal.png
  src/collections/blog/2023/2023-08-21-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-21-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-21-layer5-badge-program/layer5-community-playfield.webp
  src/collections/blog/2023/2023-08-21-layer5-badge-program/recognition-banner.webp
Labels: area/blog

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
