Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

feat: add env var for faster dev prod local builds
  .env.production
Labels: none

fix: default set dev_amended value to false
  .env.development
  .env.production
Labels: none

docker as partner description changed
  src/sections/Partners/partners.js
Labels: none

Modify social-media icons text
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

Update index.mdx
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

fix color
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

rearange links
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

In layer5/learn page slick-slider(carousel) arrows are not aligned properly and icon are different. So I have aligned it properly and changed icon to desired icon issue #4525
  src/sections/Learn/LearnPage-Sections/workshops.js
Labels: none

[UI] Typo in layer5.io/careers page fixed.
  src/sections/Careers/index.js
Labels: none

update webhook for signup forms
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Added Email validation on Meshmap Signup. fixes #4498
  src/components/CommonForm/index.js
Labels: none

fix: add "no-sourcemaps" plugin for dev mem issue
  package-lock.json
  package.json
Labels: none

feat: filesystem ignore array for faster dev build
  gatsby-config.js
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

feat: add env for faster dev_amended build option
  .env.development
Labels: none

Update src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/footer.style.js
Labels: none

Solved Overflowing of project-page-wrapper, nav and footer in page of layer5/projects in between 991px to 780px
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

reset
  src/sections/Company/About/about.style.js
  src/sections/Company/About/images/layer5_community-stat.svg
  src/sections/Company/About/index.js
Labels: none

place graphic onto about page
  src/sections/Company/About/about.style.js
  src/sections/Company/About/images/layer5_community-stat.svg
  src/sections/Company/About/index.js
Labels: none

enhance and place graphic
  src/sections/Company/About/about.style.js
  src/sections/Company/About/images/layer5-community-stat.svg
  src/sections/Company/About/index.js
Labels: none

fix: update package-lock.json to site copy
  package-lock.json
Labels: none

fix: svgoConfig from "cleanupIDs" to "cleanupIds"
  gatsby-config.js
Labels: area/site-config

Update hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
Labels: area/resources

Update about.style.js
  src/sections/Company/About/about.style.js
Labels: none

Update layer5-community-stat.svg
  src/sections/Company/About/images/layer5-community-stat.svg
Labels: none

Update index.js
  src/sections/Company/About/index.js
Labels: none

feat:added blog for meshmap
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap-guide.webp
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap1.jpg
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap1.webp
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap2.webp
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap4.webp
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap5.webp
Labels: area/blog

feat:added meshmap blog
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/meshmap1.jpg
Labels: area/blog

feat:added meshmap blog
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

feat: added meshmap blog
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

member status - active
  src/collections/members/nithish-karthik/index.mdx
Labels: area/community

githubicon problem solved
  src/components/SocialLinks-Color/sociallinkscolor.style.js
Labels: none

added quote to community page
  src/sections/Community/Quote/Index.js
  src/sections/Community/index.js
Labels: none

added styles for benefit points
  src/collections/resources/Resources.style.js
Labels: area/resources

style corrected for hpe intro
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
Labels: area/resources

class name added
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

Update Resources.style.js
  src/collections/resources/Resources.style.js
Labels: area/resources

fixed toolkit
  src/components/Badge/Badge.styles.js
  src/components/Badge/index.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Update index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

removed styles from resource.style.js
  src/collections/resources/Resources.style.js
Labels: area/resources
