Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Update index.mdx
  src/collections/members/ahmed-jamil/index.mdx
Labels: area/community

fix merge conflicts
  src/components/Case-study-banner/index.js
  src/templates/integrations.js
Labels: none

add missing folder
  src/collections/integrations/_images/dark-design.png
  src/collections/integrations/_images/dark-visual.png
  src/collections/integrations/_images/light-design.png
  src/collections/integrations/_images/light-visual.png
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
Labels: project/meshery

Author Name bjyothiswaroop2002@gmail.com modified technology filter to have unique terms
  src/sections/Resources/Resources-grid/filters.js
Labels: none

highlighted visual tools text
  src/sections/Home/FeaturesContainer/index.js
Labels: none

new headline and sub heading
  src/sections/Home/FeaturesContainer/index.js
Labels: none

pricing: bolder
  src/components/PlanCard/planCard.style.js
Labels: none

fix community memebr form
  src/sections/Community/Web-based-from/index.js
Labels: none

restored homepage heading and changed architecture diagram features section heading
  src/sections/ArchitectureDiagram/index.js
  src/sections/ArchitectureDiagram/whiteboard.style.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

more meshery features listed
  src/sections/Meshery/Features-Col/data/index.js
Labels: none

applingcahnges for smoothness of the page
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
Labels: none

Revert "[chore] Update Signup Form Webhook"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

linked catalog page and meshmap designer page
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/diagram.js
Labels: none

temporary dcommented nused gif
  src/sections/GCP-Diagram/diagram.js
Labels: none

meshery operator logo updated
  src/sections/Meshery/How-meshery-works/hero/index.js
Labels: none

fixed the height and width of the logos
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: none

Fix for dark mode bug
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/MeetTheMaintainer.style.js
Labels: area/blog

[Docs] Generated documentation for Integration
  src/collections/integrations/kubernetes/icons/components/deployment/icons/color/deployment-color.svg
Labels: project/meshery

fixed the name color w.r.t bg color
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/MeetTheMaintainer.style.js
Labels: area/blog

adding images
  src/collections/integrations/_images/Cortox/Cortox-design-dark.png
  src/collections/integrations/_images/Cortox/Cortox-design-light.png
  src/collections/integrations/_images/Cortox/Cortox-visualise-dark.png
  src/collections/integrations/_images/Cortox/Cortox-visualise-light.png
Labels: project/meshery

modified index.mdx
  src/collections/integrations/cortex/index.mdx
Labels: project/meshery

Fixed extra column space on smaller screen size
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/kubernetes/icons/components/kubernetes-connection/icons/color/kubernetes-connection-color.svg
  src/collections/integrations/kubernetes/icons/components/mutating-webhook-configuration/icons/white/mutating-webhook-configuration-white.svg
  src/collections/integrations/kubernetes/icons/components/pod-metrics/icons/color/pod-metrics-color.svg
  src/collections/integrations/kubernetes/icons/components/pod-metrics/icons/white/pod-metrics-white.svg
  src/collections/integrations/kubernetes/index.mdx
Labels: project/meshery

cookie implemented for navbar
  src/sections/General/Navigation/index.js
Labels: none

using theme referencing for text color
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

commenting page url changed
  src/pages/cloud-native-management/meshmap/collaborate/index.js
  src/pages/cloud-native-management/meshmap/collaborate/peer-reviews/index.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/solr-operator/icons/components/solr-backup/icons/white/solr-backup-white.svg
  src/collections/integrations/solr-operator/icons/components/solr-cloud/icons/white/solr-cloud-white.svg
  src/collections/integrations/solr-operator/icons/components/solr-prometheus-exporter/icons/white/solr-prometheus-exporter-white.svg
Labels: project/meshery

Update src/collections/members/Ripal_Handoo/index.mdx
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

hein testimonial added
  src/sections/Pricing/review-slider.js
  src/sections/Pricing/reviews/hein.webp
Labels: none

title changed
  src/sections/Pricing/review-slider.js
Labels: none

Updated the maintainer's name of the meshery-perf repo
  src/sections/Community/Handbook/repo-data.js
  src/sections/Pricing/review-slider.js
  src/sections/Pricing/reviews/hein.webp
Labels: area/handbook

Added Xin Huang as the maintainer of meshery-perf
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

updated the repo name and maintainer
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

logic
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: none

restructure
  src/collections/integrations/_images/cri-o/meshmap-updated-design-dark.png
  src/collections/integrations/_images/cri-o/meshmap-updated-design.png
  src/collections/integrations/_images/cri-o/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/cri-o/meshmap-updated-visualizer.png
  src/collections/integrations/cri-o/index.mdx
Labels: project/meshery

feat: add ayabank logo to partners section
  src/assets/images/partners/aya_bank_black.svg
  src/sections/Home/Partners-home/partners-home-data.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/cockroachdb-operator/icons/color/cockroachdb-operator-color.svg
  src/collections/integrations/cockroachdb-operator/icons/components/crdb-cluster/icons/color/crdb-cluster-color.svg
  src/collections/integrations/cockroachdb-operator/icons/components/crdb-cluster/icons/white/crdb-cluster-white.svg
  src/collections/integrations/cockroachdb-operator/icons/white/cockroachdb-operator-white.svg
  src/collections/integrations/cockroachdb-operator/index.mdx
  src/collections/integrations/cri-o/index.mdx
  src/collections/integrations/pg-db/index.mdx
  src/collections/integrations/pg-operator/index.mdx
  src/collections/integrations/pgo/index.mdx
  src/collections/integrations/piraeus-datastore/index.mdx
  src/collections/integrations/postgres-controller/index.mdx
  src/collections/integrations/postgres-operator/index.mdx
  src/collections/integrations/postgres-with-operator/index.mdx
  src/collections/integrations/pravega/index.mdx
  src/collections/integrations/ps-db/index.mdx
  src/collections/integrations/ps-operator/index.mdx
  src/collections/integrations/psmdb-db/index.mdx
  src/collections/integrations/psmdb-operator/index.mdx
Labels: project/meshery

recognition page spelling mistake corrected
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Added Layer5 LFX spring projects
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers

renaming the typo error
  src/collections/integrations/_images/Cortex/Cortex-design-dark.png
  src/collections/integrations/_images/Cortex/Cortex-design-light.png
  src/collections/integrations/_images/Cortex/Cortex-visualise-dark.png
  src/collections/integrations/_images/Cortex/Cortex-visualise-light.png
Labels: project/meshery
