Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, area/core-styles, area/site-config, area/packages, project/meshery, project/kanvas, project/sistent

Added responsive design for smaller screens
  src/sections/Kanvas/kanvas_banner.js
Labels: project/kanvas

[Docs] Generated documentation for Integration
  src/collections/integrations/gatekeeper/icons/components/config-pod-status/icons/color/config-pod-status-color.svg
  src/collections/integrations/gatekeeper/icons/components/config-pod-status/icons/white/config-pod-status-white.svg
  src/collections/integrations/gatekeeper/index.mdx
Labels: project/meshery

chore: remove static component page for dynamic imports
  gatsby-node.js
  src/pages/projects/sistent/components/tooltip/code.js
  src/pages/projects/sistent/components/tooltip/guidance.js
  src/pages/projects/sistent/components/tooltip/index.js
Labels: area/projects, area/site-config, project/sistent

Add dropdown for component category in the sidebar
  src/components/SistentNavigation/index.js
  src/components/SistentNavigation/toc.style.js
  src/sections/Projects/Sistent/components/index.js
Labels: project/sistent

Updated feature data from source repository
  feature_data.json
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/open-policy-agent-(opa)/icons/components/config-pod-status/icons/color/config-pod-status-color.svg
  src/collections/integrations/open-policy-agent-(opa)/icons/components/config-pod-status/icons/white/config-pod-status-white.svg
  src/collections/integrations/open-policy-agent-(opa)/index.mdx
Labels: project/meshery

Updated feature data from source repository
  feature_data.json
Labels: none

Updated feature data from source repository
  feature_data.json
Labels: none

Updated feature data from source repository
  feature_data.json
Labels: none

Updated feature data from source repository
  feature_data.json
Labels: none

Updated feature data from source repository
  feature_data.json
Labels: none

.github/labeler.yml:

area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "readme.md"
    - "contributing.md"
area/ci:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".husky/**/*"
area/blog:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/blog/**/*"
    - "src/pages/blog/**/*"
    - "src/templates/blog-*.js"
area/careers:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/careers/**/*"
    - "src/collections/programs/**/*"
    - "src/templates/career-*.js"
    - "src/pages/careers/*"
area/community:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/members/**/*"
    - "src/pages/community/**/*"
    - "src/templates/member-*.js"
area/events:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/events/**/*"
    - "src/templates/event*.js"
area/handbook:
- changed-files:
  - any-glob-to-any-file:
    - "src/components/HandbookCard/**/*"
    - "src/components/Handbook-navigation/**/*"
    - "src/sections/Community/Handbook/**/*"
area/landscape:
- changed-files:
  - any-glob-to-any-file:
    - "src/sections/Landscape/**/*"
    - "src/components/Landscape-Table/**/*"
    - "src/collections/landscape/**/*"
area/learn:
- changed-files:
  - any-glob-to-any-file:
    - "content-learn"
    - "src/components/Learn-Components/**/*"
    - "src/collections/service-mesh-books/**/*"
    - "src/collections/service-mesh-learn/**/*"
    - "src/collections/service-mesh-workshops/**/*"
    - "src/templates/book-*.js"
    - "src/templates/course-*.js"
    - "src/templates/lab-*.js"
    - "src/templates/learn-*.js"
    - "src/templates/workshop-*.js"
area/news:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/news/**/*"
    - "src/templates/news-*.js"
area/partners:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/partners/**/*"
area/resources:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/resources/**/*"
    - "src/templates/resource-*.js"
area/projects:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/projects/**/*"
    - "src/pages/projects/**/*"
area/core-styles:
- changed-files:
  - any-glob-to-any-file:
    - "src/sections/app.style.js"
    - "src/theme/app/*"
area/site-config:
- changed-files:
  - any-glob-to-any-file:
    - "gatsby-*.js"
area/packages:
- changed-files:
  - any-glob-to-any-file:
    - "package-*.js"
project/meshery:
- changed-files:
  - any-glob-to-any-file:
    - "src/collections/integrations/**/*"
project/kanvas:
- changed-files:
  - any-glob-to-any-file:
    - "src/sections/Kanvas/**/*"
project/sistent:
- changed-files:
  - any-glob-to-any-file:
    - "src/components/SistentNavigation/**/*"
    - "src/pages/projects/sistent/**/*"
    - "src/sections/Projects/Sistent/**/*"
