Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

[Docs] Generated documentation for Integration
  src/collections/integrations/backstage/index.mdx
  src/collections/integrations/camel-k/index.mdx
Labels: project/meshery

Removed font size
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

replaced onClick with url
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

made ebpf logo visible in dark mode
  src/sections/Meshmap/meshmap-catalog.js
Labels: project/meshmap

Added new member - Hauwa Ismail Ahmad
  src/collections/members/hauwa-ismail-ahmad/hauwa-ismail-ahmad.webp
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

Apply suggestions from code review
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

update linkedIn username
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

Added new screenshots for the AWS Balance Loader page
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/aws-load-balancer-controller/index.mdx
Labels: project/meshery

Added screenshots for AWS Node Termination Handler
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
Labels: project/meshery

Replaced the meshmap-athenz-visualizer-dark.png image
  src/collections/integrations/_images/meshmap-athenz-visualizer-dark.png
Labels: project/meshery

Added screenshots for AWS Node Termination Handler
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
Labels: project/meshery

Changed screenshots for Athenz page
  src/collections/integrations/_images/meshmap-athenz-designer-dark.png
  src/collections/integrations/_images/meshmap-athenz-designer-light.png
  src/collections/integrations/_images/meshmap-athenz-visualizer-dark.png
  src/collections/integrations/_images/meshmap-athenz-visualizer-light.png
  src/collections/integrations/athenz/index.mdx
Labels: project/meshery

Changed screenshots for the Actions Runner Controller page
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/actions-runner-controller/index.mdx
Labels: project/meshery

Updated inter-page navigation
  src/sections/Community/Handbook/community-roles.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

meta description for istio-up-and-running
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
Labels: area/learn

add image file
  src/collections/members/daniel-kiptoon/daniel-kiptoon.jpg
Labels: area/community

add bio data
  src/collections/members/daniel-kiptoon/index.mdx
Labels: area/community

remove maintainer line, as it inadvatently assigns meshmate award
  src/collections/members/daniel-kiptoon/index.mdx
Labels: area/community

Created a GitHub Process page, added a github-process path, created a HandbookCard for the GitHub Process
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/github-process.js
  src/sections/Community/Handbook/github-process.js
  src/sections/Community/Handbook/index.js
Labels: area/community, area/handbook

Added all content to the table for the Organization Secrets section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added all the content under 'List of Pull Requests' section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added table content for the 'Labels for Issues' table
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added new member - Hauwa Ismail Ahmad
  src/collections/members/hauwa-ismail-ahmad/hauwa-ismail-ahmad.webp
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

Added the Bots and Actions section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added the top level h2 heading 'Issue and PR Labels and Templates, Bots'
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Apply suggestions from code review
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

update linkedIn username
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

Update src/collections/members/daniel-kiptoon/index.mdx
  src/collections/members/daniel-kiptoon/index.mdx
Labels: area/community

Adjusted grammar in GitHub Process page based on feedback
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Updated content in Community/Handbook/github-process.js on line 234
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

additional roles
  src/components/CommonForm/index.js
Labels: none

makefiles
  Makefile
Labels: none

Added description to news pages (2022 & 2023)
  src/collections/news/2022/2022-04-25-google-petitions-to-donate-istio-service-mesh-to-cncf/google-petitions-to-donate-istio-service-mesh-to-cncf.md
  src/collections/news/2022/2022-05-24-intel-layer5-announcement-meshmark/index.mdx
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/index.md
  src/collections/news/2023/2023-01-11-the-most-innovative-cloud-management-companies/index.mdx
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
  src/templates/news-single.js
Labels: area/news

fixed duplicate subscribe to news letter on blog page
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

duplicate newsletter fixed
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

added screenshots for aws target group
  src/collections/integrations/_images/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-visualizer-light.png
  src/collections/integrations/aws-target-group-binding/index.mdx
Labels: project/meshery

made the Honeycombs addapt to small viewport
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
Labels: none

ss updated
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
Labels: project/meshery

png
  src/sections/Company/About/images/layer5-community-stats.png
  src/sections/Company/About/index.js
Labels: none

fix typo error in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
