Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

meshery badge added
  src/collections/members/parthib-datta/index.mdx
Labels: area/community

changing activity status of mohith
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

quickfix
  src/pages/cloud-native-management/meshmap/index.js
Labels: none

fix
  src/pages/cloud-native-management/meshmap/index.js
  src/sections/Meshmap/index.js
Labels: project/meshmap

fix broken references in hacktoberfest-2023-post.md
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
Labels: area/blog

Adding new directory aws-api-gateway-operator for screenshorts
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer.png
  src/collections/integrations/aws-api-gateway-operator/index.mdx
Labels: project/meshery

move-screenshots-to-corresponding-integration-directory-within-images-dir
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-light.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-light.png
Labels: project/meshery

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-vpc-cni/icon/color/aws-vpc-cni-color.svg
  src/collections/integrations/awx-operator/icon/color/awx-operator-color.svg
  src/collections/integrations/kubernetes-secret-generator/icon/color/kubernetes-secret-generator-color.svg
  src/collections/integrations/kubernetes-secret-generator/icon/white/kubernetes-secret-generator-white.svg
  src/collections/integrations/kubernetes-secret-generator/index.mdx
Labels: project/meshery

style
  src/components/TeaserModal/style.js
  src/pages/cloud-native-management/meshmap/index.js
Labels: none

feat: add whiteboard feature 35C4n0r <jaykumar20march@gmail.com>
  src/assets/images/embed-whiteboard/background.svg
  src/assets/images/embed-whiteboard/whiteboard-image.svg
  src/assets/images/embed-whiteboard/whiteboard-text.svg
  src/assets/images/temp-embed-image/meshmap.jpg
  src/pages/index.js
  src/sections/Home/Design-Embedds/designEmbedds.style.js
  src/sections/Home/Design-Embedds/index.js
  src/sections/Home/Whiteboard-Showcase/index.js
  src/sections/Home/Whiteboard-Showcase/whiteboardShowcase.style.js
  static/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy-copy.js
  static/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-vpc-cni/icon/color/aws-vpc-cni-color.svg
  src/collections/integrations/aws-vpc-cni/icon/white/aws-vpc-cni-white.svg
Labels: project/meshery

Resolve card size inconsistency in Contacts Page (#4768)
  src/sections/Company/Contact/contactpage.style.js
Labels: none

Much spaces between contribution and General contribution flow #4636
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

Blog about Load-Generation_Load-Balancing
  src/collections/blog/2023/Load-Generation-Load-Balancing/Load.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/index.md
  src/collections/blog/2023/Load-Generation-Load-Balancing/loadbalancingimage.png
Labels: area/blog

feat: add PlanCard Component -added a reusable component to be used in Products and Pricing Page.
  src/components/PlanCard/collapsible-details.js
  src/components/PlanCard/index.js
  src/components/PlanCard/planCard.style.js
  src/sections/Pricing/collapsible-details.js
  src/sections/Pricing/comparison.js
  src/sections/Pricing/index.js
  src/sections/Pricing/pricing.style.js
  src/sections/Products/index.js
  src/sections/Products/products.style.js
Labels: none

fix: fix Button Styling
  src/sections/Products/products.style.js
Labels: none

ref: refactor out comments
  src/sections/Products/products.style.js
Labels: none

Created a new directory in integrations/_images/ and moved all the athenz screenshots into it
  src/collections/integrations/_images/athenz/meshmap-athenz-designer-dark.png
  src/collections/integrations/_images/athenz/meshmap-athenz-designer-light.png
  src/collections/integrations/_images/athenz/meshmap-athenz-visualizer-dark.png
  src/collections/integrations/_images/athenz/meshmap-athenz-visualizer-light.png
Labels: project/meshery

Changed the image links in integrations/athenz/index.mdx
  src/collections/integrations/athenz/index.mdx
Labels: project/meshery

Explore now button linked to layer5 cloud
  src/sections/Products/index.js
Labels: none

removed box-shadow and subscribe button from products card
  src/sections/Products/index.js
  src/sections/Products/products.style.js
Labels: none

show underline only on hover of Learn more button in products card
  src/sections/Products/products.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/meshery-core/icon/color/meshery-core-color.svg
  src/collections/integrations/meshery-core/icon/white/meshery-core-white.svg
  src/collections/integrations/meshery-core/index.mdx
  src/collections/integrations/meshery-shapes/icon/color/meshery-shapes-color.svg
  src/collections/integrations/meshery-shapes/icon/white/meshery-shapes-white.svg
  src/collections/integrations/meshery-shapes/index.mdx
Labels: project/meshery

added link and new card with icon
  src/sections/Products/images/cloud.svg
  src/sections/Products/index.js
Labels: none

new card and icon, but icons not showing
  src/sections/Products/images/cloud.svg
  src/sections/Products/index.js
Labels: none

added victoria-nduka member profile
  src/collections/members/victoria-nduka/index.mdx
  src/collections/members/victoria-nduka/victoria.webp
Labels: area/community

added badge
  src/collections/members/victoria-nduka/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community

Updated activity status of Zaki on Member Profile
  src/collections/members/Mohammed-zaki/index.mdx
Labels: area/community

fix: fix hardcoded icon array access
  src/sections/Products/images/cloud.svg
  src/sections/Products/images/fluent_desktop-mac.svg
  src/sections/Products/index.js
Labels: none

Created a new directory in integrations/_images/artifact-hub, added new screenshots and updated index.mdx links
  src/collections/integrations/artifact hub/index.mdx
Labels: project/meshery

Fixed merge conflicts in /collections/members/
  src/collections/integrations/meshery-operator/index.mdx
  src/collections/members/Mohammed-zaki/index.mdx
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community, project/meshery

Revert "[Fix Screenshots] Artifact Hub under "How it Works See It in Action” section"
  src/collections/integrations/artifact hub/index.mdx
  src/collections/integrations/meshery-operator/index.mdx
  src/collections/members/Mohammed-zaki/index.mdx
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community, project/meshery

eliminate duplicate
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
Labels: area/news

style-change
  src/components/CommonForm/commonForm.style.js
Labels: none

Updating index file
  src/collections/integrations/cdk8s/index.mdx
Labels: project/meshery

Adding screen Shots
  src/collections/integrations/_images/k8s_design.png
  src/collections/integrations/_images/k8s_desing_dark.png
  src/collections/integrations/_images/k8s_visuvalize.png
  src/collections/integrations/_images/k8s_visuvalize_dark.png
Labels: project/meshery

fix: add minor animations and reviews slider
  src/components/ReviewsSlider/index.js
  src/components/ReviewsSlider/reviews/ala-eddine-benhassir.jpeg
  src/components/ReviewsSlider/reviews/alex-hokanson.jpeg
  src/components/ReviewsSlider/reviews/deepak-dinesh.webp
  src/components/ReviewsSlider/reviews/kaur-kallas.webp
  src/components/ReviewsSlider/reviews/ken-owens.webp
  src/components/ReviewsSlider/reviews/liz-rice.jpeg
  src/components/ReviewsSlider/reviews/mrittika-ganguli.jpeg
  src/components/ReviewsSlider/reviews/phillip-ulberg.jpeg
  src/components/ReviewsSlider/reviews/william-morgan.webp
  src/components/ReviewsSlider/reviewsSlider.style.js
  src/sections/Cloud-Native-Catalog/index.js
  src/sections/Meshmap/Meshmap-collaborate/index.js
  src/sections/Meshmap/Meshmap-design/index.js
  src/sections/Meshmap/Meshmap-visualize/index.js
  src/sections/Meshmap/index.js
  src/sections/Playground/index.js
  src/sections/Pricing/index.js
  src/sections/Products/index.js
  src/sections/Products/products.style.js
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/index.js
Labels: project/meshmap

Solving the Conflicts
  src/collections/integrations/_images/cdk8s/k8s_design.png
  src/collections/integrations/_images/cdk8s/k8s_desing_dark.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize_dark.png
  src/collections/integrations/cdk8s/index.mdx
Labels: project/meshery

Error due to public URL
  src/templates/integrations.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
