Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Added the catalog assets.
  src/assets/images/catalog-icon/catalog2.svg
  src/assets/images/catalog-icon/catalog3.svg
  src/assets/images/catalog-icon/catalog4.svg
  src/assets/images/catalog-icon/catalog5.svg
  src/sections/Company/Brand/Brand-components/catalog.js
  src/sections/Company/Brand/index.js
Labels: none

Update src/sections/Community/index.js
  src/sections/Community/index.js
Labels: none

Enabled mode swith & improved the slider
  src/sections/Home/Proud-maintainers/index.js
  src/sections/Home/Proud-maintainers/proud-maintainers-data.js
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
Labels: none

Added slider to the Proud Maintainers Signed-off-by: Rakshit Sharma <kumarrakshit0402@gmail.com>
  src/sections/Home/Proud-maintainers/index.js
  src/sections/Home/Proud-maintainers/proud-maintainers-data.js
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
Labels: none

fix: mdxrenderer workaround for dropdown selection
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Careers/selected_program.js
  src/templates/program-multiple.js
Labels: none

fix: handle "undefined" for options.length
  src/sections/Careers/Careers-Programs-single/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/meshery/index.mdx
Labels: project/meshery

changed meshmap icon to 3-D icon
  src/sections/Meshmap/meshmap-icon.png
  src/sections/Meshmap/meshmap-icon.svg
  src/sections/Meshmap/meshmap_banner.js
Labels: project/meshmap

Fix icons width
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

fix: add loadable to chunk split files using mdx
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Resources/Resource-single/index.js
Labels: none

aligned perfectly
  package-lock.json
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

upload-layer5-overview-svg
  static/images/Layer5-overview.svg
Labels: none

update opengraph image reference
  src/pages/projects/index.js
Labels: area/projects

update index.js
  src/pages/projects/index.js
Labels: area/projects

aligned image and text
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

aligned perfectly
  package-lock.json
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

fix link
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/index.mdx
Labels: area/blog

Update src/sections/Partners/partners.js
  src/sections/Partners/partners.js
Labels: none

link gitops page
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

fix: change to default exports for loadable use
  src/collections/blog/Blog.style.js
  src/collections/blog/MeetTheMaintainer.style.js
  src/collections/blog/MeetTheMeshMate.style.js
  src/collections/careers/Career.style.js
  src/collections/events/Event.style.js
  src/collections/news/News.style.js
  src/collections/programs/Programs.style.js
  src/collections/projects/Project.style.js
  src/collections/resources/Resources.style.js
  src/collections/service-mesh-books/Book.style.js
  src/components/Learn-Components/Chapters-Style/chapters.style.js
Labels: area/blog, area/careers, area/events, area/learn, area/news, area/resources, area/projects

fix: correct folder/file name to replace .md
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform/index.mdx
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform/kubernetes-platform.webp
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/index.mdx
Labels: area/news

fix: correct date on folder name
  src/collections/blog/2023/2023-05-12-k8s-nodeports/index.mdx
  src/collections/blog/2023/2023-05-12-k8s-nodeports/k8s-nodeports.webp
Labels: area/blog

fix: use loadable to not auto include app bundle
  root-wrapper.js
Labels: none

chore: uninstall gatsby-plugin-no-sourcemaps
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config

fix: update and cleanup import list
  gatsby-ssr.js
Labels: area/site-config

feat: add build time warning to doc, add nav items
  CONTRIBUTING.md
Labels: none

fix: correct eslint semicolon issue
  src/sections/Partners/partners.js
Labels: none

site-uplift
  src/pages/index.js
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Home/So-Special-Section/index.js
  src/sections/Partners/partners.js
  src/sections/Pricing/pricing.style.js
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

projects-products
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

changed slider dots color
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: none

changed slider dots color
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: none

fix: reinstall gatsby-plugin-no-sourcemaps
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config

fix: corrections for images and urls
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/index.mdx
  src/collections/integrations/meshery/index.mdx
  src/pages/projects/index.js
Labels: area/blog, area/projects, project/meshery

video swap
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Banner-4/meshery-playground-meshmap.png
Labels: none

feat: add build expecations to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

aligned item of grid properly
  package-lock.json
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

chore: added quote to community/community-managers page
  src/components/Inline-quotes/index.js
  src/sections/Community/CommunityManagers/index.js
Labels: none

Testing
  gatsby-node.js
Labels: area/site-config

fix: handle CI=true case with gatsby-plugin-mdx v4
  gatsby-node.js
Labels: area/site-config

fix: handle CI=true case with gatsby-plugin-mdx v4
  gatsby-node.js
Labels: area/site-config
