Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

folder name change
  src/collections/blog/2023/02-03-validating-admission-controllers/index.mdx
  src/collections/blog/2023/02-03-validating-admission-controllers/kubernetes-new-dark.webp
  src/collections/blog/2023/02-03-validating-admission-controllers/kubernetes-new.webp
  src/collections/blog/2023/04-12-meshery-surpasses-1000-contributors/2000-github-stars.jpeg
  src/collections/blog/2023/04-12-meshery-surpasses-1000-contributors/index.mdx
  src/collections/blog/2023/04-12-meshery-surpasses-1000-contributors/meshery-contrib-stats.webp
  src/collections/blog/2023/05-02-layer5-reaches-a-4000-community-member-milestone/4000-layer5-members.webp
  src/collections/blog/2023/05-02-layer5-reaches-a-4000-community-member-milestone/index.mdx
  src/collections/blog/2023/05-02-layer5-reaches-a-4000-community-member-milestone/layer5-community-playfield.webp
  src/collections/blog/2023/05-02-layer5-reaches-a-4000-community-member-milestone/meshery-contrib-stats.webp
  src/collections/blog/2023/05-02-layer5-reaches-a-4000-community-member-milestone/meshery-most-popular-lfx-internship.webp
  src/collections/blog/2023/05-22-changing-release-channels-in-meshery/change-meshery-release-channels.png
  src/collections/blog/2023/05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/05-22-changing-release-channels-in-meshery/meshery-version.png
  src/collections/blog/2023/05-24-meet-the-meshmate-yash-sharma/MeetTheMeshMate.style.js
  src/collections/blog/2023/05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/05-24-meet-the-meshmate-yash-sharma/yash-sharma-layer5-meshmate.png
  src/collections/blog/2023/06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
  src/collections/blog/2023/06-15-internship-experience-blog-sudhanshu-dasgupta/sudhanshu.png
  src/collections/blog/2023/06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.png
  src/collections/blog/2023/06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.svg
  src/collections/blog/2023/06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
  src/collections/blog/2023/08-11-layer5-hashicorp-open-source/index.mdx
  src/collections/blog/2023/08-11-layer5-hashicorp-open-source/layer5-open-source.png
  src/collections/blog/2023/08-21-layer5-badge-program/badges-modal.png
  src/collections/blog/2023/08-21-layer5-badge-program/blog.style.js
  src/collections/blog/2023/08-21-layer5-badge-program/index.mdx
  src/collections/blog/2023/08-21-layer5-badge-program/layer5-community-playfield.webp
  src/collections/blog/2023/08-21-layer5-badge-program/recognition-banner.webp
  src/collections/blog/2023/08-21-layer5-badge-program/recognition-program.png
  src/collections/blog/2023/08-23-importance-of-github-stars/after.png
  src/collections/blog/2023/08-23-importance-of-github-stars/before.png
  src/collections/blog/2023/08-23-importance-of-github-stars/five-image.png
  src/collections/blog/2023/08-23-importance-of-github-stars/hero-image.svg
  src/collections/blog/2023/08-23-importance-of-github-stars/index.mdx
  src/collections/blog/2023/09-05-layer5-and-intel-collaboration/index.mdx
  src/collections/blog/2023/12-05-k8s-nodeports/index.mdx
  src/collections/blog/2023/12-05-k8s-nodeports/k8s-nodeports.webp
Labels: area/blog

hacktoberfest contributor badge added to event and blog
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-contributor.png
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest-contributor.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/blog, area/events

added space
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

fix date ref
  src/collections/blog/2023/05-12-k8s-nodeports/index.mdx
  src/collections/blog/2023/05-12-k8s-nodeports/k8s-nodeports.webp
Labels: area/blog

Removed Unrelated Navigation in Community Guidelines
  src/sections/Community/Handbook/community.js
Labels: area/handbook

Removed Unrelated Navigation in Community Guideline Page
  src/sections/Community/Handbook/community.js
Labels: area/handbook

update screen shots
  src/collections/integrations/_images/dark-design.png
  src/collections/integrations/_images/dark-visual.png
  src/collections/integrations/_images/light-design.png
  src/collections/integrations/_images/light-visual.png
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/dapr/index.mdx
Labels: project/meshery

Restore images
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
Labels: project/meshery

hacktoberfest resources
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

fix tag
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

list
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Update index.mdx
  src/collections/members/gaurav-chadha/index.mdx
Labels: area/community

[Docs] Generated documentation for Integration
  src/collections/integrations/kubeslice-worker/icon/color/kubeslice-worker-color.svg
  src/collections/integrations/kubeslice-worker/icon/white/kubeslice-worker-white.svg
  src/collections/integrations/kubeslice-worker/index.mdx
Labels: project/meshery

Update label-triggered.yml
  .github/workflows/label-triggered.yml
Labels: area/ci

💄Nighthawk Cards Hover Box Shadow Improvements💄
  src/sections/Projects/Nighthawk/gnh.style.js
Labels: none

💄Shadow Size Improvements 💄
  src/sections/Projects/Nighthawk/gnh.style.js
Labels: none

💄Minor improvements💄
  src/sections/Projects/Nighthawk/gnh.style.js
Labels: none

Revert "fix-checks"
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Update changes"
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/design-dark.png
  src/collections/integrations/_images/design.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/_images/visualizer-dark.png
  src/collections/integrations/_images/visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Added Screenshots"
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

fix check isuue
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Update index.mdx"
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Added screenshots"
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/cpx/index.mdx
Labels: project/meshery

fix-error-checks
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/cpx/index.mdx
Labels: project/meshery

Added screenshots
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/cpx/index.mdx
Labels: project/meshery

Added screenshots
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/cri-o/index.mdx
Labels: project/meshery

[Docs] Generated documentation for Integration
  src/collections/integrations/gerrit-operator/icon/color/gerrit-operator-color.svg
  src/collections/integrations/gerrit-operator/icon/white/gerrit-operator-white.svg
  src/collections/integrations/gerrit-operator/index.mdx
  src/collections/integrations/hybridnet/icon/color/hybridnet-color.svg
  src/collections/integrations/hybridnet/icon/white/hybridnet-white.svg
  src/collections/integrations/hybridnet/index.mdx
  src/collections/integrations/intel-device-plugins-operator/icon/color/intel-device-plugins-operator-color.svg
  src/collections/integrations/intel-device-plugins-operator/icon/white/intel-device-plugins-operator-white.svg
  src/collections/integrations/intel-device-plugins-operator/index.mdx
  src/collections/integrations/pg-operator/index.mdx
Labels: project/meshery

https://github.com/layer5io/layer5/issues/4987
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

CSS refactored
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

add-member-profile-of-philip
  src/collections/members/philip-obiora/index.mdx
  src/collections/members/philip-obiora/philip-obiora.webp
Labels: area/community

fix :low text contrast and istio box
  .gitpod.yml
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fix: low contrast text an istio box
  .gitignore
Labels: none

add-meshery-badge-and-lowercase-suggested-words
  src/collections/members/philip-obiora/index.mdx
Labels: area/community

fix: low contrast text an istio box
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fix: low contrast text an istio box
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

Apply suggestions from code review
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Newcomers-guide/index.js
Labels: none

changing-from-id-to-class
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Members-grid/membersGrid.style.js
Labels: none

Gaurav Chadha removed from the lists
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

updated the twitter icon and fixed the css
  src/assets/images/socialIcons/twitter.svg
  src/components/SocialLinks-Color/index.js
  src/components/SocialLinks-Color/sociallinkscolor.style.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: area/handbook

meta descriptions for service mesh patterns and layer5&hashicoop
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
Labels: area/learn

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
