Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

fix label alignment
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

feat: added hyperlink to ui/ux badge
  src/sections/Community/Handbook/writing-program.js
  src/sections/Community/Member-single/index.js
Labels: area/handbook

fixed responsiveness issue
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

use gatsby-gtm plugin
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/html.js
Labels: area/site-config

readme
  .github/assets/images/meshery-operator/meshery-operator-dark.svg
  .github/assets/images/patterns/service-mesh-pattern.svg
  README.md
Labels: area/ci

add-badges-and-fix-some-other-issues
  CONTRIBUTING.md
  src/assets/images/docs/docs.svg
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/anita-ihuman/index.mdx
  src/collections/members/gaurav-chadha/index.mdx
  src/collections/members/vivek-vishal/index.mdx
  src/pages/community/members.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Member-single/index.js
Labels: area/community, area/handbook

Add Vivek Jha Profile
  src/collections/members/vivek-jha/index.mdx
  src/collections/members/vivek-jha/vivek-jha.png
Labels: area/community

[Resource] Docker Swarm Tutorial
  src/collections/resources/tutorials/docker-swarm/docker-swarm.png
  src/collections/resources/tutorials/docker-swarm/index.mdx
Labels: area/resources

update gatsby-plugin-meta-redirect link in package
  package-lock.json
Labels: none

clear MDXProvider warning ResourceWrapper
  src/collections/resources/articles/terraform-with-meshery/index.mdx
Labels: area/resources

clear MDXProvider warning ChapterStyle
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
Labels: none

added missing semicolons for svg colorMode1 fill
  src/sections/Partners/partner.style.js
Labels: none

add theme responsive Citrix svg
  src/assets/images/partners/citrix-colorMode.svg
  src/sections/Partners/partner.style.js
  src/sections/Partners/partners.js
Labels: none

pr#3286 fix for accordian faq items
  src/reusecore/Accordion/accordion.style.js
  src/sections/General/Faq/index.js
Labels: none

fix 5
  gatsby-config.js
  src/html.js
Labels: area/site-config

fix 6
  gatsby-browser.js
  src/html.js
Labels: area/site-config

fix 7
  src/html.js
Labels: none

use the original script only
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config

reverted changes
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

feat: added Designer page
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/designer.js
  src/sections/Community/Handbook/designer.js
Labels: area/community, area/handbook

updated hyperlink for Ux badge
  src/sections/Community/Member-single/index.js
Labels: none

fix: revert quote position property
  src/sections/Home/Service-mesh-focussed/service-mesh-focussed.style.js
Labels: none

chore: add classname to blockquote image
  src/sections/Home/Service-mesh-focussed/index.js
Labels: none

add interactive animated cytoscape component
  gatsby-node.js
  package-lock.json
  package.json
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Meshmap/Meshmap-design/cytoscape-demo.style.js
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: area/site-config, project/meshmap

update webhook link
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Infrastructure Value Measurement
  src/sections/Home/Projects-home/index.js
Labels: none

Update src/collections/members/vivek-jha/index.mdx
  src/collections/members/vivek-jha/index.mdx
Labels: area/community

revert gatsby-node.js
  gatsby-node.js
Labels: area/site-config

fix: reduce bundle size
  package-lock.json
  package.json
  src/components/Features-carousel/FeaturesCarousel.style.js
  src/components/Features-carousel/index.js
Labels: none

fix: color of dots
  src/components/Features-carousel/FeaturesCarousel.style.js
  src/components/Features-carousel/index.js
Labels: none

add meshmap section in readme
  README.md
Labels: none

add align left
  README.md
Labels: none

feat: added new blog
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/gsoc-wide.png
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/meshery-version.png
Labels: area/blog

updated file
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

added blog thumbnail
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/change-meshery-release-channels.png
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/gsoc-wide.png
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

move-docs-badge-above-imageHub-and-revise-suggested-texts
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

removed rigid values and added max-width on bigger scope
  src/components/Terminal/Terminal.style.js
Labels: none

Add Full Sized Image of books in Navigation
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/sections/General/Navigation/index.js
Labels: area/learn

Icon color correction
  src/sections/Pricing/data.js
Labels: none

Changed member profile to inactive
  src/collections/members/colby_stoker/index.mdx
Labels: area/community
