Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

test: reduce integration page size
  src/collections/blog/2021/2021-04-05-meshmate-of-the-year-2020-nikhil-ladha/index.mdx
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
Labels: area/blog

test: integration file size reduction
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: none

test: remove GoogleTag to reduce file size
  gatsby-browser.js
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

test: limit number of members
  package.json
Labels: none

test: change # of member mdx files to 125
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

test: fix member page issue
  src/collections/members/debjani-dey/index.mdx
  src/collections/members/debjani-dey/photodebjani1.webp
Labels: area/community

test: fix frontmatter spacing
  src/collections/members/anirudh-jain/index.mdx
  src/collections/members/joseph-midura/index.mdx
  src/collections/members/joseph-midura/joseph-midura1.webp
  src/collections/members/piyush-singariya/index.mdx
Labels: area/community

test: expand member mdx pages to 175
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

test: member mdx pages to 150
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

test: limit member mdx pages to first 165
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

switch to cloud native
  README.md
  src/collections/blog/2021/2021-10-09-an-introduction-to-meshery/index.mdx
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Company/Brand/Brand-components/servicemeshpatterns.js
  src/sections/Company/Brand/index.js
  src/sections/Learn-Layer5/index.js
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: area/blog, area/handbook

init blog
  src/collections/blog/2023/2023-09-05-/index.mdx
  src/collections/blog/2023/2023-09-05-/style.js
Labels: area/blog

2nd rev
  src/collections/blog/2020/2020-08-20-announcing-the-meshery-adapter-for-open-service-mesh/index.mdx
  src/collections/blog/2021/2021-09-20-service-mesh-specifications-and-why-they-matter/index.mdx
  src/collections/blog/2021/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2023/2023-09-05-/index.mdx
  src/collections/blog/2023/2023-09-05-/style.js
Labels: area/blog

hero
  src/collections/blog/2023/2023-09-05-/index.mdx
Labels: area/blog

Fixed spacing and margin issues
  src/sections/subscribe/subscribe.style.js
Labels: none

Update the spacing issue and fixed alignment of subscribe text with button
  src/sections/subscribe/subscribe.js
  src/sections/subscribe/subscribe.style.js
Labels: none

Update index.mdx
  src/collections/members/gopi-vaibhav/index.mdx
Labels: area/community

fix: revert changes to reduce file size
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: none

fix: update member mdx query and page creation
  gatsby-node.js
  src/templates/member-single.js
Labels: area/community, area/site-config

fix: correct frontmatter image link
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/index.mdx
Labels: area/blog

test: add image to blog post folder
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/index.mdx
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/intel-colorMode.svg
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/intel_white.svg
Labels: area/blog

fix: update to react style format
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/index.mdx
Labels: area/blog

test: remove mdx page restriction
  package.json
Labels: none

revert: re-add google tag scripts to pages
  gatsby-browser.js
Labels: area/site-config

revert: re-add MDXComponents to ssr
  gatsby-ssr.js
Labels: area/site-config

fix: update to only include .mdx files
  gatsby-config.js
Labels: area/site-config

fix: update thumbnail url
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/index.mdx
Labels: area/blog

Added community member profile
  src/collections/members/prem-kumar/index.mdx
  src/collections/members/prem-kumar/prem-kumar.webp
Labels: area/community

Update index.mdx
  src/collections/members/ananya-gautam/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/suhail-khan/index.mdx
Labels: area/community

outdent
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

added description prop to blog and resource templates
  src/templates/blog-single.js
  src/templates/resource-single.js
Labels: area/blog, area/resources

The image address was wrong.
  src/collections/blog/2023/2023-09-05-/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-09-05-/index.mdx
Labels: area/blog

fixing #4826
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/akri/index.mdx
Labels: project/meshery

Update image address
  src/collections/blog/2023/2023-09-05-/index.mdx
Labels: area/blog

adding the dark mode images
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/akri/index.mdx
Labels: project/meshery

Update community-roles page title
  src/pages/community/handbook/community-roles.js
Labels: area/community

Update footer.style.js Subscribe to our Newsletter to center
  src/sections/General/Footer/footer.style.js
Labels: none

Update footer.style.js to make it center
  src/sections/General/Footer/footer.style.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
