Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

move-colby-to-inactive
  src/collections/members/colby_stoker/index.mdx
Labels: area/community

table style
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
  src/collections/blog/Blog.style.js
Labels: area/blog

projects
  src/assets/images/catalog-icon/catalog.js
  src/sections/Home/Projects-home/index.js
  src/sections/Home/Projects-home/projectSection.style.js
Labels: none

logos
  src/assets/images/partners/metabit-trading-light.svg
  src/assets/images/partners/metabit-trading-logo .svg
  src/assets/images/partners/metabit-trading-logo-gray.svg
  src/assets/images/partners/metabit-trading-white.svg
  src/sections/Home/Partners-home/partners-home-data.js
  src/sections/Partners/partners.js
Labels: none

fix logos
  src/sections/Partners/partners.js
Labels: none

swap dark mode images
  src/sections/Partners/partners.js
Labels: none

update post
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

feat: added consistency btw grid & list view
  src/sections/Blog/Blog-list/blogList.style.js
  src/sections/Blog/Blog-list/index.js
Labels: none

Fixed the dark mode colors of table in Service mesh patterns page
  src/components/service-mesh-patterns-Table/table.style.js
Labels: none

added collaborate page changes
  src/sections/Meshmap/Meshmap-collaborate/meshmap-collaborate-banner.js
Labels: project/meshmap

playground page changes
  src/sections/Playground/images/playground-feature-2.svg
  src/sections/Playground/index.js
  src/sections/Playground/playground-features.js
Labels: none

Update optimized catalog images
  src/assets/images/catalog/catalog-dark.svg
  src/assets/images/catalog/catalog-light.svg
Labels: none

Fix Catalog link
  src/sections/Projects/Project-grid/index.js
Labels: none

Fix Catalog link on Home page
  src/sections/Home/Projects-home/index.js
Labels: none

PR3663, selection color for dark and light mode
  src/sections/app.style.js
Labels: type/core-styls

added playground popup
  src/components/Playground-popup/closeIcon.svg
  src/components/Playground-popup/index.js
  src/components/Playground-popup/popup.style.js
  src/components/Playground-popup/power-of-meshery.svg
  src/pages/index.js
Labels: none

background-color property removed from book cover image
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

Fixed the dark mode colors of table in Service mesh patterns page
  src/components/service-mesh-patterns-Table/table.style.js
Labels: none

background-color property removed from book cover image
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

fix: reverted the font size to 12px in terminal
  src/components/Terminal/Terminal.style.js
Labels: none

removed rigid values and added max-width on bigger scope
  src/components/Terminal/Terminal.style.js
Labels: none

fix: add word-wrap to terminal text and set max-width
  src/components/Terminal/Terminal.style.js
Labels: none

logo according to theme
  src/collections/programs/Programs.style.js
  src/collections/programs/mlh-2020/index.mdx
Labels: area/careers

publish-Yash's-interview
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/MeetTheMeshMate.style.js
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/yash-sharma-layer5-meshmate.png
Labels: area/blog

Update src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
Labels: area/blog

Update catalog image
  src/assets/images/catalog/catalog-dark.svg
  src/assets/images/catalog/catalog-light.svg
Labels: none

popup changes
  src/components/Playground-popup/index.js
  src/components/Playground-popup/popup.style.js
Labels: none

update metabit to keep consistent use of svg
  src/assets/images/partners/metabit-trading-logo-colorMode.svg
  src/sections/Partners/partner.style.js
  src/sections/Partners/partners.js
Labels: none

Update package.json
  package.json
Labels: none

Update src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
Labels: project/meshmap

smooth out transitions for Catalog Page
  src/reusecore/Blockquote/Blockquote-image/blockquote-image.style.js
  src/reusecore/Blockquote/blockquote.style.js
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Cloud-Native-Catalog/new-catalog.js
  src/sections/Pricing/review-slider.js
Labels: none

fix metabit svg logo css transition
  src/sections/Partners/partner.style.js
Labels: none

more dark mode transition fixes for partner page
  src/sections/Partners/index.js
  src/sections/Partners/partner.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/docker/index.mdx
Labels: project/meshery

increase highlight for selected text
  src/sections/app.style.js
Labels: type/core-styls

fix text color for partner container body
  src/sections/Partners/partner.style.js
Labels: none

replace curly single quote with single quote
  src/sections/Partners/index.js
Labels: none

Added a new member card
  .gitpod.yml
  src/collections/members/savio-dias/index.mdx
  src/collections/members/savio-dias/saviodias.jpg
Labels: area/community

Added a new member card
  .gitpod.yml
Labels: none

add interactive and animated cytoscape ctx component
  package-lock.json
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap
