Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Added 4th point section handle unassigned PRs as reference to the PRs made previously
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

Update index.mdx
  src/collections/members/vikramaditya-singh/index.mdx
Labels: area/community

Add Five and Friends CTA to column of widgets
  src/assets/images/blog/five-and-friends.png
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

Update margin unit for five and friends card in the blog page
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
Labels: none

Update image for Five And Friends Card in Blog page
  src/assets/images/blog/five-and-friends.png
Labels: none

update: outdated non-mdx npm packages
  package-lock.json
Labels: none

Update index.mdx
  src/collections/events/hacktoberfest-2022/index.mdx
Labels: area/events

Solving container overlapping issue on safari browser
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.js
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

hacktoberfest 23
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest22.webp
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

22 turn down
  src/collections/events/hacktoberfest-2022/index.mdx
Labels: area/events

2023
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Update build-and-deploy-site.yml
  .github/workflows/build-and-deploy-site.yml
Labels: area/ci

title?
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Inactive
  src/collections/members/abiola-farounbi/index.mdx
  src/collections/members/adithya-krishna/index.mdx
  src/collections/members/anirudh-jain/index.mdx
  src/collections/members/arunima-chaudhuri/index.mdx
  src/collections/members/ashish-tiwari/index.mdx
  src/collections/members/avishkar-gunjal/avishkar.webp
  src/collections/members/avishkar-gunjal/index.mdx
  src/collections/members/chinu-anand/index.mdx
  src/collections/members/darren-dsouza/index.mdx
  src/collections/members/harsh-dobariya/index.mdx
  src/collections/members/hersh-dhillion/index.mdx
  src/collections/members/jome-favourite/index.mdx
  src/collections/members/krishna-gupta/index.mdx
  src/collections/members/meyazhagan/index.mdx
  src/collections/members/nishant-miittal/index.mdx
  src/collections/members/nishant-miittal/nishant.jpeg
  src/collections/members/samyak-shah/index.mdx
  src/collections/members/tolulope-ola-david/index.mdx
Labels: area/community

Update src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

Fix: Updated Newcomers page mascot image
  src/assets/images/newcomers-page-images/layer5-contributor.svg
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
  src/sections/Community/Newcomers-guide/index.js
Labels: none

update-speakers-hacktoberfest-2023
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

updated thumbnail
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest2023.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Fix #4931: full text for sign-in CTA light mode visibility
  src/sections/Learn/Lab-single/LabSinglePageWrapper.style.js
  src/sections/Learn/Service-Mesh-Labs/LabsWrapper.style.js
Labels: none

Removed unused svg images
  src/assets/images/newcomers-page-images/contributor-chest-colorMode.svg
  src/assets/images/newcomers-page-images/contributor-chest-white.svg
  src/assets/images/newcomers-page-images/contributor-chest.svg
Labels: none

Fix #4931: full text for sign-in CTA light mode visibility
  src/sections/Learn/Lab-single/LabSinglePageWrapper.style.js
  src/sections/Learn/Service-Mesh-Labs/LabsWrapper.style.js
Labels: none

Alignment for mobile device changed to center
  src/sections/Partners/partner.style.js
Labels: none

fixed full text for sign into call to action not visible in light mode
  src/sections/Learn/Lab-single/LabSinglePageWrapper.style.js
Labels: none

memberProfileAdded
  src/collections/members/shravani-kaware/index.mdx
  src/collections/members/shravani-kaware/shravani-kaware.webp
Labels: area/community

Revert "Alignment for mobile device changed to center"
  src/sections/Partners/partner.style.js
Labels: none

Member profile of Abhijeet Gaurav is added
  src/collections/members/abhijeet-gaurav/Abhijeet_Gaurav.jpeg
  src/collections/members/abhijeet-gaurav/index.mdx
Labels: area/community

resolved the hover effect
  src/sections/Learn/Lab-single/LabSinglePageWrapper.style.js
Labels: none

Revert "Updated thumbnail for Hacktoberfest event"
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest2023.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

revert-github-pages-deploy-action@4.4.3
  .github/workflows/build-and-deploy-site.yml
Labels: area/ci

Added Community Badge
  src/collections/members/abhijeet-gaurav/Abhijeet_Gaurav.jpeg
  src/collections/members/abhijeet-gaurav/Abhijeet_Gaurav.webp
  src/collections/members/abhijeet-gaurav/index.mdx
Labels: area/community

resolved the hover effect
  src/components/ScenarioCard/ScenarioCard.style.js
  src/components/ScenarioCard/index.js
Labels: none

updated thumbnail and speakers
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest2023.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

reduce tags
  src/assets/images/stick-figures/SVG/layer5-five-mascot-means-business.svg
  src/collections/blog/2019/2019-05-21-a-standard-interface-for-service-meshes/index.mdx
  src/collections/blog/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/index.mdx
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/collections/blog/2020/2020-08-07-announcing-meshery-v0.4/index.mdx
  src/collections/blog/2020/2020-08-20-announcing-the-meshery-adapter-for-open-service-mesh/index.mdx
  src/collections/blog/2020/2020-09-19-performance-benchmarking-using-meshery-and-nighthawk/index.mdx
  src/collections/blog/2020/2020-09-25-announcing-meshmates/index.mdx
  src/collections/blog/2020/2020-11-17-layer5-at-kubecon-2020/index.mdx
  src/collections/blog/2021/2021-04-19-announcing-meshery-v0.5/index.mdx
  src/collections/blog/2021/2021-09-20-service-mesh-specifications-and-why-they-matter/index.mdx
  src/collections/blog/2021/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2022/2022-01-14-open-source-journey-gaurav-chadha/index.mdx
  src/collections/blog/2022/2022-02-25-layer5-collab-with-openforce/index.mdx
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/index.mdx
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/index.mdx
  src/collections/blog/2023/2023-02-03-validating-admission-controllers/index.mdx
  src/collections/blog/2023/2023-04-12-meshery-surpasses-1000-contributors/index.mdx
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/index.mdx
  src/collections/blog/blog-template/index.mdx
Labels: area/blog

tweak
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

capitalize last name
  src/collections/members/shravani-kaware/index.mdx
Labels: area/community

Added Functionality that will be triggered on issue/valid label
  .github/workflows/label-triggered.yml
Labels: area/ci

Member profile of rhoda michael is added
  src/collections/members/rhoda-michael/Rhoda-Michael.webp
  src/collections/members/rhoda-michael/index.mdx
Labels: area/community

added-valid-issue-comments-label-triggered.yml
  .github/workflows/label-triggered.yml
Labels: area/ci

adding-issue-valid-function
  .github/workflows/label-triggered.yml
Labels: area/ci

Revert "Revert "[Chore] Update webhook""
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook
