Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

award-badges
  src/collections/members/aabid-sofi/index.mdx
  src/collections/members/rhoda-michael/index.mdx
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/collections/members/yash-sharma/index.mdx
Labels: area/community

added parthib-datta
  src/collections/members/parthib-datta/index.mdx
  src/collections/members/parthib-datta/parthib-datta.webp
Labels: area/community

added two new screen hots to curiefense interation
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/curiefense/index.mdx
Labels: project/meshery

Member Profile of sandra ashipala added
  src/collections/members/sandra-ashipala/index.mdx
  src/collections/members/sandra-ashipala/sandra-ashipala.webp
Labels: area/community

Changed
  src/collections/members/archit-sharma/Archit-Sharma.webp
  src/collections/members/archit-sharma/index.mdx
Labels: area/community

igned-off-by: VivekBaldha0712 <vivekbaldha712@gmail.com>
  src/collections/members/sandra-ashipala/index.mdx
Labels: area/community

Profile Member of sandra ashipala added
  src/collections/members/sandra-ashipala/index.mdx
  src/collections/members/sandra-ashipala/sandra-ashipala.webp
Labels: area/community

added mohammed zaki to the members
  src/collections/members/Mohammed-zaki/index.mdx
  src/collections/members/Mohammed-zaki/zakisk.webp
Labels: area/community

adjust the hover effect for card shape
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

remove hover from card with coming soon
  src/components/Learn-Components/Card-Component/index.js
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

I put the meta description for layer5 and hashicorp in the right place.
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
Labels: area/learn, area/news

image replaced
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Banner-4/meshery-infrastructure-as-diagram.webp
Labels: none

external={true}
  src/sections/Home/Banner-4/index.js
Labels: none

update
  src/sections/Company/WhoWeAre/index.js
  src/sections/Home/Banner-4/index.js
  src/sections/Meshmap/meshmap_banner.js
Labels: project/meshmap

to cloud native performance
  README.md
  src/assets/data/faq/index.js
  src/assets/discuss/html/footer.html
  src/collections/blog/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2021/2021-04-16-meet-the-maintainer-jash-patel/index.mdx
  src/collections/blog/2021/2021-06-4-announcing-summer-interns/index.mdx
  src/collections/blog/2021/2021-09-20-service-mesh-specifications-and-why-they-matter/index.mdx
  src/collections/blog/2021/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-10-19-kubeconna2022/index.mdx
  src/collections/blog/2022/2022-12-06-k8s-1.26-release/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2022/2022-05-18-meshmark-the-cloud-native-value-measurement/meshmark-the-cloud-native-value-measurement.md
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/index.md
  src/collections/resources/articles/service-mesh-fundamentals/index.mdx
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Member-single/index.js
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Meshery/Meshery-terminal/index.js
  src/sections/Projects/Nighthawk/index.js
  src/sections/Projects/Project-grid/index.js
Labels: area/blog, area/handbook, area/news, area/resources

smp to cmp
  src/pages/projects/cloud-native-performance.js
Labels: area/projects

Cloud Native
  src/sections/Projects/SMP/index.js
  static/mail/kubecon-na-2021-recap.html
Labels: none

Adding glow & hover effect to the clickable cards
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

corrected styling for layer5-collaboration-map.svg dark mode
  src/sections/Company/About/about.style.js
  src/sections/Company/About/images/layer5-collaboration-map.svg
  src/theme/app/themeStyles.js
Labels: type/core-styls

removed unwanted style
  src/theme/app/themeStyles.js
Labels: type/core-styls

#5045: Made learning path cards mobile responsive
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

Fix:#5047
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

Fix:#5047
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

Fix:5047
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

added MeshMap Badge to member profile of Akshay Sharma
  src/collections/members/akshay-sharma/index.mdx
Labels: area/community

Layer5 Cloud
  .github/ISSUE_TEMPLATE/community_member_profile.md
  src/assets/data/faq/index.js
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2023/09-05-layer5-and-intel-collaboration/index.mdx
  src/sections/Community/Handbook/repo-data.js
  src/sections/Docker-Meshery/docker-extension-meshery.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-platform.js
  src/sections/Meshmap/signup-form.js
  src/sections/Pricing/data.js
  static/mail/2023/feature-friday.html
Labels: area/ci, area/blog, area/handbook, project/meshmap

maintainers
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

added mapBackground,can be necessary for further svgs
  src/theme/app/themeStyles.js
Labels: type/core-styls

added Mohit Gadireddy
  src/collections/members/Mohith-Gadireddy/Mohith-Gadireddy.webp
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

modified image size
  src/collections/members/Mohith-Gadireddy/Mohith-Gadireddy.webp
Labels: area/community

Added Dark Mode Image for eBPF
  src/assets/images/meshmap/ebpf-dark.webp
  src/sections/Cloud-Native-Catalog/catalog.js
Labels: none

replaced image
  src/collections/members/Mohith-Gadireddy/Mohith-Gadireddy.webp
Labels: area/community

changed location
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

Reduced padding for cards on mobile view as suggested.
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

Updated Screenshots of the integration 'Backstage'
  src/collections/integrations/_images/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage_desing.png
  src/collections/integrations/_images/backstage_visuvalize.png
  src/collections/integrations/_images/backstage_visuvalize_dark.png
  src/collections/integrations/backstage/index.mdx
Labels: project/meshery

Update the glow effect
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

Update README.md
  README.md
Labels: none

Added All Integration button
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

updated image styling
  src/sections/Company/About/images/layer5-collaboration-map.svg
Labels: none

removed margin bottom from h1 class and absolute position from underline-img class
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
