Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

redirect books
  gatsby-node.js
Labels: area/site-config

style={{ border: "0" }}
  src/sections/Meshmap/signup-form.js
Labels: project/meshmap

update verbiage used
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
Labels: area/news

Adjusted image size
  src/sections/AWS-Diagram/diagram.js
Labels: none

updates
  src/sections/AWS-Diagram/diagram.js
Labels: none

made whole clickable
  src/components/TopPromotionalBanner/index.js
  src/components/TopPromotionalBanner/style.js
Labels: none

redirecting to meshery page
  src/sections/Home/CloudNativeManagement/index.js
Labels: none

project page fix for dark mode
  src/sections/Projects/index.js
Labels: none

Revert "[workflow] Update Community Member Workflow Webhook"
  src/sections/Community/Web-based-from/index.js
Labels: none

feat(news): added news article and accompanying thumbnail
  src/collections/news/2023/2023-12-13-how-kubernetes-1-29-improves-open-source-cloud-native-production-readiness/index.mdx
  src/collections/news/2023/2023-12-13-how-kubernetes-1-29-improves-open-source-cloud-native-production-readiness/kubernetes-1-29.jpg
Labels: area/news

animation enhanced
  src/components/Features/index.js
  src/components/Features/style.js
Labels: none

slide-in animation to second card
  src/components/Features/style.js
Labels: none

enhance
  src/components/Features/images/cursor.svg
  src/components/Features/index.js
  src/pages/index.js
  src/sections/Home/FeaturesContainer/images/commenting.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding-light.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding.svg
  src/sections/Home/FeaturesContainer/index.js
  src/sections/Home/FeaturesContainer/style.js
Labels: none

Update lighthouseci.yml
  .github/workflows/lighthouseci.yml
Labels: area/ci

update
  src/assets/images/whiteboard/cursor-2.svg
  src/sections/Comments/index.js
  src/sections/FeatureHero/index.js
  src/sections/Playground/playground-hero.js
  src/sections/SeeYou/index.js
  src/sections/SeeYou/seeYou.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

cursor
  src/sections/Home/FeaturesContainer/index.js
Labels: none

text to shape
  src/assets/images/whiteboard/cursor-2.svg
  src/components/Features/index.js
Labels: none

Take the work out of teamwork.
  src/sections/SeeYou/index.js
Labels: none

styles update
  src/sections/AWS-Diagram/diagram.js
  src/sections/AWS-Diagram/index.js
Labels: none

GCP Diagram page added
  src/pages/cloud-native-management/gcp-diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/GCP-Diagram/header.js
  src/sections/GCP-Diagram/index.js
Labels: none

updated sections svgs
  src/components/Features/index.js
  src/sections/Home/FeaturesContainer/images/commenting-white.svg
  src/sections/Home/FeaturesContainer/images/commenting.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding-light.svg
  src/sections/Home/FeaturesContainer/index.js
  src/sections/Home/FeaturesContainer/style.js
Labels: none

fixed svgs and text-svg proportion
  src/components/Features/index.js
  src/sections/Home/FeaturesContainer/images/commenting-white.svg
  src/sections/Home/FeaturesContainer/images/commenting.svg
Labels: none

updated section heading
  src/sections/Home/FeaturesContainer/style.js
Labels: none

move o'reilly book
  src/pages/index.js
  src/pages/whiteboard/index.js
Labels: none

move book
  src/pages/whiteboard/index.js
Labels: none

update
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

update
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

dark mode
  src/components/image.js
  src/sections/Home/So-Special-Section/index.js
Labels: none

console
  src/sections/Home/So-Special-Section/index.js
Labels: none

Eslint errors fixed
  src/components/image.js
  src/sections/Home/So-Special-Section/index.js
Labels: none

reverted
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/repository.js
  src/sections/Home/So-Special-Section/index.js
Labels: area/handbook

svgs updated
  src/sections/Home/FeaturesContainer/images/commenting-white.svg
  src/sections/Home/FeaturesContainer/images/commenting.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding-light.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding.svg
Labels: none

udpated background color of the card
  src/components/Features/style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

rm engineerenable
  src/pages/index.js
Labels: none

charcoal not white
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

lint
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

update
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

slash
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

artifacts fix
  src/sections/Community/Handbook/faq.js
  src/sections/Home/Partners-home/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: area/handbook

upstream
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
