Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Transition-to-inactive
  src/collections/members/alvin okafor/index.mdx
Labels: area/community

fix: .html check for already updated urls
  gatsby-node.js
Labels: area/site-config

feat: remind on page creation/url/redirect changes
  CONTRIBUTING.md
Labels: none

Replace cncf image
  src/sections/Company/About/index.js
Labels: none

Replace CNCF image
  src/sections/Company/About/index.js
Labels: none

Update about.style.js
  src/sections/Company/About/about.style.js
Labels: none

Update status
  src/collections/members/samyak-shah/index.mdx
Labels: area/community

Fix #4586: Use white needle version of logo
  src/assets/images/service-mesh-performance/icon/smp-dark.webp
Labels: none

Fix #4586: Use white needle version of logo
  src/assets/images/service-mesh-performance/icon/smp-dark.webp
Labels: none

person name
  src/sections/Community/CommunityManagers/index.js
Labels: none

revert status
  src/collections/members/samyak-shah/index.mdx
Labels: area/community

added demo button
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
Labels: area/resources

fix: use path prefix and update noIndex
  gatsby-config.js
  package.json
Labels: area/site-config

aligned Project page
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

update recognition
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

fix: resize/optimize images with tiny-img
  src/assets/images/Community-pictures/9 gsoc-shirt.webp
  src/assets/images/learn-layer5/istio/Prometheus.webp
  src/collections/members/hersh-dhillion/hersh-dhillion.webp
  src/collections/members/nikhil-ladha/nikhil-ladha.webp
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.png
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.webp
  src/sections/Community/Community-pictures/gsoc-shirt.webp
Labels: area/community, area/news

Update src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

fix: remove InlineQuote from shortcodes
  gatsby-ssr.js
  root-wrapper.js
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources, area/site-config

feature-friday-#1 mail
  static/mail/2023/feature-friday-#1
Labels: none

Rename feature-friday-#1 to feature-friday-#1.html
  static/mail/2023/feature-friday-#1.html
Labels: none

padding for the lower grid
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

Change multiple Active navlinks
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Changed the link in docker-extension-meshery.js
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: none

updated issue templates
  .github/ISSUE_TEMPLATE/blog.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/community_member_profile.md
  .github/ISSUE_TEMPLATE/engagement.md
  .github/ISSUE_TEMPLATE/events.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/landscape.md
  .github/ISSUE_TEMPLATE/learn_layer5.md
  .github/ISSUE_TEMPLATE/news.md
  .github/ISSUE_TEMPLATE/writing.md
Labels: area/ci

feat:added scrollbar
  src/sections/app.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

created index.mdx file and added frontmatter
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

added images
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/learning-paths-architechture.png
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/learning-paths.png
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/learning_architechture.webp
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/service-mesh-available.webp
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/service-mesh-for-devs.webp
Labels: area/blog

added content of blog
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

fixed link
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: none

fixed link
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: none

update recognition
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Rename feature-friday-#1.html to feature-friday.html
  static/mail/2023/feature-friday.html
Labels: none

fix: remove hashtag char from url
  static/mail/2023/feature-friday-01.html
Labels: none

add-member
  src/collections/members/hetvi-soni/hetvi-soni.webp
  src/collections/members/hetvi-soni/index.mdx
Labels: area/community

fix: events, workshops, meetups sort datewise
  src/sections/Events/index.js
Labels: none

Used white needle version of SMP dark-logo
  src/sections/Home/Projects-home/index.js
Labels: none

fixed Issue Template Updates for Figma link #11
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/news.md
Labels: area/ci

added book a demo button
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
Labels: area/resources

changed author name
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

Update src/collections/members/meyazhagan/index.mdx
  src/collections/members/meyazhagan/index.mdx
Labels: area/community

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
