Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

replaced Lee's photos
  src/sections/Community/index.js
Labels: none

Create index.mdx
  src/collections/blog/2024/Contributing as a designer/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2024/Contributing as a designer/index.mdx
Labels: area/blog

uploaded header image
  src/collections/blog/2024/Contributing as a designer/header-image.svg
Labels: area/blog

Update index.mdx
  src/collections/blog/2024/Contributing as a designer/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/blog/2024/Contributing as a designer/index.mdx
Labels: area/blog

GIF added and content updated
  src/sections/OrchestrationManagement/images/deploy-designs.gif
  src/sections/OrchestrationManagement/images/self-service-and-integration.gif
  src/sections/OrchestrationManagement/images/validate.gif
  src/sections/OrchestrationManagement/index.js
Labels: none

page title updated
  src/sections/OrchestrationManagement/index.js
Labels: none

hero image updated and light mode issue fixed in orchestration page
  src/components/Features/images/orchestration-light.svg
  src/sections/OrchestrationManagement/index.js
Labels: none

spacing issue fixed in svg
  src/components/Features/images/orchestration-light.svg
Labels: none

Update index.mdx
  src/collections/blog/2024/Contributing as a designer/index.mdx
Labels: area/blog

improve smoothness of scroll-to-top transition #5243
  src/sections/FeatureHero/index.js
Labels: none

Delete src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
Labels: project/meshmap

Delete src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

improve smoothness of scroll-to-top transition issue #5243
  src/sections/FeatureHero/index.js
Labels: none

404 fixes
  gatsby-node.js
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/collections/blog/2020/2020-07-03-my-meshy-journey/index.mdx
  src/collections/blog/2020/2020-07-18-service-mesh-patterns-for-multitenancy/index.mdx
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/events/kubecon-NA-2020/index.mdx
  src/collections/integrations/meshery-operator/index.mdx
Labels: area/blog, area/events, area/site-config, project/meshery

Know more to Learn More
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/cta-performance.js
Labels: none

converting image from PNG to SVG
  src/collections/blog/2023/Load-Generation-Load-Balancing/Layer5.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/Layer5.svg
  src/collections/blog/2023/Load-Generation-Load-Balancing/MeshMap.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/MeshMap.svg
  src/collections/blog/2023/Load-Generation-Load-Balancing/index.md
Labels: area/blog

svg image
  src/collections/blog/2023/Load-Generation-Load-Balancing/MeshMap.svg
Labels: area/blog

added bg to 17.svg
  src/sections/Community/Community-pictures/17.svg
Labels: none

images updated
  src/sections/Kubernetes-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/images/kubernetes-catalog-dark.svg
  src/sections/Kubernetes-Diagram/images/kubernetes-catalog-light.svg
  src/sections/Kubernetes-Diagram/images/kubernetes-icons-light.svg
  src/sections/Kubernetes-Diagram/images/kubernetes-icons.svg
  src/sections/Kubernetes-Diagram/images/kubernetes-light.svg
  src/sections/Kubernetes-Diagram/images/kubernetes.svg
  src/sections/Kubernetes-Diagram/index.js
Labels: none

fixed color from green to caribbean grean
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

all pages linked
  src/components/Features/TwoColLayout.js
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/images/kubernetes-icon.svg
Labels: none

architecture diagram linked
  src/components/Features/TwoColLayout.js
Labels: none

title added in head for architecture page
  src/pages/architecture-diagram/design-architecture-diagram/index.js
Labels: none

[Footer] Subscribe component overlaps
  src/sections/General/Footer/footer.style.js
Labels: none

The green color used for the headings on the [Collaborate] page changed to White
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

Update index.js
  src/sections/Community/index.js
Labels: none

Update 17.svg
  src/sections/Community/Community-pictures/17.svg
Labels: none

uploaded 17.svg
  src/sections/Community/Community-pictures/17.svg
Labels: none

uploaded 17.svg
  src/sections/Community/Community-pictures/17.svg
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/solr-operator/icon/color/solr-operator-color.svg
  src/collections/integrations/solr-operator/icon/white/solr-operator-white.svg
  src/collections/integrations/solr-operator/index.mdx
Labels: project/meshery

fixed category slider in integrations page
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: none

search engine result summary
  package-lock.json
  package.json
  src/components/seo.js
Labels: none

search engine summary
  package-lock.json
  package.json
  src/sections/Community/Handbook/security-vulnerabilities.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-cloudfront-controller/index.mdx
  src/collections/integrations/aws-cloudwatch-controller/index.mdx
  src/collections/integrations/aws-eks-controller/index.mdx
  src/collections/integrations/aws-elasticache-controller/index.mdx
  src/collections/integrations/aws-emrcontainers-controller/index.mdx
  src/collections/integrations/aws-iam-controller/index.mdx
  src/collections/integrations/aws-kms-controller/index.mdx
  src/collections/integrations/aws-rds-controller/index.mdx
  src/collections/integrations/aws-route53-controller/index.mdx
  src/collections/integrations/aws-route53resolver-controller/index.mdx
  src/collections/integrations/aws-s3-controller/index.mdx
  src/collections/integrations/aws-sagemaker-controller/index.mdx
  src/collections/integrations/aws-secretsmanager-controller/index.mdx
  src/collections/integrations/aws-sfn-controller/index.mdx
  src/collections/integrations/aws-sns-controller/index.mdx
  src/collections/integrations/gitlab/index.mdx
  src/collections/integrations/kanister-operator/icon/color/kanister-operator-color.svg
  src/collections/integrations/kanister-operator/icon/white/kanister-operator-white.svg
  src/collections/integrations/kanister-operator/index.mdx
Labels: project/meshery

PR Overflow issues on Layer5 website #5231 solve
  src/sections/Home/Banner-4/index.js
Labels: none

uploaded 17.png
  src/sections/Community/Community-pictures/17.png
Labels: none

Update index.js
  src/sections/Community/index.js
Labels: none

Update 14.svg
  src/sections/Community/Community-pictures/14.svg
Labels: none
