Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Final Update
  src/collections/members/hiren-timbadiya/hiren-timbadiya.webp
Labels: area/community

added learning resources blog
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/blog-title.svg
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/index.mdx
Labels: area/blog

Add Gopi Vaibhav's profile
  src/collections/members/gopi-vaibhav/index.mdx
Labels: area/community

Update index.mdx
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

Reducing the size of text on hover
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

formatted styles
  src/sections/Company/About/about.style.js
Labels: none

Rearrange order of text and images in mobile view of About section
  src/sections/Company/About/about.style.js
  src/sections/Company/About/index.js
Labels: none

improved
  src/sections/Company/About/about.style.js
  src/sections/Company/About/index.js
Labels: none

Updated community badge
  src/collections/members/gopi-vaibhav/index.mdx
Labels: area/community

Update index.mdx
  src/collections/blog/2023/2023-08-11-layer5-hashicorp-open-source/index.mdx
Labels: area/blog

fixed small errors
  src/sections/Playground/playground-CTA.js
Labels: none

added meshery playground cta
  src/collections/resources/tutorials/docker-swarm/index.mdx
  src/sections/Playground/images/meshery-title.svg
  src/sections/Playground/images/playground-bg-CTA.png
  src/sections/Playground/images/small-dots.png
  src/sections/Playground/playground-CTA.js
Labels: area/resources

fixed font color
  src/sections/Playground/playground-CTA.js
Labels: none

ananya gautam profile added to members
  src/collections/members/ananya-gautam/ananya.png
  src/collections/members/ananya-gautam/index.mdx
Labels: area/community

feat:added event
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/kickstarting_your_open_source_with_layer5.webp
Labels: area/events

update member form webhook
  src/sections/Community/Web-based-from/index.js
Labels: none

added text hierarchy , using <h3> , <strong> tags to make the page look good.
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Improving Css
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

Update index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
Labels: area/events

feat: suggested changes
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
Labels: area/events

Update index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
Labels: area/events

Apply suggestions from code review
  src/sections/Playground/playground-CTA.js
Labels: none

Rearranged images
  src/sections/Company/About/about.style.js
  src/sections/Company/About/index.js
Labels: none

replaced .png file with .webp
  src/collections/members/ananya-gautam/ananya.webp
  src/collections/members/ananya-gautam/index.mdx
Labels: area/community

change routes to /products
  gatsby-node.js
Labels: area/site-config

added space for 'A: ' also made all 'layer5' as bold
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Update index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
Labels: area/events

wording
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
Labels: area/blog

Revert "Revert "[chore] Update webhook URL for signup forms""
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

add community member profile:rex #4724
  src/collections/members/rex-joshua-ibegbu/index.mdx
  src/collections/members/rex-joshua-ibegbu/rex.webp
Labels: area/community

add community member profile:rex #4724
  src/collections/members/rex-joshua-ibegbu/index.mdx
  src/collections/members/rex-joshua-ibegbu/rex-joshua.webp
Labels: area/community

Changed the logo display style.
  src/sections/Company/Brand/Brand-components/catalog.js
  src/sections/Company/Brand/Brand-components/projectSection.style.js
Labels: none

Update index.js
  src/sections/Company/Brand/index.js
Labels: none

Fixed the responsive design of the logo display.
  src/sections/Company/Brand/Brand-components/projectSection.style.js
Labels: none

feat added news
  src/collections/news/2023/2023-08-17-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
  src/collections/news/2023/2023-08-17-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking.webp
Labels: area/news

feat added news
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking.webp
Labels: area/news

feat added news
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
Labels: area/news

Made last 3 section of Products page.
  src/assets/images/products/concentricCircle.svg
  src/pages/products/collapsible-details.js
  src/pages/products/data.js
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

Made last 3 section of Products page.
  src/pages/products/icons/collaboration.svg
  src/pages/products/icons/coming-soon.webp
  src/pages/products/icons/configuration.svg
  src/pages/products/icons/identity.svg
  src/pages/products/icons/lifecycle.svg
  src/pages/products/icons/meshmap-icon.svg
  src/pages/products/icons/notification.svg
  src/pages/products/icons/perf.svg
  src/pages/products/icons/support.svg
Labels: none

feat added news
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
Labels: area/news

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
