Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

add zooms, bounding conditions, fit and increase size of nodes
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
Labels: project/meshmap

remove bounding due to mobile view
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
Labels: project/meshmap

set ideal edge length
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
Labels: project/meshmap

[Docs] Generated documentation for Integration
  src/collections/integrations/nginx-service-mesh/icon/white/nginx-service-mesh-white.svg
Labels: project/meshery

github actions
  src/assets/images/gitops/conelight.svg
  src/assets/images/meshmap/meshmap-light-stacked.svg
  src/pages/cloud-native-management/gitops/index.js
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style
  src/sections/gitops/meshery.style.js
Labels: none

spacing
  src/sections/gitops/index.js
Labels: none

rectified the code for project menu
  src/sections/General/Navigation/navigation.style.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Layer5 brand guide added
  src/assets/images/Brand-Guide/brand-guide.png
  src/sections/Company/Brand/Brand-components/brand-guide.js
  src/sections/Company/Brand/index.js
Labels: none

added suggested ux
  src/components/Playground-popup/index.js
Labels: none

playground popup - bottom right corner
  src/components/Corner-popup/closeIcon.svg
  src/components/Corner-popup/index.js
  src/components/Corner-popup/popup.style.js
  src/components/Corner-popup/power-of-meshery.svg
  src/pages/index.js
Labels: none

Added alt tag and aria role in play button
  src/sections/Home/CloudNativeManagement/index.js
Labels: none

removed .gitpod.yml
  .gitignore
  .gitpod.yml
  src/sections/General/Navigation/utility/ScrollspyMenu.js
Labels: none

fix : issue#4265 aria-label layer5 logo
  src/sections/General/Navigation/index.js
Labels: none

Added a new member card
  .gitpod.yml
Labels: none

Added a new member card
  .gitpod.yml
  src/collections/members/savio-dias/index.mdx
  src/collections/members/savio-dias/saviodias.jpg
Labels: area/community

Maintainer's Circle may event added
  src/collections/events/maitainers-circle-2023/Maintainer-Circle.png
  src/collections/events/maitainers-circle-2023/index.mdx
Labels: area/events

Update src/collections/events/maitainers-circle-2023/index.mdx
  src/collections/events/maitainers-circle-2023/index.mdx
Labels: area/events

Update src/collections/events/maitainers-circle-2023/index.mdx
  src/collections/events/maitainers-circle-2023/index.mdx
Labels: area/events

Fixed visibility issue
  src/collections/resources/Resources.style.js
Labels: area/resources

Fixed multiple highlighting of nav-listitems
  src/sections/General/Navigation/utility/ScrollspyMenu.js
Labels: none

internship experience blog
  src/collections/blog/2023/interview-experience/azan-blog.png
  src/collections/blog/2023/interview-experience/index.mdx
Labels: area/blog

feat: updated blog
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
Labels: area/blog

edit
  src/collections/blog/2023/interview-experience/index.mdx
Labels: area/blog

thumbnail edit
  src/collections/blog/2023/interview-experience/azan-blog.png
Labels: area/blog

rename
  src/collections/blog/2023/2023-05-31-interview-experience/azan-blog.png
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

meta
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

buttons
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

syntax
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

hidden joke
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

blog js path
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

clear "change in the order of Hooks" warning
  src/sections/Meshmap/FeaturesSection/useGsapTimeline.js
Labels: project/meshmap

clear "can't update component and render" warning
  src/sections/Meshery/How-meshery-works/feature/index.js
  src/sections/Meshery/How-meshery-works/index.js
  src/sections/Meshmap/features/index.js
Labels: project/meshmap

clear "contain a matching <tr> in <table>" warning
  src/sections/Meshery/Features-Col/index.js
Labels: none

clear "Link component only for internal" warning
  src/sections/Docker-Meshery/docker-extension-meshery.js
  src/sections/Learn-Layer5/index.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Service-Mesh-Labs/index.js
  src/sections/Meshery/Meshery-integrations/Card.js
Labels: none

clear "no refs for function components" warning
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures_diagram.js
Labels: project/meshmap

clear "Use the `defaultValue` or `value`" warning
  src/components/CommonForm/index.js
Labels: none

clear "Link component only for internal link" warn
  src/components/Features-carousel/index.js
Labels: none

fix issue4305 link issue, change url link
  src/sections/Meshery/index.js
Labels: none

claar "<pre> expected text node" warning
  src/components/Terminal/index.js
Labels: none

logo color
  src/collections/blog/2023/2023-05-31-interview-experience/index.mdx
Labels: area/blog

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
