Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Fixed FAQ title small size on phones
  src/sections/General/Faq/faqSection.style.js
Labels: none

Added Screenshots
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Added screenshots
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Update index.mdx
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Added sistent design project
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Update changes
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/design-dark.png
  src/collections/integrations/_images/design.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/_images/visualizer-dark.png
  src/collections/integrations/_images/visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

feat: fixed images and restricted author bio's word limit
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
  src/sections/Blog/Blog-single/author.js
Labels: area/blog

fix-checks
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

fix #4917 Added Community Handbook link in the footer
  src/sections/General/Footer/index.js
Labels: none

Added some suggested topics under Writing program in Community Handbook
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

Added Twitter Logo
  src/sections/Community/Member-single/index.js
Labels: none

Change site link
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Added Navigation for "Handling PRs Made Without Being Assigned"
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

updated screenshot links in index.mdx for the folder cd-pipeline-operator
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/akri/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
Labels: project/meshery

Updated CONTRIBUTING.md after reforking repo to remove unrelated commits in the contributing/sandramsc/4932 branch
  CONTRIBUTING.md
Labels: none

Added Navigation for "Handling PRs Made Without Being Assigned" in handbook
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

update-meshmates
  src/collections/members/gaurav-chadha/index.mdx
  src/collections/members/naureen-imran/index.mdx
Labels: area/community

[Docs] Generated documentation for Integration
  src/collections/integrations/kyverno-operator/icon/color/kyverno-operator-color.svg
  src/collections/integrations/kyverno-operator/icon/white/kyverno-operator-white.svg
  src/collections/integrations/kyverno-operator/index.mdx
Labels: project/meshery

event date, time and joining link added
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Added new section "How to Submit and Review Your Writing?" under writing program
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

Update label-triggered.yml
  .github/workflows/label-triggered.yml
Labels: area/ci

Newcomer form Typo Fixed
  src/sections/Community/Web-based-from/index.js
Labels: none

Added 'book demo' btn in navigation bar
  src/sections/General/Navigation/index.js
Labels: none

Added Antonette Caldwell as Maintainer of Sistent in Repository Overview under Community Handbook
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Added Antonette Caldwell as Maintainer of Sistent in Repository Overview under Community Handbook
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

added issues Doc of Hacktoberfest 2023 with the link of the issues page under the Resources section of Hacktoberfest 2023
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

webhook-september
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Update .github/workflows/label-triggered.yml
  .github/workflows/label-triggered.yml
Labels: area/ci

Update .github/workflows/label-triggered.yml
  .github/workflows/label-triggered.yml
Labels: area/ci

hacktoberfest 2023 update
  src/assets/images/partners/intel-grey.svg
  src/assets/images/partners/intel_white.svg
  src/collections/blog/2023/2023-09-05-layer5-and-intel-collaboration/index.mdx
Labels: area/blog

add-links
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

hacktoberfest image
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-with-layer5.png
Labels: area/blog

Update src/collections/events/2023/hacktoberfest-2023/index.mdx
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Update src/collections/events/2023/hacktoberfest-2023/index.mdx
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

Update src/collections/events/2023/hacktoberfest-2023/index.mdx
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

hacktobefest image
  src/collections/blog/2023/09-28-hacktoberfest-2023/layer5-hacktoberfest-2023.png
Labels: area/blog

hack
  src/collections/blog/2023/09-28-hacktoberfest-2023/layer5-event-hacktoberfest2023.png
Labels: area/blog

hack
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
Labels: area/blog

Solved the NewCommers Error
  src/sections/Community/Web-based-from/index.js
Labels: none

add ui-ux badge to member's profile
  src/collections/members/rex-joshua/index.mdx
Labels: area/community

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
