Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Added tooltip hover effect on the badges in individual member profile page
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Added tooltip hover effect on the badges in individual member profile page
  src/sections/Community/Member-single/index.js
Labels: none

Update config.yml
  .github/config.yml
Labels: area/ci

reduce tags
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/collections/blog/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-07-18-service-mesh-patterns-for-multitenancy/index.mdx
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
Labels: area/blog

Fixed all Grammatical typo's in README.md
  README.md
Labels: none

Update index.js
  src/sections/Community/Web-based-from/index.js
Labels: none

changes
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: none

changes made new
  src/collections/integrations/_images/Screenshot 2023-10-07 025707.png
  src/collections/integrations/_images/Screenshot 2023-10-07 031641.png
  src/collections/integrations/_images/Screenshot 2023-10-07 033850.png
  src/collections/integrations/_images/Screenshot 2023-10-07 034156.png
Labels: project/meshery

Update index.mdx
  src/collections/members/udit-takkar/index.mdx
Labels: area/community

Revert "Revert "[chore] Update webhook URL for signup forms""
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Fix: Removed unnecessary curly bracket
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Centered the tooltip
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Update index.mdx
  src/collections/members/aritra-majumder/index.mdx
Labels: area/community

Tooltip text size increased
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Updated README.md
  README.md
Labels: none

Rectified the grammer issue as mentioned in the issue no 5010
  src/sections/Community/index.js
Labels: none

removed Writing Programs issue no :#4917
  src/sections/General/Footer/index.js
Labels: none

Added the space in between the full stop and the next word
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
Labels: none

fixed_grammar_adjustment
  src/sections/Community/index.js
Labels: none

new webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Unrelated Inter Page Navigation Removed
  src/sections/Community/Handbook/community.js
Labels: area/handbook

Remove unnecessary changes and added the space in between the full stop and the next word
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
Labels: none

Added screenshots for epam integration
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/admin-console-operator/index.mdx
Labels: project/meshery

add green glow hover effect to cards
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

Added tooltip hover on social links
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Added Screenshots for Meshmap Consul Integration
  src/collections/integrations/_images/meshmap_dark_designer.png
  src/collections/integrations/_images/meshmap_dark_visualizer.png
  src/collections/integrations/_images/meshmap_light_designer.png
  src/collections/integrations/_images/meshmap_light_visualizer.png
Labels: project/meshery

Added breakpoints into the theme
  src/sections/Projects/Project-grid/projectGrid.style.js
  src/theme/modern/themeStyles.js
Labels: none

I added description to the templates/news-single.js file
  src/templates/news-single.js
Labels: area/news

Logo has been changed
  src/assets/images/meshery/meshery-logo-complete-white-side.svg
Labels: none

fix-maintainer-profile-link
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

description prop added in news-single.js
  src/templates/news-single.js
Labels: area/news

Update index.js
  src/sections/Community/Members-grid/index.js
Labels: none

Added files to index.mds
  src/collections/integrations/consul/index.mdx
Labels: project/meshery

Member profile of archit sharma added
  src/collections/members/archit-sharma/Archit-Sharma.webp
  src/collections/members/archit-sharma/index.mdx
Labels: area/community

modified screenshots
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/cri-o/index.mdx
Labels: project/meshery

Added Screenshot for Camel-k
  src/collections/integrations/_images/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/meshmap-designer-camel-k.png
  src/collections/integrations/_images/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/meshmap-visualizer-camel-k.png
  src/collections/integrations/camel-k/index.mdx
Labels: project/meshery

update-banner-video
  src/sections/Home/Banner-4/index.js
Labels: none

Unwanted changes reverted
  src/assets/images/meshery/meshery-logo-complete-white-side.svg
Labels: none

added akshay sharma profile to the members
  src/collections/members/akshay-sharma/akshay-sharma.jpeg
  src/collections/members/akshay-sharma/index.mdx
Labels: area/community

changed the image format
  src/collections/members/akshay-sharma/akshay-sharma.jpeg
  src/collections/members/akshay-sharma/akshay-sharma.webp
  src/collections/members/akshay-sharma/index.mdx
Labels: area/community
