Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Update footer.style.js
  src/sections/General/Footer/footer.style.js
Labels: none

Delete src/collections/members/suhail-khan directory
  src/collections/members/suhail-khan/index.mdx
  src/collections/members/suhail-khan/suhail-khan.webp
Labels: area/community

adding-badges-section-in-newcomers-page
  src/sections/Community/Newcomers-guide/index.js
Labels: none

styling changes
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

image and content changed
  src/assets/images/products/mesheryRangeLight.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

error resolved
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

Apply suggestions from code review
  src/sections/Community/Newcomers-guide/index.js
Labels: none

gave final touchup
  src/assets/images/products/circle_dark.svg
  src/assets/images/products/circle_light.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

Added "Handling PRs Made Without Being Assigned" section at "layer5/src/sections/Community/Handbook/contributing.js"
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

adding-badges-section-in-newcomers-members-page
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Members-grid/membersGrid.style.js
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
  src/sections/Community/Newcomers-guide/index.js
Labels: none

playground popup updated
  src/components/Corner-popup/closeIcon.svg
  src/components/Corner-popup/index.js
  src/components/Corner-popup/popup.style.js
  src/components/Corner-popup/power-of-meshery-small.png
Labels: none

increased width of popup
  src/components/Corner-popup/popup.style.js
Labels: none

Update src/components/Corner-popup/index.js
  src/components/Corner-popup/index.js
Labels: none

styling fixes
  src/pages/products/pricing.style.js
Labels: none

final fixes
  src/pages/products/pricing.style.js
Labels: none

added description prop to books,careers,intergrations,workshops pages
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/integrations.js
  src/templates/workshop-single.js
Labels: area/careers, area/learn

minor changes
  src/assets/images/products/MesheryRange.svg
  src/assets/images/products/MesheryRangeDark.svg
  src/assets/images/products/circle_light.svg
  src/assets/images/products/mesheryRangeLight.svg
  src/assets/images/products/productHero.svg
  src/assets/images/products/product_hero_light.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

minor changes
  src/pages/products/index.js
Labels: none

fixing-alignment-of-badges
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Members-grid/membersGrid.style.js
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
  src/sections/Community/Newcomers-guide/index.js
Labels: none

fixed some UI bugs
  src/assets/images/products/MesheryRange.svg
  src/assets/images/products/MesheryRangeDark.svg
  src/assets/images/products/fluent_desktop-mac.png
  src/assets/images/products/fluent_desktop-mac.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

Update index.mdx
  src/collections/members/vaibhav-malik/index.mdx
Labels: area/community

minor-fix
  src/sections/Community/Members-grid/membersGrid.style.js
Labels: none

Revert "[Chore] Update webhook"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

Revert "[Chore] Update member form webhook"
  src/sections/Community/Web-based-from/index.js
Labels: none

Added Member Profile of Yash Sharma
  src/collections/members/yash-sharma/index.mdx
  src/collections/members/yash/index.mdx
  src/collections/members/yash/yash.webp
Labels: area/community

playground
  src/sections/General/Navigation/index.js
Labels: none

Update index.mdx
  src/collections/members/freedisch-thibaut-batale/index.mdx
Labels: area/community

fix :low text contrast and istio box
  .gitpod.yml
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fix: low contrast text an istio box
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fix: low contrast text an istio box
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

fix: low contrast text an istio box
  .gitignore
Labels: none

Delete .gitpod.yml
  .gitpod.yml
Labels: none

Fixing the line height issue in Five and friends CTA
  src/sections/Adventures-Callout/discuss.style.js
Labels: none

fixing the Line height issue in Five and Friends CTA
  src/sections/Adventures-Callout/discuss.style.js
Labels: none

fixing the full text for call to action not visible in light mode
  src/components/ScenarioCard/ScenarioCard.style.js
Labels: none

cloud to meshery
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
Labels: none

adding-minor-fixes
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Members-grid/membersGrid.style.js
Labels: none

Representation of Writing Program #4917 Added Handbook
  src/assets/data/faq/index.js
  src/assets/discuss/html/footer.html
Labels: none

Representation of Writing Program #4917 Added Handbook
  src/sections/Community/Handbook/programs-data.js
Labels: area/handbook

Representation of Writing Program #4917 Added Handbook
  src/assets/data/faq/index.js
  src/assets/discuss/html/footer.html
Labels: none
