Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: none

Update index.mdx
  src/collections/programs/mlh-2020/index.mdx
Labels: area/careers

Update lfx-2021.mdx
  src/collections/programs/lfx-2021/lfx-2021.mdx
Labels: area/careers

Enhance Learn Card
  src/sections/Learn/LearnPage-Sections/learn.js
Labels: none

fix: add margin to prevent overlapping element
  src/sections/Meshmap/meshmap.style.js
Labels: project/meshmap

fixed issue related github logo
  src/assets/discuss/css/footer.css
Labels: none

I have a created a profile of usman siddique w/signoff
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

Add changes suggested by reviewers
  src/sections/Learn/Book-single/BookSingle.style.js
Labels: none

Update index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

Revert "test commit"
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

feat: added meshery catalog badge to the recognition section
  src/assets/images/meshery/meshery-catalog.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

meshery catalog
  src/assets/images/meshery/meshery-catalog.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

test commit
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

meshery Signed-off-by: Sambhav Gupta sambhavgupta0705@gmail.com
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Revert "feat: added meshery catalog badge to the recognition section"
  src/assets/images/meshery/meshery-catalog.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Tweak after maintainer review2
  src/sections/Learn/Book-single/BookSingle.style.js
Labels: none

changed integrations graphic
  src/sections/Docker-Meshery/docker-extension-CTA.js
  src/sections/Playground/images/playground-feature-2.svg
Labels: none

from service mesh to cloud native
  src/assets/discuss/html/footer.html
  src/pages/index.js
  src/sections/General/Footer/index.js
Labels: none

indentation
  src/sections/Docker-Meshery/docker-extension-CTA.js
Labels: none

Update dependencies
  .github/workflows/lighthouseci.yml
Labels: area/ci

Update src/assets/data/faq/index.js
  src/assets/data/faq/index.js
Labels: none

Add catalog image
  .github/assets/images/catalog/catalog.svg
Labels: area/ci

Add catalog description
  README.md
Labels: none

Add catalog image
  .github/assets/images/catalog/catalog.svg
  README.md
Labels: area/ci

Update dark mode catalog image
  src/assets/images/catalog/catalog-dark.svg
Labels: none

Use html img tag instead of gatsby-plugin-image component
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
Labels: none

nav
  src/assets/data/faq/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
Labels: none

init
  src/collections/blog/2023/2023-17-23-introducting-the-meshery-catalog/index.mdx
Labels: area/blog

Move 550px media query after the 660px media query
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
Labels: none

alex
  src/sections/Pricing/review-slider.js
Labels: none

fix: add word-wrap to terminal text and set max-width
  src/components/Terminal/Terminal.style.js
Labels: none

Add CNCF image component for dark mode
  src/sections/Partners/partners.js
Labels: none

Update README.md
  README.md
Labels: none

fix: reverted the font size to 12px in terminal
  src/components/Terminal/Terminal.style.js
Labels: none

style: update quote position property
  src/sections/Home/Service-mesh-focussed/service-mesh-focussed.style.js
Labels: none

Update index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

added 'private' label, disabled link for private repo
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
