Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

uploaded 14.png
  src/sections/Community/Community-pictures/14.png
Labels: none

Update index.js
  src/sections/Community/index.js
Labels: none

k8s page linked from architecture diagram page
  src/components/RelatedPicks/index.js
  src/sections/ArchitectureDiagram/index.js
Labels: none

Update index.js
  src/sections/Community/index.js
Labels: none

uploaded five.svg
  src/assets/images/careers/Five.svg
Labels: none

Create index.mdx
  src/collections/blog/2023/2023-05-05-meet-the-maintainer-Hussaina Begum/index.mdx
Labels: area/blog

Delete src/collections/blog/2023/2023-05-05-meet-the-maintainer-Hussaina Begum directory
  src/collections/blog/2023/2023-05-05-meet-the-maintainer-Hussaina Begum/index.mdx
Labels: area/blog

Create index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/index.mdx
Labels: area/blog

Create MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/MeetTheMaintainer.style.js
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/index.mdx
Labels: area/blog

Uploaded image for Hussaina Begum
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/hussaina-begum-layer5-maintainer.png
Labels: area/blog

Create index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

Delete src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

Create index.mdx
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

Added maintainer image
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/aisuko-li-layer5-maintainer.png
Labels: area/blog

Create MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog

changes
  src/reusecore/Layout/Row.js
Labels: none

k8s page linked from architecture diagram page
  src/components/RelatedPicks/index.js
  src/sections/ArchitectureDiagram/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/gatekeeper/index.mdx
Labels: project/meshery

kuberetes page content updated
  src/sections/Kubernetes-Diagram/diagram.js
Labels: none

Revert "[chore] Update Signup Form Webhook"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

content updated for all pages
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/diagram.js
Labels: none

cards background updated
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

gradient updated
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

Remove MeetTheMaintainer.style.js file
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog

Create MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog

change-header-color-to-caribbean-green
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/individual-integrations.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aad-pod-identity/index.mdx
Labels: project/meshery

box-shadow removed
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

Kubernerets page content updated
  src/sections/Kubernetes-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/images/config.gif
  src/sections/Kubernetes-Diagram/images/deploy.gif
  src/sections/Kubernetes-Diagram/images/drag-drop.gif
  src/sections/Kubernetes-Diagram/images/icon-library.gif
  src/sections/Kubernetes-Diagram/index.js
Labels: none

aws page content updated
  src/sections/AWS-Diagram/diagram.js
  src/sections/AWS-Diagram/images/config.gif
  src/sections/AWS-Diagram/images/deploy.gif
  src/sections/AWS-Diagram/images/drag-drop.gif
  src/sections/AWS-Diagram/images/icon-library.gif
  src/sections/AWS-Diagram/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aad-pod-identity/index.mdx
Labels: project/meshery

changed image in careers page
  src/sections/Careers/index.js
Labels: none

uploaded five.png
  src/assets/images/careers/Five.png
Labels: none

switched image to png
  src/sections/Careers/index.js
Labels: none

Update index.js
  src/sections/Careers/index.js
Labels: none

README added to CTA's
  src/components/AdventuresVol/README.md
  src/components/BGImage/README.md
  src/components/Call-To-Actions/README.md
  src/components/Card-Outline/README.md
  src/components/Card/README.md
  src/components/Case-study-banner/README.md
  src/components/CodeBlock/README.md
  src/components/ColorBox/README.md
Labels: none

options color fix
  src/components/CommonForm/commonForm.style.js
  src/components/CommonForm/index.js
Labels: none

Removed index.mdx
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

Removed MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog
