Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

lowercase-dirname
  src/collections/integrations/_images/cortex/Cortex-design-dark.png
  src/collections/integrations/_images/cortex/Cortex-design-light.png
  src/collections/integrations/_images/cortex/Cortex-visualise-dark.png
  src/collections/integrations/_images/cortex/Cortex-visualise-light.png
  src/collections/integrations/cortex/index.mdx
Labels: project/meshery

feat: change ayabank to ayapay
  src/assets/images/partners/aya_bank_black.svg
  src/assets/images/partners/aya_pay_black.svg
  src/sections/Home/Partners-home/partners-home-data.js
Labels: none

fetch-data-using-query
  gatsby-config.js
  src/collections/use-cases/commenting/index.mdx
  src/collections/use-cases/whiteboarding/index.mdx
  src/sections/UseCases/index.js
Labels: area/site-config

initialise-use-cases-collections
  gatsby-config.js
  src/collections/use-cases/aws-diagramming/aws-diagramming.mdx
  src/collections/use-cases/aws-diagramming/aws-light.svg
  src/collections/use-cases/aws-diagramming/aws.svg
  src/collections/use-cases/gcp-diagramming/gcp-diagram-dark.svg
  src/collections/use-cases/gcp-diagramming/gcp-diagram-light.svg
  src/collections/use-cases/gcp-diagramming/gcp-diagramming.mdx
  src/collections/use-cases/kubernetes-diagramming/kubernetes-diagramming.mdx
  src/collections/use-cases/kubernetes-diagramming/kubernetes-light.svg
  src/collections/use-cases/kubernetes-diagramming/kubernetes.svg
Labels: area/site-config

remove-hardcoded-data-from-sections
  src/sections/AWS-Diagram/diagram.js
  src/sections/ArchitectureDiagram/index.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/diagram.js
  src/sections/OrchestrationManagement/index.js
Labels: none

enhance-component-to-dynamically-query-data-from-collections
  src/collections/use-cases/commenting/index.mdx
  src/collections/use-cases/whiteboarding/index.mdx
  src/components/RelatedPicks/index.js
Labels: none

chore: published true
  src/collections/members/Ripal_Handoo/RipalHandoo.webp
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

Delete src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: none

Diagramming and Orchestration component added to Integration pages
  src/components/specs/data-card.js
  src/components/specs/images/configuration-icon.svg
  src/components/specs/images/lifecycle-icon.svg
  src/components/specs/images/performance-icon.svg
  src/components/specs/index.js
  src/components/specs/specs.style.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: none

Update index.mdx
  src/collections/members/pranav-singh/index.mdx
Labels: area/community

fixed the font color
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/MeetTheMaintainer.style.js
Labels: area/blog

[Docs] Generated documentation for Integration
  src/collections/integrations/apisix-ingress-controller/icons/components/apisix-global-rule/icons/white/apisix-global-rule-white.svg
  src/collections/integrations/gcp/icons/white/gcp-white.svg
Labels: project/meshery

chore: status to active
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

position updated
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

Update and rename index.mdx to index.mdx
  src/collections/members/Ripul_Handoo/index.mdx
Labels: area/community

fix
  src/collections/members/Ripul_Handoo/RipulHandoo.webp
  src/collections/members/Ripul_Handoo/index.mdx
Labels: area/community

component update
  src/components/specs/data-card.js
Labels: none

Updated links and created a folder
  src/collections/integrations/containerd/images/meshmap-containerd-updated-dark.png
  src/collections/integrations/containerd/images/meshmap-containerd-updated-light.png
  src/collections/integrations/containerd/images/meshmap-containerd-views-dark.png
  src/collections/integrations/containerd/images/meshmap-containerd-views-light.png
  src/collections/integrations/containerd/index.mdx
Labels: project/meshery

improve integration honerycomb structure and effects
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

fix-conflicts
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/Component.style.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/ComponentsGrid.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/individual-integrations.style.js
Labels: none

Kubernetes multi-cluster page created
  src/pages/solutions/kubernetes-multi-cluster-operation/index.js
  src/sections/SolutionHero/featureHero.style.js
  src/sections/SolutionHero/index.js
  src/sections/kubernetes-multi-cluster/features.js
  src/sections/kubernetes-multi-cluster/images/meshsync.svg
  src/sections/kubernetes-multi-cluster/index.js
  src/sections/kubernetes-multi-cluster/kube.style.js
Labels: none

fix: logo width issue
  src/sections/General/Navigation/navigation.style.js
Labels: none

fix: logo width issue : Signed-off-by: Vivek Kumar vivekartist9999@gmail.com
  src/sections/General/Navigation/navigation.style.js
Labels: none

fix: logo issue
  src/sections/General/Navigation/navigation.style.js
Labels: none

fix: logo issue
  src/sections/General/Navigation/navigation.style.js
Labels: none

fixed the bg theme of the row wrapper
  src/reusecore/Layout/Row.js
Labels: none

Solutions pages restructure
  src/components/Features/TwoColLayout.js
  src/pages/solutions/architecture-diagram/index.js
  src/pages/solutions/gitops/index.js
  src/pages/solutions/gitops/performance-management.js
  src/pages/solutions/gitops/snapshot.js
  src/pages/solutions/orchestration-management/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/gitops/index.js
Labels: none

screenshots added
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-design-dark.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-design-light.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-visualizer-dark.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-visualizer-light.png
  src/collections/integrations/open-policy-agent-(opa)/index.mdx
Labels: project/meshery

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
