Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Create MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog

Created and added content to index.mdx
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

cleared inactive contributors from repository-overview table
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Create MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/MeetTheMaintainer.style.js
Labels: area/blog

Upload profile image
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/hussaina-begum-layer5-maintainer.png
Labels: area/blog

Added blog content to index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/index.mdx
Labels: area/blog

Created an .html doc
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/inndex.mdx.html
Labels: area/blog

Delete inndex.mdx.html
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/inndex.mdx.html
Labels: area/blog

Created an .docx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/inndex.mdx.docx
Labels: area/blog

Rename inndex.mdx.docx to inndex.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/inndex.mdx
Labels: area/blog

Delete inndex.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/inndex.mdx
Labels: area/blog

more README added to CTAs
  src/components/CommonForm/README.md
  src/components/CommunityCallCard/README.md
  src/components/ConformanceTest-Table/README.md
  src/components/Contact-Modal/README.md
  src/components/ContactCard-unsubscribe/README.md
  src/components/ContactCard/README.md
Labels: none

new headline and sub heading
  src/sections/Home/FeaturesContainer/index.js
Labels: none

highlighted visual tools text
  src/sections/Home/FeaturesContainer/index.js
Labels: none

update
  src/components/ContactForm/README.md
  src/components/Corner-popup/README.md
  src/components/Features/README.md
Labels: none

Created Meet the Maintainer: Hussaina Begum & Meet the Maintainer: Aisuko Li directories
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/aisuko-li-layer5-maintainer.png
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/MeetTheMaintainer.style.js
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/hussaina-begum-layer5-maintainer.png
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/index.mdx
Labels: area/blog

testing-components
  src/collections/integrations/camel-k/index.mdx
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/templates/integrations.js
Labels: project/meshery

add closing </Link>
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
Labels: area/blog

Added missing div around interviewer
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/index.mdx
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/index.mdx
Labels: area/blog

fix community memebr form
  src/sections/Community/Web-based-from/index.js
Labels: none

Fix for dark mode bug
  src/collections/blog/2023/2023-04-15-meet-the-maintainer-aisuko-li/MeetTheMaintainer.style.js
Labels: area/blog

Fix for dark mode bug
  src/collections/blog/2023/2023-05-15-meet-the-maintainer-hussaina-begum/MeetTheMaintainer.style.js
Labels: area/blog

test-integrations
  src/collections/integrations/camel-k/index.mdx
  src/collections/integrations/fluentbit-operator/index.mdx
  src/collections/integrations/fluentbit-skt/index.mdx
  src/collections/integrations/fluentd-operator/index.mdx
  src/collections/integrations/fluentd/index.mdx
  src/collections/integrations/karmada/index.mdx
  src/collections/integrations/karpenter/index.mdx
  src/collections/integrations/mattermost-operator/index.mdx
  src/collections/integrations/piraeus datastore/index.mdx
  src/collections/integrations/piraeus-datastore/index.mdx
  src/components/Case-study-banner/index.js
  src/sections/gitops/PerformanceManagementPage.js
  src/templates/integrations.js
Labels: project/meshery

add-removed-camel-k-components
  src/collections/integrations/camel-k/index.mdx
Labels: project/meshery

update
  src/components/FeatureUseCard/README.md
  src/components/Features-carousel/README.md
  src/components/HandbookCard/README.md
  src/components/handbook-navigation/README.md
Labels: area/handbook

cubefs integrations
  CubeFsMeshLigh.png
  CubeFsVisuLight.png
  CubefsVisuDark.png
  cubeFsMesgDark.png
Labels: none

added the screen shots
  src/collections/integrations/_images/cubefs/CubeFsMeshLigh.png
  src/collections/integrations/_images/cubefs/CubeFsVisuLight.png
  src/collections/integrations/_images/cubefs/CubefsVisuDark.png
  src/collections/integrations/_images/cubefs/cubeFsMesgDark.png
Labels: project/meshery

gcp gif added and some minor content changes to other pages
  src/components/RelatedPicks/style.js
  src/sections/AWS-Diagram/index.js
  src/sections/ArchitectureDiagram/index.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/GCP-Diagram/images/gcp-deploy.gif
  src/sections/GCP-Diagram/images/gcp-drag-drop.gif
  src/sections/GCP-Diagram/index.js
  src/sections/Home/FeaturesContainer/style.js
  src/sections/Kubernetes-Diagram/index.js
  src/sections/Meshery/Features-Col/data/index.js
  src/sections/OrchestrationManagement/images/environments.gif
  src/sections/OrchestrationManagement/index.js
Labels: none

commented gcp diagram+configure section temporary
  src/sections/GCP-Diagram/diagram.js
Labels: none

commented unwanted import
  src/sections/GCP-Diagram/diagram.js
Labels: none

my commit message w/signoff
  package-lock.json
  src/collections/members/Ripul-Handoo/Ripal_Handoo.webp
  src/collections/members/Ripul-Handoo/index.mdx
Labels: area/community

restored homepage heading and changed architecture diagram features section heading
  src/sections/ArchitectureDiagram/index.js
  src/sections/ArchitectureDiagram/whiteboard.style.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

added the mdxfile
  src/collections/members/ahmed-jamil/index.mdx
Labels: area/community

added the the image for ahmed jamil
  src/collections/members/ahmed-jamil/ahmed-jamil.webp
Labels: area/community

Profile: Ripal Handoo
  src/collections/members/Ripal_Handoo/Ripal_Handoo.webp
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

Profile: Ripal Handoo
  src/collections/members/Ripal_Handoo/Ripal_Handoo.webp
  src/collections/members/Ripal_Handoo/index.mdx
Labels: area/community

Updated imags in containd section
  src/collections/integrations/_images/meshmap-containerd-updated-dark.png
  src/collections/integrations/_images/meshmap-containerd-updated-light.png
  src/collections/integrations/_images/meshmap-containerd-views-dark.png
  src/collections/integrations/_images/meshmap-containerd-views-light.png
  src/collections/integrations/containerd/index.mdx
Labels: project/meshery

Fixing the screen shots
  src/collections/integrations/cubefs/index.mdx
Labels: project/meshery

pricing: bolder
  src/components/PlanCard/planCard.style.js
Labels: none

fix merge conflict
  src/collections/members/shivam-sood/index.mdx
Labels: area/community
