Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

delete member
  src/collections/members/azanul-haque/azanul-haque.webp
  src/collections/members/azanul-haque/index.mdx
Labels: area/community

from merge with layer5.io master
  src/collections/service-mesh-workshops/2018_velocity_london/velocity.webp
Labels: area/learn

resolve build merge conflict file issue.
  src/sections/Partners/partners.js
Labels: none

color change
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

Added Flomesh Service Mesh to landscape
  src/assets/images/service-mesh-icons/fsm.svg
  src/collections/landscape/load-balancer.js
  src/collections/landscape/meshes.js
  src/collections/landscape/non-functional.js
  src/collections/landscape/proxies.js
Labels: area/landscape

Updated Logo to remove text
  src/assets/images/service-mesh-icons/fsm.svg
Labels: none

fix coming soon image
  src/sections/Pricing/data.js
Labels: none

Different icon size on connect-with-us page #4306
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

meshmap design page changes
  src/sections/Meshmap/Meshmap-design/Meshmap-design-features/index.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/images/background-dots-pattern.svg
  src/sections/Meshmap/Meshmap-design/images/integration-image-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/plus-sign.svg
  src/sections/Meshmap/Meshmap-design/images/underline.svg
  src/sections/Meshmap/Meshmap-design/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-features-carousel.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-hero.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/theme/app/themeStyles.js
Labels: type/core-styls, project/meshmap

update for webp
  package-lock.json
  package.json
Labels: none

update velocity logo
  src/collections/service-mesh-workshops/2018_velocity_london/index.mdx
  src/collections/service-mesh-workshops/2018_velocity_london/velocity-new.webp
  src/collections/service-mesh-workshops/2018_velocity_london/velocity.webp
Labels: area/learn

added svg enhancements
  src/sections/Meshmap/Meshmap-design/images/background-dots-pattern.svg
  src/sections/Meshmap/Meshmap-design/images/plus-sign-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/plus-sign.svg
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

design page enhancements
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/images/background-dots-pattern.svg
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

fix: case sensitivity
  src/collections/service-mesh-workshops/2018_velocity_london/Velocity.webp
  src/collections/service-mesh-workshops/2018_velocity_london/velocity.webp
Labels: area/learn

by deafult
  src/collections/service-mesh-workshops/2018_velocity_london/velocity.webp
Labels: area/learn

fixed images
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
Labels: none

power-of-meshery
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/index.mdx
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/power-of-meshery.png
Labels: area/blog

feat: WIP
  src/pages/cloud-native-management/gitops/index.js
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style.js
Labels: none

blog init
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/index.mdx
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-platform-engineering.png
Labels: area/blog

init blog
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/index.mdx
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-cta.png
  src/components/Call-To-Actions/CTA_FullWidth/index.js
Labels: area/blog

spacing
  src/sections/gitops/index.js
Labels: none

blog
  src/collections/blog/2023/2023-01-18-what-is-platform-engineering/meshery-platform-engineering.svg
Labels: area/blog

github actions
  src/assets/images/gitops/conelight.svg
  src/assets/images/meshmap/meshmap-light-stacked.svg
  src/pages/cloud-native-management/gitops/index.js
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style
  src/sections/gitops/meshery.style.js
Labels: none

WIP
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style.js
Labels: none

enhanced responsiveness
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-features-carousel.js
Labels: project/meshmap

award-badges-to-select-members-and-add-meshmap-badge
  CONTRIBUTING.md
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/aaditya-narayan-subedy/index.mdx
  src/collections/members/abdullah-rafi/index.mdx
  src/collections/members/gaganpreet-kaur-kalsi/index.mdx
  src/collections/members/karan-thakur/index.mdx
  src/collections/members/naureen-imran/index.mdx
  src/collections/members/nishant/index.mdx
  src/collections/members/pranav-singh/index.mdx
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/shivam-sood/index.mdx
  src/collections/members/uzair-shaikh/index.mdx
  src/collections/members/vivek-vishal/index.mdx
  src/collections/members/yash-sharma/index.mdx
  src/pages/community/members.js
  src/sections/Community/Member-single/index.js
Labels: area/community

fixed images
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
Labels: none

fixed second image issue
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
Labels: none

Update src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
Labels: area/blog

add member profiles for Ritik and Udit
  src/collections/members/ritik-saxena/index.mdx
  src/collections/members/ritik-saxena/ritik-saxena.jpg
  src/collections/members/udit-takkar/index.mdx
  src/collections/members/udit-takkar/udit-takkar.png
Labels: area/community

Add radialToWhite to themeStyle
  src/theme/app/themeStyles.js
Labels: type/core-styls

Change Background To RadialGradient
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

added coming-soon image in project directory
  src/sections/Pricing/data.js
  src/sections/Pricing/icons/coming-soon.webp
Labels: none

Decreased the size of operator img
  src/components/Features-carousel/index.js
  src/sections/Meshery/Meshery-features/index.js
Labels: none

fix: add gradient
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style.js
Labels: none

[PR#4153] playground card added
  .env.development
  package-lock.json
  package.json
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: none

Update community_member_profile template
  .github/ISSUE_TEMPLATE/community_member_profile.md
Labels: area/ci

Update src/theme/app/themeStyles.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

Improved typo mistakes
  src/sections/z_other/Footer-classic/index.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
