Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

resolve undefined string by moving empty template
  src/assets/integration-template/icon/color/integration-template-color.svg
  src/assets/integration-template/icon/white/integration-template-white.svg
  src/assets/integration-template/index.mdx
Labels: none

replace MDXRenderer, body with children per mdxv2
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Career-single/index.js
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Community/Event-single/index.js
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Company/News-single/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Learn/Book-single/index.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Learn/Workshop-single/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Projects/Project-single/index.js
  src/sections/Resources/Resource-single/index.js
Labels: none

import children props to templates per mdxv2
  src/templates/blog-single.js
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/course-overview.js
  src/templates/event-single.js
  src/templates/executive-bio.js
  src/templates/integrations.js
  src/templates/lab-single.js
  src/templates/member-single.js
  src/templates/news-single.js
  src/templates/program-multiple.js
  src/templates/program-single.js
  src/templates/resource-single.js
  src/templates/workshop-single.js
Labels: area/blog, area/careers, area/community, area/events, area/learn, area/news, area/resources

workaround to add responsive SVG to mdxv2
  src/collections/programs/exportSVGComponent.js
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/sca-contributhon/index.mdx
Labels: area/careers

update pre props to mdxv2
  root-wrapper.js
Labels: none

clear mdxv2 error for div tag on table
  src/collections/blog/2022/2022-12-05-structured-logging-with-klog/index.mdx
Labels: area/blog

added contentfilepath to templates and queries
  gatsby-node.js
Labels: area/site-config

fixes #4502: Incorrect formating of LFX Terms
  src/collections/programs/Programs.style.js
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

layer5 projects svg updated
  src/sections/Company/About/images/layer5-projects.svg
Labels: none

added eslint for mdx files for mdxv2 compatibility
  .eslintrc.js
  package.json
Labels: none

replace html with excerpt in feeds per mdxv2 guide
  gatsby-config.js
Labels: area/site-config

remove mdxrenderer per gatsby mdx2 migration guide
  src/components/UpcomingEventCard/index.js
Labels: none

made image responsive
  src/sections/Blog/Blog-list/blogList.style.js
Labels: none

remove logging for debugging
  gatsby-node.js
Labels: area/site-config

fix for heap memory OOM issue, see comments
  gatsby-ssr.js
Labels: area/site-config

spelling
  src/sections/Cloud-Native-Catalog/catalog.js
Labels: none

update member profile
  src/collections/members/tejas-jamdade/index.mdx
  src/collections/members/tejas-jamdade/tejas-jamdade.webp
Labels: area/community

replaced StaticImage tag -> img tag
  src/sections/Company/About/index.js
Labels: none

member status inactive
  src/collections/members/avantika-jain/index.mdx
Labels: area/community

Add pill with pulsating circle as status link
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

added docker as partner in layer5.io/partners
  src/assets/images/partners/docker.svg
  src/sections/Partners/partners.js
Labels: none

add dark bg
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

changed faqs behavior to not allow multiple expansion
  src/sections/General/Faq/index.js
  src/sections/z_other/Faq-Classic/index.js
  src/sections/z_other/Faq-hosting/index.js
Labels: none

use brand colors
  src/sections/General/Footer/footer.style.js
Labels: none

rearrange links
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

linting
  src/sections/General/Footer/index.js
Labels: none

feat: env var to turn on ignoreArray for dev build
  .env.development
Labels: none

Revert "rearrange links"
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

Add guidelines to contributing in Ha ndbook
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

fix: add react-markdow to replace mdxrenderer case
  package-lock.json
  package.json
Labels: none

Update index.js
  src/assets/data/faq/index.js
Labels: none

fixed company/faq
  src/assets/data/faq/index.js
Labels: none

fix: add rehyperaw plugin for html in md snippets
  package-lock.json
  package.json
Labels: none

fix: parse mdx body in non-templates with pkgs
  src/sections/Learn/Workshop-grid/index.js
Labels: none

cleanup code
  src/sections/General/Footer/footer.style.js
  src/sections/General/Footer/index.js
Labels: none

Make suggested changes
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

remove {""} from blog 2021
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
Labels: area/blog

Update index.js
  src/assets/data/faq/index.js
Labels: none

fix: update from mdx to markdown for remark use
  src/collections/service-mesh-workshops/2018_docker_con_eu/index.mdx
  src/collections/service-mesh-workshops/2018_docker_con_na/index.mdx
  src/collections/service-mesh-workshops/2018_kube_con_na/index.mdx
  src/collections/service-mesh-workshops/2018_velocity_london/index.mdx
  src/collections/service-mesh-workshops/2019_08_01-introduction_to_istio/index.mdx
  src/collections/service-mesh-workshops/2019_09_27-devfest_montreal/index.mdx
  src/collections/service-mesh-workshops/2019_10_15_all_things_open_raleigh/index.mdx
  src/collections/service-mesh-workshops/2020_01_16_cloud_native_austin/index.mdx
  src/collections/service-mesh-workshops/2020_05_12_open_source_101/index.mdx
  src/collections/service-mesh-workshops/2020_06_20_infra-ops/index.mdx
  src/collections/service-mesh-workshops/2020_07_14-oscon/index.mdx
  src/collections/service-mesh-workshops/2020_10_12-service-mesh-fundamentals-with-linkerd/index.mdx
  src/collections/service-mesh-workshops/2020_12_09-advanced-istio/index.mdx
  src/collections/service-mesh-workshops/2021_02_22-istiocon/index.mdx
Labels: area/learn

update member form web hook
  src/sections/Community/Web-based-from/index.js
Labels: none
