Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

updated the products title to navigate to meshmap
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Added Screenshots
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Update changes
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/design-dark.png
  src/collections/integrations/_images/design.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/_images/visualizer-dark.png
  src/collections/integrations/_images/visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

updated screenshot links in index.mdx for the folder cd-pipeline-operator
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/akri/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
Labels: project/meshery

Added screenshots
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "fix-checks"
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Added Screenshots"
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Added files to index.mds
  src/collections/integrations/consul/index.mdx
Labels: project/meshery

Added screenshots for AWS Node Termination Handler
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
Labels: project/meshery

fix check isuue
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Revert "Update changes"
  src/collections/integrations/_images/connect-components.gif
  src/collections/integrations/_images/crossplane-integrations.png
  src/collections/integrations/_images/design-dark.png
  src/collections/integrations/_images/design.png
  src/collections/integrations/_images/drag-drop-components.gif
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/_images/meshmap-visualizer.webp
  src/collections/integrations/_images/share-design.gif
  src/collections/integrations/_images/visualizer-dark.png
  src/collections/integrations/_images/visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Added Screenshots for Meshmap Consul Integration
  src/collections/integrations/_images/meshmap_dark_designer.png
  src/collections/integrations/_images/meshmap_dark_visualizer.png
  src/collections/integrations/_images/meshmap_light_designer.png
  src/collections/integrations/_images/meshmap_light_visualizer.png
Labels: project/meshery

Changed screenshots for the Actions Runner Controller page
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/actions-runner-controller/index.mdx
Labels: project/meshery

Revert "Update index.mdx"
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

correct Order of Section Titles on Recognition Page
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

corrected carousel slider disable property
  src/sections/Home/So-Special-Section/so-special-style.js
Labels: none

Revert "Products/Projects title added to navigation bar"
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/actions-runner-controller/index.mdx
  src/collections/integrations/aws-node-termination-handler-2/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
  src/collections/integrations/consul/index.mdx
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

Update index.js
  src/sections/General/Footer/index.js
Labels: none

Update connect.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

Update connect.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

Added the Bots and Actions section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added table content for the 'Labels for Issues' table
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Created a GitHub Process page, added a github-process path, created a HandbookCard for the GitHub Process
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/github-process.js
  src/sections/Community/Handbook/github-process.js
  src/sections/Community/Handbook/index.js
Labels: area/community, area/handbook

Added all content to the table for the Organization Secrets section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added all the content under 'List of Pull Requests' section
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Added the top level h2 heading 'Issue and PR Labels and Templates, Bots'
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Activity status update
  src/collections/members/Mohammed-zaki/index.mdx
Labels: area/community

Adjusted grammar in GitHub Process page based on feedback
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

Revert "Updated activity status for some folks on Community member profile"
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

Updated content in Community/Handbook/github-process.js on line 234
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

removed repeated word
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Updated activity status for folks on Community member profile
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

[Docs] Generated documentation for Integration
  src/collections/integrations/pg-operator/index.mdx
Labels: project/meshery

[Docs] Generated documentation for Integration
  src/collections/integrations/argo-cd/index.mdx
  src/collections/integrations/argocd-operator/index.mdx
  src/collections/integrations/docker/index.mdx
  src/collections/integrations/kong-mesh/index.mdx
Labels: project/meshery

Added community calendar link
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Broken link fixed
  gatsby-node.js
Labels: area/site-config

support for teaser modal
  src/components/Contact-Modal/index.js
  src/components/TeaserModal/index.js
  src/components/TeaserModal/style.js
  src/pages/cloud-native-management/meshmap/index.js
  src/sections/Meshmap/index.js
  src/sections/app.style.js
Labels: type/core-styls, project/meshmap

removed Github workflows section
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
Labels: none

indent
  gatsby-node.js
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-light.png
  src/collections/integrations/_images/backstage/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage/backstage_desing.png
  src/collections/integrations/_images/backstage/backstage_visuvalize.png
  src/collections/integrations/_images/backstage/backstage_visuvalize_dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k.png
  src/collections/integrations/_images/consul/meshmap_dark_designer.png
  src/collections/integrations/_images/consul/meshmap_dark_visualizer.png
  src/collections/integrations/_images/consul/meshmap_light_designer.png
  src/collections/integrations/_images/consul/meshmap_light_visualizer.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer.png
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/templates/integrations.js
Labels: area/site-config, project/meshery

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
