Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

solve
  src/assets/discuss/css/footer.css
Labels: none

fix typo error in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Adding the Screenshot of Meshmap
  src/collections/integrations/_images/aws-api-Design-dark.png
  src/collections/integrations/_images/aws-api-Design.png
  src/collections/integrations/_images/aws-api-visualizer-dark.png
  src/collections/integrations/_images/aws-api-visualizer.png
  src/collections/integrations/aws-api-gateway-operator/index.mdx
Labels: project/meshery

I put the meta description for layer5 and hashicorp in the right place.
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
Labels: area/learn, area/news

meta descriptions for service mesh patterns and layer5&hashicoop
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
Labels: area/learn

fixed duplicate subscribe to news letter on blog page
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

Revert "[workflow] Update Community Member Workflow Webhook"
  src/sections/Community/Web-based-from/index.js
Labels: none

Docs link added to Header and footer
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

autoFocus added on Search bar
  src/reusecore/Search/index.js
Labels: none

meta description for istio-up-and-running
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
Labels: area/learn

I added description to the templates/news-single.js file
  src/templates/news-single.js
Labels: area/news

description prop added in news-single.js
  src/templates/news-single.js
Labels: area/news

update
  src/components/AdventuresVol/index.js
  src/components/ScenarioCard/index.js
  src/sections/Home/Projects-home/index.js
Labels: none

revert
  Makefile
Labels: none

update
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/service-security-capabilities.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/traffic-management.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/webassembly-and-intelligent-data-planes.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/circuit-breaking.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/fault-injection.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/mutual-tls.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/routing-and-canary.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/dashboard.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/debugging.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/fault-injection.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/traffic-splitting.mdx
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/sections/Home/Banner-4/index.js
  src/sections/Meshery/Meshery-platforms/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/sections/Projects/Project-grid/index.js
  src/sections/gitops/PerformanceManagementPage.js
Labels: area/learn, project/meshmap

duplicate newsletter fixed
  src/sections/Blog/Blog-sidebar/index.js
Labels: none

banner
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Projects-home/projectSection.style.js
Labels: none

update
  content-learn/mastering-kubernetes-for-engineers/index.mdx
Labels: none

about
  src/sections/Company/About/index.js
Labels: none

update
  package.json
  src/assets/data/faq/index.js
  src/assets/data/testimonial/index.js
  src/assets/images/layer5/layer5-only/svg/layer5-dark-bg.svg
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/index.mdx
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/collections/blog/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/collections/blog/2020/2020-07-03-my-meshy-journey/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-08-04-how-i-schooled-my-seniors/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-07-28-managing-multiple-clusters-with-meshery/index.mdx
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/pages/cloud-native-management/meshmap/index.js
  src/pages/community/handbook/projects.js
  src/pages/community/members.js
  src/pages/company/legal/code-of-conduct.js
  src/pages/docker-extension-meshery.js
  src/pages/thank-you.js
  src/sections/z_other/page-hosting.js
  src/templates/course-overview.js
  src/templates/courses-list.js
  static/brand/layer5/layer5-only/svg/layer5-dark-bg.svg
  static/mail/2022/dockercon-2022-recap.html
Labels: area/blog, area/community, area/learn

make
  .github/build/Makefile.show-help.mk
Labels: area/ci

update
  README.md
  src/sections/Learn/LearnPage-Sections/learn.js
  src/sections/Learn/LearnPage-Sections/learning-path.js
  src/sections/Learn/index.js
Labels: none

Added docs.layer5.io to repo overview
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

menu
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Meshery/Features-Col/data/index.js
Labels: none

Added Suruchi Kumari to members
  src/collections/members/Suruchi-Kumari/Suruchi-Kumari.webp
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community

description
  src/sections/gitops/SnapshotPage.js
Labels: none

catalog
  src/pages/cloud-native-management/catalog.js
Labels: none

lint
  src/sections/Meshmap/index.js
Labels: project/meshmap

/catalog
  README.md
  src/sections/Community/Handbook/projects.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Projects/Project-grid/index.js
Labels: area/handbook

meshmap desc
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-catalog.js
Labels: project/meshmap

integrations
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

d
  src/sections/Company/About/index.js
Labels: none

Added autoFocus & reverted Timeout to 500ms
  src/reusecore/Search/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-load-balancer-controller/index.mdx
Labels: project/meshery

Added docs badge
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
Labels: area/community

removed the comments and signed off the commit
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Added Aboobaker Siddiq R to members
  src/collections/members/Aboobaker-Siddiq-R/Aboobaker-Siddiq-R.webp
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
Labels: area/community

Products/Projects title added to navigation bar
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Added new screenshots for the AWS Balance Loader page
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/aws-load-balancer-controller/index.mdx
Labels: project/meshery

Updated debounceTimeout of Blog Search bar
  src/reusecore/Search/index.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
