Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

artifact fix
  src/sections/Home/Partners-home/index.js
Labels: none

fixed issue #5148
  src/sections/General/Footer/footer.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-eks-controller/icon/color/aws-eks-controller-color.svg
  src/collections/integrations/aws-eks-controller/icon/white/aws-eks-controller-white.svg
  src/collections/integrations/aws-eks-controller/index.mdx
Labels: project/meshery

added cursor animation
  src/components/Features/images/cursor-1.svg
  src/components/Features/images/cursor-2.svg
  src/components/Features/images/cursor-3.svg
  src/components/Features/images/cursor-4.svg
  src/components/Features/images/wave.svg
  src/components/Features/index.js
  src/components/Features/style.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-apigatewayv2-controller/icon/color/aws-apigatewayv2-controller-color.svg
  src/collections/integrations/aws-apigatewayv2-controller/icon/white/aws-apigatewayv2-controller-white.svg
  src/collections/integrations/aws-apigatewayv2-controller/index.mdx
  src/collections/integrations/aws-applicationautoscaling-controller/icon/color/aws-applicationautoscaling-controller-color.svg
  src/collections/integrations/aws-applicationautoscaling-controller/icon/white/aws-applicationautoscaling-controller-white.svg
  src/collections/integrations/aws-applicationautoscaling-controller/index.mdx
  src/collections/integrations/aws-cloudfront-controller/icon/color/aws-cloudfront-controller-color.svg
  src/collections/integrations/aws-cloudfront-controller/icon/white/aws-cloudfront-controller-white.svg
  src/collections/integrations/aws-cloudfront-controller/index.mdx
Labels: project/meshery

Broken Event Site Link Removal from 'DockerCon NA 2018' Workshop
  src/collections/service-mesh-workshops/2018_docker_con_na/index.mdx
Labels: area/learn

made it reusable and only for one collaborator component
  src/components/Features/index.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

update webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/backstage/icon/color/backstage-color.svg
  src/collections/integrations/backstage/icon/white/backstage-white.svg
  src/collections/integrations/cdk8s/index.mdx
Labels: project/meshery

Added new member - Vihas Makwana
  src/collections/members/vihas-makwana/index.mdx
  src/collections/members/vihas-makwana/vihas-makwana.webp
Labels: area/community

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-route53-controller/index.mdx
  src/collections/integrations/aws-route53resolver-controller/index.mdx
  src/collections/integrations/aws-s3-controller/index.mdx
  src/collections/integrations/aws-sagemaker-controller/index.mdx
  src/collections/integrations/aws-secretsmanager-controller/index.mdx
  src/collections/integrations/aws-sfn-controller/index.mdx
  src/collections/integrations/backstage/index.mdx
Labels: project/meshery

only inside
  src/components/Features/index.js
Labels: none

better cursor
  src/components/Features/images/cursor-1.svg
  src/components/Features/images/cursor-4.svg
Labels: none

Embedding component testing
  src/components/EmbeddedDesignLoader.js
  src/pages/testing.js
Labels: none

fixed home partner section
  src/sections/Home/Partners-home/index.js
Labels: none

lfx timeline updated
  src/collections/programs/lfx-2024/Linux_Foundation_logo.svg
  src/collections/programs/lfx-2024/Linux_Foundation_logo.webp
  src/collections/programs/lfx-2024/lfx-2024.mdx
  src/collections/programs/lfx-2024/lfx-white.svg
  src/collections/programs/lfx-2024/lfx.webp
Labels: area/careers

initial commit
  src/components/Features/index.js
  src/components/Features/style.js
  src/sections/Home/FeaturesContainer/images/aws-light.svg
  src/sections/Home/FeaturesContainer/images/aws-logo.svg
  src/sections/Home/FeaturesContainer/images/aws.svg
  src/sections/Home/FeaturesContainer/images/gcp-logo.svg
  src/sections/Home/FeaturesContainer/index.js
Labels: none

description updated
  src/sections/Home/FeaturesContainer/index.js
Labels: none

AWS page images updated
  src/assets/images/AWS-Diagram/aws-light.svg
  src/assets/images/AWS-Diagram/aws.svg
  src/assets/images/AWS-Diagram/infrastructure-dark.svg
  src/assets/images/AWS-Diagram/infrastructure-light.svg
  src/assets/images/AWS-Diagram/templates-dark.svg
  src/assets/images/AWS-Diagram/templates.svg
  src/sections/AWS-Diagram/diagram.js
  src/sections/AWS-Diagram/header.js
Labels: none

fix
  src/sections/AWS-Diagram/diagram.js
Labels: none

aws logo updated
  src/components/Features/style.js
  src/sections/Home/FeaturesContainer/images/aws-logo-dark.svg
  src/sections/Home/FeaturesContainer/images/aws-logo-light.svg
  src/sections/Home/FeaturesContainer/images/aws-logo.svg
  src/sections/Home/FeaturesContainer/index.js
Labels: none

some styling fixes
  src/components/Features/index.js
  src/components/Features/style.js
Labels: none

aws and gcp pages updated with graphics
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/GCP-Diagram/header.js
  src/sections/GCP-Diagram/images/gcp-catalog-dark.svg
  src/sections/GCP-Diagram/images/gcp-catalog-light.svg
  src/sections/GCP-Diagram/images/gcp-diagram-dark.svg
  src/sections/GCP-Diagram/images/gcp-diagram-light.svg
  src/sections/GCP-Diagram/images/gcp-icons-dark.svg
  src/sections/GCP-Diagram/images/gcp-icons-light.svg
Labels: none

links added to aws and gcp pages
  src/sections/Home/FeaturesContainer/index.js
Labels: none

Initial Commit
  src/pages/use-cases/index.js
  src/sections/UseCases/index.js
  src/sections/UseCases/usecases.style.js
Labels: none

Update index.mdx
  src/collections/members/shivam-sood/index.mdx
Labels: area/community

changed anchor tag to Link
  src/components/Features/index.js
Labels: none

text align center in mobile view
  src/components/Features/style.js
Labels: none

AWS page hero image size and transition update
  src/sections/AWS-Diagram/header.js
Labels: none

relocate-rename-aws-gcp
  src/pages/cloud-native-management/generate-aws-architecture-diagram.js
  src/pages/cloud-native-management/generate-gcp-architecture-diagram.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

relocate-rename-aws-gcp
  src/pages/whiteboard/index.js
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Pricing/index.js
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
Labels: none

custom arrow on form
  src/components/CommonForm/commonForm.style.js
  src/components/CommonForm/index.js
Labels: none

rm <i>
  src/sections/Home/FeaturesContainer/index.js
Labels: none

bugFix [Component Styling] Fix <i> tags on home page
  src/sections/Home/FeaturesContainer/index.js
Labels: none

new hero section
  src/sections/AWS-Diagram/index.js
Labels: none

Adding about auther
  src/collections/members/chandravijay-rai/chandravijay-rai.jpg
  src/collections/members/chandravijay-rai/index.mdx
Labels: area/community

adding meshery profile of author
  src/collections/members/chandravijay-rai/chandravijay-rai.jpg
  src/collections/members/chandravijay-rai/chandravijay-rai.webp
  src/collections/members/chandravijay-rai/index.mdx
Labels: area/community

GCP page hero section update
  src/sections/GCP-Diagram/index.js
Labels: none

fixed role options color
  src/components/CommonForm/index.js
Labels: none

linted
  src/sections/UseCases/index.js
  src/sections/UseCases/usecases.style.js
Labels: none
