Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-target-group-binding/index.mdx
Labels: project/meshery

adjusted padding to intra-page navigation
  src/components/handbook-navigation/intra-page.js
Labels: none

Added maintainers column to backend projects
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Updated README.md
  README.md
Labels: none

Added docs.layer5.io to repo overview
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Added description to 2021 news pages
  src/collections/news/2021/2021-06-18-5-lesser-known-but-extremely-powerful-Kubernetes-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-07-24-cncf-projects-bring-service-mesh-interoperability-benchmarks/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-service-mesh-performance-standard/index.mdx
  src/collections/news/2021/2021-10-14-cncf-adopts-meshery-to-advance-service-mesh-management/index.mdx
  src/collections/news/2021/2021-10-15-6-cncf-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-11-10-analyzing-service-mesh-performance/index.mdx
Labels: area/news

Revert "[workflow] Update Community Member Workflow Webhook"
  src/sections/Community/Web-based-from/index.js
Labels: none

make
  .github/build/Makefile.show-help.mk
Labels: area/ci

revert
  Makefile
Labels: none

update
  content-learn/mastering-kubernetes-for-engineers/index.mdx
Labels: none

update
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/service-security-capabilities.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/traffic-management.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/webassembly-and-intelligent-data-planes.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/circuit-breaking.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/fault-injection.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/mutual-tls.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/routing-and-canary.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/conclusion.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/dashboard.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/debugging.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/fault-injection.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/getting-started.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/traffic-splitting.mdx
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/sections/Home/Banner-4/index.js
  src/sections/Meshery/Meshery-platforms/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/sections/Projects/Project-grid/index.js
  src/sections/gitops/PerformanceManagementPage.js
Labels: area/learn, project/meshmap

update
  package.json
  src/assets/data/faq/index.js
  src/assets/data/testimonial/index.js
  src/assets/images/layer5/layer5-only/svg/layer5-dark-bg.svg
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/index.mdx
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/collections/blog/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/collections/blog/2020/2020-07-03-my-meshy-journey/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-08-04-how-i-schooled-my-seniors/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-07-28-managing-multiple-clusters-with-meshery/index.mdx
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/pages/cloud-native-management/meshmap/index.js
  src/pages/community/handbook/projects.js
  src/pages/community/members.js
  src/pages/company/legal/code-of-conduct.js
  src/pages/docker-extension-meshery.js
  src/pages/thank-you.js
  src/sections/z_other/page-hosting.js
  src/templates/course-overview.js
  src/templates/courses-list.js
  static/brand/layer5/layer5-only/svg/layer5-dark-bg.svg
  static/mail/2022/dockercon-2022-recap.html
Labels: area/blog, area/community, area/learn

update
  src/components/AdventuresVol/index.js
  src/components/ScenarioCard/index.js
  src/sections/Home/Projects-home/index.js
Labels: none

update
  README.md
  src/sections/Learn/LearnPage-Sections/learn.js
  src/sections/Learn/LearnPage-Sections/learning-path.js
  src/sections/Learn/index.js
Labels: none

banner
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Projects-home/projectSection.style.js
Labels: none

about
  src/sections/Company/About/index.js
Labels: none

d
  src/sections/Company/About/index.js
Labels: none

final commit
  src/assets/images/products/MesheryRange.svg
  src/assets/images/products/MesheryRangeDark.svg
  src/assets/images/products/Nightawk.svg
  src/assets/images/products/Rectangle.svg
  src/assets/images/products/circle_dark.svg
  src/assets/images/products/circle_light.svg
  src/assets/images/products/codicon_extensions.svg
  src/assets/images/products/fluent_desktop-mac.svg
  src/assets/images/products/meshery-logo-light.svg
  src/assets/images/products/meshmap.svg
  src/assets/images/products/patterns.svg
  src/pages/products/collapsible-details.js
  src/pages/products/icons/collaboration.svg
  src/pages/products/icons/coming-soon.webp
  src/pages/products/icons/configuration.svg
  src/pages/products/icons/identity.svg
  src/pages/products/icons/lifecycle.svg
  src/pages/products/icons/meshmap-icon.svg
  src/pages/products/icons/notification.svg
  src/pages/products/icons/perf.svg
  src/pages/products/icons/support.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

catalog
  src/pages/cloud-native-management/catalog.js
Labels: none

/catalog
  README.md
  src/sections/Community/Handbook/projects.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Projects-home/index.js
  src/sections/Projects/Project-grid/index.js
Labels: area/handbook

menu
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Meshery/Features-Col/data/index.js
Labels: none

integrations
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

description
  src/sections/gitops/SnapshotPage.js
Labels: none

Changed sentences starting with lower case to uppercase letters, rephrased wordings of sentences in CONTRIBUTING.md section ##Issues & Pull Requests, based on initial feedback
  CONTRIBUTING.md
Labels: none

message for the github workflow has been rewritten properly
  src/sections/gitops/PerformanceManagementPage.js
Labels: none

meshmap desc
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-catalog.js
Labels: project/meshmap

lint
  src/sections/Meshmap/index.js
Labels: project/meshmap

Added Aboobaker Siddiq R to members
  src/collections/members/Aboobaker-Siddiq-R/Aboobaker-Siddiq-R.webp
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
Labels: area/community

Added Suruchi Kumari to members
  src/collections/members/Suruchi-Kumari/Suruchi-Kumari.webp
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community

Added docs badge
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
Labels: area/community

removed the comments and signed off the commit
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Products/Projects title added to navigation bar
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

updated the products title to navigate to meshmap
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/aws-load-balancer-controller/index.mdx
Labels: project/meshery

final commit
  src/pages/products/index.js
  src/pages/products/pricing.style.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Update menu-items.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

undo unnecessary changes
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

undo unnecessary changes
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

undo unnecessary changes
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook
