Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

mdx2 - empty mdx file issue
  src/collections/integrations/integration-template/index.mdx
Labels: project/meshery

“Closes#4386 added Installation instructions for Docker Extension[Meshery] w/signoff
  .gitpod.yml
  src/sections/Meshery/Meshery-platforms/index.js
Labels: none

Closes#4386 added Installation instructions for Docker Extension[Meshery] w/signoff
  src/sections/Meshery/Meshery-platforms/index.js
Labels: none

updaated the docker extension commands in get started part
  .gitpod.yml
  src/sections/Meshery/Meshery-platforms/index.js
Labels: none

Create Introducing Layer5 Learning Paths
  src/collections/blog/Introducing Layer5 Learning Paths
Labels: area/blog

award-badges
  src/collections/members/Avishkar/index.mdx
  src/collections/members/aadhitya-amarendiran/index.mdx
  src/collections/members/anirudh-jain/anirudh-jain.webp
  src/collections/members/anirudh-jain/index.mdx
  src/collections/members/gaurav-chadha/index.mdx
  src/collections/members/harkirat/index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

deleted unnecessary file that got accidentally included
  .gitpod.yml
Labels: none

mdx2 - update to clear react html errors
  src/sections/Company/News-single/Sidebar.js
  src/templates/news-single.js
Labels: area/news

indentation
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

mdx2 - correct resourceswrapper tag
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

changed the selection color
  src/sections/app.style.js
Labels: type/core-styls

[community] Added Member Profile: Tejas
  src/collections/members/tejas-jamdade/index.mdx
  src/collections/members/tejas-jamdade/tejas-jamdade.jpg
Labels: area/community

feat:fixed book_links
  src/collections/service-mesh-books/Book.style.js
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

changed the image type from jpg to webp
  src/collections/members/tejas-jamdade/index.mdx
  src/collections/members/tejas-jamdade/tejas-jamdade.jpg
  src/collections/members/tejas-jamdade/tejas-jamdade.webp
Labels: area/community

Update index.mdx Signed-off-by: Sambhav Gupta <sambhavgupta0705@gmail.com>
  src/collections/members/tejas-jamdade/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/tejas-jamdade/index.mdx
Labels: area/community

signoff
  src/collections/members/tejas-jamdade/index.mdx
Labels: area/community

added three dash
  src/collections/members/tejas-jamdade/index.mdx
Labels: area/community

spelling fixes
  src/collections/members/tejas-jamdade/index.mdx
Labels: area/community

changed arrow icon
  src/sections/Home/Banner-4/index.js
Labels: none

lh updates to about page with loadable, useInView
  src/pages/company/about.js
  src/sections/Company/About/index.js
  src/sections/Company/Layer5-statement/index.js
Labels: none

lh changes to layout and navigation
  fonts.css
  root-wrapper.js
  src/components/layout.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

Update Book.style.js
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

Update index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

fixed navigation arrangement
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

Update ScrollspyMenu.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
Labels: none

Update Book.style.js
  src/collections/service-mesh-books/Book.style.js
Labels: area/learn

Update index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

bottom problem solved
  src/assets/discuss/html/footer.html
  src/sections/General/Footer/index.js
Labels: none

bottom problem solved
  src/assets/discuss/html/footer.html
Labels: none

bottom problem solved
  src/sections/General/Footer/footer-mobile.js
  src/sections/General/Footer/index.js
Labels: none

Revert "[chore] Update Newcomers Webhook URL"
  src/sections/Community/Web-based-from/index.js
Labels: none

fix spelling mistake in getting started guide
  src/sections/Meshery/Meshery-terminal/index.js
Labels: none

made the link clickable
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

Fix Catalog link on Home page
  src/sections/Home/Projects-home/index.js
Labels: none

improved form in index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

added collaborate page changes
  src/sections/Meshmap/Meshmap-collaborate/meshmap-collaborate-banner.js
Labels: project/meshmap

fix: add word-wrap to terminal text and set max-width
  src/components/Terminal/Terminal.style.js
Labels: none

removed rigid values and added max-width on bigger scope
  src/components/Terminal/Terminal.style.js
Labels: none

fix: reverted the font size to 12px in terminal
  src/components/Terminal/Terminal.style.js
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
