Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

fix package.json & package-lock -bis
  package-lock.json
  package.json
Labels: none

Apply suggestions from code review
  gatsby-node.js
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/freedisch-thibaut-batale/index.mdx
  src/templates/member-single.js
Labels: area/community, area/site-config

Renamed mesherycloud-uuid to layer5
  src/sections/Community/Member-single/index.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/istio-base/index.mdx
Labels: project/meshery

Change catalog image for light mode
  src/assets/images/catalog/catalog-light.svg
Labels: none

Change catalog image for dark mode
  src/assets/images/catalog/catalog-dark.svg
Labels: none

Change catalog image
  src/assets/images/catalog-icon/catalog.svg
Labels: none

Change catalog image on readme file
  .github/assets/images/catalog/catalog.svg
Labels: area/ci

Update blogList.style.js
  src/sections/Blog/Blog-list/blogList.style.js
Labels: none

Social media icons size fix
  src/assets/images/socialIcons/linkedin-light.svg
  src/assets/images/socialIcons/mail_keppel.svg
  src/sections/Community/Member-single/index.js
Labels: none

fix: removed color attribute
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/MeetTheMeshMate.style.js
Labels: area/blog

minor changes. Signed-off-by: Prince Rajpoot <prince.rajpoot.20@gmail.com>
  src/sections/Community/Member-single/index.js
Labels: none

remove unnecessary space
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

feat: fix yaml error
  src/collections/members/Cyrine-Gamoudi/index.mdx
Labels: area/community

feat: added meshery-uuid to profile
  src/collections/members/Cyrine-Gamoudi/index.mdx
  src/collections/members/adina-rav/index.mdx
  src/collections/members/dev-kalra/index.mdx
  src/collections/members/divine-orji/index.mdx
  src/collections/members/ishita-kumar/index.mdx
  src/collections/members/rodolfo-martinez-vega/index.mdx
Labels: area/community

Updated Blog
  src/collections/blog/2023/2023-06-21-meshery-operators/gsoc-wide.webp
  src/collections/blog/2023/2023-06-21-meshery-operators/gsoc.webp
  src/collections/blog/2023/2023-06-21-meshery-operators/index.mdx
  src/collections/blog/2023/2023-06-21-meshery-operators/operator-thumbnail.png
Labels: area/blog

updated description
  src/collections/blog/2023/2023-06-21-meshery-operators/index.mdx
Labels: area/blog

feat: updated date
  src/collections/blog/2023/2023-07-05-meshery-operators/index.mdx
  src/collections/blog/2023/2023-07-05-meshery-operators/meshery-operator-dark.png
  src/collections/blog/2023/2023-07-05-meshery-operators/meshsync.png
  src/collections/blog/2023/2023-07-05-meshery-operators/operator-thumbnail.png
Labels: area/blog

Yash-text-clr-blog-correct
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/MeetTheMeshMate.style.js
  src/sections/Community/Member-single/index.js
Labels: area/blog

email validation
  src/components/CommonForm/index.js
  src/sections/Community/Member-single/index.js
Labels: none

update signup forms webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

award-catalog-and-operator-badges
  src/collections/members/aisuko-li/index.mdx
  src/collections/members/ritik-saxena/index.mdx
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/collections/members/yash-sharma/index.mdx
Labels: area/community

award-rest-of-the-badges
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/avantika-jain/index.mdx
  src/collections/members/ekene-leonard/index.mdx
  src/collections/members/hersh-dhillion/index.mdx
  src/collections/members/pranav-singh/index.mdx
  src/collections/members/uzair-shaikh/index.mdx
Labels: area/community

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

prep for testing mdx fix comparison
  gatsby-node.js
  package-lock.json
  package.json
Labels: area/site-config

record memory usage
  gatsby-node.js
Labels: area/site-config

replace-above-with-below-in-DCO-check-above
  .github/label-commenter-config.yml
Labels: area/ci

update root-wrapper with mdx shortcodes
  root-wrapper.js
Labels: none

add additional shortcodes
  root-wrapper.js
Labels: none

move styles to main folder for use with shortcodes
  src/collections/blog/MeetTheMaintainer.style.js
  src/collections/blog/MeetTheMeshMate.style.js
Labels: area/blog

clear eslint warnings for no-unused-vars
  src/components/Case-study-banner/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/gitops/index.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog

add and removed plugins for migration to MDXv2
  package-lock.json
  package.json
Labels: none

update config to use plugins
  gatsby-config.js
Labels: area/site-config

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

update style attributes to be jsx compatible
  src/collections/blog/2020/2020-03-11-deploying-linkerd-with-meshery/index.mdx
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/collections/blog/2020/2020-07-16-growing-as-an-open-source-contributor-with-layer5/index.mdx
  src/collections/blog/2021/2021-04-05-meshmate-of-the-year-2020-nikhil-ladha/index.mdx
  src/collections/blog/2021/2021-04-19-announcing-meshery-v0.5/index.mdx
  src/collections/blog/2021/2021-04-24-buf-protocols/index.mdx
  src/collections/blog/2021/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2021/2021-10-04-ccoss-meshery-event/index.mdx
  src/collections/blog/2021/2021-10-09-an-introduction-to-meshery/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2022/2022-01-22-the-story-of-meshery-1000-stars/index.mdx
  src/collections/blog/2022/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
  src/collections/blog/2022/2022-05-10-dockercon-22-hpe-talk/index.mdx
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/index.mdx
  src/collections/blog/2022/2022-05-20-meshmate-of-the-year-2021-aditya-chatterjee/index.mdx
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/index.mdx
  src/collections/blog/2022/2022-10-19-kubeconna2022/index.mdx
  src/collections/blog/2023/2023-04-12-meshery-surpasses-1000-contributors/index.mdx
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/events/istiocon2020/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/news/2019/2019-11-23-cncf-sig-network-set-to-push-cloud-native-networking-forward/index.mdx
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform.md/index.mdx
  src/collections/news/2022/2022-05-10-layer5-joins-docker-extension-program-bringing-kubernetes-and-service-mesh-management-to-docker-with-meshery/index.mdx
  src/collections/programs/gsoc-2023/index.mdx
  src/collections/programs/gsod/index.mdx
  src/collections/programs/hacktoberfest-2020/index.mdx
  src/collections/programs/hacktoberfest-2021/index.mdx
  src/collections/programs/hacktoberfest-2022/index.mdx
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/resources/articles/devops-adoption/index.mdx
  src/collections/resources/articles/istio-at-a-glance/istio-at-a-glance.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
  src/collections/service-mesh-workshops/2021_02_22-istiocon/index.mdx
Labels: area/blog, area/careers, area/events, area/learn, area/news, area/resources

create 2023-06-30-Introduction-layer5-learning-paths
  src/collections/blog/2023/2023-06-30-Introduction-layer5-learning-paths/index.mdx
Labels: area/blog

fixes #4378: Card Overflowing out of main screen
  src/sections/Projects/SMI/smi.style.js
Labels: none

github-icon-correct
  src/components/Case-study-banner/index.js
  src/sections/Community/Member-single/index.js
Labels: none

Added community member profile Samyak
  src/collections/members/samyak-shah/index.mdx
  src/collections/members/samyak-shah/samyak-shah.webp
Labels: area/community

Removed the unused variables
  src/components/Case-study-banner/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/gitops/index.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog, project/meshmap
