Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

update meta description
  src/pages/community/handbook/faq.js
Labels: area/community

Extra space in mobile view Signed-off-by: vermabraj <vermabraj4@gmail.com>
  src/sections/General/Navigation/navigation.style.js
Labels: none

test : added new line
  gatsby-browser.js
Labels: area/site-config

update-webhook-september
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

fix: react style formatting for mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

feat:added member profile
  src/collections/members/vaibhav-malik/index.mdx
  src/collections/members/vaibhav-malik/vaibhav-malik.png
Labels: area/community

feat:added member profile
  src/collections/members/vaibhav-malik/vaibhav-malik.webp
Labels: area/community

Signed-off-by: Layak Ali <layak.ali@protonmail.com>
  src/collections/members/vaibhav-malik/index.mdx
  src/collections/members/vaibhav-malik/vaibhav-malik.webp
Labels: area/community

Signed-off-by: Layak Ali <layak.ali@protonmail.com>
  src/collections/members/vaibhav-malik/index.mdx
  src/collections/members/vaibhav-malik/vaibhav-malik.webp
Labels: area/community

Signed-off-by: Layak Ali <layak.ali@protonmail.com>
  src/collections/members/vaibhav-malik/index.mdx
Labels: area/community

updated changes.
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

test: gatsbyImageData layout and HEAD data import
  src/pages/blog/index.js
  src/pages/company/news.js
  src/pages/projects/index.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Careers-Programs-grid/index.js
  src/sections/Company/News-single/index.js
  src/sections/Home/So-Special-Section/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Resources/Resource-single/index.js
  src/sections/Resources/Resources-grid/DataWrapper.js
  src/templates/blog-category-list.js
  src/templates/blog-single.js
  src/templates/blog-tag-list.js
  src/templates/integrations.js
Labels: area/blog, area/projects

test: GATSBY_DEV_AMENDED=true
  package.json
Labels: none

test: update config for mdx events
  gatsby-config.js
Labels: area/site-config

test: lhci build testing
  .github/workflows/lighthouseci.yml
  gatsby-config.js
Labels: area/ci, area/site-config

fix: Head component destructure imported data
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/course-overview.js
  src/templates/event-single.js
  src/templates/lab-single.js
  src/templates/learn-chapter.js
  src/templates/member-single.js
  src/templates/news-single.js
  src/templates/program-multiple.js
  src/templates/program-single.js
  src/templates/resource-single.js
  src/templates/workshop-single.js
Labels: area/careers, area/community, area/events, area/learn, area/news, area/resources

test: only restrict members for memory heap issues
  gatsby-config.js
Labels: area/site-config

test: remove GATSBY_DEV_AMENDED
  .github/workflows/lighthouseci.yml
  package.json
Labels: area/ci

fix: remove unused data query n import correction
  src/sections/General/Navigation/index.js
Labels: none

fix: remove unused query from navigation
  src/sections/General/Navigation/index.js
Labels: none

fix: optimize integration meshmap images
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-regain-control.webp
  src/collections/integrations/_images/meshmap-visualizer.webp
Labels: project/meshery

fix: remove bubblesElement from footer
  src/sections/General/Footer/index.js
Labels: none

community member profile sucessfully added.
  src/collections/members/aritra-majumder/aritra-majumder.webp
  src/collections/members/aritra-majumder/index.mdx
Labels: area/community

fix: optimize image size for members letter d
  src/collections/members/darren-dsouza/darren-dsouza.webp
  src/collections/members/darren-dsouza/darren_dsouza.webp
  src/collections/members/darren-dsouza/index.mdx
  src/collections/members/debjani-dey/PhotoDebjani.webp
  src/collections/members/debjani-dey/index.mdx
  src/collections/members/debopriya-bhattacharjee/debopriya-bhattacharjee.webp
  src/collections/members/deepak dinesh/deepak.jpeg
  src/collections/members/deepak dinesh/deepak.webp
  src/collections/members/deepak dinesh/index.mdx
  src/collections/members/deepak-gupta/deepak-gupta.webp
  src/collections/members/deepesha-burse/deepesha-burse.webp
  src/collections/members/dev-kalra/dev-kalra.webp
  src/collections/members/dheeraj-gedam/dheeraj-gedam.webp
  src/collections/members/dhruv-patel/dhruv-patel.jpeg
  src/collections/members/dhruv-patel/dhruv-patel.webp
  src/collections/members/dhruv-patel/index.mdx
  src/collections/members/divine-orji/divine-orji.webp
  src/collections/members/divyangi-raghav/divyangi-raghav.webp
Labels: area/community

test: 80 members mdx pages
  .github/workflows/lighthouseci.yml
  gatsby-dev-filesystem-ignore.js
Labels: area/ci, area/site-config

test: update member pages to 100
  gatsby-dev-filesystem-ignore.js
Labels: area/site-config

test: fix member cyrine gamoudi
  src/collections/members/Cyrine-Gamoudi/index.mdx
  src/templates/member-single.js
Labels: area/community

test: change member folders to 150
  gatsby-dev-filesystem-ignore.js
  package.json
Labels: area/site-config

fix: correct image_path for colby stoker
  src/collections/members/colby_stoker/index.mdx
Labels: area/community

data file migrated
  src/pages/products/data.js
  src/pages/products/index.js
Labels: none

data file removed
  src/pages/products/data.js
Labels: none

content updated
  src/pages/products/index.js
Labels: none

test: moving mdxprovider to layout
  root-wrapper.js
  src/components/layout.js
Labels: none

test: add null-checking to member-single
  src/templates/member-single.js
Labels: area/community

test: move cyrine-gamoudi folder
  src/assets/discuss/cyrine-gamoudi/cyrine-gamoudi.webp
  src/assets/discuss/cyrine-gamoudi/index.mdx
Labels: none

test: turn off GATSBY_DEV_AMENDED
  .github/workflows/lighthouseci.yml
  gatsby-dev-filesystem-ignore.js
  package.json
  src/collections/members/cyrine-gamoudi/cyrine-gamoudi.webp
  src/collections/members/cyrine-gamoudi/index.mdx
Labels: area/ci, area/community, area/site-config

Changed Twitter Logo in Conect With us Page
  src/components/AdventuresVol/index.js
  src/sections/Community/Handbook/connect.js
  src/sections/Company/News-grid/press.js
  src/sections/z_other/Integrations/index.js
Labels: area/handbook

Update index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

fix: only load templates
  gatsby-ssr.js
Labels: area/site-config

fix: break up graphql queries
  gatsby-node.js
Labels: area/site-config

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
