Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

added to hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
Labels: area/resources

added case-study folder
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/globe.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/layers.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/meshery-and-hpe.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/meshery-integrations.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/network.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/users.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/yogi.webp
  src/components/Case-study-banner/index.js
Labels: area/resources

Update index.mdx
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

Update index.js
  src/sections/Company/About/index.js
Labels: none

fix: case study banner link on home page
  src/components/Case-study-banner/index.js
Labels: none

fix: case study banner link
  src/components/Case-study-banner/index.js
Labels: none

revert-to-png-in-featured-posts
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.png
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.webp
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/istio-up-and-running_top.png
  src/collections/service-mesh-books/istio-up-and-running/istio-up-and-running_top.webp
Labels: area/learn, area/news

reduce-pngs-size
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.png
Labels: area/news

feat:fixed height
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

feat:fixed height
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

fixing hover effect on cards on news page
  src/components/Card/Card.style.js
Labels: none

feat:added alt-tags
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

add-new-badges-in-community-handbook
  src/assets/images/application-pioneer/application-pioneer.svg
  src/assets/images/bring-a-buddy/bring-a-buddy.svg
  src/assets/images/design-pioneer/design-pioneer.svg
  src/assets/images/gitops-with-friends/gitops-with-friends.svg
  src/assets/images/hip-hacker/hip-hacker.svg
  src/assets/images/need-for-speed/need-for-speed.svg
  src/assets/images/sharing-is-caring/sharing-is-caring.svg
  src/assets/images/shipped/shipped.svg
  src/assets/images/streamer/streamer.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

more shortcodes for any components imported to mdx
  gatsby-ssr.js
  root-wrapper.js
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/blog, area/learn, area/resources, area/site-config

fix: resize, resave png to reduce webp filesize
  src/collections/integrations/_images/meshmap-designer.webp
  src/collections/integrations/_images/meshmap-visualizer.webp
Labels: project/meshery

fix: optimize large files used in mdx
  src/collections/blog/2020/2020-09-25-announcing-meshmates/meshmates.webp
  src/collections/events/hacktoberfest-2022/hacktoberfest-prep-easing-into-cncf-open-source-projects_compressed.pdf
  src/collections/events/kubecon-china-2021/cncf-tag-network-and-service-mesh-working-group-kubecon-china-2021-lee-calcote-ken-owens_compressed.pdf
  src/collections/events/kubecon-china-2021/solving-the-service-mesh-adopters-dilemma-anita-ihuman-kubecon-china-2021_compressed.pdf
  src/collections/events/kubecon2021-na-smp/layer5- solving-the-service-mesh-adopters-dilemma_compressed.pdf
  src/collections/members/abdullah-rafi/abdullah-rafi.webp
  src/collections/members/kishore-kumar/kishore-kumar.jpeg
  src/collections/members/kishore-kumar/kishore-kumar.webp
  src/collections/members/lee-calcote/lee-calcote-bio.webp
  src/collections/members/manav-kapoor/Manav-Kapoor.jpeg
  src/collections/members/manav-kapoor/manav-kapoor.webp
  src/collections/members/manish-dangi/manish-dangi.jpeg
  src/collections/members/manish-dangi/manish-dangi.webp
  src/collections/members/oyin-dawodu/oyin-dawodu.jpeg
  src/collections/members/oyin-dawodu/oyin-dawodu.webp
  src/collections/members/usman-siddique/Usman-Dev.webp
  src/collections/resources/articles/devops-adoption/devops-adoption-choosing-the-right-metrics_compressed.pdf
Labels: area/blog, area/community, area/events, area/resources

fix: update mdx files to use optimized images/pdfs
  src/collections/events/hacktoberfest-2022/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/events/kubecon2021-na-smp/index.mdx
  src/collections/members/kishore-kumar/index.mdx
  src/collections/members/lee-calcote/index.mdx
  src/collections/members/manav-kapoor/index.mdx
  src/collections/members/manish-dangi/index.mdx
  src/collections/members/oyin-dawodu/index.mdx
  src/collections/members/usman-siddique/index.mdx
  src/collections/resources/articles/devops-adoption/index.mdx
Labels: area/community, area/events, area/resources

fix: clear all setTimeouts, add useTimeout hook
  src/components/CodeBlock/index.js
  src/components/Corner-popup/index.js
  src/components/Learn-Components/QuizModal/quiz-component.js
  src/components/Scrolltotop-button/useDelayedUnmount.js
  src/sections/Company/Brand/index.js
  src/sections/DeployServiceMesh/index.js
  src/sections/Meshery/Meshery-platforms/index.js
  src/utils/useTimeout.js
Labels: area/learn

fix: clear eventListener and update deprecated ref
  src/components/CommonForm/index.js
  src/sections/General/Navigation/index.js
  src/sections/Meshmap/Meshmap-visualize/meshmap-visualize-banner.js
Labels: project/meshmap

fix: use loadable, remove lightbox in templates
  src/components/layout.js
  src/pages/company/news.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Company/News-single/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Resources/Resource-single/index.js
  src/templates/blog-single.js
  src/templates/course-overview.js
  src/templates/learn-chapter.js
  src/templates/resource-single.js
Labels: area/blog, area/learn, area/resources

fix: disable dev amended on default
  .env.development
Labels: none

fix: eslint errors in mdx
  src/collections/blog/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/collections/blog/2020/2020-12-16-functional-testing-with-cypress-in-Meshery-ui/index.mdx
  src/collections/blog/2022/2022-07-28-managing-multiple-clusters-with-meshery/index.mdx
  src/collections/news/2020/2020-03-12-meshery-service-mesh-management-plane/index.mdx
  src/collections/news/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/collections/resources/articles/choosing-the-perfect-proxy/index.mdx
  src/collections/resources/articles/microservices-based-application-delivery/index.mdx
  src/collections/resources/articles/swappable-sidecars/index.mdx
Labels: area/blog, area/news, area/resources

fix: resolve wrong case for "cleanupIds"
  gatsby-config.js
Labels: area/site-config

fix: rename image temporarily
  src/collections/members/usman-siddique/Usmandev.webp
Labels: area/community

fix: revert file name with different casing
  src/collections/members/usman-siddique/usman-dev.webp
Labels: area/community

fix: update mdx and image file name
  src/collections/members/usman-siddique/index.mdx
  src/collections/members/usman-siddique/usman_dev.webp
Labels: area/community

[Home] Redirect for HPE case study
  gatsby-node.js
Labels: area/site-config

fix: replace svg with 300dpi webp to reduce file
  src/sections/Company/About/images/layer5-projects.webp
  src/sections/Company/About/index.js
Labels: none

added Meyazhagan profile
  src/collections/members/meyazhagan/index.mdx
  src/collections/members/meyazhagan/meyazhagan.jpg
Labels: area/community

Change mail text and address
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

update-metadata
  src/pages/subscribe.js
Labels: none

Fix meta data for layer5 description
  src/pages/index.js
Labels: none

Resolve-conflicts
  src/collections/members/avantika-jain/index.mdx
Labels: area/community

update index.mdx
  src/collections/members/avantika-jain/index.mdx
Labels: area/community

Update webp Image
  src/collections/members/harsh-dobariya/harsh-dobariya.webp
Labels: area/community

Add Member
  src/collections/members/harsh-dobariya/harsh-dobariya.webp
  src/collections/members/harsh-dobariya/index.mdx
Labels: area/community

Update index.mdx
  src/collections/blog/2023/2023-7-13-meshmap-guide-for-newcomers/index.mdx
Labels: area/blog

Member Added
  src/collections/members/harsh-dobariya/harsh-dobariya.webp
  src/collections/members/harsh-dobariya/index.mdx
Labels: area/community

used inline-quote to display quote
  src/components/Inline-quotes/index.js
  src/sections/Community/Quote/Index.js
  src/sections/Community/index.js
Labels: none

added quote to community page using inline-quote component
  src/components/Inline-quotes/index.js
  src/sections/Community/index.js
Labels: none
