Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Revert "fix: replace loadable with react 18 lazy load"
  src/components/loading.js
  src/pages/blog/index.js
  src/pages/cloud-native-management/meshery/getting-started.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/pages/community/calendar.js
  src/pages/index.js
  src/sections/Community/Adventures-of-Five/index.js
  src/sections/Company/Brand/index.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: area/blog, area/community

made last 3 section
  src/assets/images/products/MesheryRange.svg
  src/assets/images/products/Nightawk.svg
  src/assets/images/products/codicon_extensions.svg
  src/assets/images/products/concentricCircle.svg
  src/assets/images/products/fluent_desktop-mac.png
  src/assets/images/products/meshery-logo-light.svg
  src/assets/images/products/meshmap.svg
  src/assets/images/products/patterns.svg
  src/pages/products/collapsible-details.js
  src/pages/products/data.js
  src/pages/products/icons/collaboration.svg
  src/pages/products/icons/coming-soon.webp
  src/pages/products/icons/configuration.svg
  src/pages/products/icons/identity.svg
  src/pages/products/icons/lifecycle.svg
  src/pages/products/icons/meshmap-icon.svg
  src/pages/products/icons/notification.svg
  src/pages/products/icons/perf.svg
  src/pages/products/icons/support.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
  src/sections/Community/Handbook/repository.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: area/handbook

navOverflow problem resolved
  src/sections/Community/Handbook/repository.js
  src/sections/General/Navigation/navigation.style.js
Labels: area/handbook

fixed links
  src/collections/members/saurabh soni/index.mdx
Labels: area/community

Contact-Card-Fixed-Mobile-View
  src/components/Card-Outline/card-outline.style.js
Labels: none

community member profile sucessfully added.
  src/collections/members/aritra-majumder/aritra-majumder.webp
  src/collections/members/aritra-majumder/index.mdx
  src/sections/Community/Handbook/repository.js
Labels: area/community, area/handbook

removed comments
  src/pages/products/pricing.style.js
Labels: none

Update index.mdx
  src/collections/members/vivek-jha/index.mdx
Labels: area/community

added top 2 sections of product page
  src/assets/images/products/Rectangle.svg
  src/assets/images/products/productHero.svg
  src/assets/images/products/product_hero_light.svg
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

Removed SMI Community Meeting from Meetings table
  src/sections/Community/Calendar/meetLinksData.js
Labels: none

Removed "SMI Community Meeting" from Meetings table
  src/sections/Community/Calendar/meetLinksData.js
Labels: none

chore: replaced id with class
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

newsletter position fixed and the handbook string double quoted
  src/sections/Community/Handbook/repository.js
  src/sections/General/Footer/footer.style.js
Labels: area/handbook

fix: resolve single quote issue
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

fix: updated dependencies (except mdx related)
  package-lock.json
  package.json
Labels: none

Update src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Update src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Fix:tables-view-Fixed
  src/components/Card-Outline/card-outline.style.js
  src/sections/Company/Contact/contactpage.style.js
Labels: none

updated figure
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

update
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/after.jpg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/after.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/before.jpg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/before.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

fix: add ampersand for pseudo elements for index
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.js
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: none

fix: add @loadable and react-loadable
  package-lock.json
  package.json
Labels: none

fix: adding $ for styled-component props
  src/components/Scrolltotop-button/ScrollToTopStyles.js
  src/components/Scrolltotop-button/index.js
Labels: none

fix: add $ for Hcenter styled-component props
  src/sections/Careers/Careers-Programs-grid/index.js
  src/sections/Community/Member-single/index.js
  src/sections/Landscape/index.js
  src/sections/Learn/LearnPage-Sections/learn.js
  src/sections/Meshery/Meshery-platforms/index.js
  src/sections/Pricing/index.js
Labels: area/landscape

Update index.mdx
  src/collections/members/rex-joshua-ibegbu/index.mdx
Labels: area/community

Update index.mdx
  src/collections/members/rex-joshua-ibegbu/index.mdx
Labels: area/community

Changed debounceTimeout of Blog Search bar
  src/reusecore/Search/index.js
Labels: none

Updated debounceTimeout of Blog Search bar
  src/reusecore/Search/index.js
Labels: none

autoFocus added on Search bar
  src/reusecore/Search/index.js
Labels: none

Added autoFocus & reverted Timeout to 500ms
  src/reusecore/Search/index.js
Labels: none

fix: migrating react-tooltip v4 -> v5
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/index.js
  src/components/blog-view-tooltip.js
  src/sections/Landscape/categories.js
  src/sections/Landscape/smi.js
  src/sections/Learn-Layer5/Chapters/index.js
Labels: area/landscape

fix: use <img> tags for svg in tables
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/SMITable.style.js
  src/components/SMI-Table/index.js
Labels: area/landscape

fix: 5 icon svg position
  src/pages/company/about.js
  src/sections/Company/About/index.js
Labels: none

fix: styled-components props need $ prefix
  src/sections/Learn/Workshop-grid/index.js
Labels: none

fix: hb menu, setTimeout for flush sync react v18
  src/sections/General/Navigation/index.js
Labels: none

fix: re-add gatsby-plugin-loadable-components-ssr
  package-lock.json
  package.json
Labels: none

fix: transient prop requires $ prefix
  src/components/Inline-quotes/index.js
Labels: none

fix: transient prop requires $ prefix popOutCard
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/components/PopOutCardCarousel/index.js
Labels: none

Update index.mdx
  src/collections/members/abdullah-rafi/index.mdx
Labels: area/community

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
