Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

Update src/components/Badge/Badge.styles.js
  src/components/Badge/Badge.styles.js
Labels: none

Update src/components/Badge/index.js
  src/components/Badge/index.js
Labels: none

Added display block and hidden for TooltipText instead of visibility hidden and visible
  src/components/Badge/Badge.styles.js
Labels: none

Made badges list responsive in smaller screen
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

Typo change and fix squeezed hero banner image
  src/assets/images/catalog/calalog-cards.svg
  src/assets/images/catalog/catalog-dark.svg
  src/assets/images/catalog/catalog-light.svg
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Cloud-Native-Catalog/new-catalog.js
Labels: none

Update images to gatsby-plugin-image component
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
Labels: none

docker callout card ui update
  src/sections/Docker-Meshery/docker-extension-CTA.js
Labels: none

Fix padding CSS
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
Labels: none

fix intermittent background flash
  src/sections/app.style.js
Labels: type/core-styls

Improve Responsive of Table at Service Mesh Patterns Book Page
  src/components/service-mesh-patterns-Table/Table.js
  src/sections/Learn/Book-single/BookSingle.style.js
Labels: none

Improve Responsive of Table at Service Mesh Patterns Book Page
  src/components/service-mesh-patterns-Table/Table.js
  src/sections/Learn/Book-single/BookSingle.style.js
Labels: none

merge master
  src/collections/members/sahil/index.mdx
  src/collections/members/sahil/sahil.jpeg
Labels: area/community

use hasMount to detect window instead of undefined
  src/sections/Community/index.js
  src/sections/Company/Stewards-of-industry/index.js
  src/sections/Projects/SMP/index.js
Labels: none

revert themeStyles
  src/theme/app/themeStyles.js
Labels: type/core-styls

add: add details of 2023 summer projects
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Added Docker Extension Badge
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

chore: change list type in one project
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

chore: fix capitalisation of augmentation
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Added Docker Extension Badge
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Added docker extension badge in alphabetical order
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

Update catalog image
  src/assets/images/catalog/catalog-dark.svg
Labels: none

Typo change
  src/sections/Cloud-Native-Catalog/catalog.js
Labels: none

crossorigin correctly cased with eslint exception
  src/html.js
Labels: none

correct href with extra forward slash
  src/collections/events/servicemeshcon-NA-2021/index.mdx
Labels: area/events

revert themeStyles to original state
  src/theme/app/themeStyles.js
Labels: type/core-styls

done some minor changes to :/Community/Handbook/recognition.js
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

member-added
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/senali-dilumika/senali-dilumika.jpeg
Labels: area/community

fix LDJSON to appear correctly
  src/components/seo.js
Labels: none

fix crossOrigin warning
  src/html.js
Labels: none

chore: correct additional information
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

add: add project information
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

blog draft
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
Labels: area/blog

thumbnail
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
  src/collections/blog/2023/2023-12-05-k8s-nodeports/k8s-nodeports.png
Labels: area/blog

table
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
Labels: area/blog

member-update-remove-MD_Sahil
  src/collections/members/sahil/index.mdx
  src/collections/members/sahil/sahil.jpeg
Labels: area/community

dev warning information to contributors
  CONTRIBUTING.md
Labels: none

clear warning for currentSlide, slideCount - learn
  src/sections/Learn/LearnPage-Sections/workshops.js
Labels: none

update webhook URL
  src/sections/Community/Web-based-from/index.js
Labels: none

update common form
  src/components/CommonForm/index.js
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
