Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

fix: logo mismatch in gitops page
  src/sections/gitops/index.js
Labels: none

move lhci to warn mode
  .lighthouserc.js
Labels: none

update CI variable for npm run build
  .github/workflows/lighthouseci.yml
Labels: area/ci

must specify boolean value for process.env.CI
  gatsby-node.js
Labels: area/site-config

lower performance minScore warning
  .lighthouserc.js
Labels: none

update the home page test url
  .lighthouserc.js
Labels: none

update home page url for lhci testing
  .desktop-lighthouserc.js
  .lighthouserc.js
Labels: none

change CI comparison operator to a string "true"
  gatsby-node.js
Labels: area/site-config

change CI comparison operator to a string "true"
  gatsby-node.js
Labels: area/site-config

gatsby-plugin-robots-txt 1.8.0 requires gatsby v5
  package-lock.json
  package.json
Labels: none

clear git error `Missing "key" prop for element.."
  src/components/ConformanceTest-Table/index.js
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/index.js
Labels: area/landscape

clear git error "Unknown property 'leftAlign'..."
  src/sections/Company/Legal/code-of-conduct/index.js
  src/sections/Company/Legal/privacy/index.js
  src/sections/Company/Legal/terms-of-service/index.js
  src/sections/Learn-Layer5/Courses-List/index.js
Labels: none

clear eslint error "Unknown property 'hrf' found"
  src/sections/Community/Handbook/security-vulnerabilities.js
Labels: area/handbook

clear lint warn 'MeshMap' is defined...never used
  src/sections/gitops/index.js
Labels: none

clear lint warn 'totalCount' is... never used"
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog

clarify unsed vars with comment, fix arrow button
  src/sections/Learn/LearnPage-Sections/workshops.js
Labels: none

fixes #4406
  src/sections/gitops/index.js
Labels: none

clear lint error no-unused-vars for 'readMoreLink'
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
Labels: project/meshmap

clear console error 'theme'... was not found
  src/pages/community/members.js
Labels: area/community

remove unused import causing console error
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

updated meshmap link
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

fixes issue no 4378 : Card Overflowing out of the main UI
  package-lock.json
  package.json
  src/sections/Projects/SMI/smi.style.js
Labels: none

feat: Added Meshery Operator Blog
  src/collections/blog/2023/2023-06-21-meshery-operators/gsoc-wide.webp
  src/collections/blog/2023/2023-06-21-meshery-operators/gsoc.webp
  src/collections/blog/2023/2023-06-21-meshery-operators/index.mdx
  src/collections/blog/2023/2023-06-21-meshery-operators/meshery-operator-dark.png
  src/collections/blog/2023/2023-06-21-meshery-operators/meshsync.png
Labels: area/blog

feat: updated blog
  src/collections/blog/2023/2023-06-21-meshery-operators/index.mdx
Labels: area/blog

add-member-to-community
  src/collections/members/randy-chilau/index.mdx
  src/collections/members/randy-chilau/randy-chilau.jpeg
Labels: area/community

added more shortcodes for mdx files to dry up code
  root-wrapper.js
Labels: none

add ChapterStyle shortcode
  root-wrapper.js
Labels: none

added gatsby-plugin-mdx v4 migration for mdx2
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config

add __contentFilePath for mdx2 migration
  gatsby-node.js
Labels: area/site-config

updated gql query and added __contentFilePath
  gatsby-node.js
Labels: area/site-config

mdx2 migration, replace html with excerpt for feed
  gatsby-config.js
Labels: area/site-config

added enhancements
  src/components/Case-study-banner/index.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

mdx2 migrate update templates to use children
  src/templates/blog-single.js
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/course-overview.js
  src/templates/event-single.js
  src/templates/executive-bio.js
  src/templates/integrations.js
  src/templates/lab-single.js
  src/templates/learn-chapter.js
  src/templates/member-single.js
  src/templates/program-multiple.js
  src/templates/program-single.js
  src/templates/resource-single.js
  src/templates/workshop-single.js
Labels: area/blog, area/careers, area/community, area/events, area/learn, area/resources

mdx2 migration updated sections to use children
  src/components/UpcomingEventCard/index.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Career-single/index.js
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Community/Event-single/index.js
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Company/News-single/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Learn/Book-single/index.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Learn/Workshop-single/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Projects/Project-single/index.js
  src/sections/Resources/Resource-single/index.js
Labels: none

added label
  src/components/Case-study-banner/index.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

mdx2 migration - need to fix import SVG component
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/sca-contributhon/index.mdx
Labels: area/careers

mdx2: added "published: true" to include in query
  src/collections/service-mesh-labs/meshery_performance_testing/index.mdx
  src/collections/service-mesh-labs/traffic_splitting_with_meshery/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_consul/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_istio/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_kuma/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_linkerd/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_nsm/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_open_service_mesh/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_traefik/index.mdx
  src/collections/service-mesh-workshops/2018_docker_con_eu/index.mdx
  src/collections/service-mesh-workshops/2018_docker_con_na/index.mdx
  src/collections/service-mesh-workshops/2018_kube_con_na/index.mdx
  src/collections/service-mesh-workshops/2018_velocity_london/index.mdx
  src/collections/service-mesh-workshops/2019_08_01-introduction_to_istio/index.mdx
  src/collections/service-mesh-workshops/2019_09_27-devfest_montreal/index.mdx
  src/collections/service-mesh-workshops/2019_10_15_all_things_open_raleigh/index.mdx
  src/collections/service-mesh-workshops/2020_01_16_cloud_native_austin/index.mdx
  src/collections/service-mesh-workshops/2020_05_12_open_source_101/index.mdx
  src/collections/service-mesh-workshops/2020_06_20_infra-ops/index.mdx
  src/collections/service-mesh-workshops/2020_07_14-oscon/index.mdx
  src/collections/service-mesh-workshops/2020_10_12-service-mesh-fundamentals-with-linkerd/index.mdx
  src/collections/service-mesh-workshops/2020_12_09-advanced-istio/index.mdx
  src/collections/service-mesh-workshops/2021_02_22-istiocon/index.mdx
Labels: area/learn

mdx2 - fixed misplaced slug query property
  src/sections/Blog/Blog-single/index.js
  src/sections/Learn/Workshop-grid/index.js
Labels: none

mdx2 - empty tempate mdx file moved to discuss
  src/assets/discuss/integration-template/icon/color/integration-template-color.svg
  src/assets/discuss/integration-template/icon/white/integration-template-white.svg
Labels: none

mdx2 - adding eslint for mdx files
  .eslintrc.js
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config
