Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

updatee
  src/collections/blog/2023/2023-08-21-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-21-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-21-layer5-badge-program/recognition-program.png
Labels: area/blog

2023-08-21-importance-of-github-stars
  src/collections/blog/2023-08-21-importance-of-github-stars/Main repository.PNG
  src/collections/blog/2023-08-21-importance-of-github-stars/Starred repository.PNG
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
Labels: area/blog

gsoc.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc.webp
Labels: area/blog

Hero Image.svg
  src/collections/blog/2023-08-21-importance-of-github-stars/Hero Image.svg
Labels: area/blog

implemented products page
  src/pages/products/index.js
  src/pages/products/pricing.style.js
Labels: none

added section for Adventures of Five and Friends
  package-lock.json
  src/assets/images/adventure-five/layer_five.png
  src/sections/Adventures-Callout/discuss.style.js
  src/sections/Adventures-Callout/index.js
  src/sections/Community/community.style.js
  src/sections/Community/index.js
Labels: none

Community index update
  src/sections/Community/index.js
Labels: none

comments removed from community.style.js
  src/sections/Community/community.style.js
Labels: none

Update index.mdx
  src/collections/blog/2023/2023-08-21-layer5-badge-program/index.mdx
Labels: area/blog

faq update
  src/collections/blog/2023/2023-08-21-layer5-badge-program/index.mdx
Labels: area/blog

Update faq
  src/collections/blog/2023/2023-08-21-layer5-badge-program/index.mdx
Labels: area/blog

Alignment for mobile device changed to center
  package-lock.json
  src/sections/Partners/partner.style.js
Labels: none

Importance of github stars.mdx
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
Labels: area/blog

importance-of-github-stars
  src/collections/blog/Github-stars/gsoc-wide.webp
  src/collections/blog/Github-stars/gsoc.webp
  src/collections/blog/Github-stars/index.mdx
  src/collections/blog/importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/importance-of-github-stars/gsoc.webp
  src/collections/blog/importance-of-github-stars/index.mdx
Labels: area/blog

importance-of-github-stars
  src/collections/blog/Github-stars/gsoc-wide.webp
  src/collections/blog/Github-stars/gsoc.webp
  src/collections/blog/Github-stars/index.mdx
Labels: area/blog

2023-08-21-importance-of-github-stars
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
Labels: area/blog

gsoc.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc-wide.webp
  src/collections/blog/2023-08-21-importance-of-github-stars/gsoc.webp
Labels: area/blog

Hero Image.svg
  src/collections/blog/2023-08-21-importance-of-github-stars/Hero Image.svg
Labels: area/blog

Importance of github stars.mdx
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
Labels: area/blog

Update index.mdx
  src/collections/members/karan-thakur/index.mdx
Labels: area/community

Blog: Importance of GitHub Stars
  src/collections/blog/2023-08-21-importance-of-github-stars/index.mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/After.jpg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/Before.jpg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/Hero Image.svg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

modifying container height flexible
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.js
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.style.js
Labels: none

Fixed SMP Action icon
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

Removed extra space
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

Update navigation.style.js
  src/sections/General/Navigation/navigation.style.js
Labels: none

thumbnail updated
  src/collections/events/IstioCon 2023/IstioCon2023.png
  src/collections/events/IstioCon 2023/index.mdx
Labels: area/events

maintained aspect ratio of image and changed author name
  src/collections/blog/2023/2023-08-12-introduction-to-layer5-resources/index.mdx
Labels: area/blog

Update src/collections/events/IstioCon 2023/index.mdx
  src/collections/events/IstioCon 2023/index.mdx
Labels: area/events

Importance of github stars update
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

directory
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Rename Hero Image.svg to hero-image.svg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/hero-image.svg
Labels: area/blog

Update index.mdx
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

lowercase filename
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/after.jpg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/before.jpg
Labels: area/blog

sucessfully added layer5 community member(saurabh_soni) profile.
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/saurabh soni/saurabh.webp
Labels: area/community

added member profile of saurabh soni
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/saurabh soni/saurabh.webp
Labels: area/community

<fixed extra column space in mobile view>
  src/sections/General/Navigation/navigation.style.js
  src/sections/Landscape/LandscapeGrid.style.js
Labels: area/landscape

Changes from review
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Added five image
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/five-image.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

date
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog

Update docker-extension-meshery.js
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: none
