Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"

Error due to public URL Reverted
  src/templates/integrations.js
Labels: none

Added new screenshots to _images/artifact-hub
  src/collections/integrations/_images/artifact-hub/img.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-light.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-light.png
Labels: project/meshery

remove workingslides from CNI
  src/collections/integrations/container network interface (cni)/index.mdx
Labels: project/meshery

rm CNI
  src/collections/integrations/container network interface (cni)/icon/color/container network interface (cni)-color.svg
  src/collections/integrations/container network interface (cni)/icon/white/container network interface (cni)-white.svg
  src/collections/integrations/container network interface (cni)/index.mdx
Labels: project/meshery

fets: /embed page for embed test
  src/pages/embed.js
  static/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy.js
Labels: none

Removed img.png from _images/artifact-hub
  src/collections/integrations/_images/artifact-hub/img.png
Labels: project/meshery

feat: add whiteboard page
  src/assets/images/whiteboard/cursor-1.svg
  src/assets/images/whiteboard/cursor-2.svg
  src/assets/images/whiteboard/hexagon.svg
  src/assets/images/whiteboard/octagon.svg
  src/assets/images/whiteboard/pentagon.svg
  src/assets/images/whiteboard/square.svg
  src/assets/images/whiteboard/whiteboard.svg
  src/pages/whiteboard/index.js
  src/sections/Whiteboard/index.js
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

add-question
  src/assets/data/faq/index.js
Labels: none

Update index.js
  src/assets/data/faq/index.js
Labels: none

add missing comma
  src/assets/data/faq/index.js
Labels: none

fix: fix mobile view
  src/sections/Whiteboard/index.js
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

Replacing Service mesh to Cloud native and adding new image
  src/collections/blog/2023/Load-Generation-Load-Balancing/Layer5.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/Load.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/MeshMap.png
  src/collections/blog/2023/Load-Generation-Load-Balancing/index.md
  src/collections/blog/2023/Load-Generation-Load-Balancing/loadbalancingimage.png
Labels: area/blog

FAQ udated for community docs
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

feat: add canvas section
  src/sections/Whiteboard/index.js
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/crossplane/icon/color/crossplane-color.svg
  src/collections/integrations/crossplane/icon/white/crossplane-white.svg
  src/collections/integrations/crossplane/index.mdx
  src/collections/integrations/thanos-operator/icon/color/thanos-operator-color.svg
  src/collections/integrations/thanos-operator/icon/white/thanos-operator-white.svg
  src/collections/integrations/thanos-operator/index.mdx
Labels: project/meshery

fix: fix rotation animation
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

update webhook signup forms
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

solved merge conflicts
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/k8svault-controller/icon/color/k8svault-controller-color.svg
  src/collections/integrations/k8svault-controller/icon/white/k8svault-controller-white.svg
  src/collections/integrations/k8svault-controller/index.mdx
  src/collections/integrations/terraform/icon/color/terraform-color.svg
  src/collections/integrations/terraform/icon/white/terraform-white.svg
  src/collections/integrations/vald-helm-operator/icon/color/vald-helm-operator-color.svg
  src/collections/integrations/vald-helm-operator/icon/white/vald-helm-operator-white.svg
  src/collections/integrations/vald-helm-operator/index.mdx
  src/collections/integrations/vault-operator/icon/color/vault-operator-color.svg
  src/collections/integrations/vault-operator/icon/white/vault-operator-white.svg
  src/collections/integrations/vault-operator/index.mdx
  src/collections/integrations/vault-secrets/icon/color/vault-secrets-color.svg
  src/collections/integrations/vault-secrets/icon/white/vault-secrets-white.svg
  src/collections/integrations/vault-secrets/index.mdx
Labels: project/meshery

fix-failing-pre-commit-hook
  static/embed-test/embedded-design-cypress-des-1-no-modify-by-me-copy.js
Labels: none

added image folder for the epam integration
  src/collections/integrations/_images/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/meshmap-epam-designer-light.png
  src/collections/integrations/_images/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/meshmap-epam-visualizer-light.png
  src/collections/integrations/admin-console-operator/index.mdx
Labels: project/meshery

added image folder for the epam integration
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-designer-light.png
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-visualizer-light.png
Labels: project/meshery

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

modified the screenshot
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-visualizer-dark.png
Labels: project/meshery

changed the folder name for epam integration
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/admin-console-operator/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-light.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-light.png
  src/collections/integrations/epam-delivery-platform-edp-admin-console/icon/color/admin-console-operator-color.svg
  src/collections/integrations/epam-delivery-platform-edp-admin-console/icon/white/admin-console-operator-white.svg
  src/collections/integrations/epam-delivery-platform-edp-admin-console/index.mdx
Labels: project/meshery

feat: add /comments
  src/assets/images/comments/comment.svg
  src/components/FeatureUseCard/featureUseCard.style.js
  src/components/FeatureUseCard/index.js
  src/pages/comments/index.js
  src/sections/Comments/comments.style.js
  src/sections/Comments/index.js
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
  src/sections/SeeYou/index.js
  src/sections/SeeYou/seeYou.style.js
Labels: none

Abandoned post; quit without fulfilling his promises.
  src/collections/members/parthib-datta/index.mdx
  src/collections/members/parthib-datta/parthib-datta.webp
Labels: area/community

Update index.mdx
  src/collections/members/olayiwola-ololade/index.mdx
Labels: area/community

modified the screenshot
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-dark.png
Labels: project/meshery

revert-renaming-of-mdx-file
  src/collections/integrations/admin-console-operator/icon/color/admin-console-operator-color.svg
  src/collections/integrations/admin-console-operator/icon/white/admin-console-operator-white.svg
  src/collections/integrations/admin-console-operator/index.mdx
Labels: project/meshery

update
  src/collections/integrations/epam-delivery-platform-edp-admin-console/icon/white/admin-console-operator-white.svg
  src/collections/integrations/epam-delivery-platform-edp-admin-console/index.mdx
Labels: project/meshery

add-object-fit-contain-property
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
Labels: none

Update src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Update src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

Update src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

[Docs] Generated documentation for Integration
  src/collections/integrations/admin-console-operator/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
Labels: project/meshery

feat: add use case images
  src/assets/images/comments/use-case-1.png
  src/assets/images/comments/use-case-2.png
  src/assets/images/comments/use-case-3.png
  src/assets/images/whiteboard/use-case-1.png
  src/assets/images/whiteboard/use-case-2.png
  src/assets/images/whiteboard/use-case-3.png
  src/components/FeatureUseCard/featureUseCard.style.js
  src/components/FeatureUseCard/index.js
  src/sections/Comments/index.js
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
  src/sections/Whiteboard/index.js
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/meshery-shapes/icon/color/meshery-shapes-color.svg
  src/collections/integrations/meshery-shapes/icon/white/meshery-shapes-white.svg
Labels: project/meshery

features card font size color and spacing fixed
  src/components/FeatureUseCard/featureUseCard.style.js
  src/components/FeatureUseCard/index.js
  src/sections/Whiteboard/index.js
Labels: none

increase size of hero title in mobile view to 2rem
  src/sections/FeatureHero/featureHero.style.js
Labels: none
