Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

font size of features section heading increased
  src/sections/Whiteboard/index.js
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

using theme referencing for font color of features section title
  src/sections/Whiteboard/whiteboard.style.js
Labels: none

font color theme referencing in comments page and increased features section title font size
  src/sections/Comments/comments.style.js
  src/sections/Comments/index.js
Labels: none

whiteboard and comment feature section added
  src/sections/Playground/playground-features.js
Labels: none

catalog feature rewrite
  src/collections/events/devconf-2022-measure-smp/index.mdx
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
Labels: area/events

rearrange
  src/sections/Cloud-Native-Catalog/catalog.js
Labels: none

rearrange
  src/sections/Cloud-Native-Catalog/catalog.js
Labels: none

minor fixes
  src/sections/Playground/playground-features.js
Labels: none

swap in Meshery
  src/sections/Learn/Learn-Service-Mesh-CTA/index.js
Labels: none

newsletter subscription update
  src/collections/blog/2020/2020-05-21-getting-started-with-mesheryctl/index.mdx
  src/components/ContactCard/index.js
  src/sections/subscribe/SubscribeLearnPath.js
  src/sections/subscribe/subscribe.js
Labels: area/blog

subscription changes
  src/sections/subscribe/subscribe.js
  src/sections/subscribe/subscribe.style.js
Labels: none

[Docs] Generated documentation for Integration
  src/collections/integrations/artifact hub/icon/color/artifact hub-color.svg
  src/collections/integrations/camel-k/icon/color/camel-k-color.svg
Labels: project/meshery

Updated the label-commenter-config.yml
  .github/label-commenter-config.yml
Labels: area/ci

Added label-commenter.yml file
  .github/workflows/label-commenter.yml
Labels: area/ci

[Docs] Generated documentation for Integration
  src/collections/integrations/amd-gpu/icon/color/amd-gpu-color.svg
  src/collections/integrations/amd-gpu/icon/white/amd-gpu-white.svg
  src/collections/integrations/antrea/icon/color/antrea-color.svg
  src/collections/integrations/antrea/icon/white/antrea-white.svg
  src/collections/integrations/kubeform-provider-aws/icon/color/kubeform-provider-aws-color.svg
  src/collections/integrations/kubeform-provider-aws/icon/white/kubeform-provider-aws-white.svg
  src/collections/integrations/kubeform-provider-aws/index.mdx
  src/collections/integrations/kubernetes-ingress/icon/color/kubernetes-ingress-color.svg
  src/collections/integrations/kubernetes-ingress/icon/white/kubernetes-ingress-white.svg
  src/collections/integrations/kubernetes-ingress/index.mdx
  src/collections/integrations/kubernetes-secret-generator/icon/color/kubernetes-secret-generator-color.svg
  src/collections/integrations/kubernetes-secret-generator/icon/white/kubernetes-secret-generator-white.svg
  src/collections/integrations/meshery-core/icon/white/meshery-core-white.svg
  src/collections/integrations/meshery-flowchart/icon/color/meshery-flowchart-color.svg
  src/collections/integrations/meshery-flowchart/icon/white/meshery-flowchart-white.svg
  src/collections/integrations/meshery-flowchart/index.mdx
  src/collections/integrations/meshery-shapes/icon/white/meshery-shapes-white.svg
Labels: project/meshery

Recognition Programs link added
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: none

whiteboard and comment page layout updated
  src/assets/images/whiteboard/whiteboard.png
  src/sections/Comments/index.js
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
  src/sections/Whiteboard/index.js
Labels: none

routing link fixed
  src/sections/Playground/playground-features.js
Labels: none

padding added between top two sections
  src/sections/FeatureHero/featureHero.style.js
Labels: none

initial commit
  src/components/TopPromotionalBanner/index.js
  src/components/TopPromotionalBanner/style.js
  src/components/layout.js
Labels: none

Update .github/label-commenter-config.yml
  .github/label-commenter-config.yml
Labels: area/ci

AWS Diagram page created
  src/pages/cloud-native-management/aws-diagram.js
  src/sections/AWS-Diagram/diagram.js
  src/sections/AWS-Diagram/header.js
  src/sections/AWS-Diagram/index.js
Labels: none

emoji rocket replaced with five's rocket
  src/assets/images/top-promotional-banner/rocket.svg
  src/components/TopPromotionalBanner/index.js
  src/components/TopPromotionalBanner/style.js
Labels: none

change text from cloud native playground to meshery
  src/components/TopPromotionalBanner/index.js
Labels: none

draft k8s 1.29 blog post
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new-dark.webp
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.svg
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.webp
Labels: area/blog

update
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
Labels: area/blog

update
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
Labels: area/blog

new img
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.svg
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.webp
Labels: area/blog

image update
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new-dark.webp
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.svg
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.webp
Labels: area/blog

higher res
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new-dark.webp
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.webp
Labels: area/blog

hyperlink
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
Labels: area/blog

typo fixed
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
Labels: area/blog

replaced video
  src/sections/Meshmap/signup-form.js
Labels: project/meshmap

style update
  src/sections/AWS-Diagram/diagram.js
Labels: none

feat(news): added snippet of news article
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
Labels: area/news

created copy of news template
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/sample.svg
Labels: area/news

initial commit
  src/assets/images/features-section/commenting.svg
  src/assets/images/features-section/cursor.svg
  src/assets/images/features-section/whiteboarding-light.svg
  src/assets/images/features-section/whiteboarding.svg
  src/components/Features/index.js
  src/components/Features/style.js
  src/pages/index.js
  src/sections/Home/FeaturesContainer/index.js
  src/sections/Home/FeaturesContainer/style.js
Labels: none

feat(news): added cover thumbnail
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/sample.svg
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/tech-genix-cover.jpg
Labels: area/news

SVGs updated
  src/assets/images/features-section/commenting.svg
  src/assets/images/features-section/whiteboarding-light.svg
  src/assets/images/features-section/whiteboarding.svg
Labels: none

chore: fixed typo
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
Labels: area/news

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
