Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

update
  src/sections/FeatureHero/index.js
Labels: none

[commonForm.style.js] fixed issue #5232
  src/components/CommonForm/commonForm.style.js
Labels: none

gcp page hero image animation updated
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
Labels: none

gcp page title changed
  src/sections/GCP-Diagram/index.js
Labels: none

chore: alphabetize form options
  src/components/CommonForm/index.js
Labels: none

rm dups
  src/components/CommonForm/index.js
Labels: none

redirecting to announcement blog
  src/components/TopPromotionalBanner/index.js
  src/components/TopPromotionalBanner/style.js
Labels: none

[Home] Change blog link
  src/components/TopPromotionalBanner/index.js
  src/components/TopPromotionalBanner/style.js
Labels: none

add embed test page
  package-lock.json
  package.json
  src/pages/embed.js
  static/embed-test/embedded-design-embed1.js
Labels: none

new section added on aws and gcp for similar content
  src/components/RelatedPicks/index.js
  src/components/RelatedPicks/style.js
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
Labels: none

multiple h1 tags removed
  src/sections/AWS-Diagram/diagram.js
  src/sections/GCP-Diagram/diagram.js
Labels: none

hero image theme compatibility fixed
  src/sections/AWS-Diagram/index.js
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
  src/sections/GCP-Diagram/index.js
Labels: none

increased hero title text in mobile view
  src/sections/FeatureHero/featureHero.style.js
Labels: none

whiteboarding page updated
  src/components/RelatedPicks/style.js
  src/pages/architecture-diagram/design-architecture-diagram/index.js
  src/pages/whiteboard/index.js
  src/sections/ArchitectureDiagram/index.js
  src/sections/ArchitectureDiagram/whiteboard.style.js
  src/sections/Home/FeaturesContainer/index.js
  src/sections/Whiteboard/index.js
Labels: none

Uploaded an image of Five
  src/sections/Community/Community-pictures/17.png
Labels: none

Replaced Lee's photo with an image of Five
  src/sections/Community/index.js
Labels: none

added white bg to image of five
  src/sections/Community/Community-pictures/Five playing.png
Labels: none

updated image of five with white bg
  src/sections/Community/index.js
Labels: none

GIFs added for feature cards
  src/sections/ArchitectureDiagram/images/collaboration.gif
  src/sections/ArchitectureDiagram/images/customization.gif
  src/sections/ArchitectureDiagram/images/optimized.gif
  src/sections/ArchitectureDiagram/images/shapes-and-templates.gif
  src/sections/ArchitectureDiagram/index.js
Labels: none

typo error fixed
  src/sections/ArchitectureDiagram/index.js
Labels: none

uploaded five images
  src/sections/Community/Community-pictures/Five playing.jpg
  src/sections/Community/Community-pictures/Five showing Layer5.jpg
Labels: none

Rename Five showing Layer5.jpg to Five-showing-Layer5.jpg
  src/sections/Community/Community-pictures/Five-showing-Layer5.jpg
Labels: none

changed five image
  src/sections/Community/index.js
Labels: none

text color fix
  src/components/CommonForm/commonForm.style.js
Labels: none

metadata description fix
  src/templates/member-single.js
Labels: area/community

orchestration section on homepage
  src/components/Features/TwoColLayout.js
  src/components/Features/images/orchestration-light.svg
  src/components/Features/images/orchestration.svg
  src/components/Features/two-col-layout.js
  src/sections/Home/FeaturesContainer/index.js
Labels: none

removed unused images link
  src/sections/Home/FeaturesContainer/index.js
Labels: none

removed shortform for AWS and GCP
  src/sections/AWS-Diagram/index.js
  src/sections/GCP-Diagram/index.js
Labels: none

orchestration-management page added
  src/pages/orchestration-management/index.js
  src/sections/OrchestrationManagement/index.js
  src/sections/OrchestrationManagement/orchestration.style.js
Labels: none

title changed
  src/components/Features/TwoColLayout.js
Labels: none

Change the green used for headers on this page to Caribbean green
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

add-CTA-on-every-observability-integration-page
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/cta-performance.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: none

some 404 fix
  gatsby-node.js
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-08-20-announcing-the-meshery-adapter-for-open-service-mesh/index.mdx
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
Labels: area/blog, area/site-config

orchestration card title change
  src/components/Features/TwoColLayout.js
Labels: none

Kubernetes Architecture Diagram added
  src/pages/cloud-native-management/generate-kubernetes-architecture-diagram.js
  src/sections/GCP-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/diagram.js
  src/sections/Kubernetes-Diagram/index.js
Labels: none

Create Contributing-as-a-designer
  src/collections/blog/2024/Contributing-as-a-designer
Labels: area/blog

Update and rename src/collections/blog/2024/Contributing-as-a-designer to src/collections/blog/2024/contributing-as-a-designer/index.mdx
  src/collections/blog/2024/Contributing-as-a-designer
  src/collections/blog/2024/contributing-as-a-designer/index.mdx
Labels: area/blog

uploaded header image
  src/collections/blog/2024/contributing-as-a-designer/header-image.svg
Labels: area/blog

Delete src/collections/blog/2024/contributing-as-a-designer/header-image.svg
  src/collections/blog/2024/contributing-as-a-designer/header-image.svg
Labels: area/blog

uploaded Five images
  src/sections/Community/Community-pictures/14.svg
  src/sections/Community/Community-pictures/17.svg
Labels: none

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
