Repository layer5io/layer5, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/blog, area/careers, area/community, area/events, area/handbook, area/landscape, area/learn, area/news, area/partners, area/resources, area/projects, type/core-styls, area/site-config, area/packages, project/meshery, project/meshmap

fix: mdx eslint fix
  src/collections/blog/2022/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
Labels: area/blog

fix: prevent undefined language variable
  src/components/CodeBlock/index.js
Labels: none

changed-banner
  src/components/Profile-card/ProfileCard.style.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: none

More potential adventures
  src/sections/Community/Adventures-of-Five/index.js
Labels: none

deleted a file
  .github/workflows/meshmap.yml
Labels: area/ci

fixed hyperlink and other words
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

fixed typo
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

updated the path
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

Corrected LFX formatting. fixed #4502.
  src/collections/programs/Programs.style.js
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

Corrected LFX terms: minor update. fixed #4502.
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

feat:added inactive banner
  gatsby-node.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
  src/templates/member-single.js
Labels: area/community, area/site-config

Update label-commenter-config.yml
  .github/label-commenter-config.yml
Labels: area/ci

Create touch
  static/case-studies/touch
Labels: none

Add files via upload
  static/case-studies/hpe-adoption-of-layer5-meshery-and-meshmap.pdf
Labels: none

permalink
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

award-badges-to-members
  src/collections/members/Avishkar/index.mdx
  src/collections/members/antonette-caldwell/index.mdx
  src/collections/members/karan-thakur/index.mdx
  src/collections/members/randy-chilau/index.mdx
Labels: area/community

rm old hpe pdf
  src/assets/case-study/HPE's_adoption_of_Meshery_and_Meshmap.pdf
  static/case-studies/touch
Labels: none

ies
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

repo overview update
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Newcomers-guide/index.js
Labels: area/handbook

trailing space
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

changed the github link of Meshmap & Meshery Cloud
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

Update src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

fix: replace loadable with react 18 lazy load
  src/components/loading.js
  src/pages/blog/index.js
  src/pages/cloud-native-management/meshery/getting-started.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/pages/community/calendar.js
  src/pages/index.js
  src/sections/Community/Adventures-of-Five/index.js
  src/sections/Company/Brand/index.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: area/blog, area/community

fix opengraph image
  src/pages/community/adventures-of-five-and-friends/index.js
  src/pages/community/adventures-of-five-and-friends/mascot-five-adventure-github-stars.png
  static/images/meet-five.svg
Labels: area/community

fix: removed plugins from depcheck, react lazy
  package-lock.json
  package.json
Labels: none

chore: remove depcheck no ref plugins, except gbi
  package-lock.json
  package.json
Labels: none

fix: replace depracated pageYOffset with scrollY
  src/components/CommonForm/index.js
  src/components/Scrolltotop-button/useWindowHasScrolled.js
  src/sections/Company/Brand/index.js
  src/sections/General/Navigation/index.js
  src/sections/Meshmap/Meshmap-visualize/meshmap-visualize-banner.js
Labels: project/meshmap

fix: npm install --legacy-peer-deps due to mdxv1
  .github/workflows/build-and-preview-site.yml
Labels: area/ci

fix: add --legacy-peer-deps for lhci workflow
  .github/workflows/lighthouseci.yml
Labels: area/ci

Fix typo
  src/sections/Community/Handbook/projects.js
Labels: area/handbook

Add catalog project to handbook
  src/sections/Community/Handbook/projects.js
Labels: area/handbook

The pointer disappears when I try to click on search icon #4629
  src/reusecore/Search/searchbox.style.js
Labels: none

meshmap redirect
  gatsby-node.js
Labels: area/site-config

deleted old image
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/learning-paths.png
Labels: area/blog

changed blog post title image with new image
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/blog-title.svg
  src/collections/blog/2023/2023-07-22-introduction-to-layer5-resources/index.mdx
Labels: area/blog

small fix
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
Labels: area/blog

changed icon to 3d
  src/sections/Meshmap/meshmap-icon.png
  src/sections/Meshmap/meshmap_banner.js
Labels: project/meshmap

minor change
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
Labels: area/blog

sample image to check build
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/k8s-nodeports.webp
Labels: area/blog

image in blog`
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
Labels: area/blog

.github/labeler.yml:

area/docs:
  - "readme.md"
  - "contributing.md"
area/ci:
  - ".github/**/*"
  - ".husky/**/*"
area/blog:
  - "src/collections/blog/**/*"
  - "src/pages/blog/**/*"
  - "src/templates/blog-*.js"
area/careers:
  - "src/collections/careers/**/*"
  - "src/collections/programs/**/*"
  - "src/templates/career-*.js"
  - "src/pages/careers/*"
area/community:
  - "src/collections/members/**/*"
  - "src/pages/community/**/*"
  - "src/templates/member-*.js"
area/events:
  - "src/collections/events/**/*"
  - "src/templates/event*.js"
area/handbook:
  - "src/components/HandbookCard/**/*"
  - "src/components/Handbook-navigation/**/*"
  - "src/sections/Community/Handbook/**/*"
area/landscape:
  - "src/sections/Landscape/**/*"
  - "src/components/Landscape-Table/**/*"
  - "src/collections/landscape/**/*"
area/learn:
  - "content-learn"
  - "src/components/Learn-Components/**/*"
  - "src/collections/service-mesh-books/**/*"
  - "src/collections/service-mesh-learn/**/*"
  - "src/collections/service-mesh-workshops/**/*"
  - "src/templates/book-*.js"
  - "src/templates/course-*.js"
  - "src/templates/lab-*.js"
  - "src/templates/learn-*.js"
  - "src/templates/workshop-*.js"
area/news:
  - "src/collections/news/**/*"
  - "src/templates/news-*.js"
area/partners:
  - "src/collections/partners/**/*"
area/resources:
  - "src/collections/resources/**/*"
  - "src/templates/resource-*.js"
area/projects:
  - "src/collections/projects/**/*"
  - "src/pages/projects/**/*"
type/core-styls:
  - "src/sections/app.style.js"
  - "src/theme/app/*"
area/site-config:
  - "gatsby-*.js"
area/packages:
  - "package-*.js"
project/meshery:
  - "src/collections/integrations/**/*"
project/meshmap:
  - "src/sections/Meshmap/**/*"
