Repository layer5io/layer5, pull requests merged in 2019-09, with the labels that each got.

#156 chrome compatible clipping
  _includes/head.html
  _includes/meshery.html
  _includes/mesheryhead.html
  assets/images/buttons/clippy.svg
  assets/main.scss
Labels: bug

#158 add cilium to meshes.yml
  _data/categories/meshes.yml
Labels: landscape

#152 Added A10 Networks to landscape
  _data/categories/lb.yml
  _data/categories/meshes.yml
  _data/categories/proxies.yml
Labels: landscape

#160 Update youtube channel subscription link
  _config.yml
Labels: chore

#170 Add HAProxy to Landscape
  _data/categories/non-functional.yml
  _data/categories/proxies.yml
Labels: landscape

#161 Add vulcand
  _data/categories/meshes.yml
  _data/categories/non-functional.yml
  _data/categories/proxies.yml
Labels: landscape
