Repository layer5io/layer5, pull requests merged in 2020-08, with the labels that each got.

#546 Added meshery operator project logo and description
  README.md
Labels: kind/chore

#556 feat: add react-prism-renderer and move three blogs
  gatsby-browser.js
  gatsby-ssr.js
  package-lock.json
  package.json
  root-wrapper.js
  src/components/CodeBlock/copy-to-clipboard.js
  src/components/CodeBlock/index.js
  src/posts/blogs/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/hacktoberfest.png
  src/posts/blogs/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/posts/blogs/2019/2019-10-12-hacktoberfest-2019-is-heating-up/hacktoberfestw2.png
  src/posts/blogs/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/posts/blogs/2020/2020-05-21-getting-started-with-mesheryctl/index.mdx
  src/posts/blogs/2020/2020-05-21-getting-started-with-mesheryctl/mesheryctl.png
  src/posts/blogs/Blog.style.js
Labels: layer5-ng

#553 feat: migrate three blogs into layer5-ng
  src/posts/blogs/2020/2020-06-01-meshery-accepted-into-cncf-landscape/cncf-landscape-stacked-color.svg
  src/posts/blogs/2020/2020-06-01-meshery-accepted-into-cncf-landscape/cncf-meshery-landscape.png
  src/posts/blogs/2020/2020-06-01-meshery-accepted-into-cncf-landscape/cncf-meshery.png
  src/posts/blogs/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/posts/blogs/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/gsoc-wide.png
  src/posts/blogs/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/gsoc.png
  src/posts/blogs/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/index.mdx
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/checklist.svg
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/smi-conformance.png
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/smi-logo.png
  src/posts/blogs/2020/2020-07-03-my-meshy-journey/index.mdx
  src/posts/blogs/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/cblogo.png
  src/posts/blogs/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/communitybridge.jpg
  src/posts/blogs/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/posts/blogs/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/smi.png
  src/posts/blogs/2020/2020-07-16-growing-as-an-open-source-contributor-with-layer5/index.mdx
  src/posts/blogs/Blog.style.js
  src/reusecore/PageHeader/index.js
  src/sections/Blog-grid/blogGrid.style.js
  src/sections/Blog-grid/index.js
  src/sections/Blog-single/index.js
  src/templates/blog-single.js
Labels: layer5-ng

#559 [NG] Replace old favicon with square favicon
  src/images/favicon.png
  src/images/gatsby-astronaut.png
  src/images/gatsby-icon.png
Labels: layer5-ng

#555 Migrate 2 blogs
  src/posts/blogs/2019/2019-05-21-a-standard-interface-for-service-meshes/index.mdx
  src/posts/blogs/2019/2019-05-21-a-standard-interface-for-service-meshes/smi-logo.png
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/issue.png
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/landscape.png
Labels: layer5-ng

#562 fix:support svg image in thumbnail of blogs
  src/components/image.js
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/landscape.png
  src/posts/blogs/2019/2019-12-04-layer5-landscape-spectrums-revisited/landscape_green.svg
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/smi-conformance.png
  src/posts/blogs/2020/2020-06-25-SMI-conformance-testing-with-meshery/smi-conformance.svg
  src/sections/Blog-grid/index.js
Labels: layer5-ng

#576 Updated the 404 page
  src/pages/404.js
  src/sections/404/404.style.js
  src/sections/404/index.js
Labels: layer5-ng

#563 added two blogs
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/PR-211-2.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/PR-211.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/arrow.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/card1.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/card2.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/comment.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/graph-compare.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/graphical-table.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/image.png
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/posts/blogs/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/landscape.png
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/Linkerd-with-Meshery.png
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/aws-app-mesh.png
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/consul.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/index.mdx
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/istio.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/kuma.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/linkerd.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/logo.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/nsm.svg
  src/posts/blogs/2020/2020-03-11-deploying-linkerd-with-meshery/octarine.svg
  src/posts/blogs/Blog.style.js
Labels: layer5-ng

#630 feat: add sitemap plugin
  gatsby-config.js
  package-lock.json
  package.json
Labels: layer5-ng

#648 feat: Add link for design document in the distributed-perf
  collections/_projects/service-mesh-distributed-performance-management.md
Labels: area/projects, kind/enhancement
