Repository layer5io/layer5, pull requests merged in 2021-10, with the labels that each got.

#2229 added event for CCOSS Meshery Workshop 2021
  src/collections/events/ccoss-meshery-workshop/ccoss.jpeg
  src/collections/events/ccoss-meshery-workshop/index.mdx
Labels: area/events

#2228 updated hacktober fest info
  src/collections/programs/hacktoberfest-2020/hacktoberfest2021.png
  src/collections/programs/hacktoberfest-2020/index.mdx
  src/collections/programs/hacktoberfest-2021/hacktoberfest2020.png
Labels: hacktoberfest

#2236 added blog post for CCOSS event
  src/collections/blog/2021-10-04-ccoss-meshery-event/ccoss-open-source.jpg
  src/collections/blog/2021-10-04-ccoss-meshery-event/index.mdx
  src/collections/blog/2021-10-04-ccoss-meshery-event/meshery-logo-light-text.png
Labels: hacktoberfest, area/blog

#2234 [Handbook] Added sign-off instructions to contributions page
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/contributing.js
Labels: hacktoberfest, area/community

#2241 [Site] Change terminal output for k8s platform
  src/sections/Meshery/Meshery-terminal/index.js
Labels: framework/gatsby

#2302 Add: newsletter subscription in the learn path page
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/subscribe/SubscribeLearnPath.js
  src/sections/subscribe/subscribeLearn.style.js
Labels: area/learn

#2314 Add Meshery docs session in tutorials list
  src/assets/data/tutorials/index.js
Labels: area/community
