Repository layer5io/layer5, pull requests merged in 2021-01, with the labels that each got.

#1325 Added New Member Profile.md to ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/New Member Profile.md
  .vscode/settings.json
Labels: area/community

#1323 feat: community page
  src/assets/images/meshmate/meshmate-stack.svg
  src/components/ColorBox/index.js
  src/sections/Blog-single/index.js
  src/sections/Book-single/index.js
  src/sections/Careers/careers.style.js
  src/sections/Careers/index.js
  src/sections/Community/Community.js
  src/sections/Community/CommunityMeetingsTable.js
  src/sections/Community/CommunityMembers.js
  src/sections/Community/Lee_Workshop.png
  src/sections/Community/MeshmatesProgramSummary.js
  src/sections/Community/bookmark.png
  src/sections/Community/community-member.jpeg
  src/sections/Community/community.style.js
  src/sections/Community/community1.png
  src/sections/Community/community2.png
  src/sections/Community/index.js
  src/sections/Community/slider.js
  src/sections/Join-community/index.js
  src/sections/News-single/index.js
  src/sections/Programs-single/index.js
Labels: area/community, layer5-ng

#1358 [NG] Operating Service Meshes (How It Works)
  src/pages/service-mesh-management/meshery/getting-started.js
  src/pages/service-mesh-management/meshery/operating-service-meshes.js
  src/pages/serviceMesh.js
Labels: layer5-ng

#1373 [NG] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: layer5-ng

#1372 [NG] Community Member Profile Template update
  src/collections/members/_member-profile-template/index.mdx
Labels: area/community, layer5-ng

#1403 [NG] Blockquote component
  src/reusecore/Blockquote/blockquote.style.js
  src/reusecore/Blockquote/index.js
  src/sections/Community/Meshmates-grid/index.js
Labels: layer5-ng

#1412 [NG] FAQ: Providing missing answers
  src/assets/data/faq/index.js
Labels: layer5-ng
