Repository layer5io/layer5, pull requests merged in 2021-11, with the labels that each got.

#2306 update handbook project icons : they are now responsive
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/projects.js
Labels: area/community

#2336 Added 'Layer5 Team' author option for blogs
  src/collections/blog/2020-05-21-getting-started-with-mesheryctl/index.mdx
  src/collections/blog/2020-08-07-announcing-meshery-v0.4/index.mdx
  src/collections/blog/2020-09-19-performance-benchmarking-using-meshery-and-nighthawk/index.mdx
  src/reusecore/PageHeader/index.js
  src/sections/Blog/BlogPostSignOff/blogpost-signoff.styles.js
  src/sections/Blog/BlogPostSignOff/index.js
Labels: area/blog

#2335 Learning paths/conditional
  content-learn/mastering-service-meshes-for-operators/index.mdx
  package-lock.json
  src/components/Learn-Components/Card-Component/index.js
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/sections/Learn-Layer5/index.js
Labels: area/learn

#2230 New blog post: Pipelining Service Mesh Specifications
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/download-token.png
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/performance-management-dashboard.png
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/service-mesh-specifications.png
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/smi-conformance-result.png
Labels: area/blog, project/smi, projects/smp

#2254 created the FAQs page in community handbok-siddhantkhariwal w/signoff
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/faq.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/index.js
  src/sections/Community/Handbook/learn5.js
Labels: issue/remind

#2313 Fix: responsiveness of CTA widget solved (bug)
  src/sections/Discuss-Callout/discuss.style.js
  src/sections/Discuss-Callout/index.js
Labels: area/discuss

#2340 News article on IEEE Bridge publication
  src/collections/news/2021-11-10-analyzing-service-mesh-performance/cover.png
  src/collections/news/2021-11-10-analyzing-service-mesh-performance/index.mdx
Labels: area/news

#2362 [Chore] Contributor guide update
  CONTRIBUTING.md
Labels: area/community

#2382 Fixed Broken URL
  src/collections/events/kubecon-china-2021/index.mdx
Labels: area/events

#2373 added more topics under resources
  src/collections/resources/choosing-the-perfect-proxy/citrix-api-security-considerations-by-traffic-direction.svg
  src/collections/resources/choosing-the-perfect-proxy/index.mdx
  src/collections/resources/microservices-based-application-delivery/citrix-architectures-for-kubernetes-environments.svg
  src/collections/resources/microservices-based-application-delivery/citrix-oss-integration-categories.svg
  src/collections/resources/microservices-based-application-delivery/citrix-path-to-cloud-native.svg
  src/collections/resources/microservices-based-application-delivery/citrix-service-mesh-lite.svg
  src/collections/resources/microservices-based-application-delivery/citrix-service-mesh.svg
  src/collections/resources/microservices-based-application-delivery/citrix-two-tier-ingress.svg
  src/collections/resources/microservices-based-application-delivery/citrix-unified-ingress.svg
  src/collections/resources/microservices-based-application-delivery/figure1.png
  src/collections/resources/microservices-based-application-delivery/index.mdx
Labels: area/resources

#2383 Added SPIFFE/SPIRE data to the landscape
  package-lock.json
  src/collections/landscape/meshes.js
  src/sections/Landscape/functional.js
Labels: area/landscape

#2385 Rephrase "Community Ladder" title to "Community Journey"
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/contributor-journey.js
  src/sections/Community/Handbook/index.js
  src/sections/Community/Handbook/leadership.js
Labels: issue/dco

#2376 Add chinese version
  src/collections/events/kubecon-china-2021/index.mdx
Labels: area/events
