Repository layer5io/layer5, pull requests merged in 2021-07, with the labels that each got.

#1956 Fixed variable heights of cards w/signoff
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

#1989 Added the framework/discourse label
  .github/ISSUE_TEMPLATE/framework_discourse.md
  .github/label-commenter-config.yml
Labels: area/ci, area/discuss

#1990 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/getting-started.mdx
  src/assets/images/learn-layer5/linkerd/install-linkerd.png
  src/assets/images/learn-layer5/linkerd/linkerd-adapter.png
Labels: area/learn, service-mesh/linkerd

#1993 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/deploy-an-application.mdx
Labels: area/learn

#1995 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/dashboard.mdx
  src/assets/images/learn-layer5/linkerd/tap.png
  src/assets/images/learn-layer5/linkerd/top.png
Labels: area/learn

#1999 [Blog] She Code Africa: Fixes 404 for Anisat
  src/collections/blog/2021-06-25-she-code-africa-contributhon-boot-camp/index.mdx
Labels: area/community

#2003 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/traffic-splitting.mdx
  src/assets/images/learn-layer5/linkerd/control-plane-c.png
Labels: area/learn

#2004 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/fault-injection.mdx
Labels: area/learn

#2002 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/observability.mdx
  src/assets/images/learn-layer5/linkerd/emojivoto-tracing.png
  src/assets/images/learn-layer5/linkerd/linkerd-jaeger-ui.png
Labels: area/learn

#1997 Learn: Introduction to service mesh using linkerd
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd/debugging.mdx
  src/assets/images/learn-layer5/linkerd/octopus.png
  src/assets/images/learn-layer5/linkerd/webtap.png
  src/assets/images/learn-layer5/linkerd/webtop.png
Labels: area/learn

#2012 [Community] Update description of my profile (Aadhitya Amarendiran)
  src/collections/members/aadhitya-amarendiran/index.mdx
Labels: area/community

#2020 [website] modify svg for smi to a proper one
  src/sections/Projects/SMI/smi.svg
Labels: area/projects

#2023 added link to meshery operator docs
  src/sections/Community/Member-single/index.js
Labels: area/community

#2026 new course folder(advance concepts of service mesh) and 1st chapter is added
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/index.mdx
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/istio/getting-started.mdx
Labels: area/learn

#2014 added area of focus
  src/assets/images/status/active.png
  src/assets/images/status/inactive.png
  src/components/dropdownLayouts/labels.style.js
  src/pages/community/members.js
  src/sections/Community/Members-grid/community.js
  src/sections/Community/Members-grid/getnighthawk.js
  src/sections/Community/Members-grid/imagehub.js
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Members-grid/landscape.js
  src/sections/Community/Members-grid/membersGrid.style.js
  src/sections/Community/Members-grid/meshery.js
  src/sections/Community/Members-grid/mesheryoperator.js
  src/sections/Community/Members-grid/smp.js
Labels: area/community

#1996 Community web based Form integration
  package-lock.json
  package.json
  src/pages/newcomers.js
  src/sections/Community/Web-based-from/index.js
  src/sections/Community/Web-based-from/webform.style.js
Labels: area/community

#2008 [Learn] Learning path page sidebar component
  src/components/Learn-Components/Content-Card/index.js
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/components/Learn-Components/TOC-Learning-Path/index.js
  src/components/Learn-Components/TOC-Learning-Path/toc.style.js
  src/sections/Learn-Layer5/Courses-List/index.js
Labels: area/learn

#1979 terminal changed
  src/assets/images/mesheryctl.png
  src/assets/images/shell.png
  src/components/Learn-Components/what-await-section/index.js
  src/components/Learn-Components/what-await-section/what-await.styles.js
Labels: area/learn
