Repository layer5io/layer5, pull requests merged in 2021-09, with the labels that each got.

#2144 [Handbook] added code snippets
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/contributing.js
Labels: area/community

#2146 fix: toc component links are active when they shouldn’t be in mobile
  src/components/handbook-navigation/toc.style.js
Labels: area/community

#2147 repository_overview_page
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/about.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/images/active.png
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/community

#2150 Higlighted selected handbook menu item
  src/components/handbook-navigation/index.js
  src/components/handbook-navigation/toc.style.js
Labels: issue/dco

#2158 Create member profile for Bariq Nurlis
  src/collections/members/bariq-nurlis/bariq-nurlis.jpeg
  src/collections/members/bariq-nurlis/index.mdx
Labels: area/community

#2159 issue/remind label updates for PRs
  .github/label-commenter-config.yml
Labels: kind/chore, area/ci

#2183 Added ServiceMeshCon-NA-2021 Event
  src/collections/events/servicemeshcon-NA-2021/index.mdx
  src/collections/events/servicemeshcon-NA-2021/servicemeshcon.png
Labels: area/events

#2208 Added Member Profile.
  src/collections/members/zainuddeen-abdul-muiz/index.mdx
  src/collections/members/zainuddeen-abdul-muiz/zainuddeen-abdul-muiz.jpg
Labels: issue/dco

#2200 Updated the handbook community page
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/about.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/images/patterns-logo.png
  src/sections/Community/Handbook/programs-data.js
Labels: area/community

#2223 Added Contributor Journey Map to About page
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/about.js
Labels: area/community
