Repository layer5io/layer5, pull requests merged in 2021-06, with the labels that each got.

#1898 Added Course-Overview page & other sections
  content-learn/mastering-meshery-consul/securing-the-service-mesh/index.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/index.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/istio/filtering-traffic.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/istio/mutual-TLS.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/linkerd/filtering-traffic.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/linkerd/mutual-TLS.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/index.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/istio/filtering-traffic.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/istio/mutual-TLS.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/linkerd/filtering-traffic.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/linkerd/mutual-TLS.mdx
  content-learn/mastering-meshery-istio/securing-the-service-mesh/index.mdx
  content-learn/mastering-meshery-istio/securing-the-service-mesh/istio/filtering-traffic.mdx
  content-learn/mastering-meshery-istio/securing-the-service-mesh/istio/mutual-TLS.mdx
  content-learn/mastering-meshery-istio/securing-the-service-mesh/linkerd/filtering-traffic.mdx
  content-learn/mastering-meshery-istio/securing-the-service-mesh/linkerd/mutual-TLS.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/index.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/istio/filtering-traffic.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/istio/mutual-TLS.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/linkerd/filtering-traffic.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/linkerd/mutual-TLS.mdx
  content-learn/mastering-service-meshes-for-developers/securing-the-service-mesh/certificate.mdx
  content-learn/mastering-service-meshes-for-developers/securing-the-service-mesh/index.mdx
  src/assets/images/shell.png
  src/components/Learn-Components/Card-Component/index.js
  src/components/Learn-Components/Course-Overview-page/course-overview.styles.js
  src/components/Learn-Components/Course-Overview-page/index.js
  src/components/Learn-Components/Course-Overview/Course-Overview.js
  src/components/Learn-Components/content-card/content.card.styles.js
  src/components/Learn-Components/content-card/index.js
  src/components/Learn-Components/what-await-section/index.js
  src/components/Learn-Components/what-await-section/what-await.styles.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Learn-Layer5/Courses-List/courseslist.style.js
  src/sections/Learn-Layer5/Courses-List/index.js
  src/sections/Learn-Layer5/index.js
  src/sections/Learn-Layer5/learnlayer5.style.js
Labels: area/learn

#1899 Added member profile : Ayush Khandelwal
  src/collections/members/ayush-khandelwal/ayush-khandelwal.jpg
  src/collections/members/ayush-khandelwal/index.mdx
Labels: area/community

#1900 Updated Service Mesh Patterns Book Cover Image
  src/collections/service-mesh-books/service-mesh-patterns/service-mesh-patterns-small.png
Labels: area/learn

#1912 Added member profile: Elizabeth Lola
  src/collections/members/elizabeth-lola/elizabeth-lola.jpeg
  src/collections/members/elizabeth-lola/index.mdx
Labels: area/community

#1922 [Discuss] Forum links in Mega Menu
  src/sections/General/Navigation/utility/menu-items.js
Labels: area/discuss

#1913 [community] initial upload of new contributor profile
  src/collections/members/gaurav-chadha/gaurav-chadha.png
  src/collections/members/gaurav-chadha/index.mdx
Labels: area/community

#1929 added "-n meshery" in the installation section with helm (line no 80)
  src/sections/Meshery/Meshery-platforms/index.js
Labels: kind/bug, project/meshery

#1907 created the section for Service Meshes you can learn
  package-lock.json
  src/assets/images/learn/sercice-mesh-course1.png
  src/components/Learn-Components/Course-Overview-page/course-overview.styles.js
  src/components/Learn-Components/Course-Overview-page/index.js
Labels: area/learn

#1943 Added wireframe for TOC
  content-learn/mastering-meshery-consul/working-with-meshery-consul/istio/getting-started.mdx
  content-learn/mastering-meshery-consul/working-with-meshery-consul/istio/mutual-tls.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/istio/filtering-traffic.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/istio/getting-started.mdx
  gatsby-node.js
  src/assets/images/learn-layer5/istio/install-istio.png
  src/assets/images/learn-layer5/istio/istio-adapter.png
  src/components/Learn-Components/Chapters-Style/chapters.style.js
  src/components/Learn-Components/Course-Overview-page/course-overview.style.js
  src/components/Learn-Components/Course-Overview-page/index.js
  src/components/Learn-Components/TOC-Chapters/index.js
  src/components/Learn-Components/TOC-Chapters/toc.style.js
  src/components/Learn-Components/content-card/content.card.style.js
  src/components/Learn-Components/content-card/index.js
  src/components/Related-Posts/relatedPosts.style.js
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/templates/learn-chapter.js
Labels: area/learn

#1945 [community]initial upload of new contributor profile
  src/collections/members/nikhil-sharma/index.mdx
  src/collections/members/nikhil-sharma/nikhil-sharma.jpeg
Labels: area/community

#1947 Added Course-list
  content-learn/mastering-meshery-consul/working-with-meshery-consul/index.mdx
  content-learn/mastering-meshery-istio/performance-of-service-mesh/index.mdx
  content-learn/mastering-service-meshes-for-developers/improving-performance-of-service-mesh/index.mdx
  content-learn/mastering-service-meshes-for-developers/securing-the-service-mesh/index.mdx
  src/components/Learn-Components/Card-Component/index.js
  src/components/Learn-Components/Course-Overview-page/course-overview.style.js
  src/components/Learn-Components/Course-Overview-page/index.js
  src/components/Learn-Components/content-card/content.card.style.js
  src/components/Learn-Components/content-card/index.js
  src/components/Learn-Components/get-started-section/get-started.styles.js
  src/components/Learn-Components/get-started-section/index.js
  src/sections/Learn-Layer5/Course-Overview/courseoverview.style.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Learn-Layer5/Courses-List/courseslist.style.js
  src/sections/Learn-Layer5/Courses-List/index.js
  src/sections/Learn-Layer5/index.js
Labels: area/learn

#1817 [Blog] - Created Buf Protocol Blog/Post
  src/collections/blog/2021-02-07-meshkit-and-meshery-adapter-library/index.mdx
  src/collections/blog/2021-04-24-buf-protocols/BufProtocol.style.js
  src/collections/blog/2021-04-24-buf-protocols/buf-protocol.png
  src/collections/blog/2021-04-24-buf-protocols/index.mdx
  src/collections/blog/2021-04-24-buf-protocols/problems.png
Labels: area/blog

#1952 Learn Site changes and add new course under a learning path
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/circuit-breaking.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/deploy-sample-application.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/expose-services-through-ingress.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/fault-injection.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/getting-started.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/mutual-tls-and-identity-verification.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/observability.mdx
  content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio/request-routing-and-canary-testing.mdx
  src/assets/images/learn-layer5/istio/Grafana_-_Istio_Dashboard.png
  src/assets/images/learn-layer5/istio/Grafana_Istio_Dashboard.png
  src/assets/images/learn-layer5/istio/Loggly.png
  src/assets/images/learn-layer5/istio/Prometheus.png
  src/assets/images/learn-layer5/istio/bookinfo-off-mesh.png
  src/assets/images/learn-layer5/istio/bookinfo-on-mesh.png
  src/assets/images/learn-layer5/istio/ip.png
  src/assets/images/learn-layer5/istio/istio-addons.png
  src/assets/images/learn-layer5/istio/jaeger copy.png
  src/assets/images/learn-layer5/istio/jaeger.png
  src/assets/images/learn-layer5/istio/jaeger_1.png
  src/assets/images/learn-layer5/istio/jaeger_2.png
  src/assets/images/learn-layer5/istio/meshery-architecture.svg
  src/assets/images/learn-layer5/istio/meshery_cb_load_test.png
  src/assets/images/learn-layer5/istio/meshery_initial_load_test.png
  src/assets/images/learn-layer5/istio/servicegraph.png
  src/assets/images/learn-layer5/istio/zipkin.png
  src/assets/images/learn-layer5/istio/zipkin_1.png
  src/assets/images/learn-layer5/istio/zipkin_2.png
Labels: area/learn
