Repository layer5io/layer5, pull requests merged in 2021-08, with the labels that each got.

#2041 Fixed issue with safari
  src/components/dropdownLayouts/labels.style.js
  src/pages/community/members.js
  src/sections/Community/Members-grid/membersGrid.style.js
Labels: area/community

#1966 changes for overflowing text
  src/sections/Careers/Careers-Internship-grid/InternshipPage.style.js
Labels: area/careers

#2057 Added Ashish Tiwari under `src/collections/members`
  src/collections/members/ashish-tiwari/ashish-tiwari.jpg
  src/collections/members/ashish-tiwari/index.mdx
Labels: area/community

#2050 Fixed the installation guide
  src/components/CodeBlock/index.js
  src/sections/Meshery/Meshery-platforms/MesheryPlatforms.style.js
  src/sections/Meshery/Meshery-platforms/index.js
Labels: project/meshery

#2073 added meshery operator web page
  src/collections/blog/2020-09-25-announcing-meshmates/index.mdx
  src/collections/blog/2021-04-05-meshmate-of-the-year-2020-nikhil-ladha/index.mdx
  src/collections/blog/2021-06-4-announcing-summer-interns/index.mdx
  src/collections/blog/Blog.style.js
  src/pages/service-mesh-management/meshery/meshery-operator.js
  src/reusecore/Layout/Container.js
  src/sections/Community/Member-single/index.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/meshery-operator/deployment.svg
  src/sections/Meshery/meshery-operator/icon.svg
  src/sections/Meshery/meshery-operator/index.js
  src/sections/Meshery/meshery-operator/initialization.svg
  src/sections/Meshery/meshery-operator/mesheryoperator.style.js
Labels: project/meshery

#2070 Active Sidebar link
  src/components/Learn-Components/Content-Card/index.js
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
  src/components/Learn-Components/TOC-Chapters/index.js
  src/components/Learn-Components/TOC-Chapters/toc.style.js
  src/components/Learn-Components/TOC-Learning-Path/index.js
  src/components/Learn-Components/TOC-Learning-Path/toc.style.js
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
Labels: area/learn

#2119 chapter 5 update
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/index.mdx
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/istio/traffic-management.mdx
Labels: area/learn

#2120 chapter-6 added
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/index.mdx
  content-learn/mastering-meshery-istio/advance-concepts-of-service-mesh/istio/service-security-capabilities.mdx
Labels: area/learn

#2081 Updated the file to include more information about Image-Hub
  README.md
Labels: project/image-hub

#2113 change heading to - community handbook w/signoff
  package-lock.json
  src/pages/community/handbook/index.js
  src/sections/Community/Handbook/about.js
Labels: area/community, issue/remind

#2142 added member profile for meghana
  src/collections/members/meghana-varanasi/index.mdx
  src/collections/members/meghana-varanasi/meghana-varanasi.jpeg
Labels: area/community
