Repository layer5io/layer5, pull requests merged in 2021-04, with the labels that each got.

#1731 created a profile for @Grumpyyash as a contributor and community member
  package-lock.json
  src/collections/members/yash-vardhan/index.mdx
  src/collections/members/yash-vardhan/yash-vardhan.jpg
Labels: area/community

#1760 Issue 1757 - Use Live Performance Text Count on Operating Service Mes…
  src/sections/Counters/index.js
  src/sections/Meshery/How-meshery-works/specs/data-card.js
  src/sections/Projects/GetNighthawk/index.js
Labels: project/meshery

#1763 Fix workshop card open and close transition
  src/components/Workshop-Card/WorkshopsCardWrapper.style.js
  src/sections/Learn/Workshop-grid/WorkshopsGrid.style.js
  src/sections/Learn/Workshop-grid/index.js
Labels: area/learn

#1770 [contributing.md] Update with instructions for modifying community member profiles
  .github/ISSUE_TEMPLATE/community_member_profile.md
  CONTRIBUTING.md
Labels: area/community

#1777 add shecodeafrica contributhon to programs page
  src/collections/programs/sca-contributhon/index.mdx
  src/collections/programs/sca-contributhon/sca.svg
Labels: area/community

#1767 Upgraded Gatsby v2 to v3 and Its Dependencies Also
  .eslintrc.js
  gatsby-config.js
  package-lock.json
  package.json
  src/collections/programs/lfx/Linux_Foundation_logo.svg
  src/collections/programs/lfx/index.mdx
  src/components/image.js
  src/pages/company/news.js
  src/pages/projects/index.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Careers-Internship-grid/index.js
  src/sections/Careers/Careers-Programs-grid/index.js
  src/sections/Community/Emeritus-grid/index.js
  src/sections/Community/Members-grid/ActiveMembers.js
  src/sections/Community/Members-grid/AllMembers.js
  src/sections/Community/Members-grid/InactiveMembers.js
  src/sections/Community/Members-grid/Maintainers.js
  src/sections/Community/Members-grid/Meshmate.js
  src/sections/Community/Meshmates/index.js
  src/sections/Company/News-single/index.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/image.js
  src/sections/Home/So-Special-Section/index.js
  src/sections/Learn/Books-grid/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Learn/Workshop-grid/index.js
  src/templates/blog-category-list.js
  src/templates/blog-single.js
  src/templates/blog-tag-list.js
  src/templates/blog.js
  src/templates/book-single.js
  src/templates/event-single.js
  src/templates/events.js
  src/templates/member-single.js
  src/templates/news-single.js
  src/templates/project-single.js
  src/templates/workshop-single.js
Labels: kind/chore

#1793 feat: Animated metrics on getnighthawk page
  src/sections/Projects/GetNighthawk/index.js
Labels: project/getnighthawk

#1787 make meshmate-of-the-year-blog responsive
  src/collections/blog/2021-04-05-meshmate-of-the-year-2020-nikhil-ladha/index.mdx
  src/collections/blog/Blog.style.js
Labels: area/community

#1597 Add v0.5 release blog
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/vscode-dev-container.png
  Makefile
  package-lock.json
  src/assets/data/faq/index.js
  src/collections/blog/2020-07-18-service-mesh-patterns-for-multitenancy/index.mdx
  src/collections/blog/2020-11-17-layer5-at-kubecon-2020/index.mdx
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/index.mdx
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery-adapter-library.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery-database.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery-extensibility.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery-operator-dark.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery-operator-v0.5.0.png
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshery.png
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/meshsync.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/nginx-service-mesh.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/traefik-mesh.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/traefik.svg
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/v0.5.0.png
  src/reusecore/PageHeader/index.js
Labels: project/meshery

#1819 Corrected performance hyperlinks for README file, #1818.
  README.md
Labels: area/projects, kind/bug, projects/smp

#1825 [CI] - Updated Build-Preview Workflow
  .github/workflows/build-and-preview-site.yml
Labels: area/ci

#1824 [Books] - Updated SMP Book Cover
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/oreilly-logo.png
  src/collections/service-mesh-books/service-mesh-patterns/oreilly-logo.svg
  src/collections/service-mesh-books/service-mesh-patterns/service-mesh-patterns-small.png
  src/collections/service-mesh-books/service-mesh-patterns/service-mesh-patterns.png
Labels: area/learn
