Repository layer5io/layer5, pull requests merged in 2021-05, with the labels that each got.

#1836 Changed background of newcomer section to white
  src/sections/Community/community.style.js
Labels: area/community

#1806 Update: [Blog] Meet The Maintainer : Jash Jash #1789
  src/collections/blog/2021-04-16-meet-the-maintainer-jash-patel/MeetTheMaintainer.style.js
  src/collections/blog/2021-04-16-meet-the-maintainer-jash-patel/index.mdx
  src/collections/blog/2021-04-16-meet-the-maintainer-jash-patel/jash-patel-layer5-maintainer.png
Labels: area/community

#1854 Added Featured Attribute to the latest blogs & edited the graphql query
  src/collections/blog/2021-04-16-meet-the-maintainer-jash-patel/index.mdx
  src/collections/blog/2021-04-19-announcing-meshery-v0.5/index.mdx
  src/sections/General/Navigation/index.js
Labels: area/blog

#1868 Added `Back to Programs` button
  src/sections/Careers/Careers-Programs-single/ProgramsSingle.style.js
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Community/Newcomers-guide/index.js
Labels: area/careers

#1874 Added community member profile for Otto Van Der Schaaf
  src/collections/members/otto-van-der-schaaf/index.mdx
  src/collections/members/otto-van-der-schaaf/otto-van-der-schaaf.jpg
Labels: area/community

#1889 [Community] MeshMate Anita Ihuman
  src/collections/members/anita-charles/index.mdx
Labels: area/community
