Repository layer5io/layer5, pull requests merged in 2022-08, with the labels that each got.

#2992 [README] Dark mode support: Add light versions of logos #2991
  README.md
Labels: issue/dco

#2994 added call to action => join the community on the meetings page
  src/sections/Community/Calendar/index.js
Labels: area/community

#3009 [CI] Move to sitemap-index.xml
  gatsby-config.js
Labels: area/ci

#3023 added service mesh patterns
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#3035 [Article]: Service Mesh: Consul
  package-lock.json
  package.json
  src/collections/resources/Resources.style.js
  src/collections/resources/articles/consul-service-mesh/consul-agent-architecture.png
  src/collections/resources/articles/consul-service-mesh/consul-service-mesh.png
  src/collections/resources/articles/consul-service-mesh/datacenter-architecture.png
  src/collections/resources/articles/consul-service-mesh/index.mdx
  src/collections/resources/articles/consul-service-mesh/service-proxy-architecture.png
Labels: service-mesh/consul, area/resources

#3043 Integrations: Add Prometheus, Grafana and Argo 2986
  src/assets/data/integrations/IntegrationList.js
  src/assets/images/service-mesh-icons/argo_cd.svg
  src/assets/images/service-mesh-icons/grafana.svg
  src/assets/images/service-mesh-icons/prometheus.svg
Labels: project/meshery

#3050 Use bgimage for hompage banner
  src/assets/images/poster.png
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: kind/performance

#3049 text remains visible during font load
  fonts.css
  src/assets/discuss/css/app.css
  src/assets/discuss/css/footer.css
Labels: kind/performance

#3051 [Meshery] Added Individual Integration page
  gatsby-config.js
  gatsby-node.js
  src/assets/data/faq/index.js
  src/assets/data/integrations/IntegrationList.js
  src/assets/images/app/tick.svg
  src/assets/images/service-mesh-icons/nats.svg
  src/collections/integrations/Docker/index.mdx
  src/collections/integrations/Docker/slide1.gif
  src/collections/integrations/Docker/slide2.png
  src/collections/integrations/Docker/slide3.png
  src/components/seo.js
  src/pages/service-mesh-management/meshery/integrations.js
  src/sections/Community/index.js
  src/sections/Meshery/Meshery-integrations/HoneycombGrid.style.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/cta-book.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/individual-integrations.style.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/relatedIntegration.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/index.js
  src/templates/integrations.js
Labels: project/meshery

#3045 Resources and blog search update
  .gitignore
  src/reusecore/Search/index.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
  src/sections/Resources/Resources-grid/DataWrapper.js
  src/sections/Resources/Resources-grid/ResourcesList.js
  src/sections/Resources/Resources-grid/index.js
  src/utils/usedataList.js
Labels: kind/chore

#3067 added the community profile for Nishant
  src/collections/members/nishant/index.mdx
  src/collections/members/nishant/nishant.jpeg
Labels: area/community

#3073 [Community] Created Member Profile: Harkirat Singh
  src/collections/members/harkirat/harkirat.jpg
  src/collections/members/harkirat/index.mdx
Labels: area/community

#3074 Added Custom Content Registration Form
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program.js
  src/sections/Community/Handbook/writing-program/content-form.js
  src/sections/Community/Handbook/writing-program/content-form.style.js
  src/sections/app.style.js
Labels: area/blog, area/community

#3082 Added operator-light and changed it according to theme
  src/pages/service-mesh-management/meshery/operating-service-meshes.js
  src/sections/Meshery/How-meshery-works/hero/index.js
  src/sections/Meshery/images/meshery-operator-white.svg
  src/sections/Meshery/images/meshery-operator.svg
Labels: project/meshery

#3090 Added cards on the Integration Collection page
  src/collections/integrations/Helm/index.mdx
  src/collections/integrations/Homebrew/index.mdx
  src/collections/integrations/Istio/index.mdx
  src/collections/integrations/KinD/index.mdx
  src/collections/integrations/Kubernetes/index.mdx
  src/collections/integrations/Kubesphere/index.mdx
  src/collections/integrations/Linkerd/index.mdx
  src/collections/integrations/Mac/index.mdx
  src/collections/integrations/Minikube/index.mdx
  src/collections/integrations/NGINX-Service-Mesh/index.mdx
  src/collections/integrations/Network-Service-Mesh/index.mdx
  src/collections/integrations/Open-Service-Mesh/index.mdx
  src/collections/integrations/Raspberry-Pi/index.mdx
  src/collections/integrations/Tanzu-Service-Mesh/index.mdx
  src/collections/integrations/Traefik-Mesh/index.mdx
  src/collections/integrations/Windows/index.mdx
  src/sections/Meshery/Meshery-integrations/Card.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/individual-integrations.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/index.js
  src/sections/Meshery/Meshery-integrations/list-integration.svg
  src/sections/Meshery/Meshery-integrations/missing-integration.svg
  src/sections/app.style.js
Labels: project/meshery

#3103 Change Meshery link | CU-3rz12bj
  gatsby-node.js
  src/assets/data/faq/index.js
  src/assets/discuss/html/footer.html
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/index.mdx
  src/collections/blog/2020/2020-03-11-deploying-linkerd-with-meshery/index.mdx
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/collections/blog/2021/2021-09-20-service-mesh-specifications-and-why-they-matter/index.mdx
  src/collections/blog/2021/2021-10-04-ccoss-meshery-event/index.mdx
  src/collections/blog/2021/2021-10-09-an-introduction-to-meshery/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2022/2022-01-22-the-story-of-meshery-1000-stars/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/events/istiocon2020/index.mdx
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform.md/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2022/2022-05-18-meshmark-the-cloud-native-value-measurement/meshmark-the-cloud-native-value-measurement.md
  src/collections/resources/recorded-webinars/introduction-to-meshery.mdx
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/components/Learn-Components/TOC-Learning-Path/index.js
  src/pages/cloud-native-management/meshery/getting-started.js
  src/pages/cloud-native-management/meshery/index.js
  src/pages/cloud-native-management/meshery/integrations.js
  src/pages/cloud-native-management/meshery/meshery-operator.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/writing-program.js
  src/sections/Community/Member-single/index.js
  src/sections/General/Footer/index.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/Home/Banner-1/index.js
  src/sections/Home/Banner-2/index.js
  src/sections/Home/Projects-home/index.js
  src/sections/Home/Projects-home/projectSection.style.js
  src/sections/Home/service-mesh-management/index.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/How-meshery-works/specs/index.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-mange-mesh/index.js
  src/sections/Projects/Project-grid/index.js
  static/mail/2022/dockercon-2022-recap.html
  static/mail/kubecon-na-2021-recap.html
Labels: project/meshery

#3107 Added DevOps Infographic | CU-3t4x2vr
  src/collections/resources/articles/devops-adoption/devops-adoption-choosing-the-right-metrics.pdf
  src/collections/resources/articles/devops-adoption/devops-adoption.png
  src/collections/resources/articles/devops-adoption/index.mdx
  src/sections/Resources/Resources-grid/options.js
Labels: area/resources

#3110 Fix and verify all broken links
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/advance-concepts-of-service-mesh/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/circuit-breaking.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/observability.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/deploy-an-application.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/expose-services.mdx
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/linkerd/traffic-splitting.mdx
  src/assets/data/tutorials/index.js
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2020/2020-05-21-getting-started-with-mesheryctl/index.mdx
  src/collections/blog/2020/2020-06-23-google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-07-18-service-mesh-patterns-for-multitenancy/index.mdx
  src/collections/blog/2020/2020-08-20-announcing-the-meshery-adapter-for-open-service-mesh/index.mdx
  src/collections/blog/2021/2021-02-07-meshkit-and-meshery-adapter-library/index.mdx
  src/collections/blog/2021/2021-04-19-announcing-meshery-v0.5/index.mdx
  src/collections/blog/2021/2021-06-25-she-code-africa-contributhon-boot-camp/index.mdx
  src/collections/blog/2022/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/events/devconf-2022-measure-smp/index.mdx
  src/collections/events/introduction-to-istio/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/news/2022/2022-05-10-layer5-joins-docker-extension-program-bringing-kubernetes-and-service-mesh-management-to-docker-with-meshery/index.mdx
  src/collections/news/2022/2022-05-18-meshmark-the-cloud-native-value-measurement/meshmark-the-cloud-native-value-measurement.md
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-workshops/2019_10_15_all_things_open_raleigh/index.mdx
  src/collections/service-mesh-workshops/2020_01_16_cloud_native_austin/index.mdx
  src/sections/Community/Calendar/index.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/index.js
Labels: kind/chore, kind/performance

#3118 Home: Fixed responsiveness of image in statement section
  src/assets/images/meshmap/MeshmapDesigner.png
  src/sections/Home/Layer5-statement/statement.style.js
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-modes.js
  src/sections/Meshmap/meshmap.style.js
Labels: kind/bug

#3113 [UI] Fixed Text and Image Alignment - Docker Extension Page
  src/sections/Docker-Meshery/docker-extension-meshery.js
  src/sections/Docker-Meshery/dockerMeshery.style.js
Labels: project/meshery

#3083 [Resource] What is GitOps?
  src/collections/resources/articles/gitops/what-is-gitops.mdx
Labels: area/resources, pr/draft

#3108 [Meshery] Updated Integrations MDX Files
  src/assets/images/service-mesh-icons/nats-icon-color.svg
  src/collections/integrations/AKS/index.mdx
  src/collections/integrations/App-Mesh/index.mdx
  src/collections/integrations/Cilium-Service-Mesh/index.mdx
  src/collections/integrations/Consul/index.mdx
  src/collections/integrations/GitHub/index.mdx
  src/collections/integrations/GitHub/slide2.png
  src/collections/integrations/Grafana/index.mdx
  src/collections/integrations/Grafana/slide2.png
  src/collections/integrations/Helm/index.mdx
  src/collections/integrations/Istio/index.mdx
  src/collections/integrations/Linkerd/index.mdx
  src/collections/integrations/Linux/index.mdx
  src/collections/integrations/Linux/slide2.png
  src/collections/integrations/Mac/index.mdx
  src/collections/integrations/Minikube/index.mdx
  src/collections/integrations/NGINX-Service-Mesh/index.mdx
  src/collections/integrations/Nats/index.mdx
  src/collections/integrations/Nats/slide2.png
  src/collections/integrations/Network-Service-Mesh/index.mdx
  src/collections/integrations/Open-Service-Mesh/index.mdx
  src/collections/integrations/Prometheus/index.mdx
  src/collections/integrations/Prometheus/slide2.png
  src/collections/integrations/Slack/index.mdx
  src/collections/integrations/Tanzu-Service-Mesh/index.mdx
  src/collections/integrations/Traefik-Mesh/index.mdx
  src/pages/cloud-native-management/meshery/index.js
  src/pages/index.js
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Home/CloudNativeManagement/index.test.js
  src/sections/Home/CloudNativeManagement/statement.style.js
  src/sections/Home/Proud-maintainers/index.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/index.js
  src/sections/Meshery/Meshery-platforms/supported-icons/linux-colored.svg
  src/sections/Projects/Project-grid/index.js
Labels: project/meshery
