Repository layer5io/layer5, pull requests merged in 2022-05, with the labels that each got.

#2684 Add search feature to blog page
  package-lock.json
  package.json
  src/reusecore/Search/index.js
  src/reusecore/Search/searchbox.style.js
  src/sections/Blog/Blog-grid/blogGrid.style.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-grid/usedataList.js
  src/sections/Blog/Blog-list/blogList.style.js
  src/sections/Blog/Blog-list/index.js
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-sidebar/index.js
  src/sections/Blog/paginate.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
  src/templates/blog.js
Labels: area/blog

#2755 [Resource] Istio Auth Policies article| CU-1x03nca
  src/collections/resources/istio-authorization policy/index.mdx
  src/collections/resources/istio-authorization policy/istio-securityarch.svg
Labels: area/resources

#2719 Add's validation so that at least one account is provided in meshmap form.
  src/sections/Meshmap/index.js
Labels: issue/remind

#2765 [Blog] DockerCon 2022 Talk with HashiCorp | CU-2g4fptm
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/DC22-talk-HashiCorp.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/dashboard.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/designer-1.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/developers-need.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/docker-extension-meshery.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/index.mdx
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/thankyou.png
  src/collections/blog/2022-05-07-dockercon-22-hashicorp-talk/viz-1.png
Labels: area/blog

#2771 [Blog] DC22 Talk with HPe
  src/collections/blog/2019/2019-05-21-a-standard-interface-for-service-meshes/index.mdx
  src/collections/blog/2019/2019-05-21-a-standard-interface-for-service-meshes/smi-logo.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/cnab-logo.jpg
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/index.mdx
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-docker-start.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-grafana-login-success.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-grafana-login.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-grafana-start.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-k3d-start.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-meshery-complete.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-meshery-login-success.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-meshery-login.png
  src/collections/blog/2019/2019-07-09-Meshery-start-feat-WSL2-K3d/wsl-meshery-start.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/DC22-talk-HashiCorp.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/dashboard.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/designer-1.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/developers-need.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/docker-extension-meshery.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/index.mdx
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/thankyou.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk copy/viz-1.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/DC22-talk-HashiCorp.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/dashboard.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/designer-1.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/developers-need.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/docker-extension-meshery.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/thankyou.png
  src/collections/blog/2022-05-10-dockercon-22-hashicorp-talk/viz-1.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/Designer.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/Visualizer.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/cloud-native-identity.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/cloud-native-management.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/dc22-hpe-talk.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/dde.png
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/index.mdx
  src/collections/blog/2022-05-10-dockercon-22-hpe-talk/meshmap-docker-extension-for-meshery.png
Labels: area/blog

#2782 [Blog] DC22 HashiCorp Video
  src/collections/blog/2022/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
Labels: area/blog

#2785 Add summary of two DockerCon blog posts
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: component/ui

#2792 [Blog] ServiceMeshCon 2022 talk with Intel - MeshMark
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/banner.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/example.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/formula.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/index.mdx
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/meshmap-demo.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/meshmark-dark-text-side.svg
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/meshmark.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/mue.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/performance-question.png
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/smp.png
  src/collections/blog/2022/2022-05-20-meshmate-of-the-year-2021-aditya-chatterjee/index.mdx
  src/collections/blog/2022/2022-05-20-meshmate-of-the-year-2021-aditya-chatterjee/meshmate-of-the-year-2020.png
  src/collections/blog/2022/2022-05-20-meshmate-of-the-year-2021-aditya-chatterjee/meshmate-of-the-year-2020.svg
Labels: area/blog

#2806 [Events] DC22 blog recap addition on events
  src/collections/events/dockercon-2022/lighting-talk-in-a-dedicated-community-room.mdx
  src/collections/events/dockercon-2022/lightning-talk-on-the-main-stage.mdx
Labels: area/blog, area/events

#2796 [Resource] Search feature is added for Resource page
  src/sections/Blog/Blog-grid/usedataList.js
  src/sections/Resources/Resources-grid/index.js
  src/sections/Resources/Resources-grid/resourceGrid.style.js
Labels: kind/enhancement

#2804 [DC22] Video for hpe talk DC22
  src/collections/blog/2022/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
  src/collections/blog/2022/2022-05-10-dockercon-22-hpe-talk/index.mdx
Labels: area/blog

#2807 [Blog] DC22 Meshery/HPE talk blog post updates
  src/collections/blog/2022/2022-05-10-dockercon-22-hpe-talk/index.mdx
Labels: area/blog

#2703 now service mesh pattern project name is under box
  src/sections/Projects/Project-grid/projectGrid.style.js
Labels: area/projects

#2825 [News] Meshmark News - Intel, Layer 5 Announce MeshMark to Quantify Cloud-Native Performance
  src/collections/news/2022/2022-05-24-intel-layer5-announcement-meshmark/index.mdx
  src/collections/news/2022/2022-05-24-intel-layer5-announcement-meshmark/it-pro.png
Labels: area/news

#2829 Added a new member profile
  src/collections/members/jerod-culpepper/index.mdx
  src/collections/members/jerod-culpepper/jerod-culpepper.jpeg
Labels: area/community

#2839 [News] News template update
  src/collections/news/2019/2019-10-24-layer5-meshery-forrester/index.mdx
  src/collections/news/2019/2019-12-12-meshery-in-top3-service-mesh-developments-in-2020/index.mdx
  src/collections/news/2020/2020-03-13-what-the-numbers-say-about-how-service-meshes-are-used-today/index.mdx
  src/collections/news/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/collections/news/2020/2020-12-02-kubecon+cloudnativecon-service-mesh-battle-stories-and-fixes/index.mdx
  src/collections/news/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking/index.mdx
  src/collections/news/2021/2021-06-18-5-lesser-known-but-extremely-powerful-Kubernetes-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-07-24-cncf-projects-bring-service-mesh-interoperability-benchmarks/index.mdx
  src/collections/news/2021/2021-10-14-cncf-adopts-meshery-to-advance-service-mesh-management/index.mdx
  src/collections/news/2021/2021-10-15-6-cncf-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-11-10-analyzing-service-mesh-performance/index.mdx
  src/sections/Company/News-single/index.js
  src/templates/news-single.js
Labels: area/news

#2841 [Blog] Debug Enovy Proxy
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/debug-envoy-proxy.svg
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
  src/collections/blog/Blog.style.js
  src/reusecore/Layout/Container.js
Labels: area/blog

#2849 [Blog] Perfbytes Podcast
  src/collections/blog/2022/2022-05-10-dockercon-22-hashicorp-talk/index.mdx
  src/collections/blog/2022/2022-05-10-dockercon-22-hpe-talk/index.mdx
  src/collections/blog/2022/2022-05-14-service-meshcon-talk-intel/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/consul-docker-extension-demo.png
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/index.mdx
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/perfbytes-layer5.svg
  src/collections/blog/2022/2022-06-01-perfbytes-podcast/perfbytesPodcast.js
  src/collections/blog/Blog.style.js
Labels: area/blog, area/events
