Repository layer5io/layer5, pull requests merged in 2022-03, with the labels that each got.

#2638 [Resource] Added article on Istio Pilot
  src/collections/resources/istio-pilot/index.mdx
  src/reusecore/PageHeader/pageHeader.style.js
Labels: area/resources

#2646 Removed second instance of profile image in the blog
  src/collections/blog/2022-01-14-open-source-journey-gaurav-chadha/index.mdx
Labels: area/blog

#2651 Profile status update - Navendu Pottekkat | CU-26v21fh
  src/collections/members/navendu-pottekkat/index.mdx
Labels: area/community

#2645 Updated title image for all events on the Layer5
  src/components/UpcomingEventCard/EventCard.style.js
  src/components/UpcomingEventCard/index.js
  src/reusecore/PageHeader/pageHeader.style.js
  src/templates/event-single.js
Labels: area/events

#2627 [Blog] Collapsible tag and category list
  src/sections/Blog/Blog-grid/blogGrid.style.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/blogList.style.js
  src/sections/Blog/Blog-list/index.js
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-sidebar/index.js
Labels: kind/chore, area/blog

#2619 blog about collaboration with openforce
  src/collections/blog/2022-02-25-layer5-collab-with-openforce/index.mdx
  src/collections/blog/2022-02-25-layer5-collab-with-openforce/thumbnail.jpg
Labels: area/blog

#2656 Update link to LinkedIn profile of Xin Huang
  src/collections/members/xin-huang/index.mdx
Labels: area/community

#2659 Highlight the active blog category or tag w/signoff
  src/sections/Blog/Blog-sidebar/index.js
Labels: area/blog

#2667 Increased the count of Blogs/Articles list to 6 when filtered
  gatsby-node.js
Labels: area/blog

#2681 [UI] Added pagination to the bottom of the Blogs
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
  src/sections/Blog/paginate.js
Labels: area/blog

#2685 Profile Status Update - Sayantan Bose
  src/collections/members/sayantan-bose/index.mdx
Labels: area/community

#2682 Modified meshmap page
  src/assets/images/meshmap/MeshMap.png
  src/assets/images/meshmap/Visualizer.png
  src/assets/images/meshmap/meshery-cloud.png
  src/sections/Community/Web-based-from/index.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap.style.js
  src/sections/Meshmap/meshmap_banner.js
Labels: project/meshery

#2687 Upcoming events: KubeCon and ServiceMeshCon
  src/collections/events/kubecon-eu-2022/index.mdx
  src/collections/events/kubecon-eu-2022/kubecon-eu-2022.jpeg
  src/collections/events/servicemeshcon-EU-2022/index.mdx
  src/collections/events/servicemeshcon-EU-2022/servicemeshcon22.png
Labels: area/events

#2680 See more is inside the card
  src/components/Card/Card.style.js
  src/sections/Blog/Blog-grid/blogGrid.style.js
Labels: area/blog

#2641 [Landscape] Added nofollow relation attribute for external links
  src/components/Landscape-Table/index.js
  src/sections/Landscape/categories.js
Labels: issue/remind
