Repository layer5io/layer5, pull requests merged in 2022-10, with the labels that each got.

#3237 Update language of Recognition
  src/sections/Community/Handbook/community.js
Labels: hacktoberfest, area/community

#3247 Vulcand image optimized for night mode in service-mesh-landscape
  src/assets/images/service-mesh-icons/vulcan-darkmode.svg
  src/collections/landscape/non-functional.js
  src/pages/service-mesh-landscape.js
  src/sections/Community/Handbook/community.js
  src/sections/Landscape/ServiceMeshTimeline.js
  src/sections/Landscape/index.js
Labels: area/landscape

#3267 make text readable in hacktoberfest page ( Layer5 site ) (Issue #3250)
  src/collections/programs/Programs.style.js
Labels: area/careers

#3178 Blog-sidebar. Make blog category and tag list scrollable.
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-sidebar/index.js
Labels: area/blog

#3285 BugFix: fix spelling and article errors
  src/assets/data/faq/index.js
  src/collections/programs/communitybridge/index.mdx
  src/collections/programs/gsoc-2019/index.mdx
  src/collections/programs/gsoc-2020/index.mdx
  src/collections/programs/gsoc-2021/index.mdx
  src/collections/programs/gsoc-2022/index.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/sections/Careers/Careers-Programs-grid/index.js
Labels: hacktoberfest

#3282 Updated link for help wanted label issues
  README.md
Labels: hacktoberfest

#3314 Meshmap text cutting issue resolved
  src/sections/Meshmap/meshmap-modes.js
Labels: project/meshmap

#3316 [Integrations] New parameters for How it Works section
  src/collections/integrations/k8s/index.mdx
  src/collections/integrations/k8s/kubernetes-icon-color.svg
  src/collections/integrations/k8s/meshmap-designer.png
  src/collections/integrations/k8s/meshmap-visualizer.png
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/howItWork.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/templates/integrations.js
Labels: project/meshery

#3319 Profile Status Update - Pankaj Khushalani
  src/collections/members/pankaj-khushalani/index.mdx
Labels: area/community

#3323 [Integrations] A set of Meshery's Cloud Native Integrations
  src/assets/images/service-mesh-icons/aws-app-mesh_white.svg
  src/collections/integrations/App-Mesh/index.mdx
  src/collections/integrations/Argo-CD/index.mdx
  src/collections/integrations/Prometheus/icon/color/prometheus-icon-color.svg
  src/collections/integrations/Prometheus/icon/white/prometheus-icon-white.svg
  src/collections/integrations/Prometheus/images/slide2.png
  src/collections/integrations/Prometheus/index.mdx
  src/collections/integrations/Tanzu-Service-Mesh/index.mdx
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-visualizer.png
  src/collections/integrations/etcd/icon/color/etcd-icon-color.svg
  src/collections/integrations/etcd/icon/white/etcd-icon-white.svg
  src/collections/integrations/harbor/icon/color/harbor-icon-color.svg
  src/collections/integrations/harbor/icon/white/harbor-icon-white.svg
  src/collections/integrations/harbor/index.mdx
  src/collections/integrations/k8s/index.mdx
  src/collections/integrations/k8s/kubernetes-icon-color.svg
  src/collections/integrations/kyverno/icon/color/kyverno-icon-color.svg
  src/collections/integrations/kyverno/icon/white/kyverno-icon-white.svg
  src/collections/integrations/kyverno/index.mdx
  src/collections/integrations/spiffe/index.mdx
  src/collections/integrations/spire/index.mdx
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/individual-integrations.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3363 [Meshery] Integrations: remove reference to color icon for Knative dark mode
  src/collections/integrations/knative/index.mdx
Labels: project/meshery

#3370 Fixed category selection issue
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3371 [Events] Add talks links for KubeCon 2022
  src/collections/events/kubecon-na-2022/index.mdx
Labels: area/events

#3372 Removed See Documentation option if no URL is present
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: project/meshery

#3373 Fixed showing integration cell even though published is false issue
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3334 fix svgs for checks and crosses
  src/assets/images/landscape/half.svg
  src/assets/images/service-mesh-icons/service-mesh-interface/smi-table.svg
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/checklist.svg
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/smi-conformance.svg
Labels: hacktoberfest, project/smi

#3375 Commenting out those categories which don't have any itegrations now
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3365 Add white version for Knative logo
  src/collections/integrations/knative/icon/color/knative-icon-bw.svg
Labels: project/meshery

#3387 Limits the number of Integration on Homepage
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: project/meshery

#3402 Update knative index
  src/collections/integrations/knative/icon/white/knative-icon-white.svg
  src/collections/integrations/knative/index.mdx
  src/collections/integrations/knative/knative-color.svg
Labels: project/meshery

#3394 Highlighted Navbar active link
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
Labels: kind/enhancement

#3330 Improved the carousal arrows on the landing page
  src/sections/Home/So-Special-Section/so-special-style.js
Labels: kind/enhancement, area/news

#3412 Hero images leave much whitespace #3221
  src/reusecore/PageHeader/pageHeader.style.js
  src/sections/Community/Event-single/EventSingle.style.js
Labels: area/events

#3411 [Docs] Contributors: Avoid large repo size
  CONTRIBUTING.md
Labels: area/community

#3376 Removed duplicate filter button.
  src/components/service-mesh-patterns-Table/Table.js
Labels: area/learn

#3420 Update KubeCon NA 2022 Event
  src/collections/events/Event.style.js
  src/collections/events/kubecon-na-2022/index.mdx
Labels: area/events

#3409 Added Create Pull request section as per the requirement
  .github/assets/images/compare-and-pr.png
  .github/assets/images/create-pr.png
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

#3309 Increased the size of the VULCAN logo
  src/sections/Landscape/LandscapeGrid.style.js
  src/sections/Landscape/ServiceMeshTimeline.js
Labels: issue/dco

#3426 fix: remove black color from white logos
  src/collections/integrations/teller/teller-icon-white.svg
  src/sections/Meshery/Meshery-platforms/supported-icons/minikube_white.svg
Labels: project/meshery
