Repository layer5io/layer5, pull requests merged in 2022-06, with the labels that each got.

#2843 Article: She Code Africa Contributhon 2022
  src/collections/blog/2022/2022-05-29-she-code-africa-contributhon/index.mdx
  src/collections/blog/2022/2022-05-29-she-code-africa-contributhon/layer5-contributhon-banner.jpg
Labels: area/blog

#2821 Added Coverage and Press-Release Filter
  src/collections/news/2022/2022-05-24-intel-layer5-announcement-meshmark/index.mdx
  src/components/Card/index.js
  src/pages/company/news.js
  src/sections/Company/News-grid/NewsGrid.style.js
  src/sections/Company/News-grid/index.js
Labels: area/news

#2864 [Blog] Extend content for debug envoy proxy blog
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
Labels: area/blog

#2828 [Blog] Add post about evolution of mesheryctl reference
  src/collections/blog/2022/2022-06-07-evolution-of-mesheryctl-ref/index.mdx
  src/collections/blog/2022/2022-06-07-evolution-of-mesheryctl-ref/initial-design.png
  src/collections/blog/2022/2022-06-07-evolution-of-mesheryctl-ref/mesheryctl-docs.png
  src/collections/blog/2022/2022-06-07-evolution-of-mesheryctl-ref/mesheryctl.png
  src/sections/Home/Banner-2/index.test.js
Labels: area/blog

#2595 [Blog] Validating mesheryctl functionalities
  src/collections/blog/2022-02-22-validation-meshery-cli-functionality/index.mdx
  src/collections/blog/2022-02-22-validation-meshery-cli-functionality/thumbnail.png
Labels: area/blog

#2871 [Blog] LFX Experience @ Layer5 - Pranav Singh
  src/collections/blog/2022/2022-06-07-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-06-07-experience-lfx-pranav-singh/lfx-pranav.png
  src/collections/blog/2022/2022-06-09-validation-meshery-cli-functionality/index.mdx
  src/collections/blog/2022/2022-06-09-validation-meshery-cli-functionality/thumbnail.png
Labels: area/blog

#2872 SCA Wrap up blog post
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/index.mdx
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/mentees.png
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/sca-contributhon-2022.png
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/lfx-pranav.png
  src/collections/blog/2022/2022-06-09-evolution-of-mesheryctl-ref/index.mdx
  src/collections/blog/2022/2022-06-09-evolution-of-mesheryctl-ref/initial-design.png
  src/collections/blog/2022/2022-06-09-evolution-of-mesheryctl-ref/mesheryctl-docs.png
  src/collections/blog/2022/2022-06-09-evolution-of-mesheryctl-ref/mesheryctl.png
  src/collections/blog/2022/2022-06-10-validation-meshery-cli-functionality/index.mdx
  src/collections/blog/2022/2022-06-10-validation-meshery-cli-functionality/thumbnail.png
Labels: area/blog, area/careers

#2888 [Fix] Responsiveness of first hero banner
  src/sections/Home/Banner-1/banner1.style.js
  src/sections/Home/Banner-2/banner2.style.js
Labels: kind/chore

#2894 [Event] - Added Docker Community Meetup Event - Bengaluru
  src/collections/events/docker-developer-community-meetup-2022/dockerBengaluru.webp
  src/collections/events/docker-developer-community-meetup-2022/index.mdx
Labels: area/events

#2904 [News] Adding news item
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.png
Labels: area/news

#2898 [Fix] Correct link to Community Member Profile issue template
  CONTRIBUTING.md
Labels: kind/chore

#2906 [Blog-single]: Display published date in single blog post view
  src/reusecore/PageHeader/index.js
  src/reusecore/PageHeader/pageHeader.style.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Company/News-single/index.js
Labels: kind/enhancement, area/news, area/blog

#2915 Adding small screen specific nav link to MeshMap
  src/sections/General/Navigation/index.js
Labels: project/meshmap

#2917 MeshMap CTA
  src/pages/docker-extension-meshery.js
  src/sections/Docker-Meshery/docker-extension-CTA.js
  src/sections/Docker-Meshery/index.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-catalog.js
  src/sections/Meshmap/meshmap-modes.js
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/SMI/index.js
  src/sections/Projects/SMP/index.js
  src/sections/meshmap-cta/index.js
  src/sections/meshmap-cta/meshmap-icon-white.svg
  src/sections/meshmap-cta/meshmap-icon.svg
Labels: project/meshmap

#2909 Pricing Page
  src/assets/data/faq/index.js
  src/collections/news/2022/2022-05-18-meshmark-the-cloud-native-value-measurement/meshmark-the-cloud-native-value-measurement.md
  src/pages/company/faq.js
  src/pages/pricing.js
  src/reusecore/Blockquote/Blockquote-image/blockquote-image.style.js
  src/reusecore/Blockquote/Blockquote-image/index.js
  src/sections/General/Faq/index.js
  src/sections/Pricing/collapsible-details.js
  src/sections/Pricing/comparison.js
  src/sections/Pricing/data.js
  src/sections/Pricing/icons/collab.svg
  src/sections/Pricing/icons/configuration.svg
  src/sections/Pricing/icons/identity.svg
  src/sections/Pricing/icons/lifecycle.svg
  src/sections/Pricing/icons/meshmap-icon.svg
  src/sections/Pricing/icons/notifications.svg
  src/sections/Pricing/icons/perf.svg
  src/sections/Pricing/icons/support.svg
  src/sections/Pricing/index.js
  src/sections/Pricing/pricing.style.js
  src/sections/Pricing/review-slider.js
  src/sections/Pricing/reviews/ken-owens.png
  src/sections/Pricing/reviews/william-morgan.png
  src/theme/app/themeStyles.js
Labels: kind/enhancement

#2922 [Site] Meshmap page update
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshery-action.js
  src/sections/Meshmap/meshmap_banner.js
Labels: component/ui

#2926 Community Member Profile Update: Shivay Lamba
  src/collections/members/nikhil-sharma/index.mdx
  src/collections/members/shivay-lamba/index.mdx
Labels: area/community

#2929 Writing Program: Authoring process
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

#2948 Edit rss feed
  gatsby-config.js
  src/collections/news/2019/2019-11-23-cncf-sig-network-set-to-push-cloud-native-networking-forward/index.mdx
Labels: area/blog, area/resources
