Repository layer5io/layer5, pull requests merged in 2022-12, with the labels that each got.

#3490 [CI] Pull request labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area/ci

#3465 [Community] Member Profile: Krishna Gupta
  src/collections/members/krishna-gupta/index.mdx
  src/collections/members/krishna-gupta/krishna-gupta.png
Labels: area/community

#3495 Updated README.md
  .github/assets/images/buttons/slack-128.png
  .github/assets/images/buttons/slack-dark-128.png
  README.md
Labels: area/ci

#3502 Skip meshmap video download/render for mobile view
  src/sections/Home/Banner-4/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: kind/performance

#3491 [Books] Add a couple o' service mesh patterns site callouts; fixes [Projects] Service Mesh Pattern website links
  src/collections/service-mesh-books/Book.style.js
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/components/Learn-Components/LearnInfo/learninfo.style.js
  src/sections/Learn-Layer5/index.js
  src/sections/Learn-Layer5/learnlayer5.style.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Service-Mesh-Labs/index.js
Labels: area/learn

#3498 [Blog] What's new in Kubernetes 1.26
  src/collections/blog/2022/2022-12-02-k8s-1.26/kubernetes-logo.svg
  src/collections/blog/2022/2022-12-05-structured-logging-with-klog/index.mdx
  src/collections/blog/2022/2022-12-05-structured-logging-with-klog/kubernetes-logs-dark.png
  src/collections/blog/2022/2022-12-05-structured-logging-with-klog/kubernetes-logs.png
  src/collections/blog/2022/2022-12-05-structured-logging-with-klog/kubernetes-logs.svg
  src/collections/blog/2022/2022-12-06-k8s-1.26-release/index.mdx
  src/collections/blog/2022/2022-12-06-k8s-1.26-release/kubernetes-new-dark.png
  src/collections/blog/2022/2022-12-06-k8s-1.26-release/kubernetes-new.png
  src/collections/blog/2022/2022-12-06-k8s-1.26-release/kubernetes-new.svg
Labels: area/blog

#3504 Handbook] Add Meshery Docker Extension to Community Handbook
  src/sections/Community/Handbook/projects.js
Labels: area/handbook

#3507 Performance: Fix flash of banner on initial load
  src/html.js
  src/sections/General/Navigation/index.js
  src/sections/Home/Banner-1/banner1.style.js
  src/sections/Home/Banner-1/index.js
  src/sections/Home/Banner-2/banner2.style.js
  src/sections/Home/Banner-2/index.js
  src/sections/Home/Banner-3/banner3.style.js
  src/sections/Home/Banner-3/index.js
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Banner/index.js
  src/sections/app.style.js
Labels: area/core-styls

#3509 Performance: Make integrations, footer, cloudnative components loadable
  src/pages/index.js
  src/sections/Home/Banner-4/index.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: kind/chore

#3511 Managing gap between cards
  src/sections/Company/Contact/contactpage.style.js
  src/sections/Company/Contact/index.js
Labels: area/community

#3497 Added padding in the headline on service-mesh-landscape
  src/sections/Landscape/LandscapeGrid.style.js
Labels: area/landscape

#3503 Add style to the drop-down menu scroll bar
  src/sections/General/Navigation/navigation.style.js
Labels: kind/enhancement

#3517 [Community] Member Profile: Gaganpreet Kaur Kalsi
  src/collections/members/gaganpreet-kaur-kalsi/gaganpreetkaurkalsi.png
  src/collections/members/gaganpreet-kaur-kalsi/index.mdx
Labels: area/community

#3521 [Community] Member Profile: Utkarsh Mishra
  src/collections/members/utkarsh-mishra/Utkarsh_Mishra.jpg
  src/collections/members/utkarsh-mishra/index.mdx
Labels: area/community

#3477 Management of Kubernetes Article
  src/collections/resources/articles/kubernetes/management-of-kubernetes/context-switcher.png
  src/collections/resources/articles/kubernetes/management-of-kubernetes/index.mdx
  src/collections/resources/articles/kubernetes/management-of-kubernetes/kubernetes-logo.svg
  src/collections/resources/articles/kubernetes/management-of-kubernetes/meshery-core-architecture.png
  src/collections/resources/articles/kubernetes/management-of-kubernetes/multi-cluster-kubernetes-management-with-meshery.png
  src/collections/resources/articles/kubernetes/management-of-kubernetes/settings.png
Labels: area/resources

#3535 Add member profile for Eeshaan Sawant
  src/collections/members/eeshaan-sawant/eeshaan-sawant.jpg
  src/collections/members/eeshaan-sawant/index.mdx
Labels: area/community

#3542 [Blog] Terraform with Meshery
  src/collections/blog/2022/2022-12-22/index.mdx
  src/collections/blog/2022/2022-12-22/terraform-color.svg
Labels: area/blog

#3539 Add valid twitter username for "Ashish Tiwari"
  src/collections/members/ashish-tiwari/index.mdx
Labels: area/community

#3553 Profile Status
  src/collections/members/kamal-nayan-singh/index.mdx
Labels: area/community

#3567 added resource article and corrected blog list thumbnails
  src/collections/resources/articles/terraform-with-meshery/index.mdx
  src/collections/resources/articles/terraform-with-meshery/terraform-color.svg
  src/sections/Blog/Blog-list/index.js
Labels: area/resources

#3558 [/projects/nighthawk] aligned images with text on nighthawk page
  src/sections/Projects/Nighthawk/gnh.style.js
  src/sections/Projects/Nighthawk/index.js
Labels: project/nighthawk

#3550 dark thumbnail on single blog page
  src/sections/Blog/Blog-single/index.js
  src/templates/blog-single.js
Labels: area/blog
