Repository layer5io/layer5, pull requests merged in 2022-04, with the labels that each got.

#2698 [Features-Col] Feature Cards Not Responsive Fix
  src/sections/Meshery/Features-Col/data/index.js
  src/sections/Meshery/Features-Col/featuresColSection.style.js
  src/sections/Meshery/Features-Col/index.js
Labels: component/ui

#2686 Fix question review on learn paths
  src/components/Learn-Components/Pagination/index.js
  src/components/Learn-Components/QuizModal/quiz-component.js
Labels: area/learn

#2731 Added docker CTA to Meshery page
  src/components/Features-carousel/FeaturesCarousel.style.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/index.js
Labels: project/meshery

#2712 [UI] Service Mesh updates
  src/collections/landscape/meshes.js
  src/collections/landscape/tools-data.js
  src/pages/service-mesh-management/meshery/index.js
  src/sections/Meshery/Features-Col/data/index.js
Labels: area/landscape, service-mesh/cilium, component/ui
