Repository layer5io/layer5, pull requests merged in 2022-11, with the labels that each got.

#3423 [Integrations] Add per category count on All Integrations page
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3405 [Integration] show desc on hover
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#3414 No space between the button from 768px to 991px on meshery page, issue - #3333
  src/sections/Meshery/meshery.style.js
Labels: issue/remind

#3455 [Form] MeshMap Beta signup form update - remove social fields | tested OK
  src/components/CommonForm/index.js
Labels: area/community, component/ui

#3443 [Performance] Image Optimization <img> to <StaticImages> in the community page
  src/sections/Community/Handbook/repository.js
Labels: area/community

#3459 Images are now not coming out of the box from 573px to 660px on the page: layer5.io/cloud-native-management/meshmap
  src/sections/Meshmap/meshmap-catalog.js
Labels: project/meshmap

#3444 Add search to integrations
  src/reusecore/Search/index.js
  src/reusecore/Search/searchbox.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Resources/Resources-error/emptyStateTemplate.js
  src/sections/Resources/Resources-grid/index.js
  src/sections/app.style.js
  src/utils/paginate.js
  src/utils/usedataList.js
Labels: project/meshery

#3380 Integrated kinD-white logo in DarkMode
  src/collections/integrations/KinD/index.mdx
Labels: issue/remind

#3464 [Resources] Relocate K8s article to appropriate folder
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/Picture1.png
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/Picture2.png
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/Picture3.png
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/index.mdx
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/kubernetes-logo.svg
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/multi-cluster-kubernetes-management-with-meshery.png
Labels: area/resources

#3469 Added margin from the top of the image on the page: layer5.io/community/newcomers
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
Labels: area/community
