Repository layer5io/layer5, pull requests merged in 2022-07, with the labels that each got.

#2907 Added Yash's GSoC blog
  src/collections/blog/2022/2022-06-13-yash-gsoc-blogpost/Yash_Gsoc.png
  src/collections/blog/2022/2022-06-13-yash-gsoc-blogpost/index.mdx
Labels: area/blog

#2944 Add VMware as partner and link it to logo on homepage
  src/sections/Home/Partners-home/partners-home-data.js
  src/sections/Partners/partners.js
Labels: area/partners

#2882 [Blog] Aaditya's journey from Contributor to GSoC Intern @Layer5
  src/collections/blog/2022/2022-06-07-week-open-source-contributions-with-layer5/index.mdx
  src/collections/blog/2022/2022-07-06-aaditya-gsoc-blogpost/aaditya-first-pr.png
  src/collections/blog/2022/2022-07-06-aaditya-gsoc-blogpost/aaditya-presenting.png
  src/collections/blog/2022/2022-07-06-aaditya-gsoc-blogpost/aaditya-subedy-layer5-intern.png
  src/collections/blog/2022/2022-07-06-aaditya-gsoc-blogpost/index.mdx
  src/collections/blog/Blog.style.js
Labels: area/blog, area/careers

#2966 [Resource] Article: container management
  src/collections/resources/articles/container-management/container-management.mdx
  src/collections/resources/articles/container-management/docker.svg
  src/sections/Meshmap/meshmap_banner.js
Labels: area/resources

#2970 [Home] Banner: MeshMap Video Short
  src/sections/Home/Banner-4/assets/images/background.svg
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Banner-4/index.test.js
  src/sections/Home/Banner/index.js
Labels: project/meshmap

#2883 [Blog] Feature: About the Author
  package-lock.json
  package.json
  src/assets/images/blog/meshmap.svg
  src/collections/blog/Blog.style.js
  src/sections/Blog/Blog-single/author.js
  src/sections/Blog/Blog-single/author.style.js
  src/sections/Blog/Blog-single/blogSingle.style.js
  src/sections/Blog/Blog-single/index.js
Labels: area/blog

#2969 Added Meshery Integration Page
  src/assets/data/integrations/IntegrationList.js
  src/assets/images/service-mesh-icons/aks.png
  src/assets/images/service-mesh-icons/aws-app-mesh.svg
  src/assets/images/service-mesh-icons/eks.svg
  src/assets/images/service-mesh-icons/gke.png
  src/assets/images/service-mesh-icons/helm.svg
  src/assets/images/service-mesh-icons/homebrew.png
  src/assets/images/service-mesh-icons/homebrew.svg
  src/assets/images/service-mesh-icons/kinD.png
  src/assets/images/service-mesh-icons/kubesphere.png
  src/assets/images/service-mesh-icons/kubesphere.svg
  src/assets/images/service-mesh-icons/mac.svg
  src/assets/images/service-mesh-icons/minikube.png
  src/assets/images/service-mesh-icons/minikube.svg
  src/assets/images/service-mesh-icons/openshift.svg
  src/assets/images/service-mesh-icons/raspberry-pi.svg
  src/assets/images/service-mesh-icons/tanzu.svg
  src/assets/images/service-mesh-icons/wsl2.svg
  src/pages/service-mesh-management/meshery/integrations.js
  src/sections/Meshery/Meshery-integrations/HoneycombGrid.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: project/meshery

#2965 A tutorial blog on how to deploy meshery on AKS
  src/collections/blog/2022/2022-07-07-deploy-meshery-on-aks/Meshery-on-AKS.png
  src/collections/blog/2022/2022-07-07-deploy-meshery-on-aks/index.mdx
  src/collections/blog/2022/2022-07-07-deploy-meshery-on-aks/mesheryui.png
Labels: project/meshery, area/blog

#2960 [Resource] Initial multi-cluster article
  src/collections/resources/articles/kubernetes/multi-cluster/k8s-multi-cluster.mdx
  src/collections/resources/articles/kubernetes/multi-cluster/kubernetes.svg
Labels: area/resources

#2975 Blog Image captions and banner fix
  src/collections/blog/Blog.style.js
  src/collections/blog/blog-template/index.mdx
  src/pages/index.js
  src/sections/Home/Banner-4/1x1.png
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Banner-4/poster.png
Labels: area/blog

#2981 Added Event Registration form
  package.json
  src/collections/blog/blog-template/index.mdx
  src/collections/events/Z_event-template/index.mdx
  src/collections/events/Z_event-template/servicemeshcon22.png
  src/collections/events/introduction-to-istio/index.mdx
  src/components/ContactForm/index.js
  src/sections/Community/Event-single/EventSingle.style.js
  src/sections/Community/Event-single/index.js
  src/templates/event-single.js
Labels: area/events

#2921 Added multi cluster blog
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/cluster-mgmt.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/context-switcher.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/deploy-modal.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/flush-meshsync.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/index.mdx
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/meshery-core-architecture.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/meshmap-cluster1.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/meshmap-cluster2.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/multi-cluster-kubernetes-management-with-meshery.png
  src/collections/blog/2022/2022-20-06-managing-multiple-clusters-with-meshery/settings.png
  src/collections/blog/Blog.style.js
  src/collections/members/ashish-tiwari/index.mdx
Labels: project/meshery, area/blog

#2988 Gatsby: Updated the site to Gastbyv4
  .babelrc
  .eslintrc.js
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/collections/events/Z_event-template/index.mdx
  src/collections/events/dockercon-2022/lighting-talk-in-a-dedicated-community-room.mdx
  src/collections/events/dockercon-2022/lightning-talk-on-the-main-stage.mdx
  src/collections/events/ossna-2022/index.mdx
  src/collections/events/servicemeshcon-EU-2022/index.mdx
  src/collections/programs/Programs.style.js
  src/collections/programs/gsod/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/components/Learn-Components/Pagination/index.js
  src/components/Learn-Components/what-await-section/index.js
  src/components/UpcomingEventCard/index.js
  src/pages/blog/index.js
  src/pages/company/contact.js
  src/sections/Community/Handbook/community-roles.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/index.js
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Web-based-from/Rectangle 471.png
  src/sections/Community/Web-based-from/index.js
  src/sections/Company/About/index.js
  src/sections/General/Navigation/index.js
  src/sections/Landscape/smi.js
  src/sections/Learn-Layer5/Section/index.js
  src/sections/Learn/Books-grid/index.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-quotes/index.js
  src/sections/Meshery/index.js
  src/sections/Meshmap/meshmap-modes.js
  src/sections/Meshmap/meshmap_banner.js
  src/sections/Partners/index.js
  src/sections/Partners/partners.js
  src/sections/Pricing/index.js
  src/sections/Pricing/pricing.style.js
  src/sections/Projects/Nighthawk/gnh.style.js
  src/sections/Projects/Nighthawk/index.js
  src/sections/Projects/Project-grid/index.js
  src/sections/Projects/SMP/index.js
  src/sections/Resources/Resources-error/emptyStateTemplate.js
  src/sections/Resources/Resources-grid/filters.js
  src/sections/Testimonial/index.js
  src/sections/meshmap-cta/index.js
  src/sections/thank-you/thank-you.js
  src/sections/unsubscribed/unsubscribed.js
  src/sections/z_other/AppScreens-classic/index.js
  src/sections/z_other/Features/index.js
  src/templates/course-overview.js
Labels: kind/chore

#2980 [Community] Contributor journey map update
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
  src/sections/Community/Newcomers-guide/index.js
Labels: area/community
