Repository layer5io/layer5, pull requests merged in 2022-02, with the labels that each got.

#2566 Addition of robots.txt
  gatsby-config.js
  package-lock.json
  package.json
  src/sections/z_other/Features/features.style.js
Labels: kind/chore

#2549 [Learn] added quiz in learning paths
  src/components/Learn-Components/Pagination/index.js
  src/components/Learn-Components/Pagination/paginate.style.js
  src/components/Learn-Components/QuizModal/index.js
  src/components/Learn-Components/QuizModal/quiz-component.js
  src/components/Learn-Components/QuizModal/quiz-component.style.js
  src/components/Learn-Components/QuizModal/quizmodal.style.js
  src/sections/Learn-Layer5/Chapters/index.js
Labels: pr/hold, area/learn

#2556 add Rss feed to events
  gatsby-config.js
  src/sections/Events/index.js
Labels: kind/chore

#2580 [RESOURCES] updated FAQ section under resources
  src/collections/resources/faq/internship-faq.mdx
  src/collections/resources/faq/layer5-faq.mdx
  src/collections/resources/faq/meshery-faq.mdx
  src/collections/resources/faq/service-mesh-faq.mdx
Labels: area/resources

#2584 [Resource] New article - Istio at a Glance
  src/collections/resources/Resources.style.js
  src/collections/resources/istio-at-a-glance/bookinfo-with-proxies.svg
  src/collections/resources/istio-at-a-glance/bookinfo-without-proxies.svg
  src/collections/resources/istio-at-a-glance/istio-architecture.svg
  src/collections/resources/istio-at-a-glance/istio-at-a-glance.mdx
  src/collections/resources/resources-template/index.mdx
Labels: service-mesh/istio, area/resources

#2591 modifications: corrected the gsoc link under partner page
  src/sections/Partners/partners.js
Labels: area/careers

#2586 [Learn] added `Bookmark Notification` for users
  src/components/Learn-Components/BookmarkNotification/bookmark-notification.style.js
  src/components/Learn-Components/BookmarkNotification/index.js
  src/components/Learn-Components/TOC-Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
Labels: area/learn

#2560 Chore[Site Performance] : Newcomers page Image optimization
  src/assets/images/newcomers-page-images/community-collage.png
  src/assets/images/newcomers-page-images/community-image3.png
  src/assets/images/newcomers-page-images/contributor-chest.svg
  src/sections/Community/Newcomers-guide/NewcomersPageWrapper.style.js
  src/sections/Community/Newcomers-guide/contributor-chest.svg
  src/sections/Community/Newcomers-guide/index.js
Labels: kind/chore

#2593 GSoC 2022
  package-lock.json
  src/collections/programs/gsoc-2022/gsoc.svg
  src/collections/programs/gsoc-2022/index.mdx
  src/collections/programs/gsoc-2022/meshery-playground-alt-3.png
Labels: area/careers

#2568 Chore[Site Performance] : HomePage Image optimization
  src/assets/images/homePage-images/Lee-Calcote-Cloud-Native-Rejekts.jpg
  src/assets/images/homePage-images/The-Enterprise-path-to-service-mesh-Architectures-2nd-Edition.png
  src/assets/images/homePage-images/background.svg
  src/assets/images/homePage-images/meshmap.png
  src/sections/Home/Layer5-statement/index.js
  src/sections/Home/Layer5-statement/statement.style.js
  src/sections/Home/Partners-home/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
  src/sections/Home/Partners-home/partners-home-data.js
  src/sections/Home/Projects-home/index.js
  src/sections/Home/Projects-home/projectSection.style.js
  src/sections/Home/Proud-maintainers/index.js
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
  src/sections/Home/Service-mesh-focussed/index.js
  src/sections/Home/service-mesh-management/ServiceMesh.style.js
  src/sections/Home/service-mesh-management/index.js
Labels: kind/chore

#2608 [Resources] Service Proxy
  src/collections/resources/how-to-write-webassembly-filters-for-envoy/learn-how-to-write-wasm-filters.mdx
  src/collections/resources/istio-service-proxy/index.mdx
  src/collections/resources/service-mesh-architectures-and-components/index.mdx
  src/collections/resources/swappable-sidecars/index.mdx
  src/collections/resources/webassembly/envoy-and-webassembly.mdx
  src/collections/resources/webassembly/envoy-icon-color.svg
Labels: area/resources

#2620 [Community] Added Hersh Dhillon's profile on member page
  src/collections/members/hersh-dhillion/hersh-dhillion.jpg
  src/collections/members/hersh-dhillion/index.mdx
Labels: area/community

#2575 Added Tutorials in resources collections
  gatsby-node.js
  src/assets/images/tutorials/all-repos-layer5.png
  src/assets/images/tutorials/docs-jekyll.png
  src/assets/images/tutorials/golang-meshery-ctl.png
  src/assets/images/tutorials/intro-meshery-ctl.png
  src/assets/images/tutorials/intro-to-gatsby.png
  src/assets/images/tutorials/intro-to-meshery.png
  src/assets/images/tutorials/layer5-walkthrough.png
  src/assets/images/tutorials/swagger-logo.png
  src/collections/resources/Resources.style.js
  src/collections/resources/tutorials/beginner-guide-to-contributing-to-meshery-and-mesheryctl.mdx
  src/collections/resources/tutorials/contributing-to-meshery-API-swagger-documentation.mdx
  src/collections/resources/tutorials/introduction-to-all-layer5-repositories.mdx
  src/collections/resources/tutorials/introduction-to-contributing-to-meshery.mdx
  src/collections/resources/tutorials/introduction-to-meshey-ctl.mdx
  src/collections/resources/tutorials/tutorial-on-contributing-to-layer5-and-working-with-git.mdx
  src/collections/resources/tutorials/tutorial-on-gatsby.mdx
  src/collections/resources/tutorials/working-with-meshery-docs-and-jekyll.mdx
  src/components/Related-Resources/index.js
  src/components/Related-Resources/relatedResourcesFactory.js
  src/sections/Resources/Resources-grid/options.js
Labels: area/resources

#2527 Added filters responsiveness in mobile view
  src/sections/Resources/Resources-grid/filters.js
  src/sections/Resources/Resources-grid/filters.style.js
Labels: area/careers, issue/remind
