Repository layer5io/layer5, pull requests merged in 2022-01, with the labels that each got.

#2446 [Blog] Blog on my Open source journey with Layer5
  src/collections/blog/2022-01-03-Opensource-Journey-at-Layer5-Gaurav-Chadha/gaurav-chadha.png
  src/collections/blog/2022-01-03-Opensource-Journey-at-Layer5-Gaurav-Chadha/index.mdx
  src/collections/blog/2022-01-03-Opensource-Journey-at-Layer5-Gaurav-Chadha/profile-banner.png
Labels: area/blog

#2450 [Event] Fixes for initial DevConf listing
  src/collections/events/service-mesh-and-meshery/index.mdx
  src/collections/members/nithish-karthik/index.mdx
Labels: area/events

#2454 Included blogs as resource type
  src/collections/blog/2021-09-20-service-mesh-specifications-and-why-they-matter/index.mdx
  src/collections/blog/2021-10-01-pipelining-service-mesh-specifications/index.mdx
  src/collections/blog/2021-10-09-an-introduction-to-meshery/index.mdx
  src/collections/blog/2021-12-22-how-to-write-unit-and-integeration-tests-for-mesheryctl/index.mdx
  src/collections/resources/adoption/index.mdx
  src/collections/resources/analyzing-service-mesh-performance/analyzing-service-mesh-performance.mdx
  src/collections/resources/api-gateways/index.mdx
  src/collections/resources/choosing-the-perfect-proxy/index.mdx
  src/collections/resources/client-libraries/index.mdx
  src/collections/resources/how-to-write-webassembly-filters-for-envoy/learn-how-to-write-wasm-filters.mdx
  src/collections/resources/network-planes/index.mdx
  src/sections/Resources/Resources-grid/DataWrapper.js
  src/sections/Resources/Resources-grid/filters.js
Labels: area/resources

#2460 Feed updates
  gatsby-config.js
Labels: area/news, area/blog

#2461 [Blog] Template: Adding 'description' to front-matter
  src/collections/blog/blog-template/index.mdx
Labels: area/blog

#2456 added blog on tag networks talk
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/catalog.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/gnh-meshery.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/index.mdx
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/patterns.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/projects.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/smi-meshery.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/smp-meshery.png
  src/collections/blog/2022-01-07-Recap-KubeCon-China-TAG-Network-talk/tag-network-kubecon.png
  src/collections/blog/Blog.style.js
  src/collections/members/aditi-ahuja/index.mdx
  src/collections/members/bart-kalanski/index.mdx
  src/collections/members/zainuddeen-abdul-muiz/index.mdx
Labels: area/blog

#2452 [Handbook] Icons not responsive #2435
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/community

#2451 [Blog] Open source journey @Layer5
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/gaurav-chadha.png
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/index.mdx
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/profile-banner.png
Labels: area/blog

#2469 Added Pagination to resources page
  src/pages/resources/index.js
  src/sections/Resources/Resources-grid/filters.style.js
  src/sections/Resources/Resources-grid/index.js
  src/sections/Resources/Resources-grid/options.js
  src/sections/Resources/Resources-grid/paginate.js
  src/sections/Resources/Resources-grid/resourceGrid.style.js
Labels: area/resources

#2483 Add badge
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/aditya-chatterjee/index.mdx
  src/collections/members/gaurav-chadha/index.mdx
  src/collections/members/manav-kapoor/index.mdx
Labels: issue/dco

#2485 [Blog] Blog banner + profile picture update
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/Gaurav Chadha - Layer5 Intern.png
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/Intern-profile.png
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/gaurav-chadha.png
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/index.mdx
  src/collections/blog/2022-14-01-open-source-journey-gaurav-chadha/profile-banner.png
Labels: area/blog

#2477 Chore[Discuss]: Responsive Footer for smaller screens
  src/assets/discuss/css/footer.css
Labels: area/discuss

#2486 [Community] Community Managers page
  src/collections/members/anirudh-jain/index.mdx
  src/collections/members/deepak-gupta/index.mdx
  src/collections/members/jash-patel/index.mdx
  src/collections/members/lee-calcote/index.mdx
  src/collections/members/nicholas-jackson/index.mdx
  src/collections/members/nithish-karthik/index.mdx
  src/collections/members/nuno-docarmo/index.mdx
  src/collections/members/oluwatomiyin-adekanye/index.mdx
  src/collections/members/shivay-lamba/index.mdx
  src/collections/members/tanuj-agarwal/index.mdx
  src/pages/community/managers.js
  src/sections/Community/CommunityManagers/index.js
  src/sections/Community/CommunityManagers/styles.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Meshmates/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: area/community

#2512 [Chore] Consolidate label triggered workflows
  .github/workflows/label-commenter.yml
  .github/workflows/label-triggered.yml
  .github/workflows/newcomers-alert.yml
  .github/workflows/slack.yml
Labels: kind/chore, area/ci

#2499 [DOCS] Community handbook link in readme | CU-1ydvcdq
  README.md
Labels: area/community

#2513 Program navigator removed from pages having single year
  package-lock.json
  src/sections/Careers/Careers-Programs-single/index.js
Labels: area/careers

#2514 Created rss feed for blog
  gatsby-config.js
  src/reusecore/PageHeader/index.js
  src/sections/Blog/Blog-grid/index.js
  src/sections/Blog/Blog-list/index.js
Labels: area/blog

#2529 [Community] CM link + profile update
  src/collections/members/lee-calcote/index.mdx
  src/collections/members/navendu-pottekkat/index.mdx
  src/collections/members/nikhil-ladha/index.mdx
  src/pages/community/community-managers.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Meshmates/index.js
Labels: area/community

#2533 [Site Performance] Image optimization
  src/components/SocialLinks-Color/index.js
  src/components/SocialLinks/index.js
  src/sections/404/index.js
  src/sections/404/service-mesh.svg
  src/sections/Community/Handbook/community.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/images/arrow.svg
  src/sections/Community/Handbook/images/patterns-logo.png
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Member-single/community-green.svg
  src/sections/Community/Member-single/getnighthawk-logo.png
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/landscape-green.png
  src/sections/Community/Member-single/layer5-image-hub.svg
  src/sections/Community/Member-single/meshery-logo-light.svg
  src/sections/Community/Member-single/meshery-operator-dark.svg
  src/sections/Community/Member-single/patterns-logo.png
  src/sections/Community/Member-single/smp-dark-text.svg
  src/sections/Community/Member-single/smp-dark.svg
  src/sections/Community/community.style.js
  src/sections/Community/index.js
  src/sections/Meshery/meshery-operator/index.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/service-mesh.svg
Labels: kind/chore

#2525 add RSS feed to resources
  gatsby-config.js
  package-lock.json
  src/pages/resources/index.js
Labels: area/resources

#2539 Build: Added 'cache-preserve' flags to optimise build time
  gatsby-config.js
Labels: area/ci

#2544 changed default page to active members
  src/pages/community/members.js
Labels: area/community

#2543 Site Performance : Careers page Image optimization
  src/sections/Careers/Careers-Internship-grid/InternshipPage.style.js
  src/sections/Careers/Careers-Internship-grid/index.js
  src/sections/Careers/index.js
Labels: kind/chore

#2546 [Learn] Added bookmark to learning paths
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/courseoverview.style.js
  src/sections/Learn-Layer5/Course-Overview/index.js
Labels: area/learn

#2548 added an addendum to the existing governance policy
  GOVERNANCE.md
Labels: kind/chore

#2550 [Article] Istio Ingress Gateway In Kubernetes | CU-1ydvdug
  src/collections/resources/istio-ingress-gateway-in-kubernetes/Istio Ingress Gateway No Title.png
  src/collections/resources/istio-ingress-gateway-in-kubernetes/Istio Ingress Gateway.png
  src/collections/resources/istio-ingress-gateway-in-kubernetes/index.mdx
Labels: area/resources

#2511 [Events] solved overlapping between text & carousel switcher
  src/components/UpcomingEventCard/EventCard.style.js
Labels: area/events

#2547 Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/chore

#2563 [Handbook] Fixed logo position in `mentorship` section
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

#2561 [Article] Content update fix
  src/collections/resources/istio-ingress-gateway-in-kubernetes/index.mdx
Labels: area/blog
