Repository layer5io/layer5, pull requests merged in 2022-09, with the labels that each got.

#3092 [Home] Service mesh neutral; book styling
  src/sections/Home/Service-mesh-focussed/index.js
  src/sections/Home/Service-mesh-focussed/service-mesh-focussed.style.js
Labels: area/learn

#3158 Add the community handbook link for newcomers
  CONTRIBUTING.md
Labels: issue/dco

#3134 Istio Service Mesh Article
  src/collections/resources/articles/istio-service-mesh/arch.svg
  src/collections/resources/articles/istio-service-mesh/index.mdx
  src/collections/resources/articles/istio-service-mesh/service-mesh.svg
Labels: area/resources

#3156 [News] Added The Ultimate List of Open Source Cloud-Native Tools
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/index.md
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/tools.jpg
Labels: area/news

#3164 Love to add Kamal Singh to community/member
  src/collections/members/kamal-nayan-singh /index.mdx
  src/collections/members/kamal-nayan-singh /kamal-nayan-singh.jpeg
Labels: area/community

#3048 Added gatsby-loadable-component-ssr plugin
  gatsby-node.js
  package-lock.json
  package.json
  src/pages/blog/index.js
  src/pages/cloud-native-management/meshery/getting-started.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/pages/company/brand.js
  src/pages/index.js
  src/pages/partners.js
  src/sections/Company/Brand/index.js
  src/sections/Landscape/index.js
Labels: pr/hold, area/ux, kind/performance

#3166 Adding community manager
  gatsby-node.js
  src/collections/members/_member-profile-template/index.mdx
  src/pages/community/members.js
  src/sections/Community/Members-grid/DataWrapper.js
  src/sections/Community/Members-grid/MemberList.js
Labels: area/community

#3167 Added the 4 logos ✅
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#3189 [Event] DevOps and Docker Live Show
  src/collections/events/devops-and-docker-live/docker-and-meshery-live-show.png
  src/collections/events/devops-and-docker-live/index.mdx
Labels: area/events

#3192 [Area: Blog] Eliminate unwanted artifact on hover of social buttons
  src/sections/Blog/Blog-single/author.js
  src/sections/Blog/Blog-single/author.style.js
Labels: area/blog

#3199 [Site] Add hacktoberfest 2022 new graphics in handbook and programs
  src/collections/programs/hacktoberfest-2020/hacktoberfest2022.png
  src/collections/programs/hacktoberfest-2020/index.mdx
  src/collections/programs/hacktoberfest-2022/hacktoberfest2022.png
  src/sections/Community/Handbook/programs-data.js
Labels: component/ui

#3187 Fixed Integration Style For Dark Mode
  src/collections/integrations/AKS/index.mdx
  src/collections/integrations/EKS/index.mdx
  src/collections/integrations/GitHub/index.mdx
  src/collections/integrations/Helm/index.mdx
  src/collections/integrations/Kuma/index.mdx
  src/collections/integrations/Mac/index.mdx
  src/collections/integrations/Traefik-Mesh/index.mdx
  src/pages/cloud-native-management/meshery/integrations.js
  src/pages/index.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/Meshery/Meshery-integrations/index.js
Labels: project/meshery

#3190 Update what-is-gitops.mdx
  src/collections/resources/articles/gitops/what-is-gitops.mdx
Labels: area/resources

#3208 [Programs] Hacktoberfest: Add dropdown list for years past
  src/collections/programs/hacktoberfest-2020/hacktoberfest2020.png
  src/collections/programs/hacktoberfest-2020/index.mdx
  src/collections/programs/hacktoberfest-2021/hacktoberfest2021.png
  src/collections/programs/hacktoberfest-2021/index.mdx
Labels: hacktoberfest, area/careers

#3214 [Docker Extension] Add link to extension in Docker Hub
  src/sections/Docker-Meshery/docker-extension-meshery.js
Labels: area/projects

#3216 [Community] Member Profile: Divine Orji
  src/collections/members/divine-orji/divine-orji.png
  src/collections/members/divine-orji/index.mdx
Labels: area/community

#3218 [Events] Event Carousel not clickable
  src/components/UpcomingEventCard/index.js
Labels: area/events

#3213 [Event]: Add KubeCon talk to Events page
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/events/kubecon-na-2022/kubeconNA2022.png
Labels: area/events
