Repository layer5io/layer5, pull requests merged in 2023-01, with the labels that each got.

#3573 [Community] Two new community managers
  src/collections/members/eeshaan-sawant/index.mdx
  src/collections/members/utkarsh-mishra/index.mdx
Labels: area/community

#3599 Changed the newcomer hyperlink to /community/newcomers
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

#3600 Fixed spelling mistakes
  src/collections/news/2022/2022-04-25-google-petitions-to-donate-istio-service-mesh-to-cncf/google-petitions-to-donate-istio-service-mesh-to-cncf.md
Labels: area/news

#3606 Update Member Profiles to Inactive - Sako, Suhani
  src/collections/members/sako-mammadov/index.mdx
  src/collections/members/suhani-agarwal/index.mdx
Labels: area/community

#3604 add cloud native playground as frontend project
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#3605 fix nav bar highlight colors
  src/theme/app/themeStyles.js
Labels: area/core-styls

#3556 setup github action to tweet issue/pr when 'issue/tweet' label is applied
  .github/workflows/tweet-issue.yml
Labels: area/ci

#3613 Two Jaeger logos correction
  src/collections/integrations/jenkins-operator/icon/color/jenkins-operator-color.svg
  src/collections/integrations/jenkins-operator/icon/white/jenkins-operator-white.svg
  src/collections/integrations/jenkins-operator/index.mdx
Labels: project/meshery

#3615 [Community] New Member Profile: Tolulope Ola-David
  src/collections/members/tolulope-ola-david/index.mdx
  src/collections/members/tolulope-ola-david/tolulope-ola-david.png
Labels: area/community

#3581 add link to GH issue label search for "area/blog"
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

#3607 Add writer badge to dropdown on members page
  src/assets/images/writer-program/writer-program-badge.png
  src/assets/images/writer-program/writer-program-badge.svg
  src/pages/community/members.js
Labels: area/community

#3389 Added a badge filter for the UI/UX'er.
  src/assets/images/uiuxr/uiuxr.png
  src/assets/images/uiuxr/uiuxr.svg
  src/collections/members/_member-profile-template/index.mdx
  src/pages/community/members.js
  src/sections/Community/Handbook/community.js
  src/sections/Community/Member-single/index.js
Labels: pr/hold, area/community, area/handbook

#3612 added [News] The Most Innovative Cloud Management Companies
  src/collections/news/2023/2023-01-11-the-most-innovative-cloud-management-companies/best-startup-texas.jpeg
  src/collections/news/2023/2023-01-11-the-most-innovative-cloud-management-companies/index.mdx
  src/sections/Company/News-single/index.js
Labels: area/news

#3620 Fix dropdown filter bug and minor icon related changes
  src/pages/community/members.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Members-grid/Dropdown.js
Labels: area/community

#3614 optimize images by replacing img from StaticImage
  src/sections/Docker-Meshery/docker-extension-CTA.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-features/index.js
Labels: kind/performance

#3589 add lighthouse ci workflow
  .github/workflows/lighthouseci.yml
Labels: area/ci

#3640 Centered the Careers "Internship Programs"
  src/sections/Careers/Careers-Programs-grid/index.js
Labels: area/careers

#3655 Fixed the 'Active' members icon
  src/pages/community/members.js
Labels: area/community

#3648 [CI] Lightouse issue: Add language property to html tag
  .github/workflows/lighthouseci.yml
  src/html.js
Labels: kind/chore, area/ci

#3595 Issue to fix spelling errors in the pricing section and to fix "Buoyant"
  src/collections/news/2022/2022-04-25-google-petitions-to-donate-istio-service-mesh-to-cncf/google-petitions-to-donate-istio-service-mesh-to-cncf.md
  src/sections/Pricing/data.js
Labels: area/news

#3667 Related posts bug
  src/sections/Company/News-single/index.js
  src/templates/news-single.js
Labels: area/news
