Repository layer5io/layer5, pull requests merged in 2023-04, with the labels that each got.

#4033 [chore] update member form webhook
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#4051 fixed graphql error
  src/collections/members/sudhanshu-dasgupta/index.mdx
Labels: area/community

#4053 Added Karan Thakur to community members page.
  src/collections/members/karan-thakur/index.mdx
  src/collections/members/karan-thakur/karan-thakur.jpeg
Labels: area/community

#4058 feat: Updated Membership section
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#4076 Fixed career page full-time UI
  src/sections/Careers/Careers-Internship-grid/InternshipPage.style.js
Labels: area/careers

#4034 form overflow corrected
  src/sections/app.style.js
Labels: type/core-styls, area/core-styls

#4030 Update k8s-multi-cluster.mdx
  src/collections/resources/articles/kubernetes/multi-cluster/k8s-multi-cluster.mdx
Labels: area/resources

#4083 Fixed SMI Table horizontal scroll in mobile devices
  src/components/SMI-Table/SMITable.style.js
  src/sections/Landscape/LandscapeGrid.style.js
Labels: area/landscape

#4093 fixed npm build in service-mesh-landscape page
  src/sections/Landscape/index.js
Labels: area/landscape

#4103 [Community] Member Profile: ambareen azam
  src/collections/members/ambareen-azam/ambreen.jpg
  src/collections/members/ambareen-azam/index.mdx
Labels: area/community

#4106 Updated README's with new instructions for adding styles, images, svgs dependent on color mode
  CONTRIBUTING.md
  src/assets/images/socialIcons/github_colorMode.svg
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/sections/Meshery/How-meshery-works/feature/feature.style.js
  src/sections/Meshery/How-meshery-works/feature/index.js
  src/sections/Meshery/How-meshery-works/hero/index.js
  src/theme/app/THEME.md
Labels: type/core-styls

#4105 [Blog] K8s Validating Admission Controllers
  src/collections/blog/2023/2023-02-03-validating-admission-controllers/index.mdx
  src/collections/blog/2023/2023-02-03-validating-admission-controllers/kubernetes-new-dark.png
  src/collections/blog/2023/2023-02-03-validating-admission-controllers/kubernetes-new.png
Labels: area/blog

#4114 Added scroll to top functionality on pagination
  src/sections/Blog/Blog-grid/index.js
  src/sections/Resources/Resources-grid/index.js
Labels: issue/dco

#4123 Removed service mesh terms and corrected image width
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Community/Handbook/index.js
  src/sections/Company/Layer5-statement/index.js
  src/sections/General/Footer/index.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: area/handbook

#4118 Added communtiy member Suhail Khan
  src/collections/members/suhail-khan/index.mdx
  src/collections/members/suhail-khan/suhail-khan.jpg
Labels: area/community

#4100 Added image feature to Inline-Quotes
  src/components/Inline-quotes/index.js
  src/sections/Meshery/index.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Meshmap/index.js
  src/sections/Pricing/reviews/alex-hokanson.jpeg
  src/sections/Pricing/reviews/phillip-ulberg.jpeg
Labels: project/meshmap

#4124 Fix SVGs to be Responsive to Mobile View
  src/assets/images/partners/microsoft-colorMode.svg
  src/collections/careers/Career.style.js
  src/collections/careers/how-to-apply.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/reusecore/PageHeader/pageHeader.style.js
  src/reusecore/SectionTitle/index.js
  src/sections/Careers/Career-single/CareerSingle.style.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/Home/MeshmapDesignHighlight/integration-image-colorMode.svg
  src/sections/Meshery/How-meshery-works/hero/index.js
  src/sections/Meshery/How-meshery-works/howitworks.style.js
  src/sections/Meshery/How-meshery-works/specs/data-card.js
  src/sections/Meshery/How-meshery-works/specs/specs.style.js
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab1-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab2-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab3-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab4-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-1-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-2-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-3-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-4-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Visualize/images/visualize-1-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Visualize/images/visualize-2-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/ingress-gateway-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/pod-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/prometheus-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/service-interface-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/banner-image-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/cytoscape-colorMode.svg
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Meshmap/Meshmap-visualize/images/visualizer-views-colorMode.svg
  src/sections/Projects/Nighthawk/gnh.style.js
  src/sections/subscribe/subscribe.style.js
  src/templates/blog-category-list.js
  static/favicon.ico
Labels: area/blog, area/careers, project/meshmap

#4162 Fix SVGs for text in mega menu and MeshMap collaborate feature
  src/sections/General/Navigation/navigation.style.js
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab1-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab2-colorMode.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab3-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-partial-colorMode.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/service-interface-partial-colorMode.svg
  src/sections/Meshmap/diagram/diagram.style.js
Labels: project/meshmap
