Repository layer5io/layer5, pull requests merged in 2023-06, with the labels that each got.

#4322 [Community] Added member profile of Avantika Jain
  src/collections/members/avantika-jain/avantika-jain.png
  src/collections/members/avantika-jain/index.mdx
Labels: area/community

#4313 Fixed visibility issue
  src/collections/resources/Resources.style.js
Labels: area/resources

#4319 Fix #4305 - Buttons in hero banner redirect to a bad url & 404 after Meshery page is reloaded
  src/components/CommonForm/index.js
  src/components/Features-carousel/index.js
  src/components/Learn-Components/what-await-section/index.js
  src/components/Terminal/index.js
  src/sections/Docker-Meshery/docker-extension-meshery.js
  src/sections/Learn-Layer5/index.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Service-Mesh-Labs/index.js
  src/sections/Meshery/Features-Col/index.js
  src/sections/Meshery/How-meshery-works/feature/index.js
  src/sections/Meshery/How-meshery-works/index.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/Meshery-integrations/Card.js
  src/sections/Meshery/index.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures_diagram.js
  src/sections/Meshmap/FeaturesSection/useGsapTimeline.js
  src/sections/Meshmap/features/index.js
Labels: area/learn, project/meshmap

#4337 Build fail fix
  src/assets/images/docker-extension/docker-extension-meshery.png
  src/collections/integrations/_images/meshmap-designer.png
  src/collections/integrations/_images/meshmap-regain-control.png
  src/collections/integrations/_images/meshmap-visualizer.png
Labels: project/meshery

#4343 changed the layout of every images in mebers page to verticval format
  src/collections/members/nikhil-ladha/nikhil-ladha.webp
  src/collections/members/usman-siddique/Usman-Dev.webp
Labels: area/community

#4347 [MeshMap] Updated MeshMap design page
  src/sections/Meshmap/Meshmap-design/Meshmap-design-features/index.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/images/background-dots-pattern.svg
  src/sections/Meshmap/Meshmap-design/images/integration-image-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/plus-sign-colorMode.svg
  src/sections/Meshmap/Meshmap-design/images/underline.svg
  src/sections/Meshmap/Meshmap-design/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-features-carousel.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-hero.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/theme/app/themeStyles.js
Labels: project/meshmap, type/core-styls

#4351 [MeshMap] Design page enhancements
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/images/background-dots-pattern.svg
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

#4354 enhanced responsiveness for MeshMap design page
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-features-carousel.js
Labels: project/meshmap

#4357 add member profiles for Ritik and Udit
  src/collections/members/ritik-saxena/index.mdx
  src/collections/members/ritik-saxena/ritik-saxena.jpg
  src/collections/members/udit-takkar/index.mdx
  src/collections/members/udit-takkar/udit-takkar.png
Labels: area/community

#4294 publish-Yash's-interview
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/MeetTheMeshMate.style.js
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/yash-sharma-layer5-meshmate.png
Labels: area/blog

#4355 award-badges-to-select-members-and-add-meshmap-badge
  CONTRIBUTING.md
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/aaditya-narayan-subedy/index.mdx
  src/collections/members/abdullah-rafi/index.mdx
  src/collections/members/gaganpreet-kaur-kalsi/index.mdx
  src/collections/members/karan-thakur/index.mdx
  src/collections/members/naureen-imran/index.mdx
  src/collections/members/nishant/index.mdx
  src/collections/members/pranav-singh/index.mdx
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/shivam-sood/index.mdx
  src/collections/members/uzair-shaikh/index.mdx
  src/collections/members/vivek-vishal/index.mdx
  src/collections/members/yash-sharma/index.mdx
  src/pages/community/members.js
  src/sections/Community/Member-single/index.js
Labels: area/community

#4366 Update community_member_profile template
  .github/ISSUE_TEMPLATE/community_member_profile.md
Labels: area/ci

#4348 Rename the velocity logo file
  package-lock.json
  package.json
  src/collections/service-mesh-workshops/2018_velocity_london/index.mdx
  src/collections/service-mesh-workshops/2018_velocity_london/velocity-new.webp
  src/collections/service-mesh-workshops/2018_velocity_london/velocity.webp
Labels: area/learn

#4359 Enchance/meshery integrations honeycomb
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#4333 "Fix #4324 [Handbook] Text changing to white on hover"
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

#4320 updated color
  src/components/Features-carousel/index.js
  src/sections/Docker-Meshery/docker-extension-CTA.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/index.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
  src/sections/Playground/playground-features.js
  src/sections/Playground/playground-hero.js
Labels: project/meshmap

#4293 logo according to theme
  src/collections/programs/Programs.style.js
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/sca-contributhon/index.mdx
  src/theme/app/themeStyles.js
Labels: area/careers, type/core-styls

#4381 Fix for #3790: Update Mentorship Programs page to be dark theme compatible
  src/assets/images/programs/hacktoberfest.svg
  src/collections/blog/2022/2022-10-19-kubeconna2022/index.mdx
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/programs/communitybridge/communitybridge_logo.svg
  src/collections/programs/communitybridge/index.mdx
  src/collections/programs/gsoc-2019/index.mdx
  src/collections/programs/gsoc-2020/index.mdx
  src/collections/programs/gsoc-2021/index.mdx
  src/collections/programs/gsoc-2022/index.mdx
  src/collections/programs/gsoc-2023/index.mdx
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/sca-contributhon/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
  src/components/handbook-navigation/toc.style.js
  src/sections/Careers/Careers-Programs-single/ProgramsSingle.style.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/programs-data.js
  src/theme/app/themeStyles.js
Labels: area/blog, area/learn, area/events, area/careers, area/handbook, type/core-styls

#4264 New Blog Added: "How to switch between Meshery release channels"
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/change-meshery-release-channels.png
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/meshery-version.png
Labels: area/blog

#4384 Fixed Cytoscape component styles
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
Labels: project/meshmap

#4158 Case study
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/globe.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/layers.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/meshery-and-hpe.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/meshery-integrations.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/network.svg
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/users.svg
  src/sections/Resources/Resource-single/resourceSingle.style.js
Labels: area/resources

#4353 [Site] GitOps Page
  src/assets/images/gitops/conelight.svg
  src/assets/images/meshmap/meshmap-light-stacked.svg
  src/collections/service-mesh-workshops/2018_velocity_london/velocity-new.webp
  src/components/Call-To-Actions/CTA_FullWidth/index.js
  src/pages/cloud-native-management/gitops/index.js
  src/pages/cloud-native-management/meshery/index.js
  src/pages/cloud-native-management/meshmap/collaborate.js
  src/sections/gitops/gitops.style.js
  src/sections/gitops/index.js
  src/sections/gitops/meshery.style
Labels: area/learn, project/smi, projects/smp

#4296 Fixes for issues #3286, #3663, Partner Page SVG Transitions, and Catalog Page Transitions
  content-learn/mastering-service-meshes-for-developers/introduction-to-service-meshes/istio/getting-started.mdx
  package-lock.json
  src/assets/images/partners/citrix-colorMode.svg
  src/assets/images/partners/metabit-trading-logo-colorMode.svg
  src/collections/resources/articles/terraform-with-meshery/index.mdx
  src/reusecore/Accordion/accordion.style.js
  src/reusecore/Blockquote/Blockquote-image/blockquote-image.style.js
  src/reusecore/Blockquote/blockquote.style.js
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Cloud-Native-Catalog/new-catalog.js
  src/sections/General/Faq/index.js
  src/sections/Partners/index.js
  src/sections/Partners/partner.style.js
  src/sections/Partners/partners.js
  src/sections/Pricing/review-slider.js
  src/sections/app.style.js
Labels: area/resources, type/core-styls

#4391 [Event] added kcd chennai talk to events page
  src/collections/events/kcd-chennai-2023/index.mdx
  src/collections/events/kcd-chennai-2023/kcd_chennai.webp
Labels: area/events

#4407 [GitOps] Update GitHub Actions Overview page
  src/sections/gitops/index.js
Labels: projects/smp

#4400 [Home Page] Adding HPE case study banner
  src/components/Case-study-banner/index.js
  src/pages/index.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#4430 Revert "[chore] Update Newcomers Webhook URL"
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#4414 [Community] Member Profile: Randy
  src/collections/members/randy-chilau/index.mdx
  src/collections/members/randy-chilau/randy-chilau.jpeg
Labels: area/community

#4392 [UX] Graphic Design: Create a Layer5-branded 3D book to represent the Community Handbook
  src/sections/Community/Handbook/BookComponent/BookComponent.js
  src/sections/Community/Handbook/BookComponent/BookComponent.style.js
  src/sections/Community/Handbook/images/handbook-dark.webp
  src/sections/Community/Meshmates/index.js
  src/sections/Community/Meshmates/meshmates.style.js
Labels: area/handbook

#4424 [community] Added Member Profile: Tejas
  src/collections/members/tejas-jamdade/index.mdx
  src/collections/members/tejas-jamdade/tejas-jamdade.webp
Labels: area/community

#4425 feat:fixed book_links
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

#4423 changed the selection color
  src/sections/app.style.js
Labels: type/core-styls

#4444 [Forms] Update scenarios webhooks
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#4399 Added stick-figures section
  src/assets/images/stick-figures/SVG/stick-figures.svg
  src/sections/Company/Brand/Brand-components/stickfigures.js
  src/sections/Company/Brand/index.js
  static/brand/stick-figures.zip
Labels: issue/dco

#4443 Added member profile for Vaibhav bisht
  src/collections/members/vaibhav-bisht/index.mdx
  src/collections/members/vaibhav-bisht/vaibhav-bisht.webp
Labels: area/community

#4433 Added a Form in index.mdx for 2nd book
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
Labels: area/learn

#4405 [LHCI] Proposal to move audit tests to use categories in “warn” mode
  .github/workflows/lighthouseci.yml
  .lighthouserc.js
  gatsby-node.js
Labels: area/site-config, area/ci

#4449 Bind Kubernetes Service Account with ClusterRole blog #863h40347
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/blog-post.svg
  src/collections/blog/2023/2023-06-30-bind-kubernetes-service-account-with-clusterRole/index.mdx
Labels: area/blog
