Repository layer5io/layer5, pull requests merged in 2023-05, with the labels that each got.

#4156 Community mem
  src/collections/members/naureen-imran/index.mdx
  src/collections/members/naureen-imran/naureen-imran.png
Labels: area/community

#4179 Update lfx-2023-summer-term-dates
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#4177 [Blog] Celebrating 1,000 Meshery contributors
  src/collections/blog/2023/2023-04-12-meshery-surpasses-2000-github-stars!/2000-github-stars.jpeg
  src/collections/blog/2023/2023-04-12-meshery-surpasses-2000-github-stars!/index.mdx
Labels: area/blog

#4180 Removed duplicate title tags and descriptions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/community_member_profile.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/framework_discourse.md
  .github/ISSUE_TEMPLATE/news.md
  .github/config.yml
  .github/label-commenter-config.yml
  src/assets/discuss/html/footer.html
  src/components/SlackLinkNotif/index.js
  src/pages/cloud-native-management/meshmap/collaborate.js
  src/pages/cloud-native-management/meshmap/design.js
  src/pages/cloud-native-management/meshmap/visualize.js
  src/sections/Community/Calendar/index.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/writing-program/content-form.js
  src/sections/Community/Join-community/index.js
  src/sections/Community/Members-grid/index.js
  src/sections/Community/Newcomers-guide/index.js
  src/sections/Community/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Meshmap/Meshmap-collaborate/index.js
  src/sections/Meshmap/Meshmap-visualize/index.js
Labels: area/handbook, project/meshmap, type/seo, area/ci

#4181 [Events] Archive old events; set upcoming to false
  src/collections/blog/2023/2023-04-12-meshery-surpasses-2000-github-stars/2000-github-stars.jpeg
  src/collections/blog/2023/2023-04-12-meshery-surpasses-2000-github-stars/index.mdx
  src/collections/events/devconf-2022-measure-smp/index.mdx
  src/collections/events/devops-and-docker-live/index.mdx
  src/collections/events/docker-community-meetup-2022-hacktoberfest/index.mdx
  src/collections/events/docker-developer-community-meetup-2022/index.mdx
  src/collections/events/dockercon-2022/lighting-talk-in-a-dedicated-community-room.mdx
  src/collections/events/dockercon-2022/lightning-talk-on-the-main-stage.mdx
  src/collections/events/kubecon-EU-2023/index.mdx
  src/collections/events/kubecon-NA-2020/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/events/kubecon-eu-2020/index.mdx
  src/collections/events/kubecon-eu-2021/index.mdx
  src/collections/events/kubecon-eu-2022/index.mdx
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/events/kubecon2021-na-meshery/index.mdx
  src/collections/events/ossna-2022/index.mdx
  src/collections/events/servicemeshcon-EU-2022/index.mdx
  src/collections/events/servicemeshcon-NA-2020/index.mdx
  src/collections/events/servicemeshcon-NA-2021/index.mdx
Labels: area/blog, area/events

#4178 [Blog] Meshery surpassed 2,000 GitHub stars
  src/collections/blog/2023/2023-04-12-meshery-surpasses-2000-github-stars/index.mdx
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/4000-layer5-members.png
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/index.mdx
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/layer5-community-playfield.png
  src/collections/blog/2023/2023-05-02-layer5-reaches-a-4000-community-member-milestone/meshery-most-popular-lfx-internship.png
Labels: area/blog

#4182 Added play icon on home page
  src/assets/images/homePage-images/play-button.png
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Home/CloudNativeManagement/statement.style.js
Labels: area/core-styls

#4133 Fix URL Trailing Slash Flicker
  .github/workflows/lighthouseci.yml
  .lighthouserc.js
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/seo.js
  src/sections/404/404.style.js
  src/sections/Community/index.js
  src/templates/blog-category-list.js
Labels: area/blog, area/site-config, area/ci

#4109 Changed heading gradient when hovered : Issue 4099
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.style.js
Labels: project/meshmap

#4190 [Community] Member Profile: Sahil
  src/collections/members/sahil/index.mdx
  src/collections/members/sahil/sahil.jpeg
Labels: area/community

#4196 Make SVG responsive on page: /cloud-native-management/meshmap/collaborate
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
Labels: project/meshmap

#4198 Layer5 website updates
  src/components/Card/index.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Pricing/review-slider.js
Labels: area/handbook

#4213 Add LFX Mentorship 2023 Summer Projects on :/programs/lfx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#4227 [chore] Update Newcomers Webhook URL
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#4229 [chore] update common form
  src/components/CommonForm/index.js
Labels: kind/chore

#4220 [Programs] Added program information
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#4215 Added Docker Extension Badge on :/Community/Handbook/recognition.js
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#4192 Add margin to slide button
  src/components/Features-carousel/FeaturesCarousel.style.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.style.js
Labels: project/meshmap

#4147 Made news page buttons dark mode compatible
  src/sections/Company/News-grid/NewsGrid.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#4169 size of card & text inside it increases
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

#4223 feat: added meshery catalog badge to the recognition section
  src/assets/images/meshery/meshery-catalog.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#4234 Spelling mistake in MLH 2020 under programme section
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/mlh-2020/index.mdx
Labels: area/careers

#4171 Add FAQs on Meshery and its extension points
  src/assets/data/faq/index.js
Labels: project/meshery, project/meshmap

#4246 Add catalog description
  .github/assets/images/catalog/catalog.svg
  README.md
Labels: area/ci

#4239 fixed issue related github logo
  src/assets/discuss/css/footer.css
Labels: issue/dco

#4226 Clear a number of warnings that appear in the terminal and browser dev console
  CONTRIBUTING.md
  root-wrapper.js
  src/collections/blog/2021/2021-09-01-announcing-fall-interns/index.mdx
  src/collections/events/servicemeshcon-NA-2021/index.mdx
  src/components/BGImage/index.js
  src/components/Call-To-Actions/CTA_Bottom/index.js
  src/components/Call-To-Actions/CTA_FullWidth/index.js
  src/components/Call-To-Actions/CTA_ImageOnly/index.js
  src/components/Related-Posts/index.js
  src/components/Related-Resources/index.js
  src/components/seo.js
  src/components/service-mesh-patterns-Table/table.style.js
  src/html.js
  src/pages/index.js
  src/pages/learn/index.js
  src/pages/learn/service-mesh-workshops.js
  src/pages/projects/index.js
  src/reusecore/Button/index.js
  src/reusecore/PageHeader/pageHeader.style.js
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Community/Event-single/index.js
  src/sections/Community/community.style.js
  src/sections/Community/index.js
  src/sections/Company/Stewards-of-industry/index.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/sections/Home/Banner-4/index.js
  src/sections/Home/Proud-maintainers/proudMaintainers.style.js
  src/sections/Landscape/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshery/Meshery-integrations/Honeycomb/Honeycomb.js
  src/sections/Meshmap/FeaturesSection/useGsapTimeline.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-terms.js
  src/sections/Projects/Nighthawk/gnh.style.js
  src/sections/Projects/Nighthawk/index.js
  src/sections/Projects/Project-grid/projectGrid.style.js
  src/sections/Projects/SMI/index.js
  src/sections/Projects/SMP/index.js
  src/sections/Resources/Resource-single/index.js
  src/sections/app.style.js
  src/sections/z_other/page-classic.js
  src/templates/blog-tag-list.js
  src/theme/app/themeStyles.js
  src/utils/useHasMounted.js
Labels: area/landscape, area/blog, area/projects, area/events, project/meshmap, type/core-styls

#4243 [CI] Lighthouse: Update dependencies
  .github/workflows/lighthouseci.yml
Labels: area/ci

#4217 [Community] Member Profile: Senali
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/senali-dilumika/senali-dilumika.jpeg
Labels: area/community, issue/dco

#4188 migrate to google-tag-manager
  gatsby-browser.js
  gatsby-config.js
  src/html.js
Labels: area/site-config

#4261 [chore] Update webhook URL for forms
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore, area/handbook

#4258 Add Vivek Jha Profile
  src/collections/members/vivek-jha/index.mdx
  src/collections/members/vivek-jha/vivek-jha.png
Labels: area/community, issue/dco

#4244 add meshmap section in readme
  README.md
Labels: issue/dco

#4253 Added Designer Page and hyperlink to UX Badge
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/designer.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Member-single/index.js
Labels: area/community, area/handbook

#4221 [Blog] Kubernetes NodePorts - Static and Dynamic Assignments
  src/collections/blog/2023/2023-12-05-k8s-nodeports/index.mdx
  src/collections/blog/2023/2023-12-05-k8s-nodeports/k8s-nodeports.png
Labels: area/blog

#4273 Changed member profile to inactive
  src/collections/members/colby_stoker/index.mdx
Labels: area/community

#4170 [Create] Meshery Catalog page
  src/assets/images/catalog/calalog-cards.svg
  src/assets/images/catalog/catalog-dark.svg
  src/assets/images/catalog/catalog-light.svg
  src/pages/catalog.js
  src/sections/Cloud-Native-Catalog/catalog.js
  src/sections/Cloud-Native-Catalog/header.js
  src/sections/Cloud-Native-Catalog/index.js
  src/sections/Cloud-Native-Catalog/new-catalog.js
  src/sections/Cloud-Native-Catalog/patterns.js
  src/sections/General/Navigation/utility/menu-items.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#4248 Added Word Wrapping and set Max Width to terminal text
  src/components/Terminal/Terminal.style.js
Labels: project/meshery

#4280 Collaborate and playground page changes
  src/sections/Meshmap/Meshmap-collaborate/meshmap-collaborate-banner.js
  src/sections/Playground/images/playground-feature-2.svg
  src/sections/Playground/index.js
  src/sections/Playground/playground-features.js
Labels: project/meshmap

#4270 Add Full Images of books in Navigation
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/sections/General/Navigation/index.js
Labels: area/learn

#4211 Fix for occasional flash of white in the background upon page load
  src/sections/app.style.js
Labels: type/core-styls

#4279 Fixed the dark mode colors of table on Service mesh patterns page and removed the bg-color of the book cover image
  src/collections/service-mesh-books/Book.style.js
  src/components/service-mesh-patterns-Table/table.style.js
Labels: area/learn

#4262 [Site] Add interactive animated cytoscape component
  package-lock.json
  package.json
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Meshmap/Meshmap-design/cytoscape-demo.style.js
  src/sections/Meshmap/Meshmap-design/cytoscapeCanvas.js
  src/sections/Meshmap/Meshmap-design/images/cytoNodes.js
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

#4298 Added the member card for Savio Dias under the community section
  src/collections/members/savio-dias/index.mdx
  src/collections/members/savio-dias/saviodias.jpg
Labels: area/community

#4312 Maintainer's Circle may event added
  src/collections/events/maitainers-circle-2023/Maintainer-Circle.png
  src/collections/events/maitainers-circle-2023/index.mdx
Labels: area/events
