Repository layer5io/layer5, pull requests merged in 2023-09, with the labels that each got.

#4811 [Chore] Update webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#4815 Added Community Member Vaibhav Malik
  src/collections/members/vaibhav-malik/index.mdx
  src/collections/members/vaibhav-malik/vaibhav-malik.webp
Labels: area/community

#4837 The image address was wrong.
  src/collections/blog/2023/2023-09-05-/index.mdx
Labels: area/blog

#4836 Added description prop to Blog and Resource templates
  src/templates/blog-single.js
  src/templates/resource-single.js
Labels: area/blog, area/resources, type/seo

#4803 update meta description and title
  src/pages/community/handbook/community-roles.js
  src/pages/community/handbook/faq.js
Labels: area/community, type/seo

#4821 community member profile sucessfully added.
  src/collections/members/aritra-majumder/aritra-majumder.webp
  src/collections/members/aritra-majumder/index.mdx
Labels: area/community

#4834 A community member's profile has been successfully added.
  src/collections/members/prem-kumar/index.mdx
  src/collections/members/prem-kumar/prem-kumar.webp
Labels: area/community

#4912 Revert "[Chore] Update webhook"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#4920 Added Member Profile of Yash Sharma
  src/collections/members/yash-sharma/index.mdx
  src/collections/members/yash/index.mdx
  src/collections/members/yash/yash.webp
Labels: area/community

#4936 Updated thumbnail for Hacktoberfest event
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest2023.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

#4949 updated thumbnail and speakers
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest2023.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

#4944 Member profile of Abhijeet Gaurav is added
  src/collections/members/abhijeet-gaurav/Abhijeet_Gaurav.webp
  src/collections/members/abhijeet-gaurav/index.mdx
Labels: area/community

#4954 Revert "Revert "[Chore] Update webhook""
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#4953 Member profile of rhoda michael is added
  src/collections/members/rhoda-michael/Rhoda-Michael.webp
  src/collections/members/rhoda-michael/index.mdx
Labels: area/community

#4943 Added Community Member Shravani Kaware
  src/collections/members/shravani-kaware/index.mdx
  src/collections/members/shravani-kaware/shravani-kaware.webp
Labels: area/community

#4673 improved meshmap mobile swiper
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

#4894 Added "Handling PRs Made Without Being Assigned" section at "layer5/s…
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

#4970 Event date, time and joining link added
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

#4975 added issues Doc of Hacktoberfest 2023 on event page
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/events

#4960 Add Sistent project to the table
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#4980 Hacktoberfest Contributor badge added to event and blog
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-contributor.png
  src/collections/events/2023/hacktoberfest-2023/hacktoberfest-contributor.png
  src/collections/events/2023/hacktoberfest-2023/index.mdx
Labels: area/blog, area/events

#4979 add ui-ux badge to member's profile
  src/collections/members/rex-joshua/index.mdx
Labels: area/community
