Repository layer5io/layer5, pull requests merged in 2023-02, with the labels that each got.

#3673 Font Family from “Open Sans” to “Qanelas Soft”
  fonts.css
  src/assets/discuss/css/app.css
  src/assets/discuss/css/footer.css
  src/collections/blog/2021/2021-04-19-announcing-meshery-v0.5/meshery-extensibility.svg
  src/collections/service-mesh-labs/meshery_performance_testing/index.mdx
  src/collections/service-mesh-labs/traffic_splitting_with_meshery/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_consul/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_istio/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_kuma/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_linkerd/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_nsm/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_open_service_mesh/index.mdx
  src/collections/service-mesh-labs/working_with_meshery_and_traefik/index.mdx
  src/components/Landscape-Table/index.js
  src/components/ScenarioCard/index.js
  src/sections/Blog/Blog-sidebar/blogSidebar.style.js
  src/sections/Company/About/about.style.js
  src/sections/DoYouNeedService/doYouNeedService.style.js
  src/sections/General/Footer/footer.style.js
  src/sections/Landscape/LandscapeGrid.style.js
  src/sections/Learn/Workshop-grid/WorkshopsGrid.style.js
  src/sections/Meshery/Meshery-features/feature-images/meshery-extensibility.svg
  src/sections/app.style.js
  src/sections/what-is-service-mesh/whatServiceMesh.style.js
  static/mail/2022/dockercon-2022-recap.html
  static/mail/books/the-enterprise-path-to-service-mesh-architectures.html
  static/mail/kubecon-na-2021-recap.html
Labels: area/landscape, area/blog, area/core-styls

#3685 Fixed font colour of statement box in dark mode
  src/reusecore/Blockquote/Blockquote-image/blockquote-image.style.js
  src/sections/Home/CloudNativeManagement/statement.style.js
  src/theme/app/themeStyles.js
Labels: area/core-styls

#3681 Abdullah rafi community member added
  src/collections/members/abdullah-rafi/abdullah-rafi.jpg
  src/collections/members/abdullah-rafi/index.mdx
Labels: area/community

#3694 disable `csp-xss` test for lighthouse-ci
  .github/workflows/lighthouseci.yml
  .lighthouserc.js
Labels: area/ci

#3705 Added profile for Colby Stoker
  src/collections/members/colby_stoker/Colby_Stoker.jpg
  src/collections/members/colby_stoker/index.mdx
Labels: area/community

#3708 Fixed the issue with Nighthawk project link issue:#3703
  src/collections/landscape/tools-data.js
Labels: area/landscape

#3718 [Community] Member Profile: Partik Singh Bumrah
  src/collections/members/partik-singh-bumrah/index.mdx
  src/collections/members/partik-singh-bumrah/partik-singh-bumrah.jpg
Labels: area/community

#3717 ADD community member profile links on LFX Page
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#3723 [Footer] fix footer style
  src/sections/General/Footer/footer.style.js
Labels: area/core-styls

#3721 fix unsubscribe page background color
  src/sections/unsubscribed/unsubscribed.style.js
  src/theme/app/themeStyles.js
Labels: area/core-styls

#3711 Assigned UI/UX badges
  src/collections/members/alexis-abakasanga/index.mdx
  src/collections/members/alvin okafor/index.mdx
  src/collections/members/divine-orji/index.mdx
  src/collections/members/gerald-maboshe/index.mdx
Labels: area/community

#3713 Changed integrations to color
  src/collections/integrations/emissary-ingress/icon/color/emissary-ingress-color.svg
  src/collections/integrations/emissary-ingress/icon/white/emissary-ingress-white.svg
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshmap

#3734 spelling mistake fix
  package-lock.json
  package.json
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#3740 Meshmap screenshots added
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/MeshmapDesigner.png
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/MeshmapVisualizer.png
  src/collections/resources/articles/kubernetes/getting-started-with-kubernetes/index.mdx
Labels: area/resources

#3754 Add community member profile
  src/collections/members/ayush-sharma/ayush-sharma.jpg
  src/collections/members/ayush-sharma/index.mdx
Labels: area/community

#3739 [UI] Added shadow in header menu card to support dark mode
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
Labels: type/core-styls

#3752 Add community member profile
  src/collections/members/arunima-chaudhuri/arunima-chaudhuri.jpeg
  src/collections/members/arunima-chaudhuri/index.mdx
Labels: area/community

#3747 Add Reviews on MeshMap and Pricing page
  src/sections/Pricing/review-slider.js
  src/sections/Pricing/reviews/liz-rice.jpeg
  src/sections/Pricing/reviews/mrittika-ganguli.jpeg
Labels: kind/enhancement

#3760 fixed: The logos are not visible in dark mode on page: layer5.io/careers/programs
  src/collections/programs/layer5/index.mdx
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2021/lfx-white.svg
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2022/lfx-white.svg
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/collections/programs/lfx-2023/lfx-white.svg
  src/collections/programs/mlh-2020/index.mdx
  src/collections/programs/mlh-2020/mlh-dark.svg
  src/collections/programs/mlh-2020/mlh.svg
  src/collections/programs/sca-contributhon/index.mdx
  src/collections/programs/sca-contributhon/sca-dark.svg
  src/pages/careers/programs.js
  src/sections/Careers/Careers-Programs-grid/ProgramGrid.style.js
  src/sections/Careers/Careers-Programs-grid/index.js
Labels: area/careers

#3769 Change status of inactive members on their Member Profiles
  src/collections/members/alexis-abakasanga/index.mdx
  src/collections/members/meghana-varanasi/index.mdx
  src/collections/members/olushesi-toheeb/index.mdx
  src/collections/members/yash-kamboj/index.mdx
Labels: area/community

#3762 Add Social Media recognition section
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#3735 fix: [MeshMap] Issues with spacing in "Save time with patterns" section
  src/sections/Meshmap/meshmap-catalog.js
Labels: project/meshmap

#3779 [Community] Member Profile for Yash Sharma
  src/collections/members/yash-sharma/index.mdx
  src/collections/members/yash-sharma/yash-sharma.jpg
Labels: area/community

#3767 MeshMap page section (v2, accordion)
  src/sections/General/Navigation/navigation.style.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures_diagram.js
  src/sections/Meshmap/FeaturesSection/Collaborate/images/avatar1.png
  src/sections/Meshmap/FeaturesSection/Collaborate/images/avatar2.png
  src/sections/Meshmap/FeaturesSection/Collaborate/images/avatar3.png
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab1.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab2.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab3.svg
  src/sections/Meshmap/FeaturesSection/Collaborate/images/collab4.svg
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures_diagram.js
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-1.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-2.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-3.svg
  src/sections/Meshmap/FeaturesSection/Design/images/role-binding-4.svg
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures_diagram.js
  src/sections/Meshmap/FeaturesSection/Visualize/images/design1.svg
  src/sections/Meshmap/FeaturesSection/Visualize/images/design2.svg
  src/sections/Meshmap/diagram/diagram.style.js
  src/sections/Meshmap/features/features.style.js
  src/sections/Meshmap/features/index.js
  src/sections/Meshmap/images/circles.svg
  src/sections/Meshmap/images/collaborate1.svg
  src/sections/Meshmap/images/collaborate2.svg
  src/sections/Meshmap/images/grid.svg
  src/sections/Meshmap/index.js
  src/sections/Meshmap/meshmap-catalog.js
  src/sections/Meshmap/meshmap-modes.js
  src/sections/Meshmap/meshmap-newicon.svg
  src/sections/Meshmap/meshmap-platform.js
  src/sections/Meshmap/meshmap.style.js
  src/sections/Meshmap/meshmap_banner.js
Labels: project/meshmap

#3792 update make.com web hook
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#3666 Security vulnerabilities page added
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/index.js
  src/sections/Community/Handbook/security-vulnerabilities.js
Labels: area/community, area/handbook

#3728 Infinite Carousel : Partner images size fix
  src/sections/Home/Partners-home/index.js
  src/sections/Home/Partners-home/partnerSection.style.js
Labels: issue/remind

#3805 Mobile issue fix
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.style.js
Labels: project/meshmap

#3756 fix: Coherent varticle timeline in dark mode
  src/sections/Landscape/LandscapeGrid.style.js
Labels: area/landscape
