Repository layer5io/layer5, pull requests merged in 2023-03, with the labels that each got.

#3843 [Community] Add Member profile
  src/collections/members/azanul-haque/azanul-haque.jpg
  src/collections/members/azanul-haque/index.mdx
Labels: area/community

#3823 feat: add performance tips
  CONTRIBUTING.md
Labels: type/performance

#3870 Fix Github icon on Discussion Forum
  src/assets/discuss/css/footer.css
Labels: area/discuss

#3861 [community] Member profile : Deepak Dinesh
  src/collections/members/deepak dinesh/deepak.jpeg
  src/collections/members/deepak dinesh/index.mdx
Labels: area/community

#3851 [Community] Member Profile: Shivam Sood
  src/collections/members/shivam-sood/index.mdx
  src/collections/members/shivam-sood/shivam-sood.jpg
Labels: area/community

#3874 [community] Member profile : Chinu Anand
  src/collections/members/chinu-anand/chinu-anand.jpg
  src/collections/members/chinu-anand/index.mdx
Labels: area/community

#3873 [community] Member profile : Swathi Loganathan
  src/collections/members/swathi-loganathan/index.mdx
  src/collections/members/swathi-loganathan/swathi-loganathan.jpg
Labels: area/community

#3884 To add one more FAQ
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

#3834 [repository overview] fix: overflow occurring on the repository overview page
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#3494 [Integrations] Convert stack of category filters to a carousel on home page
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
  src/sections/app.style.js
Labels: type/core-styls

#3887 [Integrations] Fixed Safari hover animation flicker/shadow cutoff issue #3359
  src/sections/Meshery/Meshery-integrations/Integration.style.js
Labels: project/meshery

#3895 feat: add gsap scroll trigger
  package-lock.json
  package.json
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/useGsapTimeline.js
  src/sections/Meshmap/index.js
  src/sections/Meshmap/use-viewport-size.js
Labels: project/meshmap

#3926 [chore] update webhook URL (community member form)
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#3929 Design page bug fixes.
  src/components/Features-carousel/FeaturesCarousel.style.js
  src/sections/Meshmap/Meshmap-design/images/cytoscape-dark.svg
  src/sections/Meshmap/Meshmap-design/images/cytoscape-light.svg
  src/sections/Meshmap/Meshmap-design/images/meshmap-bottom-image-light.svg
  src/sections/Meshmap/Meshmap-design/images/meshmap-locator-dark.svg
  src/sections/Meshmap/Meshmap-design/images/meshmap-locator-light.svg
  src/sections/Meshmap/Meshmap-design/meshmap-design-banner.js
Labels: project/meshmap

#3925 added manish tyagi in member profile
  src/collections/members/manish-tyagi/index.mdx
  src/collections/members/manish-tyagi/manish-tyagi.png
Labels: area/community

#3940 [ Community ] Profile member: Avishkar
  src/collections/members/Avishkar/avishkar.png
  src/collections/members/Avishkar/index.mdx
Labels: area/community

#3896 paging dots color changed in darkmode
  src/components/Features-carousel/FeaturesCarousel.style.js
Labels: project/meshery

#3924 [community] Member profile : Divyangi Raghav
  src/collections/members/divyangi-raghav/divyangi-raghav.jpg
  src/collections/members/divyangi-raghav/index.mdx
Labels: area/community, issue/dco

#3802 fixed typos in <README.md>
  .devcontainer/README.md
  gatsby-config.js
Labels: kind/chore, area/site-config

#3904 blank space removed from meshery section
  src/sections/Meshery/meshery.style.js
Labels: project/meshery

#3958 Added Community Member Profile Of Yash Tandon - Issue #3932
  src/collections/members/yash-tandon/index.mdx
  src/collections/members/yash-tandon/yash-tandon.jpg
Labels: area/community

#3951 fix: improve scroll trigger
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.js
  src/sections/Meshmap/FeaturesSection/Collaborate/CollaboratorFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.js
  src/sections/Meshmap/FeaturesSection/Design/DesignerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Meshmap/FeaturesSection/Visualize/VisualizerFeatures.style.js
  src/sections/Meshmap/FeaturesSection/useGsapTimeline.js
  src/sections/Meshmap/features/features.style.js
Labels: project/meshmap

#3968 Update text color on 404 page
  src/sections/404/404.style.js
Labels: kind/chore

#3985 [chore] Update webhook URL
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore, area/handbook

#3986 [Community] Vivek-Vishal
  src/collections/members/vivek-vishal/index.mdx
  src/collections/members/vivek-vishal/vishal.jpeg
Labels: area/community

#3999 correct Meshery.io repo link in the repository overview page
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#4000 Removed redundant cards in Index.js file
  src/sections/Community/Handbook/index.js
Labels: area/handbook

#3996 Added member profile-Sudhanshu Dasgupta
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/collections/members/sudhanshu-dasgupta/sudhanshu-dasgupta.jpg
  src/sections/Home/Projects-home/index.js
Labels: area/community, issue/dco

#4015 build fix
  src/collections/members/sudhanshu-dasgupta/index.mdx
Labels: area/community

#3970 Created Mobile Swiper for MeshMap design section
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  src/sections/Blog/Blog-list/blogList.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/cardStyle.css
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/images/BlankSwiper.png
  src/sections/Meshmap/Meshmap-design/index.js
Labels: project/meshmap

#4011 [chore] Update remote provider APIs
  src/sections/Counters/index.js
  src/sections/Landscape/smi.js
  src/sections/Meshery/Features-Col/index.js
Labels: area/landscape, kind/chore
