Repository layer5io/layer5, pull requests merged in 2023-08, with the labels that each got.

#4677 Integration Count on meshmap design page updated.
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

#4713 Added recognition program
  src/assets/images/recognition-program/recognition-program.png
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#4710 Learning path link fixed
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition/index.mdx
  src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/index.mdx
Labels: area/learn

#4674 Modified BG-color during modal pop-up
  src/sections/app.style.js
Labels: type/core-styls

#4736 feat:added event
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/kickstarting_your_open_source_with_layer5.webp
Labels: area/events

#4733 Added Meshery Playground CTA
  src/collections/resources/tutorials/docker-swarm/index.mdx
  src/sections/Playground/images/meshery-title.svg
  src/sections/Playground/images/playground-bg-CTA.png
  src/sections/Playground/images/small-dots.png
  src/sections/Playground/playground-CTA.js
Labels: area/resources

#4718 Designed Kubernetes image dark mode compatible
  src/sections/General/Navigation/utility/ScrollspyMenu.js
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-navbar-light.svg
  src/sections/Meshmap/Meshmap-collaborate/images/banner-transitions/kubernetes-navbar.svg
Labels: project/meshmap

#4728 Added Member Profile Of Hiren Timbadiya
  src/collections/members/hiren-timbadiya/hiren-timbadiya1.webp
  src/collections/members/hiren-timbadiya/index.mdx
Labels: area/community

#4741 fixes event bug
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
Labels: area/events

#4735 ananya gautam profile added to members
  src/collections/members/ananya-gautam/ananya.png
  src/collections/members/ananya-gautam/ananya.webp
  src/collections/members/ananya-gautam/index.mdx
Labels: area/community

#4670 added card for adventures of five and friends in handbook section
  src/sections/Community/Handbook/index.js
Labels: area/handbook

#4747 Added news for Kubernetes 1.28 update
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking.webp
Labels: area/news

#4763 [Badge] Update blog post
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.jpeg
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
Labels: area/blog

#4770 Update badge blog
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.jpeg
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.webp
  src/collections/blog/2023/2023-08-14-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
  src/collections/blog/2023/2023-08-14-layer5-badge-program/recognition-banner.png
  src/collections/blog/2023/2023-08-14-layer5-badge-program/recognition-banner.webp
Labels: area/blog

#4771 Updated badge blog
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.png
  src/collections/blog/2023/2023-08-14-layer5-badge-program/badges-modal.webp
  src/collections/blog/2023/2023-08-14-layer5-badge-program/blog.style.js
  src/collections/blog/2023/2023-08-14-layer5-badge-program/index.mdx
Labels: area/blog

#4754 member profile added - Rex
  src/collections/members/ananya-gautam/ananya.png
  src/collections/members/rex-joshua/index.mdx
  src/collections/members/rex-joshua/rex.webp
Labels: area/community

#4749 Update Contributor Journey page's title
  src/pages/community/handbook/contributor-journey.js
Labels: area/community

#4777 Adventure of Five Section added in community page
  package-lock.json
  src/assets/images/adventure-five/layer_five.png
  src/sections/Adventures-Callout/discuss.style.js
  src/sections/Adventures-Callout/index.js
  src/sections/Community/community.style.js
  src/sections/Community/index.js
Labels: area/community

#4774 feat: fixed text-color-hover and errors
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

#4563 Added the catalog assets.
  src/assets/brand/catalog-brand-kit.zip
  src/assets/images/catalog-icon/catalog2.svg
  src/assets/images/catalog-icon/catalog3.svg
  src/assets/images/catalog-icon/catalog4.svg
  src/assets/images/catalog-icon/catalog5.svg
  src/sections/Company/Brand/Brand-components/catalog.js
  src/sections/Company/Brand/Brand-components/projectSection.style.js
  src/sections/Company/Brand/index.js
  static/brand/catalog-brand-kit.zip
Labels: issue/remind

#4785 added member profile of saurabh soni
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/saurabh soni/saurabh.webp
Labels: area/community

#4790 navOverflow problem resolved
  src/sections/Community/Handbook/repository.js
  src/sections/General/Navigation/navigation.style.js
Labels: area/handbook

#4780 [Blog] The Importance of GitHub Stars
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/after.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/before.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/five-image.png
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/hero-image.svg
  src/collections/blog/2023/2023-08-23-importance-of-github-stars/index.mdx
Labels: area/blog
