Repository layer5io/layer5, pull requests merged in 2023-07, with the labels that each got.

#4441 add-member-profile-of-philip
  src/collections/members/philip-obiora/index.mdx
  src/collections/members/philip-obiora/philip-obiora.webp
Labels: area/community

#4422 award-badges
  src/collections/members/Avishkar/index.mdx
  src/collections/members/aadhitya-amarendiran/index.mdx
  src/collections/members/anirudh-jain/anirudh-jain.webp
  src/collections/members/anirudh-jain/index.mdx
  src/collections/members/gaurav-chadha/index.mdx
  src/collections/members/harkirat/index.mdx
  src/collections/members/usman-siddique/index.mdx
Labels: area/community

#4446 Added member profile for Freedisch
  src/collections/members/freedisch-thibaut-batale/freedisch.webp
  src/collections/members/freedisch-thibaut-batale/index.mdx
Labels: area/community

#4474 feat(collections/members): [Community] Member Profile: Aabid #4437
  src/collections/members/aabid-sofi/aabid-sofi.webp
  src/collections/members/aabid-sofi/index.mdx
Labels: area/community

#4478 [MeshMap] Design: Added pointer to canvas
  src/sections/Meshmap/Meshmap-design/cytoscape-demo.style.js
Labels: project/meshmap

#4479 Include CTA in Docker Swarm Tutorial
  src/collections/resources/tutorials/docker-swarm/index.mdx
Labels: area/resources

#4476 Enhancement Community Member Profile Social Links
  gatsby-node.js
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/freedisch-thibaut-batale/index.mdx
  src/sections/Community/Member-single/index.js
  src/templates/member-single.js
Labels: area/community, area/site-config

#4490 [Chore] Update signup forms webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#4473 created member profile of Darren Dsouza
  src/collections/members/darren-dsouza/darren_dsouza.webp
  src/collections/members/darren-dsouza/index.mdx
Labels: area/community

#4495 Code Quality Improved: Removed the unused variables
  src/components/Case-study-banner/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/gitops/index.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/blog, project/meshmap

#4524 [chore] Update member form web hook
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#4408 [ESlint] Clear errors and warnings after running a new npm install without a package-lock.json
  package-lock.json
  package.json
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/components/ConformanceTest-Table/index.js
  src/components/Landscape-Table/index.js
  src/components/SMI-Table/index.js
  src/pages/community/members.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Company/Legal/code-of-conduct/index.js
  src/sections/Company/Legal/privacy/index.js
  src/sections/Company/Legal/terms-of-service/index.js
  src/sections/Learn-Layer5/Courses-List/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/templates/blog-category-list.js
  src/templates/blog-tag-list.js
Labels: area/landscape, area/blog, area/community, area/resources, area/handbook, project/meshmap

#4383 Add nasp to clients
  src/collections/landscape/clients.js
Labels: area/landscape

#4344 Added Flomesh Service Mesh to landscape
  src/assets/images/service-mesh-icons/fsm.svg
  src/collections/landscape/load-balancer.js
  src/collections/landscape/meshes.js
  src/collections/landscape/non-functional.js
  src/collections/landscape/proxies.js
Labels: area/landscape

#4497 replace-above-with-below-in-DCO-check-above
  .github/label-commenter-config.yml
Labels: area/ci

#4519 Add guidelines to contributing in Community Handbook
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

#4541 Text color change according to theme
  src/collections/resources/Resources.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/articles/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

#4544 Added new case study folder
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/globe.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/layers.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/meshery-and-hpe.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/meshery-integrations.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/network.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/users.svg
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/yogi.webp
  src/components/Case-study-banner/index.js
Labels: area/resources

#4555 [Home] Redirect for HPE case study
  gatsby-node.js
Labels: area/site-config

#4551 Height fix
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

#4552 add-new-badges-in-community-handbook
  src/assets/images/application-pioneer/application-pioneer.svg
  src/assets/images/bring-a-buddy/bring-a-buddy.svg
  src/assets/images/design-pioneer/design-pioneer.svg
  src/assets/images/gitops-with-friends/gitops-with-friends.svg
  src/assets/images/hip-hacker/hip-hacker.svg
  src/assets/images/need-for-speed/need-for-speed.svg
  src/assets/images/sharing-is-caring/sharing-is-caring.svg
  src/assets/images/shipped/shipped.svg
  src/assets/images/streamer/streamer.svg
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#4571 Update og image
  src/pages/projects/index.js
  static/images/Layer5-overview.svg
Labels: area/projects

#4493 Award badges
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/aisuko-li/index.mdx
  src/collections/members/avantika-jain/index.mdx
  src/collections/members/ekene-leonard/index.mdx
  src/collections/members/hersh-dhillion/index.mdx
  src/collections/members/pranav-singh/index.mdx
  src/collections/members/ritik-saxena/index.mdx
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/collections/members/uzair-shaikh/index.mdx
  src/collections/members/yash-sharma/index.mdx
Labels: area/community

#4584 Transition-to-inactive
  src/collections/members/alvin okafor/index.mdx
Labels: area/community

#4549 revert-to-png-in-featured-posts
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.png
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/smp-in-meshery.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/MeshMap.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/configuration-management.webp
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.png
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/meshery-the-extensible-mesh-manager.webp
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/istio-up-and-running_top.png
  src/collections/service-mesh-books/istio-up-and-running/istio-up-and-running_top.webp
Labels: area/news, area/learn

#4485 Social media icons size fix
  src/assets/images/socialIcons/linkedin-light.svg
  src/assets/images/socialIcons/mail_keppel.svg
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/connect.js
Labels: area/handbook

#4604 feat:added scrollbar
  src/sections/app.style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#4605 add Hetvi's member profile
  src/collections/members/hetvi-soni/hetvi-soni.webp
  src/collections/members/hetvi-soni/index.mdx
Labels: area/community

#4612 Added "Book a demo" button
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/hpe.style.js
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
Labels: area/resources

#4557 Added Member profile for meyazhagan
  src/collections/members/meyazhagan/index.mdx
  src/collections/members/meyazhagan/meyazhagan.jpg
Labels: area/community, issue/dco

#4565 Add Member
  src/collections/members/harsh-dobariya/harsh-dobariya.webp
  src/collections/members/harsh-dobariya/index.mdx
Labels: area/community

#4619 #4607 Added a member profile
  src/collections/members/vikramaditya-singh/index.mdx
  src/collections/members/vikramaditya-singh/vikramaditya-singh.webp
Labels: area/community

#4606 fix: events, workshops, meetups sort datewise
  src/sections/Events/index.js
Labels: issue/dco

#4553 updates for figma links
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/news.md
Labels: issue/dco, area/ci

#4603 update recognition
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#4627 [Site] Site uplift phase two
  src/sections/Community/Handbook/recognition.js
  src/sections/General/Footer/index.js
  src/sections/Meshery/Features-Col/data/index.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/index.js
  src/sections/Pricing/data.js
  src/sections/Pricing/pricing.style.js
  src/sections/Projects/Project-grid/index.js
Labels: area/handbook

#4471 fix: Enhance and place graphic onto about page
  src/sections/Company/About/images/layer5-community-stat.svg
  src/sections/Company/About/index.js
Labels: issue/dco

#4623 [Enhancement] Feat : Added inactive banner
  src/components/Profile-card/ProfileCard.style.js
Labels: area/community

#4628 Add Download button to case study
  src/assets/case-study/HPE's_adoption_of_Meshery_and_Meshmap.pdf
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-meshmap/index.mdx
Labels: area/resources

#4642 award-badges-to-members
  src/collections/members/Avishkar/index.mdx
  src/collections/members/antonette-caldwell/index.mdx
  src/collections/members/karan-thakur/index.mdx
  src/collections/members/randy-chilau/index.mdx
Labels: area/community

#4641 Updated label-commenter-config.yml
  .github/label-commenter-config.yml
Labels: area/ci

#4638 feat : Enhancement of Inactive Ribbons
  gatsby-node.js
  src/components/Profile-card/ProfileCard.style.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
  src/templates/member-single.js
Labels: area/community, area/site-config

#4643 [Community] Handbook: Repository Overview update
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Newcomers-guide/index.js
Labels: area/handbook

#4625 fixed:typo in community's handbook writing program
  src/components/handbook-navigation/content.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

#4633 Add og image for five adventure page and update lfx term 03 dates
  src/collections/programs/lfx-2023/lfx-2023.mdx
  src/pages/community/adventures-of-five-and-friends/index.js
  static/images/meet-five.svg
Labels: area/community, area/careers

#4650 Community handbook projects list
  src/sections/Community/Handbook/projects.js
Labels: area/handbook

#4656 Revert "[chore] Update webhook URL for signup forms"
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore

#4413 feat: Added Meshery Operator Blog
  src/collections/blog/2023/2023-07-05-meshery-operators/index.mdx
  src/collections/blog/2023/2023-07-05-meshery-operators/meshery-operator-dark.png
  src/collections/blog/2023/2023-07-05-meshery-operators/meshsync.png
  src/collections/blog/2023/2023-07-05-meshery-operators/operator-thumbnail.png
Labels: area/blog

#4382 Internship experience blog
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/index.mdx
  src/collections/blog/2023/2023-06-15-internship-experience-blog-sudhanshu-dasgupta/sudhanshu.png
Labels: area/blog

#4664 Fixed #4502, LFX terms formatted correctly.
  src/collections/programs/Programs.style.js
  src/collections/programs/lfx-2021/lfx-2021.mdx
  src/collections/programs/lfx-2022/lfx-2022.mdx
  src/collections/programs/lfx-2023/lfx-2023.mdx
Labels: area/careers

#4659 fixed: typo experience , subscription , meaningfully
  src/collections/blog/2023/2023-05-22-changing-release-channels-in-meshery/index.mdx
  src/collections/blog/2023/2023-05-24-meet-the-meshmate-yash-sharma/index.mdx
  src/sections/Community/index.js
Labels: area/blog
