Repository layer5io/layer5, pull requests merged in 2023-12, with the labels that each got.

#4934 [Fixes - Documentation] update the CONTRIBUTING.md with Issues & Pull Requests sections
  CONTRIBUTING.md
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/cd-pipeline-operator/index.mdx
Labels: project/meshery

#5018 Added screenshots for epam integration
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-light.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-light.png
  src/collections/integrations/admin-console-operator/index.mdx
Labels: project/meshery

#5182 FAQ udated for community docs
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

#5198 [Blog] What's new in Kubernetes 1.29?
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new-dark.webp
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.svg
  src/collections/blog/2023/12-13-k8s-1.29-release/kubernetes-new.webp
Labels: area/blog

#5199 Typo fixed in K8s 1.29 highlights blog
  src/collections/blog/2023/12-13-k8s-1.29-release/index.mdx
Labels: area/blog

#5082 SEO enhancement of various pages in Collections
  src/collections/news/2019/2019-10-24-layer5-meshery-forrester/index.mdx
  src/collections/news/2019/2019-11-15-layer5-joins-the-cncf/index.mdx
  src/collections/news/2019/2019-11-23-cncf-sig-network-intro-and-deep-dive/index.mdx
  src/collections/news/2019/2019-11-23-cncf-sig-network-set-to-push-cloud-native-networking-forward/index.mdx
  src/collections/news/2019/2019-12-12-meshery-in-top3-service-mesh-developments-in-2020/index.mdx
  src/collections/news/2019/2019-12-27-vendors-make-a-splash-in-2019-service-mesh-implementation-rush/index.mdx
  src/collections/news/2020/2020-03-12-meshery-service-mesh-management-plane/index.mdx
  src/collections/news/2020/2020-03-13-what-the-numbers-say-about-how-service-meshes-are-used-today/index.mdx
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/news/2020/2020-06-01-meshery-accepted-into-cncf-landscape/index.mdx
  src/collections/news/2020/2020-10-29-kubernetes-evolves-into-an-enterprise-platform.md/index.mdx
  src/collections/news/2020/2020-12-02-kubecon+cloudnativecon-service-mesh-battle-stories-and-fixes/index.mdx
  src/collections/news/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking/index.mdx
  src/collections/news/2021/2021-06-18-5-lesser-known-but-extremely-powerful-Kubernetes-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-07-24-cncf-projects-bring-service-mesh-interoperability-benchmarks/index.mdx
  src/collections/news/2021/2021-10-12-cncf-adopts-service-mesh-performance-standard-established-by-layer5/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-meshery/index.mdx
  src/collections/news/2021/2021-10-13-cncf-adopts-service-mesh-performance-standard/index.mdx
  src/collections/news/2021/2021-10-14-cncf-adopts-meshery-to-advance-service-mesh-management/index.mdx
  src/collections/news/2021/2021-10-15-6-cncf-service-mesh-tools/index.mdx
  src/collections/news/2021/2021-11-10-analyzing-service-mesh-performance/index.mdx
  src/collections/news/2022/2022-04-25-google-petitions-to-donate-istio-service-mesh-to-cncf/google-petitions-to-donate-istio-service-mesh-to-cncf.md
  src/collections/news/2022/2022-05-24-intel-layer5-announcement-meshmark/index.mdx
  src/collections/news/2022/2022-09-06-the-ultimate-list-of-opensource-cn-tools/index.md
  src/collections/news/2023/2023-01-11-the-most-innovative-cloud-management-companies/index.mdx
  src/collections/news/2023/2023-08-16-kubernetes-1.28-improves-open-source-cloud-native-compute-and-networking/index.mdx
Labels: area/news

#5193 [Fix CI] Add Label Commenter
  .github/label-commenter-config.yml
  .github/workflows/label-commenter.yml
Labels: area/ci

#5200 [LAYER5 SIGNUP] replaced video LINK
  src/sections/Meshmap/signup-form.js
Labels: project/meshmap

#5202 [News] Added new article to Layer5 Newsroom "The Top 12 CNCF Sandbox Projects of 2021"
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/index.mdx
  src/collections/news/2021/2021-12-10-the-top-12-cncf-sandbox-projects-of-2021/tech-genix-cover.jpg
Labels: area/news

#5206 [workflow] Update Community Member Workflow Webhook
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#5207 [News] Added new article "How Kubernetes 1.29 improves open source cloud native production readiness"
  src/collections/news/2023/2023-12-13-how-kubernetes-1-29-improves-open-source-cloud-native-production-readiness/index.mdx
  src/collections/news/2023/2023-12-13-how-kubernetes-1-29-improves-open-source-cloud-native-production-readiness/kubernetes-1-29.jpg
Labels: area/news

#5211 Project page dark mode fix
  src/components/image.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/repository.js
  src/sections/Home/So-Special-Section/index.js
Labels: area/handbook

#5210 program_permission_required #5022 (update)
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#5209 Updated sections on homepage
  src/components/Features/index.js
  src/components/Features/style.js
  src/sections/Home/FeaturesContainer/images/commenting-white.svg
  src/sections/Home/FeaturesContainer/images/commenting.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding-light.svg
  src/sections/Home/FeaturesContainer/images/whiteboarding.svg
  src/sections/Home/FeaturesContainer/index.js
  src/sections/Home/FeaturesContainer/style.js
  src/theme/app/themeStyles.js
Labels: type/core-styls

#5173 [Fix Screenshots] Artifact Hub under "How it Works See It in Action” section
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-light.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-light.png
Labels: project/meshery

#5218 Broken Event Site Link Removal from 'DockerCon NA 2018' Workshop
  src/collections/service-mesh-workshops/2018_docker_con_na/index.mdx
Labels: area/learn

#5169 Update screen shothots for cdk8s
  src/collections/integrations/_images/cdk8s/k8s_design.png
  src/collections/integrations/_images/cdk8s/k8s_desing_dark.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize_dark.png
  src/collections/integrations/cdk8s/index.mdx
Labels: project/meshery

#5219 [chore] Update Signup Form Webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#5222 fixed home partner section
  src/sections/Home/Partners-home/index.js
Labels: kind/bug

#5220 Added new member - Vihas Makwana
  src/collections/members/vihas-makwana/index.mdx
  src/collections/members/vihas-makwana/vihas-makwana.webp
Labels: area/community

#5247 metadata description fix
  src/templates/member-single.js
Labels: area/community
