Repository layer5io/layer5, pull requests merged in 2023-11, with the labels that each got.

#5104 Added Suruchi Kumari to members
  src/collections/members/Suruchi-Kumari/Suruchi-Kumari.webp
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community

#5090 Add docs.layer5.io to repo overview
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5103 Added Aboobaker Siddiq R to members
  src/collections/members/Aboobaker-Siddiq-R/Aboobaker-Siddiq-R.webp
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
Labels: area/community

#5074 [Fixes - Screenshots] AWS Load Balancer under 'How it Works See It in Action' section
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/aws-load-balancer-controller/index.mdx
Labels: project/meshery

#4802 Updated debounceTimeout of Blog Search bar
  src/reusecore/Search/index.js
Labels: area/blog

#5002 meta descriptions for service mesh patterns and layer5&hashicoop
  src/collections/news/2020/2020-05-28-layer5-and-hasicorp-launch-service-mesh-partnership/index.mdx
  src/collections/service-mesh-books/istio-up-and-running/index.mdx
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
  src/sections/Blog/Blog-sidebar/index.js
  src/templates/news-single.js
Labels: area/news, area/learn

#4914 [Fixes - Screenshots] CD Pipeline Operator under 'How it Works See It in Action' section
  src/collections/integrations/_images/meshmap-designer-dark.png
  src/collections/integrations/_images/meshmap-designer-light.png
  src/collections/integrations/_images/meshmap-visualizer-dark.png
  src/collections/integrations/_images/meshmap-visualizer-light.png
  src/collections/integrations/akri/index.mdx
  src/collections/integrations/cd-pipeline-operator/index.mdx
Labels: project/meshery

#4958 Fix 'How it Works See It in Action' Section
  src/collections/integrations/_images/meshmap-updated-design-dark.png
  src/collections/integrations/_images/meshmap-updated-design.png
  src/collections/integrations/_images/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/meshmap-updated-visualizer.png
  src/collections/integrations/crossplane/index.mdx
Labels: project/meshery

#5020 Added Screenshots for Meshmap Consul Integration
  src/collections/integrations/_images/meshmap_dark_designer.png
  src/collections/integrations/_images/meshmap_dark_visualizer.png
  src/collections/integrations/_images/meshmap_light_designer.png
  src/collections/integrations/_images/meshmap_light_visualizer.png
  src/collections/integrations/consul/index.mdx
Labels: project/meshery

#5098 [Fixes Screenshots] Actions Runner Controller (ARC) "How it Works See It in Action” section
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/actions-runner-controller/index.mdx
Labels: project/meshery

#5113 correct Order of Section Titles on Recognition Page
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#5079 [Fix Layer5 GitHub Process] Convert contents to markdown
  src/components/handbook-navigation/content.js
  src/pages/community/handbook/github-process.js
  src/sections/Community/Handbook/github-process.js
  src/sections/Community/Handbook/index.js
Labels: area/community, area/handbook

#5122 Broken link fixed
  gatsby-node.js
Labels: kind/bug, area/site-config

#5133 Updated activity status for folks on Community member profile
  src/collections/members/Aboobaker-Siddiq-R/index.mdx
  src/collections/members/abhishek-kumar/index.mdx
  src/collections/members/prem-kumar/index.mdx
Labels: area/community

#5134 Updating activity status
  src/collections/members/Mohammed-zaki/index.mdx
Labels: area/community

#5132 removed repeated word
  src/sections/Community/Handbook/faq.js
Labels: area/handbook

#5088 Added maintainers column to backend projects
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#5144 [bug] Fix
  src/pages/cloud-native-management/meshmap/index.js
  src/sections/Meshmap/index.js
Labels: project/meshmap

#5135 award-badge-to-member
  src/collections/members/parthib-datta/index.mdx
Labels: area/community

#5142 changing activity status of mohith
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

#5129 prevent-overwriting-of-screenshots
  gatsby-node.js
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-light.png
  src/collections/integrations/_images/backstage/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage/backstage_desing.png
  src/collections/integrations/_images/backstage/backstage_visuvalize.png
  src/collections/integrations/_images/backstage/backstage_visuvalize_dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-light.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-light.png
  src/collections/integrations/_images/consul/meshmap_dark_designer.png
  src/collections/integrations/_images/consul/meshmap_dark_visualizer.png
  src/collections/integrations/_images/consul/meshmap_light_designer.png
  src/collections/integrations/_images/consul/meshmap_light_visualizer.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer.png
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/templates/integrations.js
Labels: project/meshery, area/site-config

#5145 fix-404s
  src/collections/blog/2023/09-28-hacktoberfest-2023/hacktoberfest-2023-post.md
Labels: area/blog, pr/do-not-merge

#5163 Update index.mdx
  src/collections/members/Suruchi-Kumari/index.mdx
Labels: area/community

#5164 Updated activity status of Zaki on Member Profile
  src/collections/members/Mohammed-zaki/index.mdx
Labels: area/community

#5162 Added victoria-nduka profile
  src/collections/members/victoria-nduka/index.mdx
  src/collections/members/victoria-nduka/victoria.webp
Labels: area/community

#5114 Duplicate Meta descriptions fix
  src/collections/events/2023/hacktoberfest-2023/index.mdx
  src/collections/events/IstioCon 2023/index.mdx
  src/collections/events/Z_event-template/index.mdx
  src/collections/events/addo/index.mdx
  src/collections/events/advanced-istio/index.mdx
  src/collections/events/ccoss-meshery-workshop/index.mdx
  src/collections/events/ccoss2020/index.mdx
  src/collections/events/cnfc-day/index.mdx
  src/collections/events/devconf-2022-measure-smp/index.mdx
  src/collections/events/devops-and-docker-live/index.mdx
  src/collections/events/docker-community-meetup-2022-hacktoberfest/index.mdx
  src/collections/events/docker-developer-community-meetup-2022/index.mdx
  src/collections/events/dockercon-2022/lighting-talk-in-a-dedicated-community-room.mdx
  src/collections/events/dockercon-2022/lightning-talk-on-the-main-stage.mdx
  src/collections/events/dockercon-live/index.mdx
  src/collections/events/establishing-an-open-source-program-office/index.mdx
  src/collections/events/hacktoberfest-2022/index.mdx
  src/collections/events/hands-on-workshop-introduction-to-istio/index.mdx
  src/collections/events/innotech/index.mdx
  src/collections/events/introduction-to-istio/index.mdx
  src/collections/events/introduction-to-network-service-mesh/index.mdx
  src/collections/events/istiocon2020/index.mdx
  src/collections/events/kcd-chennai-2023/index.mdx
  src/collections/events/kickstarting-open-source-with-layer5-2023/index.mdx
  src/collections/events/kubecon-EU-2023/index.mdx
  src/collections/events/kubecon-NA-2020/index.mdx
  src/collections/events/kubecon-NA-2023/index.mdx
  src/collections/events/kubecon-china-2021/index.mdx
  src/collections/events/kubecon-eu-2020/index.mdx
  src/collections/events/kubecon-eu-2021/index.mdx
  src/collections/events/kubecon-eu-2022/index.mdx
  src/collections/events/kubecon-na-2022/index.mdx
  src/collections/events/kubecon2021-na-meshery/index.mdx
  src/collections/events/kubecon2021-na-smp/index.mdx
  src/collections/events/maitainers-circle-2023/index.mdx
  src/collections/events/meshery-the-multi-mesh/index.mdx
  src/collections/events/meshery-the-service-mesh-management-plane/index.mdx
  src/collections/events/oio/index.mdx
  src/collections/events/ois2020/index.mdx
  src/collections/events/oscon2020/index.mdx
  src/collections/events/ossna-2022/index.mdx
  src/collections/events/securing-the-mesh/index.mdx
  src/collections/events/service-meshes-but-at-what-cost/index.mdx
  src/collections/events/servicemeshcon-EU-2022/index.mdx
  src/collections/events/servicemeshcon-NA-2020/index.mdx
  src/collections/events/servicemeshcon-NA-2021/index.mdx
  src/collections/programs/hacktoberfest-2022/index.mdx
  src/templates/event-single.js
Labels: area/events, area/careers

#5112 Adding glow & hover effect to the clickable cards
  src/components/Learn-Components/Setup-Pre-Requisites/setup-pre-req.style.js
Labels: area/learn

#5092 Fix Aws api Gateway "How it works See it in Action" Component
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer.png
  src/collections/integrations/aws-api-gateway-operator/index.mdx
  src/sections/Community/Handbook/repo-data.js
Labels: project/meshery, area/handbook

#5087 Adjusts padding to navigation text
  src/components/handbook-navigation/intra-page.js
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/conduct.js
  src/sections/Community/Handbook/contributing.js
  src/sections/Community/Handbook/designer.js
  src/sections/Community/Handbook/faq.js
  src/sections/Community/Handbook/mentorships.js
  src/sections/Community/Handbook/projects.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

#4985 update screen shots
  src/collections/integrations/_images/dark-design.png
  src/collections/integrations/_images/dark-visual.png
  src/collections/integrations/_images/light-design.png
  src/collections/integrations/_images/light-visual.png
  src/collections/integrations/dapr/index.mdx
Labels: project/meshery

#5107 Added handbook link to footer
  src/sections/General/Footer/index.js
Labels: pr/draft
