Repository layer5io/layer5, pull requests merged in 2023-10, with the labels that each got.

#5005 [workflow] Update Community Member Workflow Webhook
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore

#5007 Update index.mdx
  src/collections/members/udit-takkar/index.mdx
Labels: area/community

#5008 [chore] Update webhook URL for signup forms
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore, area/handbook

#5009 Update index.mdx
  src/collections/members/aritra-majumder/index.mdx
Labels: area/community

#5000 Updated maintainer list
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5025 fix-maintainer-profile-link
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5037 added parthib-datta profile
  src/collections/members/parthib-datta/index.mdx
  src/collections/members/parthib-datta/parthib-datta.webp
Labels: area/community

#5030 Member Profile of archit sharma added
  src/collections/members/archit-sharma/Archit-Sharma.webp
  src/collections/members/archit-sharma/index.mdx
Labels: area/community

#5035 added akshay sharma profile to the members
  src/collections/members/akshay-sharma/akshay-sharma.webp
  src/collections/members/akshay-sharma/index.mdx
Labels: area/community

#5042 Profile Member of sandra ashipala added
  src/collections/members/sandra-ashipala/index.mdx
  src/collections/members/sandra-ashipala/sandra-ashipala.webp
Labels: area/community

#5036 award-badges-to-members
  src/collections/members/aabid-sofi/index.mdx
  src/collections/members/rhoda-michael/index.mdx
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/collections/members/yash-sharma/index.mdx
Labels: area/community

#5001 updated the twitter icon and fixed the css
  src/assets/images/socialIcons/twitter.svg
  src/components/SocialLinks-Color/index.js
  src/components/SocialLinks-Color/sociallinkscolor.style.js
  src/sections/Community/Handbook/connect.js
  src/sections/Community/Member-single/index.js
  src/sections/Community/Member-single/memberSingle.style.js
Labels: area/handbook

#4922 fix: low contrast text and Istio box
  .gitignore
  .gitpod.yml
  src/sections/Learn-Layer5/Chapters/chapters.style.js
  src/theme/app/themeStyles.js
Labels: issue/dco, type/core-styls

#5043 added mohammed zaki to the members
  src/collections/members/Mohammed-zaki/index.mdx
  src/collections/members/Mohammed-zaki/zakisk.webp
Labels: area/community

#5055 [Community] Added MeshMap badge to Akshay Sharma's member profile.
  src/collections/members/akshay-sharma/index.mdx
Labels: area/community

#5058 added Mohit Gadireddy
  src/collections/members/Mohith-Gadireddy/Mohith-Gadireddy.webp
  src/collections/members/Mohith-Gadireddy/index.mdx
Labels: area/community

#5060 Updated Screenshots of the integration 'Backstage'
  src/collections/integrations/_images/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage_desing.png
  src/collections/integrations/_images/backstage_visuvalize.png
  src/collections/integrations/_images/backstage_visuvalize_dark.png
  src/collections/integrations/backstage/index.mdx
Labels: project/meshery

#5031 [Screenshots] Camel K under 'How it Works See It in Action' section
  src/collections/integrations/_images/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/meshmap-designer-camel-k.png
  src/collections/integrations/_images/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/meshmap-visualizer-camel-k.png
  src/collections/integrations/camel-k/index.mdx
Labels: project/meshery

#5017 Unrelated Inter Page Navigation Removed
  src/sections/Community/Handbook/community.js
Labels: area/handbook

#4898 Add description prop to books, careers, integrations and workshops pages SEO
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/integrations.js
  src/templates/workshop-single.js
Labels: area/learn, area/careers

#5073 Added new member - Hauwa Ismail Ahmad
  src/collections/members/hauwa-ismail-ahmad/hauwa-ismail-ahmad.webp
  src/collections/members/hauwa-ismail-ahmad/index.mdx
Labels: area/community

#5078 Community Profile Daniel Kiptoon
  src/collections/members/daniel-kiptoon/daniel-kiptoon.jpg
  src/collections/members/daniel-kiptoon/index.mdx
Labels: hacktoberfest, area/community

#5050 #5045: Made learning path cards mobile responsive
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

#4963 Added some suggested topics under Writing program in Community Handbook
  src/sections/Community/Handbook/writing-program.js
Labels: area/handbook

#5019 Add green glow hover effect to cards
  src/components/Learn-Components/Card-Component/index.js
  src/components/Learn-Components/Card-Component/learn-card.style.js
Labels: area/learn

#5063 Added All Integration button
  src/sections/Meshmap/Meshmap-design/meshmap-design-integrations.js
Labels: project/meshmap

#5083 added screenshots for aws target group
  src/collections/integrations/_images/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-visualizer-light.png
  src/collections/integrations/aws-target-group-binding/index.mdx
Labels: project/meshery

#5091 [workflow] Update Community Member Workflow Webhook
  src/sections/Community/Web-based-from/index.js
Labels: kind/chore
