Repository layer5io/layer5, pull requests merged in 2024-10, with the labels that each got.

#5943 Add archived-project class for styling archived projects
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#5969 add posthog identity and exclude some path
  gatsby-browser.js
  src/sections/General/Navigation/index.js
Labels: area/site-config

#5973 Fix kanvas design carousel and links
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Kanvas/Kanvas-design/kanvas-design-banner.js
  src/sections/Kanvas/Kanvas-design/kanvas-design-integrations.js
Labels: project/kanvas

#5988 fix handbook style
  src/sections/Community/Adventures-of-Five/adventures.style.js
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook, component/ui

#5990 fix url path for whiteboard
  src/sections/Home/FeaturesContainer/index.js
Labels: component/ui

#5993 add maintainer frontmatter for graphql
  src/collections/members/Rudraksh Tyagi/index.mdx
  src/collections/members/Rudraksh Tyagi/rudraksh-tyagi.webp
  src/collections/members/antonette-caldwell/index.mdx
  src/collections/members/xin-huang/index.mdx
Labels: area/community

#5968 feat: wrap interviewee responses in quotes
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/index.mdx
  src/collections/blog/2021/2021-04-16-meet-the-maintainer-jash-patel/MeetTheMaintainer.style.js
  src/collections/blog/2021/2021-04-16-meet-the-maintainer-jash-patel/index.mdx
  src/collections/blog/2024/07-01-meet-the-maintainer-xin-huang/post.mdx
  src/collections/blog/MeetTheMaintainer.style.js
Labels: area/blog

#5998 added blog post
  src/collections/blog/2024/09-08-meet-the-maintainer-hussaina-begum/hussaina-begum-layer5-maintainer.png
  src/collections/blog/2024/09-08-meet-the-maintainer-hussaina-begum/post.mdx
Labels: area/blog

#5999 added maintainer status
  src/collections/members/aabid-sofi/index.mdx
  src/collections/members/aadhitya-amarendiran/index.mdx
  src/collections/members/mario-arriaga/index.mdx
  src/collections/members/vivek-vishal/index.mdx
  src/collections/members/yash-sharma/index.mdx
Labels: area/community

#5817 [UI] Invalid read more button removed.
  src/components/AdventuresVol/index.js
  src/components/HandbookCard/index.js
Labels: issue/remind, area/handbook

#6011 Add Paper component to the sistent components page
  src/components/SistentNavigation/content.js
  src/pages/projects/sistent/components/paper/code.js
  src/pages/projects/sistent/components/paper/guidance.js
  src/pages/projects/sistent/components/paper/index.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/paper/code.js
  src/sections/Projects/Sistent/components/paper/guidance.js
  src/sections/Projects/Sistent/components/paper/index.js
  src/sections/Projects/Sistent/components/popper/guidance.js
Labels: area/projects

#6001 Add Kanvas-Snapshot project to repository overview
  src/sections/Community/Handbook/repo-data.js
Labels: area/projects, area/handbook

#6018 ci: bump kanvas snapshot
  .github/workflows/meshmap.yml
Labels: area/ci

#6017 [CI] Add project/sistent label automatically to pull requests related to sistent project
  .github/labeler.yml
Labels: area/ci

#6010 Add Popper component to the sistent components page #5955
  src/components/SistentNavigation/content.js
  src/pages/projects/sistent/components/popper/code.js
  src/pages/projects/sistent/components/popper/guidance.js
  src/pages/projects/sistent/components/popper/index.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/popper/code.js
  src/sections/Projects/Sistent/components/popper/index.js
Labels: area/projects, project/sistent

#6008 Add TextField component to the sistent components page #5948
  src/components/SistentNavigation/content.js
  src/pages/projects/sistent/components/text-field/code.js
  src/pages/projects/sistent/components/text-field/guidance.js
  src/pages/projects/sistent/components/text-field/index.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/text-field/code.js
  src/sections/Projects/Sistent/components/text-field/guidance.js
  src/sections/Projects/Sistent/components/text-field/index.js
Labels: area/projects, project/sistent

#6024 Added new project helm-kanvas-snapshot to backend table
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#6028 Rm form
  src/components/Inline-quotes/index.js
  src/sections/Kanvas/Kanvas-collaborate/index.js
  src/sections/Kanvas/Kanvas-collaborate/kanvas-collaborate-banner.js
  src/sections/Kanvas/Kanvas-design/index.js
  src/sections/Kanvas/Kanvas-design/kanvas-design-banner.js
  src/sections/Kanvas/Kanvas-visualize/index.js
  src/sections/Kanvas/Kanvas-visualize/kanvas-visualize-banner.js
  src/sections/Kanvas/index.js
  src/sections/Kanvas/kanvas-buttons.js
  src/sections/Kanvas/kanvas-catalog.js
Labels: project/kanvas

#6027 feat:add new member profile
  src/collections/members/ aditya-Mohan/aditya-mohan.webp
  src/collections/members/ aditya-Mohan/index.mdx
Labels: area/community

#6015 Link component
  src/pages/projects/sistent/components/link/code.js
  src/pages/projects/sistent/components/link/guidance.js
  src/pages/projects/sistent/components/link/index.js
  src/sections/Projects/Sistent/components/button/code-block.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/link/code.js
  src/sections/Projects/Sistent/components/link/guidance.js
  src/sections/Projects/Sistent/components/link/index.js
Labels: project/meshery, area/projects, issue/dco, area/handbook, area/ci, project/sistent

#6039 fix build
  CONTRIBUTING.md
  src/pages/community/members.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Handbook/security-vulnerabilities.js
  src/sections/Community/Member-single/index.js
  src/sections/General/Navigation/index.js
  src/sections/Home/Projects-home/index.js
  src/sections/Products/index.js
  src/sections/Projects/Project-grid/index.js
  src/theme/app/THEME.md
Labels: area/community, area/handbook, area/core-styles

#6042 Kanvas icon
  src/sections/General/Navigation/index.js
  src/sections/Kanvas/kanvas-icon.svg
  src/sections/Pricing/icons/kanvas-icon.svg
Labels: project/kanvas

#6043 update kanvas logo in CTA
  src/sections/Community/Handbook/repo-data.js
  src/sections/Kanvas/kanvas-cta/index.js
  src/sections/Kanvas/kanvas-cta/locator.svg
Labels: area/handbook, project/kanvas
