Repository layer5io/layer5, pull requests merged in 2024-11, with the labels that each got.

#6046 Add Sistent-Container Component
  src/pages/projects/sistent/components/container/code.js
  src/pages/projects/sistent/components/container/guidance.js
  src/pages/projects/sistent/components/container/index.js
  src/sections/Projects/Sistent/components/container/code.js
  src/sections/Projects/Sistent/components/container/guidance.js
  src/sections/Projects/Sistent/components/container/index.js
  src/sections/Projects/Sistent/components/index.js
Labels: area/projects, project/sistent

#5883 Input Search Dark Mode Friendly
  src/sections/Company/News-grid/NewsGrid.style.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/app.style.js
  src/theme/app/themeStyles.js
Labels: area/core-styles

#6053 Added ellipsis in card
  src/sections/Projects/Sistent/sistent.style.js
Labels: project/sistent

#6061 Blog: kanvas catalog
  src/collections/blog/2024/11-05-what-is-the-kanvas-catalog/post.mdx
Labels: area/blog

#6056 Add ButtonGroup component to the sistent components page
  src/components/SistentNavigation/content.js
  src/pages/projects/sistent/components/button-group/code.js
  src/pages/projects/sistent/components/button-group/guidance.js
  src/pages/projects/sistent/components/button-group/index.js
  src/sections/Projects/Sistent/components/button-group/code.js
  src/sections/Projects/Sistent/components/button-group/guidance.js
  src/sections/Projects/Sistent/components/button-group/index.js
  src/sections/Projects/Sistent/components/index.js
Labels: area/projects, project/sistent

#6054 added blog post for yash sharma
  src/collections/blog/2024/11-01-meet-the-maintainer-yash-sharma/post.mdx
  src/collections/blog/2024/11-01-meet-the-maintainer-yash-sharma/yash-sharma-meshery-maintainer.png
Labels: area/blog

#6060 Add redirect
  gatsby-node.js
  src/components/Call-To-Actions/CTA_Bottom/cta_bottom_categories.js
  src/pages/cloud-native-management/kanvas/operate.js
  src/pages/cloud-native-management/kanvas/visualize.js
  src/sections/CloudNativeDeployments/features.js
  src/sections/CloudNativeDeployments/index.js
  src/sections/Kanvas/FeaturesSection/Visualize/VisualizerFeatures.js
  src/sections/Kanvas/Kanvas-collaborate/kanvas-collaborate-banner.js
  src/sections/Kanvas/Kanvas-design/Kanvas_Mobile_swiper/KanvasMobileSwiper.js
  src/sections/Kanvas/Kanvas-design/kanvas-design-features-carousel.js
  src/sections/Kanvas/Kanvas-visualize/kanvas-visualize-banner.js
  src/sections/Kanvas/index.js
Labels: project/kanvas, area/site-config

#6080 press release
  src/collections/news/2024/2024-11-12-layer5-launches-kanvas-a-collaborative-platform-for-cloud-native-infrastructure/index.mdx
  src/collections/news/2024/2024-11-12-layer5-launches-kanvas-a-collaborative-platform-for-cloud-native-infrastructure/kanvas-icon-color.svg
  src/collections/news/2024/2024-11-12-layer5-launches-kanvas-a-collaborative-platform-for-cloud-native-infrastructure/kanvas-icon-white.svg
Labels: area/news

#6081 replace domain
  .github/ISSUE_TEMPLATE/community_member_profile.md
  README.md
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2023/2023-09-05-unlocking-the-power-of-webassembly-in-service-mesh-management/index.mdx
  src/collections/blog/2024/11-05-what-is-the-kanvas-catalog/post.mdx
  src/collections/members/_member-profile-template/index.mdx
  src/components/Learn-Components/what-await-section/index.js
  src/sections/Cloud-Native-Catalog/new-catalog.js
  src/sections/Community/Handbook/recognition.js
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Member-single/index.js
  src/sections/Company/Legal/terms-of-service/index.js
  src/sections/Counters/index.js
  src/sections/FeatureHero/index.js
  src/sections/General/Navigation/index.js
  src/sections/Landscape/smi.js
  src/sections/Meshery/Features-Col/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/CatalogGrid.js
  src/sections/Pricing/data.js
  src/sections/Products/index.js
  src/sections/gitops/PerformanceManagementPage.js
  src/sections/gitops/SnapshotPage.js
  src/sections/gitops/index.js
  static/mail/2023/feature-friday.html
Labels: area/landscape, area/blog, area/community, area/learn, area/handbook, area/ci

#6055 Add Sistent-box component
  src/pages/projects/sistent/components/box/code.js
  src/pages/projects/sistent/components/box/guidance.js
  src/pages/projects/sistent/components/box/index.js
  src/sections/Projects/Sistent/components/box/code.js
  src/sections/Projects/Sistent/components/box/guidance.js
  src/sections/Projects/Sistent/components/box/index.js
  src/sections/Projects/Sistent/components/index.js
Labels: area/projects, project/sistent

#6022 added interview of aadhitya-amarendiran
  src/collections/blog/2024/10-22-meet-the-maintainer-aadhitya-amarendiran/aadhitya-amarendiran-layer5-maintainer.png
  src/collections/blog/2024/10-22-meet-the-maintainer-aadhitya-amarendiran/post.mdx
Labels: area/blog

#6083 enhance logic to display thumbnail based on theme
  src/collections/news/2024/2024-11-12-layer5-launches-kanvas-a-collaborative-platform-for-cloud-native-infrastructure/index.mdx
  src/sections/Company/News-single/index.js
  src/templates/news-single.js
Labels: area/news

#5919 pricing list reuseable workflow call
  .github/workflows/feature-list.yml
  feature_data.json
  src/components/PlanCard/collapsible-details.js
  src/components/PlanCard/index.js
  src/sections/Pricing/comparison.js
  src/sections/Pricing/generateDetails.js
  src/sections/Pricing/generateOptions.js
  src/sections/Pricing/index.js
Labels: area/ci

#6084 Dynamic Imports of Component in Sistent documentation
  gatsby-node.js
  src/pages/projects/sistent/components/button-group/code.js
  src/pages/projects/sistent/components/button-group/guidance.js
  src/pages/projects/sistent/components/button-group/index.js
  src/pages/projects/sistent/components/button/code.js
  src/pages/projects/sistent/components/button/guidance.js
  src/pages/projects/sistent/components/button/index.js
  src/pages/projects/sistent/components/container/code.js
  src/pages/projects/sistent/components/container/guidance.js
  src/pages/projects/sistent/components/container/index.js
  src/pages/projects/sistent/components/link/code.js
  src/pages/projects/sistent/components/link/guidance.js
  src/pages/projects/sistent/components/link/index.js
  src/pages/projects/sistent/components/modal/code.js
  src/pages/projects/sistent/components/modal/guidance.js
  src/pages/projects/sistent/components/modal/index.js
  src/pages/projects/sistent/components/paper/code.js
  src/pages/projects/sistent/components/paper/guidance.js
  src/pages/projects/sistent/components/paper/index.js
  src/pages/projects/sistent/components/popper/code.js
  src/pages/projects/sistent/components/popper/guidance.js
  src/pages/projects/sistent/components/popper/index.js
  src/pages/projects/sistent/components/text-field/code.js
  src/pages/projects/sistent/components/text-field/guidance.js
  src/pages/projects/sistent/components/text-field/index.js
  src/pages/projects/sistent/components/text-input/code.js
  src/pages/projects/sistent/components/text-input/guidance.js
  src/pages/projects/sistent/components/text-input/index.js
  src/sections/Projects/Sistent/components/button/code.js
  src/sections/Projects/Sistent/components/button/guidance.js
  src/sections/Projects/Sistent/components/container/code.js
  src/sections/Projects/Sistent/components/container/guidance.js
  src/sections/Projects/Sistent/components/link/code.js
  src/sections/Projects/Sistent/components/link/guidance.js
  src/sections/Projects/Sistent/components/modal/code.js
  src/sections/Projects/Sistent/components/modal/guidance.js
  src/sections/Projects/Sistent/components/modal/index.js
  src/sections/Projects/Sistent/components/paper/index.js
  src/sections/Projects/Sistent/components/popper/code.js
  src/sections/Projects/Sistent/components/popper/guidance.js
  src/sections/Projects/Sistent/components/popper/index.js
  src/sections/Projects/Sistent/components/text-field/code.js
  src/sections/Projects/Sistent/components/text-field/guidance.js
  src/sections/Projects/Sistent/components/text-input/code.js
  src/sections/Projects/Sistent/components/text-input/guidance.js
Labels: area/projects, area/site-config, project/sistent

#6058 Add CustomTooltip component to the sistent components page
  gatsby-node.js
  src/components/SistentNavigation/content.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/tooltip/code.js
  src/sections/Projects/Sistent/components/tooltip/guidance.js
  src/sections/Projects/Sistent/components/tooltip/index.js
Labels: area/projects, area/site-config, project/sistent

#6089 Add dropdown for component category in the sidebar
  src/components/SistentNavigation/index.js
  src/components/SistentNavigation/toc.style.js
  src/sections/Projects/Sistent/components/index.js
Labels: project/sistent

#6077 Add sistent-backdrop-component
  src/sections/Projects/Sistent/components/backdrop/code.js
  src/sections/Projects/Sistent/components/backdrop/guidance.js
  src/sections/Projects/Sistent/components/backdrop/index.js
  src/sections/Projects/Sistent/components/index.js
Labels: area/projects, project/sistent
