Repository layer5io/layer5, pull requests merged in 2024-09, with the labels that each got.

#5851 fix snapshot workflow
  .github/workflows/meshmap.yml
Labels: area/ci

#5770 added images for clusterpedia
  src/collections/integrations/_images/clusterpedia/clusterpedia-design-dark.png
  src/collections/integrations/_images/clusterpedia/clusterpedia-design-light.png
  src/collections/integrations/_images/clusterpedia/clusterpedia-visualize-dark.png
  src/collections/integrations/_images/clusterpedia/clusterpedia-visualize-light.png
  src/collections/integrations/clusterpedia/index.mdx
Labels: project/meshery

#5874 Add files via upload
  src/collections/members/aviral-asthana/aviral-asthana.webp
  src/collections/members/aviral-asthana/index.mdx
Labels: area/community

#5879 Mark Senthil Athiban's profile as inactive
  src/collections/members/senthil-athiban/index.mdx
Labels: area/community

#5864 fix: resolve layout inconsistency in CTA_Bottom for mobile screens
  src/components/Call-To-Actions/CTA_Bottom/index.js
Labels: type/core-styls

#5878 [Blog] Meet the Maintainer: Xin Huang
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/index.mdx
  src/collections/blog/2024/07-01-meet-the-maintainer-xin-huang/post.mdx
  src/collections/blog/2024/07-01-meet-the-maintainer-xin-huang/xin-huang-layer5-maintainer.png
  src/collections/blog/MeetTheMaintainer.style.js
Labels: area/blog

#5887 add release managers role in handbook
  src/sections/Community/Handbook/community-roles.js
Labels: area/handbook

#5897 Add sistent github issue template
  .github/ISSUE_TEMPLATE/sistent_feature.md
Labels: area/ci

#5900 fix: join us button
  src/sections/Community/Event-single/EventSingle.style.js
  src/sections/Community/Event-single/index.js
  src/templates/event-single.js
Labels: area/events

#5922 fix github issue link
  src/collections/events/2024/hacktoberfest-2024/index.mdx
Labels: area/events

#5893 Initialize posthog in site
  gatsby-browser.js
  package-lock.json
  package.json
Labels: area/site-config

#5932 changed profile to meshmate
  src/collections/members/yash/index.mdx
Labels: area/community

#5942 Events update
  src/collections/events/2024/hacktoberfest-2024/index.mdx
  src/sections/Community/Event-single/index.js
Labels: area/events
