Repository layer5io/layer5, pull requests merged in 2024-07, with the labels that each got.

#5636 added member profile
  src/collections/members/suraj-jadhav/index.mdx
  src/collections/members/suraj-jadhav/suraj-jadhav.webp
Labels: area/community

#5628 [Fix Post Blog] - Demistifying Open Source
  src/collections/blog/2024/2024-03-10-demystifying-open-source/banner.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/github-issues.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/index.mdx
  src/collections/blog/2024/2024-03-10-demystifying-open-source/meshery-issues.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/meshery-skateboard.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/search-layer5.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/star-meshery.png
  src/collections/blog/2024/2024-03-10-demystifying-open-source/tech-stack.png
Labels: area/blog

#5657 Set Nithish Karthik's Profile to Active
  src/collections/members/nithish-karthik/index.mdx
Labels: area/community

#5661 added member profile for Rudraksh Tyagi
  src/collections/members/Rudraksh Tyagi/index.mdx
  src/collections/members/Rudraksh Tyagi/rudraksh-tyagi.webp
Labels: area/community

#5650 Add sistent modal component
  src/assets/images/app/projects/sistent/confirmation-dark.png
  src/assets/images/app/projects/sistent/confirmation.png
  src/pages/projects/sistent/components/modal/code.js
  src/pages/projects/sistent/components/modal/guidance.js
  src/pages/projects/sistent/components/modal/index.js
  src/sections/Projects/Sistent/components/index.js
  src/sections/Projects/Sistent/components/modal/code.js
  src/sections/Projects/Sistent/components/modal/guidance.js
  src/sections/Projects/Sistent/components/modal/index.js
  src/sections/Projects/Sistent/sistent.style.js
Labels: area/projects

#5674 fixed issue
  src/collections/members/dahyeon-kang/dahyeon-kang.jpg
  src/collections/members/dahyeon-kang/dahyeon-kang.webp
  src/collections/members/dahyeon-kang/index.mdx
Labels: area/community

#5676 Created member profile for Tharun T
  src/collections/members/tharun-t/index.mdx
  src/collections/members/tharun-t/tharun-t.webp
Labels: area/community

#5689 updated maintainer link in the repository overview section
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5658 Fixed #5649 (Horizontal Scrolling Issue in /programs/lfx)
  src/collections/programs/Programs.style.js
Labels: area/careers

#5681 Code syntax highlighting for sistent components
  src/sections/Projects/Sistent/components/button/code-block.js
Labels: issue/dco

#5701 added design pioneer badge
  src/collections/blog/2023/08-21-layer5-badge-program/index.mdx
Labels: area/blog

#5680 fix: lint-staged, eslint
  .github/workflows/build-and-preview-site.yml
  .husky/pre-commit
  package-lock.json
  package.json
Labels: area/ci

#5719 fix: separate eslint check
  .github/workflows/build-and-preview-site.yml
  .github/workflows/checks.yml
  CONTRIBUTING.md
  Makefile
  src/sections/Projects/Sistent/components/button/code-block.js
Labels: area/ci

#5532 [Blog] Cost of Observability
  src/collections/blog/2024/04-26-docker-compose-with-meshery/docker-compose-with-meshery.mdx
  src/collections/blog/2024/05-12-cost-of-observability/comparative-cost-of-observability-signals.png
  src/collections/blog/2024/05-12-cost-of-observability/comparative-cost-of-observability-signals.svg
  src/collections/blog/2024/05-12-cost-of-observability/index.mdx
Labels: area/blog, area/ci

#5731 added use cases page
  .github/workflows/meshmap.yml
  src/pages/use-cases/index.js
  src/sections/useCases/index.js
  src/sections/useCases/useCases.style.js
Labels: area/projects, area/ci

#5749 added remaining badges
  src/assets/images/code-cleanup-crew/code-cleanup-crew.svg
  src/assets/images/continuous-contributor/continuous-contributor.svg
  src/assets/images/longevity-legend/longevity-legend.svg
  src/assets/images/meshmap-snapshot/meshmap-snapshot.svg
  src/assets/images/review-rockstar/review-rockstar.svg
  src/assets/images/security-sentinel/security-sentinel.png
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#5742 added Hargun Kaur as community member
  src/collections/members/Hargun-Kaur/hargun-kaur.webp
  src/collections/members/Hargun-Kaur/index.mdx
Labels: area/community

#5599 [Fix Post Blog] - Meshery 5000 star milestone
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/banner.jpeg
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/index.mdx
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/lfx-mentorship.png
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/meshery-stats.png
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/star-history.png
  src/collections/blog/2024/06-21-meshery-5000-star-milestone/star-meshery.png
Labels: area/blog

#5746 [Community] Member Profile : added Muhammed Moinuddin
  src/collections/members/Muhammad-Moinuddin/Muhammad-Moinuddin.webp
  src/collections/members/Muhammad-Moinuddin/index.mdx
Labels: area/community

#5740 Updated AWX Operator Screenshots, under how it works section
  src/collections/integrations/_images/awx_operator_images/design-dark.jpeg
  src/collections/integrations/_images/awx_operator_images/design-light.jpeg
  src/collections/integrations/_images/awx_operator_images/visualise-dark.jpeg
  src/collections/integrations/_images/awx_operator_images/visualise-light.jpeg
  src/collections/integrations/awx-operator/index.mdx
Labels: project/meshery

#5754 Chore: Redirect to new blog location
  gatsby-node.js
Labels: area/site-config

#5752 Updated the screenshots
  src/collections/integrations/_images/apisix-ingress-controller/desgin-light.jpg
  src/collections/integrations/_images/apisix-ingress-controller/design-dark.jpg
  src/collections/integrations/_images/apisix-ingress-controller/visualise-dark.jpg
  src/collections/integrations/_images/apisix-ingress-controller/visualise_light.jpg
  src/collections/integrations/apisix-ingress-controller/index.mdx
Labels: project/meshery

#5755 Update LFX Fall Term.
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers
