Repository layer5io/layer5, pull requests merged in 2024-03, with the labels that each got.

#5426 Kubecon EU 2024 event added
  src/collections/events/kubecon-EU-2024/index.mdx
  src/collections/events/kubecon-EU-2024/kubeconEU2024.png
Labels: area/events

#5450 Cesar Roman Member Profile
  src/collections/members/cesar-roman/cesar-roman.webp
  src/collections/members/cesar-roman/index.mdx
Labels: area/community

#5341 cookie implemented for navbar
  package-lock.json
  package.json
  src/sections/General/Navigation/index.js
  src/sections/General/Navigation/navigation.style.js
  src/sections/General/Navigation/utility/CloudIcon.js
  src/sections/General/Navigation/utility/DefaultAvatar.js
  src/sections/General/Navigation/utility/LogoutIcon.js
  src/sections/General/Navigation/utility/MeshMapIcon.js
Labels: pr/draft

#5420 [Blog] OCI Registries
  src/collections/blog/2024/02-13-what-is-platform-engineering/index.mdx
  src/collections/blog/2024/02-24-open-container-image-meshery/index.mdx
  src/collections/blog/2024/02-24-open-container-image-meshery/oci-images-meshery.png
Labels: area/blog

#5455 kubecon eu 2024 slides added
  src/collections/events/kubecon-EU-2024/index.mdx
  static/cncf-tag-network/KubeCon-EU-2024-CNCF-TAG-Network.pdf
Labels: area/events

#5456 [Blog] KubeCon EU 2024 talk blog
  src/collections/blog/2024/03-20-kubeconeu2024/index.mdx
  src/collections/blog/2024/03-20-kubeconeu2024/kubeconeu2024.png
  src/collections/blog/2024/03-20-kubeconeu2024/meshmark-formula.png
Labels: area/blog

#5458 Booth image added in KubeCon 2024 blog post
  src/collections/blog/2024/03-20-kubeconeu2024/booth.png
  src/collections/blog/2024/03-20-kubeconeu2024/index.mdx
Labels: area/blog

#5462 Removed containerd and cri-o integrations
  src/collections/integrations/containerd/icons/color/containerd-color.svg
  src/collections/integrations/containerd/icons/white/containerd-white.svg
  src/collections/integrations/containerd/index.mdx
  src/collections/integrations/cri-o/icons/color/cri-o-color.svg
  src/collections/integrations/cri-o/icons/white/cri-o-white.svg
  src/collections/integrations/cri-o/index.mdx
Labels: project/meshery

#5410 Animation update on Prdouct pages
  src/sections/AWS-Diagram/images/config.gif
  src/sections/FeatureHero/featureHero.style.js
  src/sections/FeatureHero/index.js
Labels: type/core-styls

#5407 Added screenshots for Emissary
  src/collections/integrations/_images/emissary/Emissary-Design-dark.png
  src/collections/integrations/_images/emissary/Emissary-Design-light.png
  src/collections/integrations/_images/emissary/Emissary-Visualize-dark.png
  src/collections/integrations/_images/emissary/Emissary-Visualize-light.png
  src/collections/integrations/emissary-ingress/index.mdx
Labels: project/meshery

#5409 Screenshots have been added for Aperture Agent
  src/collections/integrations/_images/aperture-agent/Aperture-Agent-Design-dark.png
  src/collections/integrations/_images/aperture-agent/Aperture-Agent-Design-light.png
  src/collections/integrations/_images/aperture-agent/Aperture-Agent-Visualize-dark.png
  src/collections/integrations/_images/aperture-agent/Aperture-Agent-Visualize-light.png
  src/collections/integrations/aperture-agent/index.mdx
Labels: project/meshery

#5395 screenshots added for fluent operator
  src/collections/integrations/_images/fluent-operator/fluent-operator-Design-dark.png
  src/collections/integrations/_images/fluent-operator/fluent-operator-Design-light.png
  src/collections/integrations/_images/fluent-operator/fluent-operator-Visualize-dark.png
  src/collections/integrations/_images/fluent-operator/fluent-operator-Visualize-light.png
  src/collections/integrations/fluent-operator/index.mdx
Labels: project/meshery

#5400 Screenshots contour
  src/collections/integrations/_images/contour/Contour-Design-dark.png
  src/collections/integrations/_images/contour/Contour-Design-light.png
  src/collections/integrations/_images/contour/Contour-Visualize-dark.png
  src/collections/integrations/_images/contour/Contour-Visualize-light.png
  src/collections/integrations/contour-operator/index.mdx
Labels: project/meshery

#5422 Added screenshots for two integeration #5328 external secrets operator & #5319 dex
  src/collections/integrations/_images/dex/designDark.png
  src/collections/integrations/_images/dex/designLight.png
  src/collections/integrations/_images/dex/visualizeDark.png
  src/collections/integrations/_images/dex/visualizeLight.png
  src/collections/integrations/_images/external-secrets-operator/designDark.png
  src/collections/integrations/_images/external-secrets-operator/designLight.png
  src/collections/integrations/_images/external-secrets-operator/visualizeDark.png
  src/collections/integrations/_images/external-secrets-operator/visualizeLight.png
  src/collections/integrations/dex/index.mdx
  src/collections/integrations/external-secrets-operator/index.mdx
Labels: project/meshery

#5157 [Blog] Load-Generation and Load-Balancing
  src/collections/blog/2023/Load-Generation-Load-Balancing/Layer5.svg
  src/collections/blog/2023/Load-Generation-Load-Balancing/MeshMap.svg
  src/collections/blog/2023/Load-Generation-Load-Balancing/index.md
  src/collections/members/chandravijay-rai/chandravijay-rai.webp
  src/collections/members/chandravijay-rai/index.mdx
Labels: area/blog, area/community

#5257 New blog: Contributing to Layer5
  src/collections/blog/2024/01-07-contributing-as-a-designer/header-image.svg
  src/collections/blog/2024/01-07-contributing-as-a-designer/index.mdx
Labels: area/blog
