Repository layer5io/layer5, pull requests merged in 2024-04, with the labels that each got.

#5471 GSOD 2024 page added
  src/collections/programs/gsod-2024/gsod.webp
  src/collections/programs/gsod-2024/index.mdx
Labels: area/careers

#5431 Updated Images under 'How it Works See It in Action' section in Confi…
  src/collections/integrations/_images/confidential-containers/confidential-containers-design-dark.png
  src/collections/integrations/_images/confidential-containers/confidential-containers-design-light.png
  src/collections/integrations/_images/confidential-containers/confidential-containers-visualization-dark.png
  src/collections/integrations/_images/confidential-containers/confidential-containers-visualization-design.png
  src/collections/integrations/confidential-containers/index.mdx
Labels: project/meshery

#5475 Some fixes on GSOD 2024 page
  src/collections/programs/gsod-2024/index.mdx
Labels: area/careers

#5476 Sangram Rath Member Profile
  src/collections/members/sangram-rath/index.mdx
  src/collections/members/sangram-rath/sangram-rath.webp
Labels: area/community

#5488 New Event added
  src/collections/events/making-the-cncf-landscape-interactive-with-meshery/index.mdx
  src/collections/events/making-the-cncf-landscape-interactive-with-meshery/thumbnail.png
Labels: area/events

#5384 Devfile screenshots
  src/collections/integrations/_images/devfile/meshmap-conatinerd-dark.png
  src/collections/integrations/_images/devfile/meshmap-conatinerd-light.png
  src/collections/integrations/_images/devfile/meshmap-conatinerd-views-dark.png
  src/collections/integrations/_images/devfile/meshmap-conatinerd-views-light.png
  src/collections/integrations/devfile/index.mdx
Labels: project/meshery

#5492 New event page crashing fixed
  src/collections/events/making-the-cncf-landscape-interactive-with-meshery/index.mdx
Labels: area/events

#5496 update profile to inactive
  src/collections/members/uzair-shaikh/index.mdx
Labels: area/community

#5491 Added member profile for Deepak Reddy
  src/collections/members/deepak-reddy/deepak-reddy.jpg
  src/collections/members/deepak-reddy/index.mdx
Labels: area/community

#5501 updated inactive members
  src/collections/members/ahmed-jamil/index.mdx
  src/collections/members/hiren-timbadiya/index.mdx
  src/collections/members/saurabh soni/index.mdx
  src/collections/members/savio-dias/index.mdx
  src/collections/members/vihas-makwana/index.mdx
Labels: area/community

#5502 Minor fix and addition
  src/collections/events/making-the-cncf-landscape-interactive-with-meshery/index.mdx
  src/sections/Home/Playground-home/index.js
Labels: area/events

#5498 Rename and remove service mesh reference
  gatsby-node.js
  src/components/Learn-Components/Setup-Pre-Requisites/index.js
  src/components/Learn-Components/TOC-Learning-Path/index.js
  src/pages/cloud-native-management/meshery/operating-cloud-native-infra.js
  src/pages/cloud-native-management/meshery/operating-service-meshes.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/How-meshery-works/diagram/diagram.style.js
  src/sections/Meshery/How-meshery-works/diagram/index.js
  src/sections/Meshery/How-meshery-works/specs/index.js
  src/sections/Meshery/Meshery-mange-mesh/index.js
  src/sections/Meshery/index.js
Labels: area/learn, area/site-config

#5507 fix: for the 2020-blog typo and grammatical error correction
  src/collections/blog/2020/2020-05-21-getting-started-with-mesheryctl/index.mdx
Labels: area/blog

#5508 service mesh reference removed from blog
  src/collections/blog/2020/2020-05-21-getting-started-with-mesheryctl/index.mdx
Labels: area/blog
