Repository layer5io/layer5, pull requests merged in 2024-01, with the labels that each got.

#5254 some 404 fix
  gatsby-node.js
  src/collections/blog/2019/2019-10-02-hacktoberfest-2019-documenting-my-first-ever-hacktoberfest-contribution/index.mdx
  src/collections/blog/2019/2019-11-15-introducing-comparative-spectrums-to-the-layer5-landscape/index.mdx
  src/collections/blog/2020/2020-06-25-SMI-conformance-testing-with-meshery/index.mdx
  src/collections/blog/2020/2020-07-16-communitybridge-2020-teaching-service-meshes-to-be-compliant/index.mdx
  src/collections/blog/2020/2020-08-20-announcing-the-meshery-adapter-for-open-service-mesh/index.mdx
  src/collections/blog/2022/2022-05-27-debug-envoy-proxy/index.mdx
Labels: area/blog, type/seo, area/site-config

#5278 [chore] Update Signup Form Webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore, area/handbook

#5279 [Design Page] Deck of cards background gradient update
  src/components/PopOutCardCarousel/PopOutCardCarousel.style.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/MeshmapMobileSwiper.js
  src/sections/Meshmap/Meshmap-design/Meshmap_Mobile_swiper/mobile-swiper.style.js
Labels: project/meshmap

#5226 [Community] Member Status Update
  src/collections/members/shivam-sood/index.mdx
Labels: area/community

#5283 cleared inactive contributors from repository-overview table
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5312 [chore] Update Signup Form Webhook
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: kind/chore, area/handbook

#5267 The green color used for the headings on the [Collaborate] page changed to White…
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-team.js
  src/sections/Meshmap/Meshmap-collaborate/collaboration-feature-work.js
Labels: project/meshmap

#5300 Profile ahmed jamil
  src/collections/members/ahmed-jamil/ahmed-jamil.webp
  src/collections/members/ahmed-jamil/index.mdx
Labels: area/community

#5346 add-deleted-screenshots-folders
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-designer-light.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-dark.png
  src/collections/integrations/_images/actions-runner-controller-arc/meshmap-actions-runner-controller-visualizer-light.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-designer-light.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-dark.png
  src/collections/integrations/_images/artifact-hub/meshmap-artifact-hub-visualizer-light.png
  src/collections/integrations/_images/athenz/meshmap-athenz-designer-dark.png
  src/collections/integrations/_images/athenz/meshmap-athenz-designer-light.png
  src/collections/integrations/_images/athenz/meshmap-athenz-visualizer-dark.png
  src/collections/integrations/_images/athenz/meshmap-athenz-visualizer-light.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-Design.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer-dark.png
  src/collections/integrations/_images/aws-api-gateway-operator/aws-api-visualizer.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-designer-light.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-dark.png
  src/collections/integrations/_images/aws-load-balancer/meshmap-aws-load-balancer-visualizer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-designer-light.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-dark.png
  src/collections/integrations/_images/aws-node-termination-handler/meshmap-aws-node-termination-visualizer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-designer-light.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-dark.png
  src/collections/integrations/_images/aws-target-group-binding/aws-target-group-visualizer-light.png
  src/collections/integrations/_images/backstage/backstage_desgin_dark.png
  src/collections/integrations/_images/backstage/backstage_desing.png
  src/collections/integrations/_images/backstage/backstage_visuvalize.png
  src/collections/integrations/_images/backstage/backstage_visuvalize_dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-designer-camel-k.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k-dark.png
  src/collections/integrations/_images/camel-k/meshmap-visualizer-camel-k.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-designer-light.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-dark.png
  src/collections/integrations/_images/cd-pipeline-operator/meshmap-visualizer-light.png
  src/collections/integrations/_images/cdk8s/k8s_design.png
  src/collections/integrations/_images/cdk8s/k8s_desing_dark.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize.png
  src/collections/integrations/_images/cdk8s/k8s_visuvalize_dark.png
  src/collections/integrations/_images/consul/meshmap_dark_designer.png
  src/collections/integrations/_images/consul/meshmap_dark_visualizer.png
  src/collections/integrations/_images/consul/meshmap_light_designer.png
  src/collections/integrations/_images/consul/meshmap_light_visualizer.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-design.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/crossplane/meshmap-updated-visualizer.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-designer-light.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-dark.png
  src/collections/integrations/_images/epam-delivery-platform-edp-admin-console/meshmap-epam-visualizer-light.png
Labels: project/meshery

#4990 [Screenshots] CRI-O under 'How it Works See It in Action' section
  src/collections/integrations/_images/cri-o/meshmap-updated-design-dark.png
  src/collections/integrations/_images/cri-o/meshmap-updated-design.png
  src/collections/integrations/_images/cri-o/meshmap-updated-visualizer-dark.png
  src/collections/integrations/_images/cri-o/meshmap-updated-visualizer.png
  src/collections/integrations/cri-o/index.mdx
Labels: project/meshery

#5353 Community Handbook: recognition page spelling mistake corrected
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#5354 Added LFX spring projects
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers

#5318 fix: Fixed extra column space on smaller screen size
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

#5357 [<div class="interviewee">] fixed the font color of Michael
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/MeetTheMaintainer.style.js
Labels: area/blog

#5349 [Handbook] Added Xin Huang as the maintainer of meshery nighthawk
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5302 Profile: Ripal Handoo
  src/collections/members/Ripul_Handoo/RipulHandoo.webp
  src/collections/members/Ripul_Handoo/index.mdx
Labels: area/community
