Repository layer5io/layer5, pull requests merged in 2024-05, with the labels that each got.

#5470 Refactored MeshmapPage component to improve readability and performance
  src/pages/cloud-native-management/meshmap/index.js
Labels: issue/dco

#5529 updated screenshots-cloudevents
  src/collections/integrations/_images/cloudevents/meshmap-design-black.png
  src/collections/integrations/_images/cloudevents/meshmap-design-white.png
  src/collections/integrations/_images/cloudevents/meshmap-visualize-black.png
  src/collections/integrations/_images/cloudevents/meshmap-visualize-white.png
  src/collections/integrations/cloudevents/index.mdx
Labels: project/meshery

#5525 Blog: Create mythical-10x-engineer.mdx
  src/assets/images/stick-figures/SVG/layer5-five-mascot-means-business.gif
  src/assets/images/stick-figures/SVG/layer5-five-mascot-means-business.png
  src/assets/images/stick-figures/SVG/layer5-five-mascot-means-business.svg
  src/collections/blog/2024/05-07-mythical-engineer/mythical-10x-engineer.mdx
Labels: area/blog

#5531 Update pricing page
  src/sections/Pricing/data.js
Labels: pr/hold

#5539 Added LFX summer internships
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers

#5540 Move Ritik's profile to inactive state
  src/collections/members/ritik-saxena/index.mdx
Labels: area/community

#5541 Chris Carrier's profile has been added in Community Member
  src/collections/members/chris-carrier/chris-carrier.jpeg
  src/collections/members/chris-carrier/index.mdx
Labels: area/community

#5365 Kubernetes multi-cluster page created
  src/pages/solutions/kubernetes-multi-cluster-operation/index.js
  src/sections/General/Navigation/utility/menu-items.js
  src/sections/SolutionHero/featureHero.style.js
  src/sections/SolutionHero/index.js
  src/sections/kubernetes-multi-cluster/features.js
  src/sections/kubernetes-multi-cluster/images/cluster.png
  src/sections/kubernetes-multi-cluster/images/config.png
  src/sections/kubernetes-multi-cluster/images/deploy.png
  src/sections/kubernetes-multi-cluster/images/meshsync.svg
  src/sections/kubernetes-multi-cluster/index.js
  src/sections/kubernetes-multi-cluster/kube.style.js
Labels: pr/draft

#5548 Revert "Redirect added"
  gatsby-node.js
Labels: area/site-config

#5297 Components Documented
  src/components/AdventuresVol/README.md
  src/components/BGImage/README.md
  src/components/Call-To-Actions/README.md
  src/components/Card-Outline/README.md
  src/components/Card/README.md
  src/components/Case-study-banner/README.md
  src/components/CodeBlock/README.md
  src/components/ColorBox/README.md
  src/components/CommonForm/README.md
  src/components/CommunityCallCard/README.md
  src/components/ConformanceTest-Table/README.md
  src/components/Contact-Modal/README.md
  src/components/ContactCard-unsubscribe/README.md
  src/components/ContactCard/README.md
  src/components/ContactForm/README.md
  src/components/Corner-popup/README.md
  src/components/FeatureUseCard/README.md
  src/components/Features-carousel/README.md
  src/components/Features/README.md
  src/components/HandbookCard/README.md
  src/components/handbook-navigation/README.md
Labels: issue/willfix, area/handbook

#5547 Feature tag fixed in Events page
  src/templates/events.js
Labels: area/events
