Repository layer5io/layer5, pull requests merged in 2024-08, with the labels that each got.

#5759 Fixed Hash..
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers

#5745 add: how to earn and share badges to recognition section of handbook
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#5728 fixed text content issue
  src/collections/resources/articles/kubernetes/multi-cluster/k8s-multi-cluster.mdx
Labels: area/resources

#5784 Added spacing on Recognition page between Badges
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#5802 Update member status to inactive
  src/collections/members/alonso-lopez/index.mdx
  src/collections/members/sandra-ashipala/index.mdx
  src/collections/members/tharun-t/index.mdx
Labels: area/community

#5799 Updated Argo-CD Screenshots, under how it works section
  src/collections/integrations/_images/argo-cd/meshmap-designer-dark.png
  src/collections/integrations/_images/argo-cd/meshmap-designer-light.png
  src/collections/integrations/_images/argo-cd/meshmap-visualizer-dark.png
  src/collections/integrations/_images/argo-cd/meshmap-visualizer-light.png
  src/collections/integrations/argo-cd/index.mdx
Labels: project/meshery

#5810 added new event
  src/collections/events/2024/enlightening/banner.jpeg
  src/collections/events/2024/enlightening/index.mdx
Labels: area/events

#5821 Video embedding
  src/collections/events/2024/enlightening/index.mdx
Labels: area/events

#5823 added changes
  src/collections/events/2024/enlightening/index.mdx
Labels: area/events

#5824 Update KubeCon China details
  src/collections/events/2024/kubecon-hk/index.mdx
Labels: area/events

#5826 Revert "Revert "[chore] Update webhook signup forms""
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#5828 This PR fixes #5825
  src/collections/members/eti-Ijeoma/eti-Ijeoma.webp
  src/collections/members/eti-Ijeoma/index.mdx
Labels: area/community

#5756 Update metrics
  src/collections/programs/lfx-2024/lfx-2024.mdx
Labels: area/careers

#5729 changed the overflow property of the app.style.js file to hidden
  src/sections/app.style.js
Labels: area/core-styles

#5768 Solve issue with cards not fitting on smaller screens in Community Ha…
  src/components/AdventuresVol/adventures-vol.style.js
  src/components/HandbookCard/HandbookCard.style.js
Labels: area/handbook

#5846 fix query url
  src/pages/cloud-native-management/meshmap/index.js
Labels: pr/do-not-merge

#5849 inActive
  src/collections/members/deepak-reddy/index.mdx
Labels: area/community

#5845 new member added Amit Amrutiya
  src/collections/members/amit-amrutiya/amit-amrutiya.webp
  src/collections/members/amit-amrutiya/index.mdx
Labels: area/community

#5844 Member Profile of Jerens Lensun
  src/collections/members/jeres-lensun/JerensProfilePic.jpg
  src/collections/members/jeres-lensun/index.mdx
Labels: area/community

#5850 [Community] Add Member Profile for Ankita Sahu
  src/collections/members/ankita-sahu/ankita-sahu.jpeg
  src/collections/members/ankita-sahu/index.mdx
Labels: area/community

#5820 added ambassador screenshots
  src/collections/integrations/_images/ambassador/DesignAmbDark.png
  src/collections/integrations/_images/ambassador/DesignAmbLight.png
  src/collections/integrations/_images/ambassador/visAmbDark.png
  src/collections/integrations/_images/ambassador/visAmbLight.png
  src/collections/integrations/ambassador/index.mdx
Labels: project/meshery

#5634 added the reviews on the products page
  src/sections/Products/index.js
Labels: area/handbook

#5852 Add contributor
  src/collections/members/senthil-athiban/index.mdx
  src/collections/members/senthil-athiban/senthil-athiban.webp
Labels: area/community

#5833 Updated Repository Overview to mark meshery-smi-conformance-action as archived
  src/sections/Community/Handbook/repo-data.js
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#5773 added the screenshots of curiefense
  src/collections/integrations/_images/curiefense/CuriDesDark.jpg
  src/collections/integrations/_images/curiefense/CuriDesLight.jpg
  src/collections/integrations/_images/curiefense/visualise-dark.jpg
  src/collections/integrations/_images/curiefense/visualise-light.jpg
  src/collections/integrations/curiefense/index.mdx
Labels: project/meshery
