Repository layer5io/layer5, pull requests merged in 2024-02, with the labels that each got.

#5370 screenshots added
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-design-dark.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-design-light.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-visualizer-dark.png
  src/collections/integrations/_images/open-policy-agent-(opa)/open-policy-agent-visualizer-light.png
  src/collections/integrations/open-policy-agent-(opa)/index.mdx
Labels: project/meshery

#5376 Cloud native Deployments by Diagram page created
  src/pages/solutions/cloud-native-deployments-by-diagram/index.js
  src/sections/CloudNativeDeployments/deploy.style.js
  src/sections/CloudNativeDeployments/features.js
  src/sections/CloudNativeDeployments/index.js
  src/sections/General/Navigation/utility/menu-items.js
Labels: pr/draft

#5304 Screenshots cubefs [Integerations] Added
  src/collections/integrations/_images/cubefs/CubeFsMeshLigh.png
  src/collections/integrations/_images/cubefs/CubeFsVisuLight.png
  src/collections/integrations/_images/cubefs/CubefsVisuDark.png
  src/collections/integrations/_images/cubefs/cubeFsMesgDark.png
  src/collections/integrations/cubefs/index.mdx
Labels: project/meshery

#5380 [chore] Update webhook signup forms
  src/components/CommonForm/events.js
  src/components/CommonForm/index.js
  src/components/ContactForm/index.js
  src/sections/Community/Handbook/writing-program/content-form.js
Labels: area/handbook

#5387 Updated containerd
  src/collections/integrations/_images/containerd/meshmap-containerd-dark.png
  src/collections/integrations/_images/containerd/meshmap-containerd-light.png
  src/collections/integrations/_images/containerd/meshmap-containerd-views-dark.png
  src/collections/integrations/_images/containerd/meshmap-containerd-views-light.png
Labels: project/meshery

#5386 [community] Updated Naureen's Status as Meshmate
  src/collections/members/naureen-imran/index.mdx
Labels: area/community

#5396 Elastic screenshots added to the integration
  src/collections/integrations/_images/elastic-search/MeshDark.png
  src/collections/integrations/_images/elastic-search/MeshLight.png
  src/collections/integrations/_images/elastic-search/VisDark.png
  src/collections/integrations/_images/elastic-search/VisLight.png
  src/collections/integrations/elasticsearch-operator/index.mdx
Labels: project/meshery

#5381 Flux screenshots
  src/collections/integrations/_images/flux/MeshFluxDark.png
  src/collections/integrations/_images/flux/MeshFluxLight.png
  src/collections/integrations/_images/flux/visFluxDark.png
  src/collections/integrations/_images/flux/visFluxLight.png
  src/collections/integrations/flux/index.mdx
Labels: project/meshery

#5394 screenshots added Fonio
  src/collections/integrations/_images/fonio/Fonio-Design-dark.png
  src/collections/integrations/_images/fonio/Fonio-Design-light.png
  src/collections/integrations/_images/fonio/Fonio-visualize-dark.png
  src/collections/integrations/_images/fonio/Fonio-visualize-light.png
  src/collections/integrations/fonio/index.mdx
Labels: project/meshery

#5270 fixed category slider in integrations page
  src/sections/Meshery/Meshery-integrations/IntegrationsGrid.js
Labels: project/meshery

#5403 Updated the table
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#5411 add-gsoc-2024
  src/collections/programs/gsoc-2024/gsoc.svg
  src/collections/programs/gsoc-2024/index.mdx
  src/collections/programs/gsoc-2024/meshery-playground-alt-4.webp
Labels: area/careers

#5412 GSOC new listings 2024
  src/collections/programs/gsoc-2024/index.mdx
Labels: area/careers

#5393 Docker screenshots
  src/collections/integrations/_images/docker/docker_integration_dark.png
  src/collections/integrations/_images/docker/docker_integration_light.png
  src/collections/integrations/_images/docker/docker_integration_visualize_dark.png
  src/collections/integrations/_images/docker/docker_integration_visualize_light.png
Labels: project/meshery

#5417 resource: what is platform engineering
  src/assets/images/meshery/full-logo/meshery-logo-dark-text-bg.webp
  src/assets/images/meshery/full-logo/meshery-logo-light-text-tag.svg
  src/assets/images/meshery/full-logo/meshery-logo-tag-dark-text-side.svg
  src/assets/images/meshery/full-logo/meshery-logo-tag-dark-text-side.webp
  src/assets/images/meshery/full-logo/meshery-logo-tag-light-text-side.svg
  src/assets/images/meshery/full-logo/meshery-logo-tag-light-text-side.webp
  src/assets/images/meshery/full-logo/meshery-logo-tag-light-white-text-side.svg
  src/assets/images/meshery/full-logo/meshery-logo-tag-light-white-text-side.webp
  src/assets/images/meshery/full-logo/meshery-logo-white-tag-side.svg
  src/assets/images/meshery/text-only/meshery-dark-tag-text.svg
  src/assets/images/meshery/text-only/meshery-dark-tag-text.webp
  src/assets/images/meshery/text-only/meshery-dark-text.webp
  src/assets/images/meshery/text-only/meshery-text-tag-dark.svg
  src/assets/images/meshery/text-only/meshery-text-tag-dark.webp
  src/collections/blog/2024/02-13-what-is-platform-engineering/index.mdx
  src/collections/blog/2024/02-13-what-is-platform-engineering/platform-engineering-hero.png
  src/sections/Company/Brand/Brand-components/meshery.js
  src/theme/app/themeStyles.js
Labels: area/blog, area/core-styles
