Repository layer5io/layer5, pull requests merged in 2024-12, with the labels that each got.

#6096 [UI]: Pricing page updates
  .github/workflows/feature-list.yml
  src/components/PlanCard/index.js
  src/components/PlanCard/planCard.style.js
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/generateDetails.js
  src/sections/Pricing/generateOptions.js
  src/sections/Pricing/pricing.style.js
Labels: area/ci

#6099 [Chore]: Feature_list Workflow path fix and manual workflow run updated json added
  .github/workflows/feature-list.yml
  src/sections/Pricing/feature_data.json
Labels: area/ci

#6100 Fixing broken pricing page
  .github/workflows/feature-list.yml
  feature_data.json
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/generateDetails.js
  src/sections/Pricing/generateOptions.js
Labels: area/ci

#6101 Recovering lost changes
  .github/workflows/feature-list.yml
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/generateDetails.js
  src/sections/Pricing/generateOptions.js
Labels: area/ci

#6103 [CI]: Enhance feature list workflow with commit changes step and build/deploy integration
  .github/workflows/feature-list.yml
Labels: area/ci

#6093 Fix: Dynamic Imports of Component
  gatsby-node.js
  src/components/SistentNavigation/index.js
  src/pages/projects/sistent/components/box/code.js
  src/pages/projects/sistent/components/box/guidance.js
  src/pages/projects/sistent/components/box/index.js
  src/sections/Projects/Sistent/components/box/code.js
  src/sections/Projects/Sistent/components/box/guidance.js
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/index.js
Labels: area/projects, area/site-config, project/sistent

#6104 [Chore]: Updated feature list workflow and enabled display of comparison table columns
  .github/workflows/feature-list.yml
  src/sections/Pricing/comparison.js
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/generateDetails.js
Labels: area/ci

#6107 Sheet Migration for Pricing PAhe
  .github/build/features-to-json.js
  .github/workflows/feature-list.yml
  .gitignore
  src/assets/images/pricing/docs.svg
  src/sections/General/Navigation/navigation.style.js
  src/sections/Pricing/comparison.js
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/feature_data_old.json
  src/sections/Pricing/generateDetails.js
  src/sections/Pricing/generatePlans.js
  src/sections/Pricing/index.js
  test.txt
Labels: pr/do-not-merge, area/ci

#6108 [UI]: Pricing page data display fix
  .github/build/features-to-json.js
  .github/workflows/feature-list.yml
  src/sections/Pricing/generateDetails.js
Labels: area/ci

#6113 leecalcote/pricing/enhancement
  .github/build/features-to-json.js
  src/components/PlanCard/planCard.style.js
  src/sections/Pricing/feature_data.json
  src/sections/Pricing/generatePlans.js
  src/sections/Pricing/index.js
  src/sections/Pricing/pricing.style.js
  src/theme/app/themeStyles.js
Labels: area/ci, area/core-styles

#6030 [learn-books] Fix broke link
  src/collections/service-mesh-books/service-mesh-patterns/index.mdx
Labels: area/learn

#6124 [Project] Add Sistent Logo
  src/assets/images/sistent/horizontal/sistent-horizontal-color.png
  src/assets/images/sistent/horizontal/sistent-horizontal-color.svg
  src/assets/images/sistent/horizontal/sistent-horizontal-partial-color.png
  src/assets/images/sistent/horizontal/sistent-horizontal-partial-color.svg
  src/assets/images/sistent/horizontal/sistent-horizontal-white.png
  src/assets/images/sistent/horizontal/sistent-horizontal-white.svg
  src/assets/images/sistent/icon-only/sistent-icon-color.png
  src/assets/images/sistent/icon-only/sistent-icon-color.svg
  src/assets/images/sistent/icon-only/sistent-icon-white.png
  src/assets/images/sistent/icon-only/sistent-icon-white.svg
  src/assets/images/sistent/stacked/sistent-stacked-color.png
  src/assets/images/sistent/stacked/sistent-stacked-color.svg
  src/assets/images/sistent/stacked/sistent-stacked-partial-color.png
  src/assets/images/sistent/stacked/sistent-stacked-partial-color.svg
  src/assets/images/sistent/stacked/sistent-stacked-white.png
  src/assets/images/sistent/stacked/sistent-stacked-white.svg
  src/assets/images/sistent/text-only/sistent-text-color.png
  src/assets/images/sistent/text-only/sistent-text-color.svg
  src/assets/images/sistent/text-only/sistent-text-white.png
  src/assets/images/sistent/text-only/sistent-text-white.svg
  src/sections/Projects/Sistent/index.js
  src/sections/Projects/Sistent/sistent.style.js
  static/brand/sistent-brand-kit.zip
Labels: project/sistent

#6126 Fix typo in member profile
  src/collections/members/shlok-mishra/index.mdx
Labels: area/community

#6125 Removed posthog dependency from the site
  gatsby-browser.js
  package-lock.json
  package.json
  src/sections/General/Navigation/index.js
Labels: project/meshery, area/site-config

#6131 Fix typo in workflow file
  .github/workflows/build-and-preview-site.yml
Labels: area/ci

#6130 animation div sticky correction
  src/sections/General/Navigation/navigation.style.js
  src/sections/Meshery/How-meshery-works/howitworks.style.js
  src/sections/app.style.js
Labels: area/core-styles

#6136 set config for css conflict warning
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
Labels: area/site-config
