Repository layer5io/layer5, pull requests merged in 2024-06, with the labels that each got.

#5582 Dahyeon Kang memeber profile added
  src/collections/members/dahyeon-kang/Dahyeon-Kang.webp
  src/collections/members/dahyeon-kang/index.mdx
Labels: area/community

#5587 Member profile added Saurabh Kumar Singh
  src/collections/members/saurabh-kumar-singh/index.mdx
  src/collections/members/saurabh-kumar-singh/saurabh-kumar-singh.webp
Labels: area/community

#5588 Added member profile Alero Awani
  src/collections/members/Alero-Awani/alero-awani.webp
  src/collections/members/Alero-Awani/index.mdx
Labels: area/community

#5592 Dahyeon-Kang memeber profile edited
  src/collections/members/dahyeon-kang/Dahyeon-Kang.webp
  src/collections/members/dahyeon-kang/dahyeon-kang.jpg
  src/collections/members/dahyeon-kang/index.mdx
Labels: area/community

#5600 fix: ul list in TOC of learning path
  src/components/Learn-Components/TOC-Chapters/toc.style.js
Labels: area/learn

#5605 fix: build issue
  src/collections/blog/2024/06-13-2024/post.mdx
  src/sections/Company/Brand/Brand-components/meshery.js
  src/sections/Company/Brand/brandPage.style.js
Labels: area/blog

#5603 Ibrahim Mbaziira memeber profile added
  src/collections/members/Ibrahim Mbaziira/ibra.JPG
  src/collections/members/Ibrahim Mbaziira/index.mdx
Labels: area/community

#5607 fix : toc scroll #5594
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/Handbook.style.js
  src/sections/Community/Handbook/mentorships.js
Labels: area/handbook

#5611 New event added
  src/collections/events/2024/kubecon-hk/index.mdx
  src/collections/events/2024/kubecon-hk/kubeconhk-2024.png
Labels: area/events

#5614 Set some profiles to inactive
  src/collections/members/ekene-leonard/index.mdx
  src/collections/members/hetvi-soni/index.mdx
  src/collections/members/senali-dilumika/index.mdx
  src/collections/members/shravani-kaware/index.mdx
Labels: area/community

#5615 added catalog design releated to integration
  gatsby-node.js
  package-lock.json
  package.json
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/CatalogGrid.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/Component.style.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
Labels: pr/hold, area/site-config

#5606 added ashparsh-pandey
  src/collections/members/ashparsh-pandey/ashparsh-pandey.webp
  src/collections/members/ashparsh-pandey/index.mdx
Labels: area/community, issue/dco
