Repository layer5io/layer5, pull requests merged in 2025-02, with the labels that each got.

#6230 Programs 2025
  src/collections/programs/gsoc-2025/gsoc.svg
  src/collections/programs/gsoc-2025/index.mdx
  src/collections/programs/gsoc-2025/meshery-playground-alt-4.webp
  src/collections/programs/lfx-2025/Linux_Foundation_logo.svg
  src/collections/programs/lfx-2025/Linux_Foundation_logo.webp
  src/collections/programs/lfx-2025/lfx-2025.mdx
  src/collections/programs/lfx-2025/lfx-white.svg
  src/collections/programs/lfx-2025/lfx.webp
Labels: area/careers

#6233 update gsoc 2025 program
  src/collections/programs/gsoc-2025/index.mdx
Labels: area/careers

#6237 add more project ideas fo SoC'25
  src/collections/programs/gsoc-2025/index.mdx
Labels: area/careers

#6211 Add kanvas sistent badge to member, and sistent badge to recognition
  src/assets/images/kanvas/badges/kanvas.png
  src/assets/images/kanvas/badges/kanvas.svg
  src/assets/images/sistent/badges/sistent-contributor.png
  src/assets/images/sistent/badges/sistent-contributor.svg
  src/pages/community/members.js
  src/sections/Community/Handbook/recognition.js
Labels: area/community, area/handbook

#6177 [Sistent] Select component doc
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/select/code.js
  src/sections/Projects/Sistent/components/select/guidance.js
  src/sections/Projects/Sistent/components/select/index.js
Labels: issue/dco, project/sistent

#6256 Add: Member Riya Garg
  src/collections/members/riya-garg/index.mdx
  src/collections/members/riya-garg/riya-garg.webp
Labels: area/community

#6251 Add Lawrence Li as a member
  src/collections/members/lawrence-li/index.mdx
  src/collections/members/lawrence-li/lawrence-li.jpg
Labels: area/community
