Repository layer5io/layer5, pull requests merged in 2025-03, with the labels that each got.

#6308 add: Member Zihan Kuang
  src/collections/members/zihan-kuang/index.mdx
  src/collections/members/zihan-kuang/zihan-kuang.webp
Labels: area/community

#6290 fix: fixed Button components are highlighted in the sidebar
  src/components/SistentNavigation/index.js
Labels: project/sistent

#6318 Update index.mdx
  src/collections/events/2025/kubecon-eu-2025/index.mdx
Labels: area/events

#6317 fixed toggle issue in community handbook
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

#6306 [app.style.js] fix: make layout responsive for smaller screen sizes
  src/sections/app.style.js
Labels: area/core-styles

#6326 Update member bio
  src/collections/members/mia-grenell/index.mdx
Labels: area/community

#6330 fix : highlight active section when switching tabs
  src/components/SistentNavigation/index.js
Labels: project/sistent

#6338 fix: update quote for Guy Menahem in Kanvas section
  src/sections/Kanvas/index.js
Labels: project/kanvas

#6341 Update app.style.js
  src/sections/app.style.js
Labels: area/core-styles

#6335 Fixed Missing Underline on Guidance Section Click
  src/sections/Projects/Sistent/components/select/index.js
Labels: project/sistent

#6325 Removed Extra = Appearing Before Email on Lee Calcote’s Bio Page
  src/sections/Community/Member-single/executive_bio.js
Labels: area/handbook

#6323 [handbook] adding meshery extension repo details to security vulnerebility page
  src/assets/images/meshery-extensions/icon-only/meshery-extensions-color.svg
  src/sections/Community/Handbook/security-vulnerabilities.js
Labels: area/handbook

#6340 [Handbook] Add new meshery-extensions org #6310
  src/sections/Community/Handbook/repository.js
Labels: area/blog, area/handbook

#6353 Chore: Add Internships email to mail archive
  static/mail/2025/spring-summer-2025-internships.html
Labels: kind/chore

#6346 [community] feat: add new member profile: Ian Whitney
  src/collections/members/ian-whitney/ian-whitney.webp
  src/collections/members/ian-whitney/index.mdx
Labels: area/community

#6345 Add contributing instructions for sistent
  src/sections/Projects/Sistent/about.js
Labels: project/sistent
