Repository layer5io/layer5, pull requests merged in 2025-07, with the labels that each got.

#6601 Community member profile: Adeyemi Favour
  src/collections/members/adeyemi-favour/adeyemi-favour.png
  src/collections/members/adeyemi-favour/index.mdx
Labels: area/community

#6576 update meshery and subpages
  src/assets/images/kanvas/gifs/catalog.gif
  src/assets/images/kanvas/gifs/rendered-design.png
  src/assets/images/kanvas/gifs/start-from-scratch.gif
  src/assets/images/meshery-dashboard-hero-image.png
  src/assets/video/meshery/dashboard.webm
  src/collections/blog/2024/11-05-what-is-the-kanvas-catalog/post.mdx
  src/pages/index.js
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Meshery/Features-Col/data/index.js
  src/sections/Meshery/Features-Col/featuresColSection.style.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-features/feature-images/edge_mount_relationship_pod_persistent_volume.svg
  src/sections/Meshery/Meshery-features/feature-images/extensions.png
  src/sections/Meshery/Meshery-features/feature-images/meshery-catalog.png
  src/sections/Meshery/Meshery-features/feature-images/meshery-performance.gif
  src/sections/Meshery/Meshery-features/feature-images/meshery-snapshot.png
  src/sections/Meshery/Meshery-features/feature-images/multi-cluster-management.gif
  src/sections/Meshery/Meshery-features/feature-images/workspace.gif
  src/sections/Meshery/Meshery-features/index.js
  src/sections/Meshery/Meshery-mange-mesh/index.js
  src/sections/Meshery/Meshery-platforms/MesheryPlatforms.style.js
  src/sections/Meshery/Meshery-platforms/index.js
  src/sections/Meshery/Meshery-terminal/index.js
  src/sections/Meshery/index.js
Labels: area/blog

#6608 make cards clickable, pointing to docs
  src/sections/Kanvas/kanvas-platform.js
Labels: project/kanvas

#6610 Sistent identity Color update
  src/sections/Projects/Sistent/identity/color/code.js
Labels: project/sistent

#6615 Fix: Overlapping CSS Issues and Layout Conflicts on HandBook page
  src/components/handbook-navigation/toc.style.js
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

#6628 Add section heading to Code of Conduct page for consistency
  src/sections/Community/Handbook/conduct.js
Labels: area/handbook

#6624 Add: New RSS feed for meshery-community , which includes resources related to meshery project only.
  gatsby-config.js
  src/collections/blog/blog-template/index.mdx
Labels: area/blog, area/site-config

#6605 [Docs] Add Dialog component with overview, guidance, and code examples
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/dialog/code.js
  src/sections/Projects/Sistent/components/dialog/guidance.js
  src/sections/Projects/Sistent/components/dialog/index.js
Labels: project/sistent

#6638 Clickjacking Security Enhancement
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/site-config

#6642 Enhance GitHub Process documentation with comprehensive issue labels …
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

#6653 Completed the spacing-code page in sistent/components/identity/spacin…
  src/pages/projects/sistent/identity/spacing/code.js
  src/sections/Projects/Sistent/identity/spacing/code.js
Labels: area/projects, project/sistent

#6662 Added Wyllie Fang as a community member
  src/collections/members/wyllie-fang/index.mdx
  src/collections/members/wyllie-fang/wyllie-fang.webp
Labels: area/community
