Repository layer5io/layer5, pull requests merged in 2025-04, with the labels that each got.

#6359 Fix default checkbox appearing
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook

#6360 fix rendering of heading in kanvas press release
  src/collections/news/2024/2024-11-12-layer5-launches-kanvas-a-collaborative-platform-for-cloud-native-infrastructure/index.mdx
Labels: area/news

#6376 Update index.mdx
  src/collections/programs/gsoc-2025/index.mdx
Labels: area/careers

#6373 Fix: Table heading text is too low contrast in light mode
  src/components/Landscape-Table/LandscapeTable.style.js
Labels: area/landscape

#6383 Fix : Black Text in Search Box Makes Text Invisible
  src/components/Landscape-Table/LandscapeTable.style.js
Labels: area/landscape

#6389 fix url conflict for members profiles
  gatsby-node.js
  src/collections/members/_member-profile-template/index.mdx
  src/collections/members/yash-sharma-2/index.mdx
  src/collections/members/yash-sharma-2/yash.webp
Labels: area/community, area/site-config

#6391 add product frontamatter
  src/collections/blog/2024/11-05-what-is-the-kanvas-catalog/post.mdx
Labels: area/news, area/blog

#6401 Add mahadevan to community member
  src/collections/members/mahadevan-ks/index.mdx
  src/collections/members/mahadevan-ks/mahadevan.webp
Labels: area/community

#6406 add instructions GitHub Organization Membership
  src/pages/community/handbook/instructions.js
  src/sections/Community/Handbook/index.js
  src/sections/Community/Handbook/instructions.js
Labels: area/community, area/handbook, pr/draft
