Repository layer5io/layer5, pull requests merged in 2025-05, with the labels that each got.

#6430 Update kanvas-catalog.js
  src/sections/Kanvas/kanvas-catalog.js
Labels: project/kanvas

#6429 Update index.mdx
  src/collections/careers/software-engineer/index.mdx
Labels: area/careers

#6428 Update index.js
  src/sections/Kanvas/index.js
Labels: project/kanvas

#6431 fix: add missing deployment k8s manifests
  .github/workflows/kanvas.yml
  install/deployment_yamls/k8s/meshery-app-mesh-deployment.yaml
  install/deployment_yamls/k8s/meshery-app-mesh-service.yaml
  install/deployment_yamls/k8s/meshery-cilium-deployment.yaml
  install/deployment_yamls/k8s/meshery-cilium-service.yaml
  install/deployment_yamls/k8s/meshery-consul-deployment.yaml
  install/deployment_yamls/k8s/meshery-consul-service.yaml
  install/deployment_yamls/k8s/meshery-deployment.yaml
  install/deployment_yamls/k8s/meshery-istio-deployment.yaml
  install/deployment_yamls/k8s/meshery-istio-service.yaml
  install/deployment_yamls/k8s/meshery-kuma-deployment.yaml
  install/deployment_yamls/k8s/meshery-kuma-service.yaml
  install/deployment_yamls/k8s/meshery-linkerd-deployment.yaml
  install/deployment_yamls/k8s/meshery-linkerd-service.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-deployment.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-service.yaml
  install/deployment_yamls/k8s/meshery-nsm-deployment.yaml
  install/deployment_yamls/k8s/meshery-nsm-service.yaml
  install/deployment_yamls/k8s/meshery-service.yaml
  install/deployment_yamls/k8s/meshery-traefik-mesh-deployment.yaml
  install/deployment_yamls/k8s/meshery-traefik-mesh-service.yaml
  install/deployment_yamls/k8s/service-account.yaml
Labels: area/ci

#6422 Add member profile: nikita b
  src/collections/members/nikita-b/index.mdx
  src/collections/members/nikita-b/nikita_profile_pic.webp
Labels: area/community

#6433 Revert "switch to using Helm Chart for snapshot action"
  .github/workflows/kanvas.yml
Labels: area/ci

#6410 Fix 404s v
  gatsby-node.js
  src/collections/blog/2019/2019-10-12-hacktoberfest-2019-is-heating-up/index.mdx
  src/collections/blog/2019/2019-12-04-layer5-landscape-spectrums-revisited/index.mdx
  src/collections/blog/2022/2022-06-08-experience-lfx-pranav-singh/index.mdx
  src/collections/blog/2024/09-07-ways-to-contribute/post.mdx
  src/collections/resources/articles/kubernetes/management-of-kubernetes/index.mdx
  src/collections/resources/case-study/hpes-adoption-of-meshery-and-kanvas/index.mdx
Labels: area/blog, area/resources, area/site-config

#6435 [CI] Run slack notifier when "good first issue" label is added.
  .github/workflows/slack.yml
Labels: area/ci

#6436 Quotes
  src/collections/members/ruth-ikegah/ruth-ikegah.jpg
  src/components/Inline-quotes/index.js
  src/sections/Devrel-platform/content.js
Labels: area/community

#6439 add member profile: Faheem Mushtaq
  src/collections/members/Faheem-Mushtaq/Faheem_Mushtaq.webp
  src/collections/members/Faheem-Mushtaq/index.mdx
Labels: area/community

#6442 Add inactive MeshMates section and update filtering logic
  src/collections/members/ekene-leonard/index.mdx
  src/sections/Community/Meshmates/index.js
  src/sections/Community/Meshmates/meshmates.style.js
Labels: area/community

#6418 added redirects to 404 links
  gatsby-node.js
Labels: area/site-config

#6395 Updated Readme.md to include new org under help wanted label
  README.md
Labels: pr/hold

#6446 [SEO] Improve site performance with reduction of layout shifts (CLS)
  .husky/pre-commit
  root-wrapper.js
  src/components/Card/index.js
  src/components/Inline-quotes/index.js
  src/components/Related-Posts/index.js
  src/components/image.js
  src/reusecore/PageHeader/index.js
  src/sections/Blog/Blog-single/author.js
  src/sections/Home/Banner-4/banner4.style.js
  src/sections/Home/Banner-4/index.js
  src/sections/Kanvas/index.js
  src/sections/Kanvas/kanvas_banner.js
Labels: project/kanvas, area/ci

#6465 chore: add testimonial
  src/sections/Kanvas/index.js
  src/sections/Pricing/review-slider.js
  src/sections/Pricing/reviews/abdechakour-h.jpeg
Labels: project/kanvas

#6469 fix: site build warnings related to export in page templates
  src/sections/Projects/Sistent/components/select/code.js
  src/sections/Projects/Sistent/components/select/guidance.js
  src/sections/Projects/Sistent/components/select/header.js
  src/sections/Projects/Sistent/components/select/index.js
  src/sections/Projects/Sistent/components/select/section-nav.js
Labels: project/sistent

#6476 Add: LFX Term 2 to LFX Programs
  src/collections/programs/lfx-2025/lfx-2025.mdx
Labels: area/careers

#6499 Meet the Maintainer: Ian Whitney
  src/collections/blog/2025/05-28-meet-the-maintainer-ian-whitney/ian-whitney-meshery-maintainer.png
  src/collections/blog/2025/05-28-meet-the-maintainer-ian-whitney/post.mdx
Labels: area/blog

#6501 category, tags updates for meet the maintainer series
  src/collections/blog/2021/2021-02-04-meet-the-maintainer-michael-gfeller/index.mdx
  src/collections/blog/2021/2021-04-16-meet-the-maintainer-jash-patel/index.mdx
  src/collections/blog/2024/07-01-meet-the-maintainer-xin-huang/post.mdx
  src/collections/blog/2024/09-08-meet-the-maintainer-hussaina-begum/post.mdx
  src/collections/blog/2024/09-27-meet-the-maintainer-aisuko-li/post.mdx
  src/collections/blog/2024/10-22-meet-the-maintainer-aadhitya-amarendiran/post.mdx
  src/collections/blog/2025/05-28-meet-the-maintainer-ian-whitney/post.mdx
Labels: area/blog

#6511 Delete .github/workflows/kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#6512 fix: skip page creation for missing component files
  gatsby-node.js
Labels: area/site-config

#6504 [handbook] add github czar role
  src/sections/Community/Handbook/community-roles.js
Labels: area/handbook
