Repository layer5io/layer5, pull requests merged in 2025-06, with the labels that each got.

#6529 Created the community profile as per descriptions
  src/collections/members/pratik-chandra-pal/index.mdx
  src/collections/members/pratik-chandra-pal/pratik-pal.webp
Labels: area/community

#6540 fix typos
  src/collections/careers/software-engineering-internship/index.mdx
  src/sections/Community/Handbook/repository.js
  src/sections/Community/Newcomers-guide/index.js
Labels: area/careers, area/handbook

#6539 Fix: Update Repo Data
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#6561 [Chore] Remove service mesh
  src/assets/data/faq/index.js
  src/assets/discuss/html/footer.html
  src/collections/careers/software-engineer/index.mdx
  src/collections/careers/software-engineering-internship/index.mdx
  src/collections/careers/ui-engineer/index.mdx
  src/collections/careers/ui-visual-designer-internship/index.mdx
  src/collections/careers/ui-visual-designer/index.mdx
  src/collections/careers/ux-engineer/index.mdx
  src/collections/members/adina-rav/index.mdx
  src/collections/members/hiren-timbadiya/index.mdx
  src/collections/members/kamal-nayan-singh/index.mdx
  src/collections/members/lee-calcote/index.mdx
  src/collections/members/maximiliano-churichi/index.mdx
  src/collections/members/sandra-ashipala/index.mdx
  static/brand/layer5/layer5-tagline/png/layer5-community-logo.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-black-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-community-dark-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-community-light-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-community-white-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-community-white.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-dark-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-gray-community-no-trim.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-gray.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-white-bg.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-white-bg_1.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-white-no-trim.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-white.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag-white_1.webp
  static/brand/layer5/layer5-tagline/png/layer5-tag.webp
  static/brand/layer5/layer5-tagline/svg/layer5-tag-black-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-community-dark-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-community-light-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-community-white-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-community-white.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-dark-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-gray-community-no-trim.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-gray.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-white-bg.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-white-no-trim.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag-white.svg
  static/brand/layer5/layer5-tagline/svg/layer5-tag.svg
Labels: area/community, area/careers

#6562 miacycle/sistent update
  package-lock.json
  package.json
  src/components/PlanCard/index.js
  src/sections/Community/Handbook/contributor-journey.js
  src/sections/General/Navigation/index.js
  src/sections/Home/CloudNativeManagement/index.js
  src/sections/Kanvas/kanvas_banner.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/CatalogGrid.js
  src/sections/Projects/Sistent/about.js
  src/sections/Projects/Sistent/components/backdrop/code.js
  src/sections/Projects/Sistent/components/backdrop/index.js
  src/sections/Projects/Sistent/components/box/code.js
  src/sections/Projects/Sistent/components/box/guidance.js
  src/sections/Projects/Sistent/components/box/index.js
  src/sections/Projects/Sistent/components/button-group/code.js
  src/sections/Projects/Sistent/components/button-group/index.js
  src/sections/Projects/Sistent/components/button/code.js
  src/sections/Projects/Sistent/components/button/guidance.js
  src/sections/Projects/Sistent/components/button/index.js
  src/sections/Projects/Sistent/components/container/code.js
  src/sections/Projects/Sistent/components/container/guidance.js
  src/sections/Projects/Sistent/components/container/index.js
  src/sections/Projects/Sistent/components/icons/index.js
  src/sections/Projects/Sistent/components/link/code.js
  src/sections/Projects/Sistent/components/link/guidance.js
  src/sections/Projects/Sistent/components/link/index.js
  src/sections/Projects/Sistent/components/modal/code.js
  src/sections/Projects/Sistent/components/pagination/code.js
  src/sections/Projects/Sistent/components/pagination/guidance.js
  src/sections/Projects/Sistent/components/pagination/index.js
  src/sections/Projects/Sistent/components/paper/code.js
  src/sections/Projects/Sistent/components/paper/index.js
  src/sections/Projects/Sistent/components/popper/code.js
  src/sections/Projects/Sistent/components/popper/guidance.js
  src/sections/Projects/Sistent/components/popper/index.js
  src/sections/Projects/Sistent/components/select/code.js
  src/sections/Projects/Sistent/components/select/guidance.js
  src/sections/Projects/Sistent/components/select/index.js
  src/sections/Projects/Sistent/components/text-field/code.js
  src/sections/Projects/Sistent/components/text-field/guidance.js
  src/sections/Projects/Sistent/components/text-field/index.js
  src/sections/Projects/Sistent/components/text-input/guidance.js
  src/sections/Projects/Sistent/components/text-input/index.js
  src/sections/Projects/Sistent/components/toggle-button/code.js
  src/sections/Projects/Sistent/components/toggle-button/guidance.js
  src/sections/Projects/Sistent/components/toggle-button/index.js
  src/sections/Projects/Sistent/components/tooltip/code.js
  src/sections/Projects/Sistent/components/tooltip/guidance.js
  src/sections/Projects/Sistent/components/tooltip/index.js
  src/sections/Projects/Sistent/sistent.style.js
Labels: area/handbook, project/kanvas, project/sistent

#6525 fixed Darkmode-Lightmode switching issue
  src/sections/Home/Playground-home/index.js
Labels: pr/hold
