Repository layer5io/layer5, pull requests merged in 2025-10, with the labels that each got.

#6962 Enhanced Hacktoberfest 2025 event page
  src/collections/events/2025/hacktoberfest-2025/index.mdx
Labels: area/events

#6954 fix: Added missing org secrets descriptions & mobile table scroll
  src/sections/Community/Handbook/github-process.js
Labels: area/handbook

#6983 Fix/6244 duplicate footer
  src/components/SistentNavigation/index.js
  src/sections/Projects/Sistent/components/index.js
Labels: project/sistent

#6920 Fix/6856 sistent copy keeps selection
  src/components/CopyValue/index.js
  src/sections/Projects/Sistent/identity/color/code.js
  src/sections/Projects/Sistent/identity/spacing/code.js
  src/sections/Projects/Sistent/identity/typography/code.js
Labels: project/sistent

#6945 site-config: adding a new plugin to remove unused CSS at build time.
  gatsby-config.js
  package-lock.json
  package.json
Labels: area/events, area/careers, area/resources, area/site-config

#6953 Enforce 2500 seat limit for Enterprise users
  src/components/Pricing/PricingAddons/index.js
  src/components/Pricing/PricingAddons/styles.js
Labels: hacktoberfest

#6828 fixed alignment of duration and currency switcher
  src/sections/Pricing/index.js
  src/sections/Pricing/pricing.style.js
Labels: hacktoberfest, hacktoberfest-accepted

#6964 reclaim dead space in home page banner (mobile view)
  src/sections/Home/Banner-1/banner1.style.js
  src/sections/Home/Banner-2/banner2.style.js
  src/sections/Home/Banner-4/banner4.style.js
Labels: hacktoberfest
