Repository layer5io/layer5, pull requests merged in 2025-08, with the labels that each got.

#6675 Added circular progress component
  src/components/SistentNavigation/content.js
  src/sections/Projects/Sistent/components/circularprogress/code.js
  src/sections/Projects/Sistent/components/circularprogress/guidance.js
  src/sections/Projects/Sistent/components/circularprogress/index.js
  src/sections/Projects/Sistent/components/content.js
Labels: project/sistent

#6681 Added Ian as maintainer in meshery-ui
  src/sections/Community/Handbook/repo-data.js
Labels: area/handbook

#6673 make table bg color dynamic as per theme
  src/sections/Projects/Sistent/components/backdrop/guidance.js
Labels: project/sistent

#6443 Refactor event listener syntax for dark mode media query in ThemeManager
  src/html.js
  src/theme/app/StyledThemeProvider.js
  src/theme/app/ThemeManager.js
Labels: area/core-styles

#6477 Replace: Color Images with Cards and Copiable Code on Sistent Colors page
  src/sections/Projects/Sistent/identity/color/index.js
Labels: project/sistent

#6625 fixed input text code section
  src/components/SistentNavigation/toc.style.js
  src/sections/Projects/Sistent/components/text-input/code.js
  src/sections/Projects/Sistent/components/text-input/guidance.js
  src/sections/Projects/Sistent/components/text-input/index.js
Labels: project/sistent

#6699 added table component code.js
  src/sections/Projects/Sistent/identity/typography/code.js
Labels: project/sistent

#6703 Added the Tabs component to Sistent components page
  src/components/SistentNavigation/content.js
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/tabs/code.js
  src/sections/Projects/Sistent/components/tabs/guidance.js
  src/sections/Projects/Sistent/components/tabs/index.js
Labels: project/sistent

#6732 [Community] Member Profile: Shashaank Srivastav
  src/collections/members/Shashaank-Srivastava/Shashaank-Srivastava.jpg
  src/collections/members/Shashaank-Srivastava/index.mdx
Labels: area/community

#6740 Fix: Github Link in Contributing Section in handbook
  src/sections/Community/Handbook/contributing.js
Labels: area/handbook

#6739 Update: Community Handbook with Academy
  src/sections/Community/Handbook/learn5.js
  src/sections/Community/Handbook/projects.js
Labels: area/handbook

#6756 Added `Toolbar` component to Sistent components page
  src/components/SistentNavigation/content.js
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/toolbar/code.js
  src/sections/Projects/Sistent/components/toolbar/guidance.js
  src/sections/Projects/Sistent/components/toolbar/index.js
Labels: project/sistent

#6721 Enhance Copy-to-Clipboard Functionality in Sistent Color Code Page
  src/sections/Projects/Sistent/identity/color/code.js
Labels: project/sistent

#6760 Add JavaScript files to link checker target
  .github/workflows/broken-link-checker.yaml
Labels: area/ci

#6665 [Handbook] Fix title overflow on Community handbook
  src/sections/Community/Handbook/Handbook.style.js
Labels: area/handbook
