Repository layer5io/layer5, pull requests merged in 2025-01, with the labels that each got.

#6145 Make member profile Inactive
  src/collections/members/Muhammad-Moinuddin/index.mdx
  src/collections/members/aviral-asthana/index.mdx
  src/collections/members/rex-joshua/index.mdx
  src/collections/members/rhoda-michael/index.mdx
Labels: area/community

#6147 added new community memeber profile: Ahmed Hendawy
  src/collections/members/ahmed-hendawy/ahmed-hendawy.webp
  src/collections/members/ahmed-hendawy/index.mdx
Labels: area/community

#6149 added member profile for Vidit Kushwaha
  src/collections/members/vidit-kushwaha/index.mdx
  src/collections/members/vidit-kushwaha/vidit-kushwaha.webp
Labels: area/community

#6157 fix correct sitemap url for roboto
  gatsby-config.js
Labels: area/site-config

#6132 feat: open source program form
  src/components/CommonForm/index.js
  src/pages/community/open-source-program.js
  src/sections/Community/Open-Source-Program/images/layer5-products-overview-dark.svg
  src/sections/Community/Open-Source-Program/images/layer5-products-overview.svg
  src/sections/Community/Open-Source-Program/index.js
  src/sections/Community/Open-Source-Program/index.style.js
  src/sections/Community/Open-Source-Program/signup-form.js
Labels: area/community

#6163 convert import statement to follow esm module
  .github/build/features-to-json.js
Labels: area/site-config, area/ci

#6169 updating my info
  src/collections/members/ahmed-hendawy/index.mdx
Labels: area/community

#6156 [chore] upgrade gatsby
  .github/workflows/build-and-preview-site.yml
  gatsby-node.js
  package-lock.json
  package.json
  src/collections/news/news-template/0000-00-00-news-title/index.mdx
Labels: area/news, area/site-config, area/ci

#6175 fix workflow for feature list
  .github/build/features-to-json.mjs
  .github/workflows/feature-list.yml
  Makefile
Labels: area/ci

#6176 revert to commonjs module
  .github/build/features-to-json.js
  .github/workflows/feature-list.yml
  Makefile
Labels: area/ci

#6180 [Community] Eti Ijeoma to Active
  src/collections/members/eti-Ijeoma/index.mdx
Labels: area/community

#6178 added community member
  src/collections/members/souvik-kar-mahapatra/index.mdx
  src/collections/members/souvik-kar-mahapatra/souvik.png
Labels: area/community

#6164 move slick carousel theme to global
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/Related-Posts/index.js
  src/components/Related-Resources/index.js
  src/sections/Community/slider.js
  src/sections/Home/Partners-home/index.js
  src/sections/Home/So-Special-Section/index.js
  src/sections/Learn/Books-grid/index.js
  src/sections/Learn/LearnPage-Sections/workshops.js
  src/sections/Meshery/Features-section/index.js
  src/sections/Meshery/Meshery-integrations/Integration.style.js
  src/sections/Meshery/meshery-operator/index.js
  src/sections/Pricing/review-slider.js
  src/sections/Projects/Image-Hub/index.js
Labels: area/site-config

#6182 update bio annd details of amit-amrutiya
  src/collections/members/amit-amrutiya/index.mdx
Labels: area/community

#6127 Add toggle-button component
  gatsby-node.js
  src/sections/Projects/Sistent/components/button/code.js
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/toggle-button/code.js
  src/sections/Projects/Sistent/components/toggle-button/guidance.js
  src/sections/Projects/Sistent/components/toggle-button/index.js
Labels: area/site-config, project/sistent

#6193 [Community] Vivek Vishal: Change to Active status
  src/collections/members/vivek-vishal/index.mdx
Labels: area/community

#6187 pagination-component-added
  src/sections/Projects/Sistent/components/content.js
  src/sections/Projects/Sistent/components/pagination/code.js
  src/sections/Projects/Sistent/components/pagination/guidance.js
  src/sections/Projects/Sistent/components/pagination/index.js
Labels: project/sistent

#6207 [Handbook] Repository Overview: Add new project - kubectl-kanvas-snapshot plugin
  src/sections/Community/Handbook/repo-data.js
Labels: area/community, area/handbook

#6209 changes around projects and members
  src/collections/members/chandravijay-rai/index.mdx
  src/collections/members/sudhanshu-dasgupta/index.mdx
  src/sections/Community/Handbook/repo-data.js
Labels: area/community, area/handbook
