Repository layer5io/layer5, pull requests merged in 2025-09, with the labels that each got.

#6780 Integrated Layer5 Academy docs and repositories to Handbook Learning with Layer5
  src/sections/Community/Handbook/learn5.js
Labels: area/handbook

#6779 Added Layer5 Academy repositories to Handbook - Repository Overview
  src/sections/Community/Handbook/repository.js
Labels: area/handbook

#6777 Added Academy references in the Handbook Recognition Projects section
  src/sections/Community/Handbook/recognition.js
Labels: area/handbook

#6789 Added KubeCon NA 2025 details
  src/collections/events/2025/kubecon-na-2025/index.mdx
  src/collections/events/2025/kubecon-na-2025/kubeconna-2025.png
Labels: area/events

#6796 added member profile for Darshan
  src/collections/members/darshan-narasimha/darshan-narasimha.jpg
  src/collections/members/darshan-narasimha/index.mdx
Labels: area/community

#6811 Move status to inactive
  src/collections/members/Faheem-Mushtaq/index.mdx
  src/collections/members/varad-gupta/index.mdx
Labels: area/community

#6825 Revert "Migrate ESLint to v9 flat config"
  .desktop-lighthouserc.js
  .eslintignore
  .eslintrc.js
  .lighthouserc.js
  eslint.config.js
  package-lock.json
  package.json
  src/assets/data/faq/index.js
  src/assets/data/testimonial/index.js
  src/assets/data/tutorials/index.js
  src/assets/images/catalog-icon/catalog.js
  src/assets/images/learning-path/embed-test/embedded-design-awscomplex-copy.js
  src/assets/images/learning-path/embed-test/embedded-design-dapr-architecture.js
  src/assets/images/learning-path/embed-test/embedded-design-dapr-relationship.js
  src/assets/images/learning-path/embed-test/embedded-design-gcp-edge-relationship.js
  src/assets/images/learning-path/embed-test/embedded-design-parent-relationship.js
  src/html.js
  src/sections/Projects/Sistent/components/badge/index.js
Labels: project/sistent

#6842 Gatsby and mdx-plugin upgrade
  .env.development
  .node-options
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  root-wrapper.js
  src/collections/events/2022/kubecon-na-2022/index.mdx
  src/collections/events/2024/kubecon-EU-2024/index.mdx
  src/collections/events/2024/kubecon-hk/index.mdx
  src/collections/events/2024/kubecon-na/index.mdx
  src/collections/events/2024/making-the-cncf-landscape-interactive-with-meshery/index.mdx
  src/collections/events/2025/kubecon-eu-2025/index.mdx
  src/collections/events/2025/kubecon-na-2025/index.mdx
  src/components/RenderMDX.js
  src/components/UpcomingEventCard/index.js
  src/pages/blog/index.js
  src/pages/company/news.js
  src/sections/Blog/Blog-single/index.js
  src/sections/Careers/Career-single/index.js
  src/sections/Careers/Careers-Programs-single/index.js
  src/sections/Community/Event-single/index.js
  src/sections/Community/Member-single/executive_bio.js
  src/sections/Company/News-single/index.js
  src/sections/Learn-Layer5/Chapters/index.js
  src/sections/Learn-Layer5/Course-Overview/index.js
  src/sections/Learn/Book-single/index.js
  src/sections/Learn/Lab-single/index.js
  src/sections/Learn/Workshop-grid/index.js
  src/sections/Learn/Workshop-single/index.js
  src/sections/Meshery/Meshery-integrations/Individual-Integrations/index.js
  src/sections/Projects/Project-single/index.js
  src/sections/Resources/Resource-single/index.js
  src/sections/Resources/Resources-grid/DataWrapper.js
  src/templates/blog-category-list.js
  src/templates/blog-single.js
  src/templates/blog-tag-list.js
  src/templates/book-single.js
  src/templates/career-single.js
  src/templates/course-overview.js
  src/templates/event-single.js
  src/templates/events.js
  src/templates/integrations.js
  src/templates/lab-single.js
  src/templates/learn-chapter.js
  src/templates/news-single.js
  src/templates/program-multiple.js
  src/templates/program-single.js
  src/templates/resource-single.js
  src/templates/workshop-single.js
Labels: area/news, area/blog, area/learn, area/events, area/careers, area/resources, area/site-config

#6827 fix: add missing alt attributes in other kanvas pages
  src/sections/Kanvas/Kanvas-design/kanvas-design-banner.js
  src/sections/Kanvas/Kanvas-design/kanvas-design-integrations.js
Labels: project/kanvas

#6872 Fix : Build Preview and Checks
  src/collections/events/2025/hacktoberfest-2025/index.mdx
Labels: area/events

#6870 Chore: externalize redirects as separate module from gatsby-node.js
  gatsby-node.js
  src/utils/redirects.js
  src/utils/redirects.yaml
Labels: area/site-config

#6871 leecalcote/maintainence/tsparticles
  package-lock.json
  package.json
Labels: area/site-config

#6878 Hf prep 2025
  src/collections/events/2025/hacktoberfest-2025/index.mdx
Labels: area/events

#6899 update Hacktoberfest speaker list with Ijeoma
  src/collections/events/2025/hacktoberfest-2025/index.mdx
Labels: area/events
